@charset "UTF-8";
#footer {
	background-color: #3267cd;
	height: 20px;
	width: 600px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 11px;
	color: #000000;
	clear: both;
}
#sidebar {
	height: 250px;
	width: 76px;
	background-color: #3267cd;
	float: left;
	display: block;
	visibility: visible;
}
#container {
	background-color: #FFFFFF;
	width: 600px;
	height: auto;
}
#text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 11px;
	color: #000000;
	background-color: #FFFFFF;
	clear: right;
	padding-left: 95px;
	overflow: visible;
	text-align: left;
	vertical-align: top;
}
.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 11px;
	color: #000000;
}
#header {
	background-color: #FFFFFF;
	height: 230px;
	width: 600px;
}
.boldText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 11px;
	font-weight: bold;
	color: #000000;
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 11px;
	color: #3267cd;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 11px;
	color: #666666;
	text-decoration: none;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 11px;
	color: #3267cd;
	text-decoration: none;
}
body {
	margin-left: 0px;
	margin-top: 0px;
}
