/**
* @fileoverview Forecast sidebar styles
* @author mdkennedy@gannett.com (Mark Kennedy)
*/

/******************************************************************************
 RESETS
*******************************************************************************/

#weather-forecast-sidebar .weather-sb-table {
	border-collapse:separate;
}



/******************************************************************************
 SCROLLABLE CONTENT
*******************************************************************************/

#section_weather .size-bar .shadow {
    background: transparent;
    left: 0;
    position: absolute;
    width: 100%;
    overflow:hidden;
}

#section_weather .size-bar .top-shadow {
    -webkit-box-shadow: 0px -4px 12px 3px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0px -4px 12px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0px -4px 12px 3px rgba(0, 0, 0, 0.3);
    top: 0;
}

#section_weather .size-bar .top-shadow {
    -webkit-box-shadow: 0px -4px 12px 3px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0px -4px 12px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0px -4px 12px 3px rgba(0, 0, 0, 0.3);
    top: 0;
}

#section_weather .size-bar .bottom-shadow {
    bottom: 0;
    -webkit-box-shadow: 0px 2px 11px 2px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0px 2px 11px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 11px 2px rgba(0, 0, 0, 0.3);
}

#weather-forecast-sidebar .forecast-content #forecast-scroll-content {
	overflow: hidden;
	position: relative;
	height: 293px;
}

/******************************************************************************
 CURRENT WEATHER
*******************************************************************************/

#weather-forecast-sidebar .forecast-content {
	color: #969696;
	position:relative;
	font-size: 12px;
	overflow:hidden;
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}

#weather-forecast-sidebar #forecast-current {
	padding: 0 20px;
	margin: 20px 0;
	width: 100%;
	position:relative;
	left: 0px;
	overflow:hidden;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}

#weather-forecast-sidebar #forecast-current .icon.settings {
	display:block;
	width: 20px;
	height: 0;
	padding-top: 20px;
	overflow:hidden;
	background: transparent url(/static/images/weather/weather-sprite.png)  no-repeat -20px 0px;
	position:absolute;
	top: 0px;
	right: 20px;
	cursor:pointer;
}

#weather-forecast-sidebar #forecast-current .current-location {
	font-size: 14px;
	color: #4b4b4b;
	font-weight:bold;
	display:block;
	padding-right: 20px;
	margin-bottom: 14px;
}

#weather-forecast-sidebar #forecast-current .current-conditions {
	width: 200px;
}

#weather-forecast-sidebar #forecast-current .current-time {
	position:relative;
	margin-bottom: 5px;
	overflow:auto;
	font-size: 11px;
	color: rgb(150,150,150);
	text-transform: uppercase;
}

#weather-forecast-sidebar #forecast-current .current-time .rel {
	font-weight:bold;
	float:left;
}

#weather-forecast-sidebar #forecast-current .current-time .time {
	float:right;
}

#weather-forecast-sidebar #forecast-current #weather-current-table {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
}

#weather-forecast-sidebar #forecast-current #weather-current-table tr td {
	font-size: 11px;
	color: rgb(150,150,150);
	text-transform: uppercase;
}

#weather-forecast-sidebar #forecast-current #weather-current-table tr td:nth-child(odd) {
	font-weight:bold;
	text-transform: uppercase;
	width: 70%;
}

#weather-forecast-sidebar #forecast-current #weather-current-table tr td:last-child {
	text-align:right;
}

#weather-forecast-sidebar #forecast-settings {
	position:absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 20px;
	margin: 20px 0;
}

#weather-forecast-sidebar #forecast-settings .icon.close {
	display:block;
	width: 20px;
	height: 0;
	padding-top: 20px;
	overflow:hidden;
	background: transparent url(/static/images/sprites/header-sprite.png)  no-repeat -323px -120px ;
	position:absolute;
	top: 0px;
	right: 20px;
	cursor:pointer;
}

#weather-forecast-sidebar #forecast-settings .heading {
	display:block;
 	font-size: 16px;
 	font-weight: 700;
 	text-shadow: none;
 	margin-bottom: 15px;
}

#weather-forecast-sidebar #forecast-settings .change-loc {
	display:block;
	position:relative;
	margin: 0;
	padding: 0;
}

#weather-forecast-sidebar #forecast-settings .text-input {
	width: 100%;
	display:block;
	margin-bottom: 10px;
}

#weather-forecast-sidebar #forecast-settings .set-button {
	display:block;
	width: 50px;
}

#weather-forecast-sidebar #forecast-settings .change-loc .error {
	font-weight:bold;
	color: red;
	font-size: 12px;
 	display: none;
}
#weather-forecast-sidebar #forecast-settings .change-loc.not-zip .not-zip-error{
	display: block;

}
#weather-forecast-sidebar #forecast-settings .change-loc.not-found .not-found-error{
	display: block;

}
#weather-forecast-sidebar #forecast-settings .change-loc .input-label {
	font-size: 13px;
	display:block;
	font-weight:bold;
	color: rgb(94,94,94);
	margin-bottom: 6px;
	cursor:default;
}

#weather-forecast-sidebar #forecast-settings,
#weather-forecast-sidebar #forecast-current {
	transition: left 200ms ease-out;
	-moz-transition: left 200ms ease-out;
	-webkit-transition: left 200ms ease-out;
	-o-transition: left 200ms ease-out;
}

#weather-forecast-sidebar.settings-active #forecast-current {
	left: -100%;
}

#weather-forecast-sidebar.settings-active #forecast-settings {
	left: 0px;
}


/******************************************************************************
 HOURLY/EXTENDED FORECAST
*******************************************************************************/

#weather-forecast-sidebar #forecast-hourly ul li.sub a:hover,
#weather-forecast-sidebar #forecast-extended ul li.sub a:hover {
	background-color: rgb(249, 249, 249);
}

#weather-forecast-sidebar #forecast-hourly ul li.sub > div,
#weather-forecast-sidebar #forecast-extended ul li.sub > div {
	visibility:hidden;
	height: 0px;
	overflow:hidden;
	transition: all 150ms linear;
	-moz-transition: all 150ms linear; 
	-webkit-transition: all 150ms linear;
	-o-transition: all 50ms linear; 
}

#weather-forecast-sidebar #forecast-hourly ul li.sub.active > div,
#weather-forecast-sidebar #forecast-extended ul li.sub.active > div {
	visibility:visible;
	height: auto;
}


#weather-forecast-sidebar #forecast-hourly ul li.sub {
	padding: 0;
	width: 100%;
	height: auto;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	display:block;
	line-height:normal;
}

#weather-forecast-sidebar #forecast-hourly ul li.sub.top {
	border:none;
}

#weather-forecast-sidebar #forecast-hourly ul li.sub a {
	width: 100%;
	height: 40px;
	padding: 14px 20px;
	margin: 0;
	font-size:12px;
	line-height: 12px;
	color: rgb(75,75,75);
	text-transform: uppercase;
	font-weight:bold;
	display:block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	position:relative;
	cursor: pointer;
}

#weather-forecast-sidebar #forecast-hourly ul li.sub a:before {
	top: 8px;
}

#weather-forecast-sidebar #forecast-hourly ul li.sub.top h3 {
	padding: 0;
	margin: 0;
}

#weather-forecast-sidebar #forecast-hourly ul li.sub ul {
	display:block;
}

#weather-forecast-sidebar #forecast-hourly ul li.sub ul li {
	position:relative;
	font-size: 12px;
	color: #9f9f9f;
	border-bottom: 1px solid rgb(219,219,219);
	-webkit-box-shadow:  0px 1px 0px 0px rgb(247,247,247);
	 -moz-box-shadow:  0px 1px 0px 0px rgb(247,247,247);	
	box-shadow:  0px 1px 0px 0px rgb(247,247,247);
	background-color: rgb(238,238,238);
	padding: 8px 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	height: 46px;
}

#weather-forecast-sidebar #forecast-hourly li.sub .time,
#weather-forecast-sidebar #forecast-hourly li.sub .weathertile,
#weather-forecast-sidebar #forecast-hourly li.sub .precip {
	margin-right: 10px;
	display:block;
	float: left;
}

#weather-forecast-sidebar #forecast-hourly ul li.sub ul li > *:last-child {
	margin-right: 0;
	text-align: right;
	float: right;
	width: 26px;
	overflow: hidden;
	font-size: 11px;
}

#weather-forecast-sidebar #forecast-hourly ul li.sub .time {
	font-weight:bold;
	width: 56px;
	text-transform: uppercase;
}

#weather-forecast-sidebar #forecast-hourly ul li.sub .precip {
	padding-right: 10px;
}

#weather-forecast-sidebar #forecast-extended > ul {
	color: #9f9f9f;
}

#weather-forecast-sidebar #forecast-extended ul li.sub {
	width: 100%;
	position:relative;
	overflow:hidden;
	background-color: rgb(255,255,255);
	padding: 0px;
}

#weather-forecast-sidebar #forecast-extended ul li.sub > a {
	display:block;
	width: 100%;
	height: 62px;
	padding: 16px 50px 16px 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#weather-forecast-sidebar #forecast-extended ul li.sub ul {
	position:relative;
	-webkit-box-shadow:  inset 0px 1px 0px 0px rgb(247,247,247);
	-moz-box-shadow:  inset 0px 1px 0px 0px rgb(247,247,247);
	box-shadow:  inset 0px 1px 0px 0px rgb(247,247,247);
	height: 30px;
	padding: 16px 0;
	overflow:auto;
}

#weather-forecast-sidebar #forecast-extended ul li.sub ul {
	padding: 0;
	margin: 0;
	height: auto;
}

#weather-forecast-sidebar #forecast-extended ul li.sub .date-data,
#weather-forecast-sidebar #forecast-extended ul li.sub .weathertile,
#weather-forecast-sidebar #forecast-extended ul li.sub .short-condition {
	margin-right: 10px;
	display:block;
	float: left;
}

#weather-forecast-sidebar #forecast-extended ul li.sub .date-data{
	left: 0;
	font-weight:bold;
	text-transform: uppercase;
	font-size: 11px;
	width: 56px;
	
}

#weather-forecast-sidebar #forecast-extended ul li.sub .date-data .rel-date {
	font-size: 13px;
	color: rgb(75,75,75);
	display:block;
	line-height: 1.2em;
}

#weather-forecast-sidebar #forecast-extended ul li.sub .date-data .cal-date {
	font-size: 11px;
	color: rgb(175,175,175);
	display:block;
}

#weather-forecast-sidebar #forecast-extended ul li.sub .short-condition {
	float:right;
	margin-right: 0;
	text-align:left;
	width: 130px;
	height: 30px;
	font-size: 11px;
	line-height: 1.1em;
	overflow:hidden;
}

#weather-forecast-sidebar #forecast-extended ul li.sub ul li {
	font-size: 11px;
	width: 100%;
	background: rgb(238,238,238);
	border: none;
}

#weather-forecast-sidebar #forecast-extended ul li.sub a:before {
	top: 20px;
}

#weather-forecast-sidebar #forecast-extended ul li.sub ul li {
	padding: 20px 15px;
	width: 100%;
	height: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#weather-forecast-sidebar #forecast-extended ul li.sub ul li p {
	color: rgb(126,126,126);
	margin-bottom: 10px;
}

#weather-forecast-sidebar #forecast-extended ul li.sub ul li table {
	width: 100%;
}

#weather-forecast-sidebar #forecast-extended ul li.sub ul li table tr:nth-child(odd) td {
	background-color: rgb(225,225,225);
}

#weather-forecast-sidebar #forecast-extended ul li.sub ul li table tr td {
	padding: 3px 6px;
}

#weather-forecast-sidebar #forecast-extended ul li.sub ul li table tr td:nth-child(odd) {
	font-weight:bold;
	text-transform: uppercase;
	width: 70%;
}

#weather-forecast-sidebar #forecast-extended ul li.sub ul li table tr td:last-child {
	text-align:right;
}

/******************************************************************************
 ACCUWEATHER CREDITS
*******************************************************************************/

#weather-forecast-sidebar #forecast-hourly ul li.sub .accuweather-link,
#weather-forecast-sidebar #forecast-extended .accuweather-link {
	padding: 0;
	width: 100%;
	height: auto;
	position:relative;
	background: rgb(255,192,0);
}

#weather-forecast-sidebar #forecast-hourly ul li.sub .accuweather-link a,
#weather-forecast-sidebar #forecast-extended .accuweather-link a {
	display:block;
	width: 100%;
	height: 100%;
	font-size: 11px;
	padding: 6px 50px 6px 20px;
	color: rgb(255,255,255);
	font-weight: bold;
	line-height: normal;
	text-transform: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	position:static;
}

#weather-forecast-sidebar #forecast-hourly ul li.sub .accuweather-link a:hover,
#weather-forecast-sidebar #forecast-extended .accuweather-link a:hover {
	
	background-color: rgba(0,0,0,0.05);
	    border-bottom: none;
	    border-top-color: rgba(0,0,0,0.35);
}

#weather-forecast-sidebar #forecast-hourly ul li.sub .accuweather-link a:before,
#weather-forecast-sidebar #forecast-extended .accuweather-link a:before {
    background: transparent url(/static/images/sprites/header-sprite.png) no-repeat -52px -159px;
    content: '';
    height: 18px;
    right: 20px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    width: 17px;
}



/******************************************************************************
 MEDIA QUERIES
*******************************************************************************/

@media only screen and (min-width: 1280px) {

    #weather-forecast-sidebar #forecast-extended ul li.sub .short-condition {
    	display:none;
    }

}

@media only screen and (min-width: 1440px) {

    #weather-forecast-sidebar #forecast-extended ul li.sub .short-condition {
    	display:block;
    }


}

@media only screen and (min-width: 2000px) {
    
}
