/* required styles */

.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer { /* TODO optimize classes */
	position: absolute;
	}
.leaflet-container {
	overflow: hidden;
	}
.leaflet-tile-pane, .leaflet-container {
	-webkit-transform: translate3d(0,0,0);
	}
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	}
.leaflet-marker-icon,
.leaflet-marker-shadow {
	display: block;
	}
.leaflet-clickable {
	cursor: pointer;
	}
.leaflet-container img {
	max-width: none !important;
	}

.leaflet-tile-pane { z-index: 2; }

.leaflet-objects-pane { z-index: 3; }
.leaflet-overlay-pane { z-index: 4; }
.leaflet-shadow-pane { z-index: 5; }
.leaflet-marker-pane { z-index: 6; }
.leaflet-popup-pane { z-index: 7; }

.leaflet-zoom-box {
	width: 0;
	height: 0;
	}

.leaflet-tile {
	visibility: hidden;
	}
.leaflet-tile-loaded {
	visibility: inherit;
	}

a.leaflet-active {
	outline: 2px solid orange;
	}


/* Leaflet controls */

.leaflet-control {
	position: relative;
	z-index: 7;
	}
.leaflet-top,
.leaflet-bottom {
	position: absolute;
	}
.leaflet-top {
	top: 0;
	}
.leaflet-right {
	right: 0;
	}
.leaflet-bottom {
	bottom: 0;
	}
.leaflet-left {
	left: 0;
	}
.leaflet-control {
	float: left;
	clear: both;
	}
.leaflet-right .leaflet-control {
	float: right;
	}
.leaflet-top .leaflet-control {
	margin-top: 10px;
	}
.leaflet-bottom .leaflet-control {
	margin-bottom: 10px;
	}
.leaflet-left .leaflet-control {
	margin-left: 10px;
	}
.leaflet-right .leaflet-control {
	margin-right: 10px;
	}

.leaflet-control-zoom, .leaflet-control-layers {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	}
.leaflet-control-zoom {
	padding: 5px;
	background: rgba(0, 0, 0, 0.25);
	}
.leaflet-control-zoom a {
	background-color: rgba(255, 255, 255, 0.75);
	}
.leaflet-control-zoom a, .leaflet-control-layers a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
	}
.leaflet-control-zoom a {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 19px;
	height: 19px;
	}
.leaflet-control-zoom a:hover {
	background-color: rgb(255,255,255);
	}
.leaflet-big-buttons .leaflet-control-zoom a {
	width: 27px;
	height: 27px;
	}
.leaflet-control-zoom-in {
	background-image: url(../images/zoom-in.png);
	margin-bottom: 5px;
	}
.leaflet-control-zoom-out {
	background-image: url(../images/zoom-out.png);
	}

.leaflet-control-layers {
	-moz-box-shadow: 0 0 7px rgb(153,153,153);
	-webkit-box-shadow: 0 0 7px rgb(153,153,153);
	box-shadow: 0 0 7px rgb(153,153,153);

	background: rgb(248,248,249);
	}
.leaflet-control-layers a {
	background-image: url(../images/layers.png);
	width: 36px;
	height: 36px;
	}
.leaflet-big-buttons .leaflet-control-layers a {
	width: 44px;
	height: 44px;
	}
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	display: none;
	}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
	display: block;
	position: relative;
	}
.leaflet-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgb(51,51,51);
	background: rgb(255,255,255);
	}
.leaflet-control-layers input {
	margin-top: 2px;
	position: relative;
	top: 1px;
	}
.leaflet-control-layers label {
	display: block;
	}
.leaflet-control-layers-separator {
	height: 0;
	border-top: 1px solid rgb(221,221,221);
	margin: 5px -10px 5px -6px;
	}

.leaflet-container .leaflet-control-attribution {
	margin: 0;
	padding: 0 5px;

	font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: rgb(51,51,51);

	background-color: rgba(255, 255, 255, 0.7);

	-moz-box-shadow: 0 0 7px rgb(204,204,204);
	-webkit-box-shadow: 0 0 7px rgb(204,204,204);
	box-shadow: 0 0 7px rgb(204,204,204);
	}


/* Fade animations */

.leaflet-fade-anim .leaflet-tile {
	opacity: 0;

	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-tile-loaded {
	opacity: 1;
	}

.leaflet-fade-anim .leaflet-popup {
	opacity: 0;

	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	opacity: 1;
	}

.leaflet-zoom-anim .leaflet-tile {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
	}

.leaflet-zoom-anim .leaflet-objects-pane {
	visibility: hidden;
	}


/* Popup layout */

.leaflet-popup {
	position: absolute !important;
}