/**
* @fileoverview Styles for National and Local weather maps.
* @author mdkennedy@gannett.com (Mark Kennedy)
*/


/**
 * Map positioning.
 */

 #section_weather #weather-maps-wrapper {
    background:  #E0E0E0;
    width: 720px;
    height: 500px;
    position:relative;
    padding-top: 60px; /*make space for timeline */
    overflow:hidden;
 }

#section_weather #weather-maps {
    clear: both;
    width: 720px;
    height: 500px;
    position: relative;
}

#section_weather #weather-maps:active {
    cursor: pointer;
}

#section_weather .weather-map {
    position:absolute;
}

#section_weather #weather-maps.map-national {
    background: url(/static/images/weather/weathermap-bg.png) repeat scroll 0 0;
}

#section_weather #weather-maps #continental {
    clear: both;
    width: inherit;
    height: inherit;
    z-index: 0;
}
#section_weather #weather-maps #alaska, 
#section_weather #weather-maps #hawaii {
    height: 160px;
    position: absolute;
    width: 160px;
    z-index: 1;

}
#section_weather #weather-maps #alaska {
    bottom: 31px;
    left: 0px;
}
#section_weather #weather-maps #hawaii {
    bottom: 28px;
    left: 133px;
}

/**
 * Timeline styles.
 */

#section_weather #weathermap-timeline  {
    width: 720px;
    height: 60px;
   -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
    border: 1px solid rgb(184,184, 184);
    border-width: 1px 0 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(200,200,200, 1);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.1)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 );
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
}

 #section_weather #weathermap-timeline .timeline-belt { 
    position: relative; 
    text-align: left; 
     cursor: pointer;
     border: none;
     margin-left: 59px;
     width: 591px;
     height: 59px;  
     -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .3);
     box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .3);
    clip:rect(0px, 1000px, 1000px, -10px);
    margin-left: 89px;
/*    padding-left: 40px;*/


}
 #section_weather #weathermap-timeline .timeline-belt .timeline-buckle { 
    position: absolute; 
    z-index: 7; 
    top: -1px;
    width: 80px;
    height: 60px;
    text-decoration: none;
    cursor: pointer;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(205,205,205,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(205,205,205,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(205,205,205,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(205,205,205,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(205,205,205,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
    -moz-box-shadow: 2px 2px 5px rgb(136,136,136);
    -webkit-box-shadow: 2px 2px 5px rgb(136,136,136);
    box-shadow: 2px 2px 5px rgb(136,136,136);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline:none;
    margin-left: -42px;

}

#section_weather #weathermap-timeline .timeline-belt .timeline-buckle .inner {
    background: rgb(51,51,51); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(70,70,70,1) 33%, rgba(51,51,51,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(33%,rgba(70,70,70,1)), color-stop(99%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(70,70,70,1) 33%,rgba(51,51,51,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(70,70,70,1) 33%,rgba(51,51,51,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(70,70,70,1) 33%,rgba(51,51,51,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(70,70,70,1) 33%,rgba(51,51,51,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 48px;
    height: 30px;
    margin:10px;
    padding: 5px 6px;
    -webkit-box-shadow: inset 1px 1px 8px 2px rgba(0, 0, 0, 1);
    box-shadow: inset 1px 1px 8px 2px rgba(0, 0, 0, 1);

}

#section_weather #weathermap-timeline .timeline-belt .timeline-buckle .inner:before,
#section_weather #weathermap-timeline .timeline-belt .timeline-buckle .inner:after  {
   content: "";
   display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 25px;
}

#section_weather #weathermap-timeline .timeline-belt .timeline-buckle .inner:before {
    border-right: 5px solid rgb(193, 193, 193);
    left: 2px;
    -webkit-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    clip: rect(0px 6px 10px 0px);
}

#section_weather #weathermap-timeline .timeline-belt .timeline-buckle .inner:after {
    border-left: 5px solid rgb(193, 193, 193);
    right: 2px;

}

#section_weather #weathermap-timeline .timeline-belt .timeline-buckle span {
    font-size: 11px;
    text-transform: uppercase;
    font-weight:bold;
    color: rgb(255,255,255);
    line-height: 11px;
    text-shadow: 1px 1px #c8c8c8;
    display:block;
    filter: dropshadow(color=#000000, offx=1, offy=1);
    text-shadow: 1px 1px 2px rgb(0,0,0);
      
}

#section_weather #weathermap-timeline .timeline-play-btn {
    color: rgb(0,0,0);
    display: block;
    font-size: 14px;
    font-weight: bold;
    left: 0px;
    top: 0px;
    position: absolute;
    text-decoration: none;
    z-index: 2;
    width: 48px;
    height: 58px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    background-color: rgba(102,102,102,1);
    border: 1px solid rgb(165, 165, 165);
    border-width: 1px 0 0;
    outline:none;
}

#section_weather #weathermap-timebelt .timeline-play-btn:hover {
    background-color: rgba(120,120,120,1);
}

#section_weather #weathermap-timebelt .timeline-play-btn.disabled {
    cursor: default;
    background:white;
}

#section_weather #weathermap-timeline  .timeline-play-btn .play,
#section_weather #weathermap-timeline  .timeline-play-btn .pause {
    display:block;
    position:absolute;
    top: 20px;
    left: 20px;
    width: 14px;
    height: 0;
    padding-top: 20px;
    overflow:hidden;
    background-color: transparent;
    background-repeat: no-repeat ;
    background-position: 0 0;
    background-image: url(/static/images/weather/weather-sprite.png);
}

#section_weather #weathermap-timeline  .timeline-play-btn .play {
    background-position:-56px 0 ;
}

#section_weather #weathermap-timeline .timeline-play-btn:hover .play {
    background-position: -56px -20px;
}

#section_weather #weathermap-timeline  .timeline-play-btn .pause {
    background-position:-70px 0 ;
}

#section_weather #weathermap-timeline  .timeline-play-btn:hover .pause {
    background-position:-70px -20px ;
}

/* #section_weather #weathermap-timeline .timeline-belt .ui-slider-label {
     color: #EEEEEE;
     font-size: 13px;
     margin-left: -27px !important;
     white-space: nowrap;
 }*/

 #section_weather #weathermap-timeline .timeline-belt .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; top: 0; height: 100%;  }
 #section_weather #weathermap-timeline .timeline-belt  .ui-slider-range-min { left: 0; }
 #section_weather #weathermap-timeline .timeline-belt  .ui-slider-range-max { right: 0; }

#section_weather #weathermap-timeline .timeline-belt .hour {
    display: block; 
}
#section_weather #weathermap-timeline .timeline-belt .date {
    display: block; 
}


#section_weather #weathermap-timeline .timeline-belt .marker {
    height: 10px;
    width: 1px;
    background: rgb(163,163,163);
    display:block;
    position: absolute;
    -webkit-box-shadow: inset 1px 1px 2px 1px rgba(255, 255, 255, 0.2);
    box-shadow: inset 1px 1px 2px 1px rgba(255, 255, 255, 0.2);
    left: 0;
    
}

#section_weather #weathermap-timeline .timeline-belt .marker.marker-top {
    top: 0;
}

#section_weather #weathermap-timeline .timeline-belt .marker.marker-bottom {
    bottom: 1px;
}

#section_weather #weathermap-timeline .timeline-belt .marker:nth-child(even) {
    height: 15px;
}

#section_weather #weathermap-timeline .timeline-belt .label {
    color: rgb(103,103,103);
    display:inline-block;
    font-size: 12px;
    font-weight:bold;
    text-shadow: 1px 1px rgb(200,200,200);
    text-transform: uppercase;
    margin: 22px 10px 22px -25px;
    position: absolute;
    white-space: nowrap;
    width: 50px;
    text-align: center;
    height: 16px;
}

#section_weather #weathermap-timeline .timeline-belt .label-2up {
    margin-top: 18px;
    margin-right: 10px;
    margin-bottom: 18px;
    height: 24px;
}

#section_weather #weathermap-timeline .timeline-belt .label-2up span {
    display:block;
    line-height: 1.1em;
}

#section_weather #weathermap-timeline .timeline-belt .label-2up span:last-child {
    color: rgb(140,140,140);
    text-shadow: 1px 1px rgb(200,200,200);
}

#section_weather #weathermap-timeline .timeline-belt .timeline-buckle .label {
    margin-top: 9px;
    margin-left: 0px;
}


#section_weather #weathermap-timeline .timeline-belt .timeline-buckle .label-2up {
    margin: 4px 0;
    width: 50px;
}

/**
 * Map controls.
 */

#section_weather #weathermap-controls {
    width: 100%;
    height: 46px;
    background: none; /* fallback */
    background: rgba(0,0,0,.1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; /* For IE 8*/
    display:block;
    padding: 7px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position:absolute;
    left:0;
    top:0;
    z-index: 12;

}

#section_weather #weathermap-controls .map-control {
    position:absolute;
    top: 7px;
    overflow:hidden;
}

#section_weather #weathermap-controls .map-control:last-child {

}

#section_weather #weathermap-controls .mapview-control {
    left: 10px;
}

#section_weather #weathermap-controls .opacity-control {
    left: 360px;
    margin-left: -150px;

}

#section_weather #weathermap-controls .opacity-control .opacity-slider-bar {
    width: 200px;
}

#section_weather #weather-maps.map-national #weathermap-controls .opacity-control,
#section_weather #weather-maps.map-national #weathermap-controls .opacity-control {
    left: auto;
    right: 10px;
}

#section_weather #weathermap-controls .zoom-control {
    right: 10px;
    text-align:right;
}

#section_weather #weathermap-controls .zoom-control .zoom-outer {
    display:inline-block;
}

/**
 * Map Loading.
 */

#section_weather #weather-maps.loading #alaska .weathertile-map,
#section_weather #weather-maps.loading #hawaii .weathertile-map {
    visibility: hidden;
}

#section_weather #weather-maps.loaded #alaska .weathertile-map,
#section_weather #weather-maps.loaded #hawaii .weathertile-map {
    visibility: visible;
}

/**
 * Custom weathertile treatments.
 */

#section_weather #weather-maps .weathertile-map {
    width: 112px;
    height: 48px;
    position:relative;
    margin-right: -30px;
    margin-bottom: -12px;
    
}

#section_weather #weather-maps .weathertile-map .weathertile-sm {
    /* anim cannot be more that 150ms, unless changed in weather-map.js */
    -webkit-transition: all 75ms ease-in-out;
    -o-transition: all 75ms ease-in-out;
    -moz-transition: all 75ms ease-in-out;
    transition: all 75ms ease-in-out;
    position:absolute;
    left: 30px;
    top: 12px;
    overflow:hidden;
}

#section_weather #weather-maps .weathertile-map .weathertile-sm:hover {
    cursor:pointer;
}

#section_weather #weather-maps .weathertile-map .weathertile-sm  > * {
    vertical-align: top;
}

#section_weather #weather-maps .weathertile-map.clicked .weathertile-sm  {
    z-index: 55;
    position:absolute;
    top: 0px; 
    left: 0px;
    width: 100px; 
    height: 40px; 
    padding: 4px 6px;
}

#section_weather #weather-maps .weathertile-map.animating .weathertile-sm > * {
-webkit-animation: fadein 75ms linear;
 -moz-animation:   fadein 75ms linear;
  -ms-animation:    fadein 75ms linear;
  animation:    fadein 75ms linear;

}

#section_weather #weather-maps .weathertile-map.clicked  .bottom {
    position:relative;
    top: 25px;
}

#section_weather #weather-maps .weathertile-map .city {
    display:none;
}

#section_weather #weather-maps .weathertile-map.clicked .city {
    font-size: 11px;
    display: block;
    width: 100%;
    height: auto;
}

#section_weather #weather-maps .weathertile-map.clicked .temp {
    font-size: 20px;
    line-height: 20px;
    display:inline-block;
    margin:0;
    padding: 0;
}

#section_weather #weather-maps .weathertile-map.clicked .wicon {
    width: 30px;
    padding-top: 20px;
    background-image: url(/static/images/weather/wicon-sprite-med.png);
    position:relative;
    display:inline-block;
    float:none;
    margin-right: 2px;
}

#section_weather #weather-maps.map-national.type-extended .weathertile-map.clicked .temp {
    width: auto;
    font-size: 16px;
}

#section_weather #weather-maps.map-national.type-extended .weathertile-map .temp .low {
    display:none;
}

#section_weather #weather-maps.map-national.type-extended .weathertile-map.clicked .temp .low {
    display:inline;
}

@-keyframes fadein {
    0%   {  opacity: 0;}
    75%  {  opacity: 0;}
    100% {  opacity: 1;}
}

@-webkit-keyframes fadein {
    0%   {  opacity: 0;}
    75%  {  opacity: 0;}
    100% {  opacity: 1;}
}

@-moz-keyframes fadein {
    0%   {  opacity: 0.2;}
    75%  {  opacity: 0;}
    100% {  opacity: 1;}
}

@-ms-keyframes fadein {
    0%   {  opacity: 0;}
    75%  {  opacity: 0;}
    100% {  opacity: 1;}
}

@-o-keyframes fadein {
    0%   {  opacity: 0;}
    75%  {  opacity: 0;}
    100% {  opacity: 1;}
}

/**
 * Map legend/key.
 */

 #section_weather .key {
    position:absolute;
    display:none;
    z-index: 3;
 }

 #section_weather #weather-maps.type-hourly .key-forecast,
 #section_weather #weather-maps.type-extended .key-forecast {
    display:block;
    width: 100%;
    height: 20px;
    bottom: 34px;
    left: 0;
    text-align:center;
    overflow:hidden;
 }

#section_weather #weather-maps.type-hourly .key-forecast ul,
#section_weather #weather-maps.type-extended .key-forecast ul {
    list-style:none;
    padding:0;
    margin: 0 auto;
    width: 672px;
    height: 20px;
}

#section_weather #weather-maps.type-hourly .key-forecast ul li,
#section_weather #weather-maps.type-extended .key-forecast ul li  {
    display:block;
    float:left;
    margin-right: 2px;
    font-size: 11px;
    font-weight:bold;
    color: rgb(255,255,255);
    width: 47px;
    height: 14px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 3px 6px;
    text-align: center;
}

#section_weather #weather-maps.type-hourly .key-forecast ul li:first-child,
#section_weather #weather-maps.type-extended .key-forecast ul li:first-child {
    -moz-border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
}

#section_weather #weather-maps.type-hourly .key-forecast ul li:last-child,
#section_weather #weather-maps.type-extended .key-forecast ul li:last-child {
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
}

#section_weather #weather-maps.type-radar .key-radar {
    display:block;
    background: transparent url(/static/images/weather/radar-key.png) no-repeat 0 0;
    width: 694px;
    height: 20px;
    left: 11px;
    bottom: 34px;
}

/**
 * Map credits.
 */

#section_weather #weather-maps .weathermap-credits {
    position:absolute;
    bottom: 10px;
    left: 10px;
    display:none;
    font-size: 10px;
    display:block;
    height: 10px;

 }

#section_weather #weather-maps.map-national.type-hourly .weathermap-credits,
#section_weather #weather-maps.map-national.type-extended .weathermap-credits {
    left: 24px;
}

 #section_weather #weather-maps .weathermap-credits a {

 }

#section_weather #weather-maps .weathermap-credits .logo {
    position:absolute;
    top: 0;
    left: 0;
    display:inline-block;
    width: 120px;
    height: 0;
    padding-top: 10px;
    overflow:hidden;
    background: transparent url(/static/images/weather/accuweather-logo.png)  no-repeat 0 0;
}

/* =============================================================================
   Helper Classes
   ========================================================================== */
  
/* Hide from both screenreaders and browsers */
#section_weather .hidden {
    display: none !important;
    visibility: hidden;
}
/* Hide only visually, but have it available for screenreaders */
#section_weather .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard */
#section_weather .visuallyhidden.focusable:active, #section_weather .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
#section_weather .invisible {
    visibility: hidden;
}
/* Contain floats */
#section_weather .clearfix:before, #section_weather .clearfix:after {
    content: "";
    display: table;
}
#section_weather .clearfix:after {
    clear: both;
}
#section_weather .clearfix {
    *zoom: 1;
}

