/**
* @fileoverview Styles for Weather's color tiles.
* @author mdkennedy@gannett.com (Mark Kennedy)
*/

.weathertile {
	color: rgb(255,255,255);
	font-weight:bold;
	text-align:center;
	font-size: 0 !important; /*fixes alignment issue for inline-block children */
	overflow:hidden;

}

.weathertile .wicon,
.weathertile .temp {
	display:inline-block;
	line-height:1.0em;
	vertical-align:top;
	margin: 0;
	padding:0;
}


.weathertile .wicon {
	height: 0px;
	overflow:hidden;

}

.weathertile .temp {
/*	display:inline;*/
/*	float:left;*/
}

.temp0s {background-color:    rgb(0,34,145);}
.temp10s {background-color:   rgb(1,71,222);}
.temp20s {background-color:   rgb(0,155,255);}
.temp30s {background-color:   rgb(137,193,229);}
.temp40s {background-color:   rgb(0,195,195);}
.temp50s {background-color:   rgb(102,191,42);}
.temp60s {background-color:   rgb(0,170,60);}
.temp70s {background-color:   rgb(227,182,0);}
.temp80s {	background-color: rgb(255,102,0);}
.temp90s {background-color:   rgb(235,30,0);}
.temp100s {background-color:  rgb(179,0,1);}



.weathertile-big {
	width: 190px;
	height: 56px;
	overflow: hidden;
	padding: 12px 5px;
	border-radius: 5px;
}

.weathertile-big .wicon {
	width: 72px;
	padding-top: 50px;
	background: transparent url(/static/images/weather/wicon-sprite-big.png) 0 0 no-repeat;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 2px;
}

.weathertile-big .temp {
	font-size: 56px;
	letter-spacing: -0.03em;
}


.weathertile-med {
	width: 72px;
	overflow:hidden;
	height: 20px;
	border-radius: 4px;
	padding: 5px 2px;
}

.weathertile-med .wicon {
	width: 30px;
	padding-top: 20px;
	background: transparent url(/static/images/weather/wicon-sprite-med.png) 0 0 no-repeat;
	margin-right: 2px;
}

.weathertile-med .temp {
	font-size: 20px;
	letter-spacing: -0.08em;
}

.weathertile-sm {
	width: 48px;
	height: 20px;
	border-radius: 3px;
	padding: 0px 2px;
}

.weathertile-sm .wicon {
	width: 20px;
	padding-top: 20px;
	background: transparent url(/static/images/weather/wicon-sprite-sm.png) 0 0 no-repeat;
	margin-right: 4px;
}

.weathertile-sm .temp {
	font-size: 12px;
	line-height: 12px;
	letter-spacing: -0.09em;
	padding-top:4px;
	padding-bottom: 4px;
}


.weathertile-sm .wicon-01 {	background-position: 0 0;} 
.weathertile-sm .wicon-02 {	background-position: 0 -20px;} 
.weathertile-sm .wicon-03 {	background-position: 0 -40px;}
.weathertile-sm .wicon-04 {	background-position: 0 -60px;} 
.weathertile-sm .wicon-05 {	background-position: 0 -80px;} 
.weathertile-sm .wicon-06 {	background-position: 0 -100px;} 
.weathertile-sm .wicon-07 {	background-position: 0 -120px;} 
.weathertile-sm .wicon-08 {	background-position: 0 -140px;} 
.weathertile-sm .wicon-11 {	background-position: 0 -160px;} 
.weathertile-sm .wicon-12 {	background-position: 0 -180px;} 
.weathertile-sm .wicon-13 {	background-position: 0 -200px;} 
.weathertile-sm .wicon-14 {	background-position: 0 -220px;} 
.weathertile-sm .wicon-15 {	background-position: 0 -240px;} 
.weathertile-sm .wicon-16 {	background-position: 0 -260px;} 
.weathertile-sm .wicon-17 {	background-position: 0 -280px;} 
.weathertile-sm .wicon-18 {	background-position: 0 -300px;} 
.weathertile-sm .wicon-19 {	background-position: 0 -320px;} 
.weathertile-sm .wicon-20 {	background-position: 0 -340px;} 
.weathertile-sm .wicon-21 {	background-position: 0 -360px;} 
.weathertile-sm .wicon-22 {	background-position: 0 -380px;} 
.weathertile-sm .wicon-23 {	background-position: 0 -400px;} 
.weathertile-sm .wicon-24 {	background-position: 0 -420px;} 
.weathertile-sm .wicon-25 {	background-position: 0 -440px;} 
.weathertile-sm .wicon-26 {	background-position: 0 -460px;} 
.weathertile-sm .wicon-29 {	background-position: 0 -480px;} 
.weathertile-sm .wicon-30 {	background-position: 0 -500px;} 
.weathertile-sm .wicon-31 {	background-position: 0 -520px;} 
.weathertile-sm .wicon-32 {	background-position: 0 -540px;} 
.weathertile-sm .wicon-33 {	background-position: 0 -560px;} 
.weathertile-sm .wicon-34 {	background-position: 0 -580px;}
.weathertile-sm .wicon-35 {	background-position: 0 -600px;}
.weathertile-sm .wicon-36 {	background-position: 0 -620px;}
.weathertile-sm .wicon-37 {	background-position: 0 -640px;}
.weathertile-sm .wicon-38 {	background-position: 0 -660px;}
.weathertile-sm .wicon-39 {	background-position: 0 -680px;}
.weathertile-sm .wicon-40 {	background-position: 0 -700px;}
.weathertile-sm .wicon-41 {	background-position: 0 -720px;}
.weathertile-sm .wicon-42 {	background-position: 0 -740px;}
.weathertile-sm .wicon-43 {	background-position: 0 -760px;}
.weathertile-sm .wicon-44 {	background-position: 0 -780px;}


.weathertile-med .wicon-01 {	background-position: 0 0;} 
.weathertile-med .wicon-02 {	background-position: 0 -20px;} 
.weathertile-med .wicon-03 {	background-position: 0 -40px;}
.weathertile-med .wicon-04 {	background-position: 0 -60px;} 
.weathertile-med .wicon-05 {	background-position: 0 -80px;} 
.weathertile-med .wicon-06 {	background-position: 0 -100px;} 
.weathertile-med .wicon-07 {	background-position: 0 -120px;} 
.weathertile-med .wicon-08 {	background-position: 0 -140px;} 
.weathertile-med .wicon-11 {	background-position: 0 -160px;} 
.weathertile-med .wicon-12 {	background-position: 0 -180px;} 
.weathertile-med .wicon-13 {	background-position: 0 -200px;} 
.weathertile-med .wicon-14 {	background-position: 0 -220px;} 
.weathertile-med .wicon-15 {	background-position: 0 -240px;} 
.weathertile-med .wicon-16 {	background-position: 0 -260px;} 
.weathertile-med .wicon-17 {	background-position: 0 -280px;} 
.weathertile-med .wicon-18 {	background-position: 0 -300px;} 
.weathertile-med .wicon-19 {	background-position: 0 -320px;} 
.weathertile-med .wicon-20 {	background-position: 0 -340px;} 
.weathertile-med .wicon-21 {	background-position: 0 -360px;} 
.weathertile-med .wicon-22 {	background-position: 0 -380px;} 
.weathertile-med .wicon-23 {	background-position: 0 -400px;} 
.weathertile-med .wicon-24 {	background-position: 0 -420px;} 
.weathertile-med .wicon-25 {	background-position: 0 -440px;} 
.weathertile-med .wicon-26 {	background-position: 0 -460px;} 
.weathertile-med .wicon-29 {	background-position: 0 -480px;} 
.weathertile-med .wicon-30 {	background-position: 0 -500px;} 
.weathertile-med .wicon-31 {	background-position: 0 -520px;} 
.weathertile-med .wicon-32 {	background-position: 0 -540px;} 
.weathertile-med .wicon-33 {	background-position: 0 -560px;} 
.weathertile-med .wicon-34 {	background-position: 0 -580px;}
.weathertile-med .wicon-35 {	background-position: 0 -600px;}
.weathertile-med .wicon-36 {	background-position: 0 -620px;}
.weathertile-med .wicon-37 {	background-position: 0 -640px;}
.weathertile-med .wicon-38 {	background-position: 0 -660px;}
.weathertile-med .wicon-39 {	background-position: 0 -680px;}
.weathertile-med .wicon-40 {	background-position: 0 -700px;}
.weathertile-med .wicon-41 {	background-position: 0 -720px;}
.weathertile-med .wicon-42 {	background-position: 0 -740px;}
.weathertile-med .wicon-43 {	background-position: 0 -760px;}
.weathertile-med .wicon-44 {	background-position: 0 -780px;}

.weathertile-big .wicon-01 {	background-position: 0 0;} 
.weathertile-big .wicon-02 {	background-position: 0 -50px;} 
.weathertile-big .wicon-03 {	background-position: 0 -100px;}
.weathertile-big .wicon-04 {	background-position: 0 -150px;} 
.weathertile-big .wicon-05 {	background-position: 0 -200px;} 
.weathertile-big .wicon-06 {	background-position: 0 -250px;} 
.weathertile-big .wicon-07 {	background-position: 0 -300px;} 
.weathertile-big .wicon-08 {	background-position: 0 -350px;} 
.weathertile-big .wicon-11 {	background-position: 0 -400px;} 
.weathertile-big .wicon-12 {	background-position: 0 -450px;} 
.weathertile-big .wicon-13 {	background-position: 0 -500px;} 
.weathertile-big .wicon-14 {	background-position: 0 -550px;} 
.weathertile-big .wicon-15 {	background-position: 0 -600px;} 
.weathertile-big .wicon-16 {	background-position: 0 -650px;} 
.weathertile-big .wicon-17 {	background-position: 0 -700px;} 
.weathertile-big .wicon-18 {	background-position: 0 -750px;} 
.weathertile-big .wicon-19 {	background-position: 0 -800px;} 
.weathertile-big .wicon-20 {	background-position: 0 -850px;} 
.weathertile-big .wicon-21 {	background-position: 0 -900px;} 
.weathertile-big .wicon-22 {	background-position: 0 -950px;} 
.weathertile-big .wicon-23 {	background-position: 0 -1000px;} 
.weathertile-big .wicon-24 {	background-position: 0 -1050px;} 
.weathertile-big .wicon-25 {	background-position: 0 -1100px;} 
.weathertile-big .wicon-26 {	background-position: 0 -1150px;} 
.weathertile-big .wicon-29 {	background-position: 0 -1200px;} 
.weathertile-big .wicon-30 {	background-position: 0 -1250px;} 
.weathertile-big .wicon-31 {	background-position: 0 -1300px;} 
.weathertile-big .wicon-32 {	background-position: 0 -1350px;} 
.weathertile-big .wicon-33 {	background-position: 0 -1400px;} 
.weathertile-big .wicon-34 {	background-position: 0 -1450px;}
.weathertile-big .wicon-35 {	background-position: 0 -1500px;}
.weathertile-big .wicon-36 {	background-position: 0 -1550px;}
.weathertile-big .wicon-37 {	background-position: 0 -1600px;}
.weathertile-big .wicon-38 {	background-position: 0 -1650px;}
.weathertile-big .wicon-39 {	background-position: 0 -1700px;}
.weathertile-big .wicon-40 {	background-position: 0 -1750px;}
.weathertile-big .wicon-41 {	background-position: 0 -1800px;}
.weathertile-big .wicon-42 {	background-position: 0 -1850px;}
.weathertile-big .wicon-43 {	background-position: 0 -1900px;}
.weathertile-big .wicon-44 {	background-position: 0 -1950px;}
