/*        NFL TEAM KEYS           MLS AND WNBA           MLB TEAM KEYS             NBA TEAMS
--------------------------------------------------------------------------------------------------------------
.nfl .t1  Bills       .mls .t979  Earthquakes  .mlb .t1  Baltimore       .nba .t1  Celtics
.nfl .t2  Colts       .mls .t981  Toronto FC   .mlb .t2  Boston          .nba .t2  Heat
.nfl .t3  Dolphins    .mls .t984  Chivas       .mlb .t3  NY Yankees      .nba .t3  Nets
.nfl .t4  Patriots    .mls .t985  Real         .mlb .t4  TB Rays         .nba .t4  Knicks
.nfl .t5  Jets        .mls .t986  Fire         .mlb .t5  Toronto         .nba .t5  Magic
.nfl .t6  Ravens      .mls .t990  Rapids       .mlb .t6  CHI White Sox   .nba .t6  76ers
.nfl .t7  Bengals     .mls .t991  Crew         .mlb .t7  Cleveland       .nba .t7  Wizards
.nfl .t8  Browns      .mls .t992  FC Dallas    .mlb .t8  Detroit         .nba .t8  Hawks
.nfl .t9  Jaguars     .mls .t993  Sporting     .mlb .t9  KC Royals       .nba .t9  Hornets
.nfl .t10 Steelers    .mls .t994  Galaxy       .mlb .t10 Minnesota       .nba .t10 Bulls
.nfl .t11 Titans      .mls .t995  Revolution   .mlb .t11 LA Angels       .nba .t11 Cavs
.nfl .t12 Broncos     .mls .t996  Red Bull     .mlb .t12 Oakland         .nba .t12 Pistons
.nfl .t13 Chiefs      .mls .t997  Dynamo       .mlb .t13 Seattle         .nba .t13 Pacers
.nfl .t14 Raiders     .mls .t999  United       .mlb .t14 Texas           .nba .t14 Bucks
.nfl .t15 Charges     .mls .taa0  Sounders     .mlb .t15 Atlanta         .nba .t15 Raptors
.nfl .t16 Seahawks    .mls .tzp6  Union        .mlb .t16 Miami           .nba .t16 Mavericks
.nfl .t17 Cardinals   .mls .tzp8  Timbers      .mlb .t17 Washington      .nba .t17 Nuggets
.nfl .t18 Cowboys     .mls .tzp9  Whitecaps    .mlb .t18 NY Mets         .nba .t18 Rockets
.nfl .t19 NY Giants   .mls .tzr2  Impact       .mlb .t19 Philadelphia    .nba .t19 Grizzlies
.nfl .t20 Eagles     .wnba .t202  Shock        .mlb .t20 CHI Cubs        .nba .t20 Timberwolves
.nfl .t21 Redskins   .wnba .t204  Fever        .mlb .t21 Cincinati       .nba .t21 Spurs
.nfl .t22 Bears      .wnba .t205  Sparks       .mlb .t22 Houston         .nba .t22 Jazz
.nfl .t23 Lions      .wnba .t206  Silver Stars .mlb .t23 Milwuakee       .nba .t23 Warriors
.nfl .t24 Packers    .wnba .t207  Lynx         .mlb .t24 Pittsburgh      .nba .t24 Clippers
.nfl .t25 Vikings    .wnba .t208  Liberty      .mlb .t25 St. Louis       .nba .t25 Lakers
.nfl .t26 Buccaneers .wnba .t209  Sun          .mlb .t26 Arizona         .nba .t26 Suns
.nfl .t27 Falcons    .wnba .t210  Mercury      .mlb .t27 Colorado        .nba .t27 Trailblazers
.nfl .t28 Rams       .wnba .t213  Storm        .mlb .t28 LA Dodgers      .nba .t28 Kings
.nfl .t29 Panthers   .wnba .t215  Mystics      .mlb .t29 SD Padres       .nba .t29 Thunder
.nfl .t30 Saints     .wnba .t218  Sky          .mlb .t30 SF Giants       .nba .t32 Bobcats
.nfl .t31 49ers      .wnba .t219  Dream
.nfl .t32 Texans
*/

.wnba .t202 .bgc,
.wnba .t206 .bgc {
    background-color: rgb(0,0,0);
}

.wnba .t204 .bgc,
.wnba .t209 .bgc { 
    background-color: rgb(0,0,128);
}

.wnba .t205 .bgc,
.wnba .t210 .bgc {
    background-color: rgb(128,0,128);
}

.wnba .t207 .bgc {
    background-color: rgb(106,90,205);
}

.wnba .t208 .bgc { 
    background-color: rgb(105,160,206); 
}

.wnba .t213 .bgc {
    background-color: rgb(31,104,77);
}

.wnba .t215 .bgc {
    background-color: rgb(229,19,54);
}

.wnba .t218 .bgc,
.wnba .t219 .bgc { 
    background-color: rgb(135,206,235); 
}

/* MLB SPRITES */
.mlb .logo-120 {
    background-image: url("/static/images/sports/mlb120.png");
}

.mlb .logo-38 {
    background-image: url("/static/images/sports/mlb38.png");
}

.mlb .logo-30 {
    background-image: url("/static/images/sports/mlb30.png");
}

.mlb .logo-54 {
    background-image: url("/static/images/sports/mlb54.png");
}

/* NBA SPRITES */
.nba .logo-120 {
    background-image: url("/static/images/sports/nba120.png");
}

.nba .logo-38 {
    background-image: url("/static/images/sports/nba38.png");
}

.nba .logo-30 {
    background-image: url("/static/images/sports/nba30.png");
}

.nba .logo-54 {
    background-image: url("/static/images/sports/nba54.png");
}

/* NFL SPRITES */
.nfl .logo-120 {
    background-image: url("/static/images/sports/nfl120.png");
}

.nfl .logo-38 {
    background-image: url("/static/images/sports/nfl38.png");
}

.nfl .logo-30 {
    background-image: url("/static/images/sports/nfl30.png");
}

.nfl .logo-54 {
    background-image: url("/static/images/sports/nfl54.png");
}

/* NHL SPRITES */
.nhl .logo-120 {
    background-image: url("/static/images/sports/nhl120.png");
}

.nhl .logo-38 {
    background-image: url("/static/images/sports/nhl38.png");
}

.nhl .logo-30 {
    background-image: url("/static/images/sports/nhl30.png");
}

.nhl .logo-54 {
    background-image: url("/static/images/sports/nhl54.png");
}

/* MLS SPRITES */
.mls .logo-120 {
    background-image: url("/static/images/sports/mls120.png");
}

.mls .logo-38 {
    background-image: url("/static/images/sports/mls38.png");
}

.mls .logo-30 {
    background-image: url("/static/images/sports/mls30.png");
}

.mls .logo-54 {
    background-image: url("/static/images/sports/mls54.png");
}

/* WNBA SPRITES */
.wnba .logo-120 {
    background-image: url("/static/images/sports/wnba120.png");
}

.wnba .logo-38 {
    background-image: url("/static/images/sports/wnba38.png");
}

.wnba .logo-30 {
    background-image: url("/static/images/sports/wnba30.png");
}

.wnba .logo-54 {
    background-image: url("/static/images/sports/wnba54.png");
}

/*BACKGROUND COLORS*/
.mlb .t1 .bgc,
.mlb .t6 .bgc,
.mlb .t22 .bgc,
.mlb .t24 .bgc,
.mlb .t30 .bgc,
.mls .t991 .bgc,
.mls .t999 .bgc,
.mls .tzr2 .bgc,
.nba .t10 .bgc,
.nba .t3 .bgc,
.nba .t18 .bgc,
.nba .t21 .bgc,
.nba .t27 .bgc,
.nfl .t14 .bgc,
.nfl .t10 .bgc {
    background-color: rgb(0,0,0);
}

/* NON BLACK MLB TEAMS */
.mlb .t2 .bgc {
    background-color: rgb(13,43,86);
}

.mlb .t3 .bgc {
    background-color: rgb(19,36,72);
}

.mlb .t4 .bgc {
    background-color: rgb(9,44,92);
}

.mlb .t5 .bgc {
    background-color: rgb(19,75,142);
}

.mlb .t7 .bgc {
    background-color: rgb(2,52,101);
}

.mlb .t8 .bgc {
    background-color: rgb(12,44,86);
}

.mlb .t9 .bgc {
    background-color: rgb(0,70,135);
}

.mlb .t10 .bgc {
    background-color: rgb(0,43,92);
}

.mlb .t11 .bgc {
    background-color: rgb(186,0,33);
}

.mlb .t12 .bgc {
    background-color: rgb(0,56,49);
}

.mlb .t13 .bgc {
    background-color: rgb(12,44,86);
}

.mlb .t14 .bgc {
    background-color: #003278;
}

.mlb .t15 .bgc {
    background-color: rgb(19,39,79);
}

.mlb .t16 .bgc {
    background-color: rgb(167,169,172);
}

.mlb .t17 .bgc {
    background-color: rgb(17,34,91);
}

.mlb .t18 .bgc {
    background-color: rgb(0,45,114);
}

.mlb .t19 .bgc {
    background-color: rgb(40,72,152);
}

.mlb .t20 .bgc {
    background-color: rgb(14,51,134);
}

.mlb .t21 .bgc {
    background-color: rgb(198,1,31);
}

.mlb .t23 .bgc {
    background-color: rgb(10,35,81);
}

.mlb .t25 .bgc {
    background-color: rgb(196,29,57);
}

.mlb .t26 .bgc {
    background-color: rgb(167,25,48);
}

.mlb .t27 .bgc {
    background-color: rgb(51,51,102);
}

.mlb .t28 .bgc {
    background-color: rgb(173,175,170);
}

.mlb .t29 .bgc {
    background-color: rgb(5,20,63);
}

/* NON BLACK MLS TEAMS */
.mls .t979 .bgc {
    background-color: rgb(0,125,195);
}

.mls .t981 .bgc {
    background-color: rgb(229,25,55);
}

.mls .t984 .bgc {
    background-color: rgb(0,45,98);
}

.mls .t985 .bgc {
    background-color: rgb(178,8,56);
}

.mls .t986 .bgc {
    background-color: rgb(1,45,107);
}

.mls .t990 .bgc {
    background-color: rgb(152,1,46);
}

.mls .t992 .bgc {
    background-color: rgb(209,18,65);
}

.mls .t993 .bgc {
    background-color: rgb(0,42,92);
}

.mls .t994 .bgc {
    background-color: rgb(0,35,93);
}

.mls .t995 .bgc {
    background-color: rgb(21,60,105);
}

.mls .t996 .bgc {
    background-color: rgb(0,47,101);
}

.mls .t997 .bgc {
    background-color: rgb(244,145,30);
}

.mls .taa0 .bgc {
 background-color: rgb(0,86,149)
}            

.mls .tzp6 .bgc {
    background-color: rgb(0,42,92);
}

.mls .tzp8 .bgc {
    background-color: rgb(0,72,18);
}

.mls .tzp9 .bgc {
    background-color: rgb(0,25,67);
}

.mls .t987 .bgc {
}

/* NON BLACK NBA TEAMS */
.nba .t1 .bgc {
    background-color: rgb(0,109,61);
}

.nba .t2 .bgc {
    background-color: rgb(152,1,46);
}

.nba .t4 .bgc {
    background-color: rgb(0,104,179);
}

.nba .t5 .bgc {
    background-color: rgb(0,119,192);
}

.nba .t6 .bgc {
    background-color: rgb(0,104,179);
}

.nba .t7 .bgc {
    background-color: rgb(136,15,33);
}

.nba .t8 .bgc {
    background-color: rgb(0,42,92);
}

.nba .t9 .bgc {
    background-color: rgb(0,143,197);
}

.nba .t11 .bgc {
    background-color: rgb(0,45,98);
}

.nba .t12 .bgc {
    background-color: rgb(0,104,179);
}

.nba .t13 .bgc {
    background-color: rgb(0,39,93);
}

.nba .t14 .bgc {
    background-color: rgb(0,61,15);
}

.nba .t15 .bgc {
    background-color: rgb(57,57,150);
}

.nba .t16 .bgc {
    background-color: rgb(0,88,152);
}

.nba .t17 .bgc {
    background-color: rgb(75,144,205);
}

.nba .t19 .bgc {
    background-color: rgb(0,42,92);
}

.nba .t20 .bgc {
    background-color: rgb(0,80,132);
}

.nba .t22 .bgc {
    background-color: rgb(0,66,17);
}

.nba .t23 .bgc {
    background-color: rgb(253,184,39);
}

.nba .t24 .bgc {
    background-color: rgb(0,104,179);
}

.nba .t25 .bgc {
    background-color: rgb(84,37,131);
}

.nba .t26 .bgc {
    background-color: rgb(61,38,128);
}

.nba .t28 .bgc {
    background-color: rgb(57,57,150);
}

.nba .t29 .bgc {
    background-color: rgb(0,125,195);
}

.nba .t32 .bgc {
    background-color: rgb(0,42,92);
}

/* NON BLACK NFL TEAMS */
.nfl .t1 .bgc {
    background-color: rgb(35,62,135);
}

.nfl .t2 .bgc {
    background-color: rgb(0,44,95);
}

.nfl .t3 .bgc {
    background-color: rgb(0,98,101);
}

.nfl .t4 .bgc {
    background-color: rgb(0,34,68);
}

.nfl .t5 .bgc {
    background-color: rgb(32,55,49);
}

.nfl .t6 .bgc {
    background-color: rgb(36,23,115);
}

.nfl .t7 .bgc {
    background-color: rgb(251,79,20);
}

.nfl .t8 .bgc {
    background-color: rgb(34,21,12);
}

.nfl .t9 .bgc {
    background-color: rgb(0,103,120);
}

.nfl .t11 .bgc {
    background-color: rgb(75,146,219);
}

.nfl .t12 .bgc {
    background-color: rgb(0,34,68);
}

.nfl .t13 .bgc {
    background-color: rgb(227,24,55);
}

.nfl .t15 .bgc,
.nfl .t16 .bgc {
    background-color: rgb(0,34,68);
}

.nfl .t17 .bgc {
    background-color: rgb(151,35,63);
}

.nfl .t18 .bgc {
    background-color: rgb(0,34,68);
}

.nfl .t19 .bgc {
    background-color: rgb(11,34,101);
}

.nfl .t20 .bgc {
    background-color: rgb(0,73,83);
}

.nfl .t21 .bgc {
    background-color: rgb(91,43,47);
}

.nfl .t22 .bgc {
    background-color: rgb(11,22,42);
}

.nfl .t23 .bgc {
    background-color: rgb(0,90,139);
}

.nfl .t24 .bgc {
    background-color: rgb(32,55,49);
}

.nfl .t25 .bgc {
    background-color: rgb(59,0,131);
}

.nfl .t26 .bgc {
    background-color: rgb(95,87,79);
}

.nfl .t27 .bgc {
    background-color: rgb(167,25,48);
}

.nfl .t29 .bgc {
    background-color: rgb(0,133,202);
}

.nfl .t30 .bgc {
    background-color: rgb(159,137,88);
}

.nfl .t31 .bgc {
    background-color: rgb(170,0,0);
}

.nfl .t32 .bgc {
    background-color: rgb(3,32,47);
}

/* NON BLACK NHL TEAMS */

.nhl .t1 .bgc {
    background-color: rgb(246,0,54);
}

.nhl .t2 .bgc {
    background-color: rgb(0,86,150);
}

.nhl .t3 .bgc {
    background-color: rgb(0,96,165);
}

.nhl .t4 .bgc {
    background-color: rgb(255,111,63);
}

.nhl .t5 .bgc {
    background-color: rgb(36,30,32);
}

.nhl .t6 .bgc {
    background-color: rgb(246,0,54);
}

.nhl .t7 .bgc {
    background-color: rgb(0,65,122);
}

.nhl .t8 .bgc {
    background-color: rgb(0,48,95);
}

.nhl .t9 .bgc {
    background-color: rgb(0,48,95);
}

.nhl .t10 .bgc {
    background-color: rgb(0,48,95);
}

.nhl .t11 .bgc {
    background-color: rgb(36,30,32);
}

.nhl .t12 .bgc {
    background-color: rgb(0,48,95);
}

.nhl .t13 .bgc {
    background-color: rgb(212,0,47);
}

.nhl .t14 .bgc {
    background-color: rgb(246,0,54);
}

.nhl .t15 .bgc {
    background-color: rgb(0,63,122);
}

.nhl .t16 .bgc {
    background-color: rgb(243,0,53);
}

.nhl .t17 .bgc {
    background-color: rgb(246,0,54);
}

.nhl .t18 .bgc {
    background-color: rgb(0,86,150);
}

.nhl .t19 .bgc {
    background-color: rgb(0,48,95);
}

.nhl .t20 .bgc {
    background-color: rgb(0,48,95);
}

.nhl .t21 .bgc {
    background-color: rgb(0,82,50);
}

.nhl .t22 .bgc {
    background-color: rgb(36,30,32);
}

.nhl .t23 .bgc {
    background-color: rgb(18,37,109);
}

.nhl .t24 .bgc {
    background-color: rgb(0,123,138);
}

.nhl .t25 .bgc {
    background-color: rgb(165,0,44);
}

.nhl .t26 .bgc {
    background-color: rgb(0,65,122);
}

.nhl .t27 .bgc {
    background-color: rgb(146,0,53);
}

.nhl .t28 .bgc {
    background-color: rgb(246,0,54);
}

.nhl .t29 .bgc {
    background-color: rgb(0,48,95);
}

.nhl .t30 .bgc {
    background-color: rgb(0,82,50);
}

/* UNIVERSAL SIZES */
.logo-120,
.logo-30,
.logo-38,
.logo-54 {
    background-repeat: no-repeat;
    display: inline-block;
    margin: 2px;
}

.logo-120 {
    height: 120px;
    width: 120px;
}

.logo-30 {
    height: 30px;
    width: 30px;
}

.logo-38 {
    height: 38px;
    width: 38px;
}

.logo-54 {
    height: 54px;
    width: 54px;
}

/* BACKGROUND POSITIONS */
.t1 .logo-120,
.t1 .logo-30,
.t1 .logo-38,
.t1 .logo-54,
.t979 .logo-120,
.t979 .logo-30,
.t979 .logo-38,
.t979 .logo-54,
.t202 .logo-120,
.t202 .logo-30,
.t202 .logo-38,
.t202 .logo-54 {
    background-position: 0 0;
}

.t2 .logo-120,
.t981 .logo-120,
.t204 .logo-120 {
    background-position: -120px 0;
}

.t2 .logo-30,
.t981 .logo-30,
.t204 .logo-30 {
    background-position: -30px 0;
}

.t2 .logo-38,
.t981 .logo-38,
.t204 .logo-38 {
    background-position: -38px 0;
}

.t2 .logo-54,
.t981 .logo-54,
.t204 .logo-54 {
    background-position: -54px 0;
}

.t3 .logo-120,
.t984 .logo-120,
.t205 .logo-120 {
    background-position: -240px 0;
}

.t3 .logo-30,
.t984 .logo-30,
.t205 .logo-30 {
    background-position: -60px 0;
}

.t3 .logo-38,
.t984 .logo-38,
.t205 .logo-38 {
    background-position: -76px 0;
}

.t3 .logo-54,
.t984 .logo-54,
.t205 .logo-54 {
    background-position: -108px 0;
}

.t4 .logo-120,
.t985 .logo-120,
.t206 .logo-120 {
    background-position: -360px 0;
}

.t4 .logo-30,
.t985 .logo-30,
.t206 .logo-30 {
    background-position: -90px 0;
}

.t4 .logo-38,
.t985 .logo-38,
.t206 .logo-38 {
    background-position: -114px 0;
}

.t4 .logo-54,
.t985 .logo-54,
.t206 .logo-54 {
    background-position: -162px 0;
}

.t5 .logo-120,
.t986 .logo-120,
.t207 .logo-120 {
    background-position: -480px 0;
}

.t5 .logo-30,
.t986 .logo-30,
.t207 .logo-30 {
    background-position: -120px 0;
}

.t5 .logo-38,
.t986 .logo-38,
.t207 .logo-38 {
    background-position: -152px 0;
}

.t5 .logo-54,
.t986 .logo-54,
.t207 .logo-54 {
    background-position: -216px 0;
}

.t6 .logo-120,
.t990 .logo-120,
.t208 .logo-120 {
    background-position: -600px 0;
}

.t6 .logo-30,
.t990 .logo-30,
.t208 .logo-30 {
    background-position: -150px 0;
}

.t6 .logo-38,
.t990 .logo-38,
.t208 .logo-38 {
    background-position: -190px 0;
}

.t6 .logo-54,
.t990 .logo-54,
.t208 .logo-54 {
    background-position: -270px 0;
}

.t7 .logo-120,
.t991 .logo-120,
.t209 .logo-120 {
    background-position: -720px 0;
}

.t7 .logo-30,
.t991 .logo-30,
.t209 .logo-30 {
    background-position: -180px 0;
}

.t7 .logo-38,
.t991 .logo-38,
.t209 .logo-38 {
    background-position: -228px 0;
}

.t7 .logo-54,
.t991 .logo-54,
.t209 .logo-54 {
    background-position: -324px 0;
}

.t8 .logo-120,
.t992 .logo-120,
.t210 .logo-120 {
    background-position: -840px 0;
}

.t8 .logo-30,
.t992 .logo-30,
.t210 .logo-30 {
    background-position: -210px 0;
}

.t8 .logo-38,
.t992 .logo-38,
.t210 .logo-38 {
    background-position: -266px 0;
}

.t8 .logo-54,
.t992 .logo-54,
.t210 .logo-54 {
    background-position: -378px 0;
}

.t9 .logo-120,
.t993 .logo-120,
.t213 .logo-120 {
    background-position: -960px 0;
}

.t9 .logo-30,
.t993 .logo-30,
.t213 .logo-30 {
    background-position: -240px 0;
}

.t9 .logo-38,
.t993 .logo-38,
.t213 .logo-38 {
    background-position: -304px 0;
}

.t9 .logo-54,
.t993 .logo-54,
.t213 .logo-54 {
    background-position: -432px 0;
}

.t10 .logo-120,
.t994 .logo-120,
.t215 .logo-120 {
    background-position: -1080px 0;
}

.t10 .logo-30,
.t994 .logo-30,
.t215 .logo-30 {
    background-position: -270px 0;
}

.t10 .logo-38,
.t994 .logo-38,
.t215 .logo-38 {
    background-position: -342px 0;
}

.t10 .logo-54,
.t994 .logo-54,
.t215 .logo-54 {
    background-position: -486px 0;
}

.t11 .logo-120,
.t995 .logo-120,
.t218 .logo-120 {
    background-position: -1200px 0;
}

.t11 .logo-30,
.t995 .logo-30,
.t218 .logo-30 {
    background-position: -300px 0;
}

.t11 .logo-38,
.t995 .logo-38,
.t218 .logo-38 {
    background-position: -380px 0;
}

.t11 .logo-54,
.t995 .logo-54,
.t218 .logo-54 {
    background-position: -540px 0;
}

.t12 .logo-120,
.t996 .logo-120,
.t219 .logo-120 {
    background-position: -1320px 0;
}

.t12 .logo-30,
.t996 .logo-30,
.t219 .logo-30 {
    background-position: -330px 0;
}

.t12 .logo-38,
.t996 .logo-38,
.t219 .logo-38 {
    background-position: -418px 0;
}

.t12 .logo-54,
.t996 .logo-54,
.t219 .logo-54  {
    background-position: -594px 0;
}

.t13 .logo-120,
.t997 .logo-120 {
    background-position: -1440px 0;
}

.t13 .logo-30,
.t997 .logo-30 {
    background-position: -360px 0;
}

.t13 .logo-38,
.t997 .logo-38 {
    background-position: -456px 0;
}

.t13 .logo-54,
.t997 .logo-54 {
    background-position: -648px 0;
}

.t14 .logo-120,
.t999 .logo-120 {
    background-position: -1560px 0;
}

.t14 .logo-30,
.t999 .logo-30 {
    background-position: -390px 0;
}

.t14 .logo-38,
.t999 .logo-38 {
    background-position: -494px 0;
}

.t14 .logo-54,
.t999 .logo-54 {
    background-position: -702px 0;
}

.t15 .logo-120,
.taa0 .logo-120 {
    background-position: -1680px 0;
}

.t15 .logo-30,
.taa0 .logo-30 {
    background-position: -420px 0;
}

.t15 .logo-38,
.taa0 .logo-38 {
    background-position: -532px 0;
}

.t15 .logo-54,
.taa0 .logo-54 {
    background-position: -756px 0;
}

.t16 .logo-120,
.tzp6 .logo-120 {
    background-position: -1800px 0;
}

.t16 .logo-30,
.tzp6 .logo-30 {
    background-position: -450px 0;
}

.t16 .logo-38,
.tzp6 .logo-38 {
    background-position: -570px 0;
}

.t16 .logo-54,
.tzp6 .logo-54 {
    background-position: -810px 0;
}

.t17 .logo-120,
.tzp8 .logo-120 {
    background-position: -1920px 0;
}

.t17 .logo-30,
.tzp8 .logo-30 {
    background-position: -480px 0;
}

.t17 .logo-38,
.tzp8 .logo-38 {
    background-position: -608px 0;
}

.t17 .logo-54,
.tzp8 .logo-54 {
    background-position: -864px 0;
}

.t18 .logo-120,
.tzp9 .logo-120 {
    background-position: -2040px 0;
}

.t18 .logo-30,
.tzp9 .logo-30 {
    background-position: -510px 0;
}

.t18 .logo-38,
.tzp9 .logo-38 {
    background-position: -646px 0;
}

.t18 .logo-54,
.tzp9 .logo-54 {
    background-position: -918px 0;
}

.t19 .logo-120,
.tzr2 .logo-120 {
    background-position: -2160px 0;
}

.t19 .logo-30,
.tzr2 .logo-30 {
    background-position: -540px 0;
}

.t19 .logo-38,
.tzr2 .logo-38 {
    background-position: -684px 0;
}

.t19 .logo-54,
.tzr2 .logo-54 {
    background-position: -972px 0;
}

.t20 .logo-120 {
    background-position: -2280px 0;
}

.t20 .logo-30 {
    background-position: -570px 0;
}

.t20 .logo-38 {
    background-position: -722px 0;
}

.t20 .logo-54 {
    background-position: -1026px 0;
}

.t21 .logo-120 {
    background-position: -2400px 0;
}

.t21 .logo-30 {
    background-position: -600px 0;
}

.t21 .logo-38 {
    background-position: -760px 0;
}

.t21 .logo-54 {
    background-position: -1080px 0;
}

.t22 .logo-120 {
    background-position: -2520px 0;
}

.t22 .logo-120 {
    background-position: -630px 0;
}

.t22 .logo-38 {
    background-position: -798px 0;
}

.t22 .logo-54 {
    background-position: -1134px 0;
}

.t23 .logo-120 {
    background-position: -2640px 0;
}

.t23 .logo-38 {
    background-position: -660px 0;
}

.t23 .logo-38 {
    background-position: -836px 0;
}

.t23 .logo-54 {
    background-position: -1188px 0;
}

.t24 .logo-120 {
    background-position: -2760px 0;
}

.t24 .logo-30 {
    background-position: -690px 0;
}

.t24 .logo-38 {
    background-position: -874px 0;
}

.t24 .logo-54 {
    background-position: -1242px 0;
}

.t25 .logo-120 {
    background-position: -2880px 0;
}

.t25 .logo-30 {
    background-position: -720px 0;
}

.t25 .logo-38 {
    background-position: -912px 0;
}

.t25 .logo-54 {
    background-position: -1296px 0;
}

.t26 .logo-120 {
    background-position: -3000px 0;
}

.t26 .logo-30 {
    background-position: -750px 0;
}

.t26 .logo-38 {
    background-position: -950px 0;
}

.t26 .logo-54 {
    background-position: -1350px 0;
}

.t27 .logo-120 {
    background-position: -3120px 0;
}

.t27 .logo-30 {
    background-position: -780px 0;
}

.t27 .logo-38 {
    background-position: -988px 0;
}

.t27 .logo-54 {
    background-position: -1404px 0;
}

.t28 .bgc {
    background-color: rgb(0,34,68);
}

.t28 .logo-120 {
    background-position: -3240px 0;
}

.t28 .logo-30 {
    background-position: -810px 0;
}

.t28 .logo-38 {
    background-position: -1026px 0;
}

.t28 .logo-54 {
    background-position: -1458px 0;
}

.t29 .logo-120 {
    background-position: -3360px 0;
}

.t29 .logo-30 {
    background-position: -840px 0;
}

.t29 .logo-38 {
    background-position: -1064px 0;
}

.t29 .logo-54 {
    background-position: -1512px 0;
}

.t30 .logo-120 {
    background-position: -3480px 0;
}

.t30 .logo-30 {
    background-position: -870px 0;
}

.t30 .logo-38 {
    background-position: -1102px 0;
}

.t30 .logo-54 {
    background-position: -1566px 0;
}

.t31 .logo-120 {
    background-position: -3600px 0;
}

.t31 .logo-30 {
    background-position: -900px 0;
}

.t31 .logo-38 {
    background-position: -1140px 0;
}

.t31 .logo-54 {
    background-position: -1620px 0;
}

.t32 .logo-120 {
    background-position: -3720px 0;
}

.t32 .logo-30 {
    background-position: -930px 0;
}

.t32 .logo-38 {
    background-position: -1178px 0;
}

.t32 .logo-54 {
    background-position: -1674px 0;
}
