/*  air-force-falcons ncaaf, b, wb */
.t451 .bgc,
.ta01 .bgc,
.tp02 .bgc {
    background-color: rgb(0,0,0);
}

/*  akron-zips ncaaf, b ,wb */
.t452 .bgc,
.ta02 .bgc,
.tp08 .bgc {
    background-color: rgb(0,39,93);
}

/*  alabama-a-and-m-bulldogs, ncaa, b, wb [lady-bulldogs]   */
/* no ncaaf */
.ta04 .bgc,
.to55 .bgc {
    background-color: rgb(100,100,100);
}     

/*  alabama-crimson-tide ncaaf, b, wb   */
.t453 .bgc,
.ta03 .bgc,
.t031 .bgc {
    background-color: rgb(168,5,50);
}

/*  alabama-state-hornets, ncaaf, b, wb [lady-hornets]  */
/* ncaaf */
.ta05 .bgc,
.tp09 .bgc {
    background-color: rgb(100,100,100);
}

/*  albany-great-danes no ncaaf, b, wb */
.ta07 .bgc,
.tp10 .bgc {
    background-color: rgb(41,37,98);
}

/*  alcorn-state-braves, no ncaaf, b, wb [lady-braves] */
.ta08 .bgc,
.tp11 .bgc {
    background-color: rgb(100,100,100);    
}     

/*  american-eagles no ncaaf, b, wb */
.ta09 .bgc,
.tp12 .bgc {
    background-color: rgb(100,100,100);
}     

/*  appalachian-state-mountaineers no ncaaf, b, wb */
.ta10 .bgc,
.tp13 .bgc {
    background-color: rgb(100,100,100);
}

/*  arizona-state-sun-devils ncaaf, b, wb   */
.t458 .bgc,
.ta12 .bgc,
.tn69 .bgc {
    background-color: rgb(141,24,60);
}

/*  arizona-wildcats ncaaf, b, wb   */
.t457 .bgc, 
.ta11 .bgc,
.tn23 .bgc {
    background-color: rgb(0,62,126);
}

/*.arkansas-little-rock-trojans, no ncaaf, b, wb [lady-trojans] */
.ta15 .bgc,
.to08 .bgc {
    background-color: rgb(100,100,100);
}        

/*  arkansas-pine-bluff-golden-lions no ncaaf, b, wb */
.ta16 .bgc,
.tp14 .bgc {
    background-color: rgb(100,100,100);
}        

/*  arkansas-razorbacks, ncaaf, b, wb [ladybacks] */
.t459 .bgc,
.ta13 .bgc,
.to29 .bgc {
    background-color: rgb(171,29,61);
}

/*  arkansas-state-red-wolves ncaaf, b, wb */
.t460 .bgc,
.ta14 .bgc,
.tp15 .bgc {
    background-color: rgb(100,100,100);
}

/*.army-black-knights ncaaf, b, wb */
.t461 .bgc,
.ta17 .bgc,
.to53 .bgc {
    background-color: rgb(100,100,100);
}

/*  auburn-tigers ncaaf, b, wb  */
.t462 .bgc,
.ta18 .bgc,
.tn22 .bgc {
    background-color: rgb(0,42,92);
}

/*  austin-peay-governors, no ncaaf, b, wb [lady-govs]  */
.ta19 .bgc,
.tp07 .bgc {
    background-color: rgb(0,0,0);
}

/*  ball-state-cardinals ncaaf, b, wb */
.t464 .bgc,
.ta20 .bgc,
.tp16 .bgc {
    background-color: rgb(100,100,100);
}

/*  baylor-bears ncaaf, b, wb [lady-bears] */
.t465 .bgc,
.ta21 .bgc,
.to05 .bgc {
    background-color: rgb(8,73,51);
}

/*  belmont-bruins no ncaaf, b, wb */ 
.ta22 .bgc,
.tp17 .bgc {
    background-color: rgb(230,53,78);
}

/*  bethune-cookman-wildcats, no ncaaf, b, wb [lady-cat]s */
.ta23 .bgc,
.tp18 .bgc {
    background-color: rgb(134,0,56);
}

/*  binghamton-bearcats no ncaaf, b, wb */
.ta24 .bgc,
.tp19 .bgc {
    background-color: rgb(0,111,83);
}

/*  boise-state-broncos no ncaaf, b, wb */
.t467 .bgc, 
.ta26 .bgc,
.to93 .bgc {
    background-color: rgb(45,68,146);
}

/*  .boston-college-eagles ncaaf, b, wb */
.t468 .bgc,
.ta27 .bgc,
.to50 .bgc {
    background-color: rgb(144,0,40);
}

/*.boston-university-terriers men's, women's */
.ta28 .bgc,
.tn66 .bgc {
    background-color: rgb(0,0,0);
}

/*  bowling-green-falcons */
.ta29 .bgc,
.tp21 .bgc {
    background-color: rgb(78,34,0);
}

/*  bradley-braves men's, women's */
.ta30 .bgc,
.tp01 .bgc {
    background-color: rgb(226,56,63);
}

/*  brown-bears men's, women's*/
.ta32 .bgc,
.tp22 .bgc {
    background-color: rgb(84,48,25);
}

/*  bryant-bulldogs men's, women's */
.tjl9 .bgc,
.trh4 .bgc {
    background-color: rgb(179,168,147);
}

/*  bucknell-bison men's, women's */
.ta33 .bgc,
.tp23 .bgc {
    background-color: rgb(100,100,100);
}      

/*  buffalo-bulls men's, women's*/
.ta34 .bgc,
.to35 .bgc {
    background-color: rgb(0,104,179);
}

/*  butler-bulldogs men's, women's */
.ta35 .bgc,
.tp24 .bgc {
    background-color: rgb(0,0,0);
}

/*  byu-cougars ncaaf, b, wb */
.t471 .bgc,
.ta31 .bgc,
.tn87 .bgc {
    background-color: rgb(100,100,100);
}

/*  california-golden-bears ncaaf, b, wb */
.t474 .bgc,
.ta36 .bgc,
.tn84 .bgc {
    background-color: rgb(0,55,104);
}

/*  .cal-poly-slo-mustangs no ncaaf, b, wb */
.ta40 .bgc,
.tp25 .bgc {
    background-color: rgb(32,110,89);
}

/*  cs-bakersfield-roadrunners no ncaaf, b, wb */
.tg97 .bgc,
.tra3 .bgc {
    background-color: rgb(0,0,0);
}

/*  cs-fullerton-titans no ncaaf, b, wb */
.ta41 .bgc,
.tp55 .bgc {
    background-color: rgb(0,55,104);
}

/*  cs-northridge-matadors no ncaaf, b, wb */
.ta42 .bgc,
.tp39 .bgc {
    background-color: rgb(205,16,65);
}

/*  campbell-fighting-camels, no ncaaf, b, wb [lady-camels] */
.ta43 .bgc,
.tp26 .bgc {
    background-color: rgb(35,31,32);
}

/*  canisius-golden-griffins no ncaaf, b, wb */
.ta44 .bgc,
.tp27 .bgc {
    background-color: rgb(37,39,126);
}

/*  central-arkansas-bears, no ncaaf, b, wb [sugar-bears] */
.td56 .bgc,
.tr39 .bgc {
    background-color: rgb(100,100,100);
}      

/*  central-connecticut-blue-devils no ncaaf, b, wb */
.ta46 .bgc,
.tp29 .bgc {
    background-color: rgb(0,82,155);
}

/*  central-michigan-chippewas ncaaf, b, wb */
.t475 .bgc,
.ta48 .bgc,
.tp30 .bgc {
    background-color: rgb(0,0,0);
}

/*  charleston-southern-buccaneers, no ncaaf, b, wb [lady-buccaneers] */
.ta50 .bgc,
.tp31 .bgc {
    background-color: rgb(0,0,0);
}

/*  charlotte-49ers no ncaaf, b, wb */
.ta51 .bgc,
.to95 .bgc {
    background-color: rgb(155,132,73);
}

/*  chattanooga-mocs, no ncaaf, b, wb [lady-mocs] */
.ta52 .bgc,
.tn50 .bgc {
    background-color: rgb(100,100,100);
}

/*  chicago-state-cougars, no ncaaf, b, wb [lady-cougars] */
.ta53 .bgc,
.tp32 .bgc {
    background-color: rgb(13,107,59);
}

/*   cincinnati-bearcats ncaaf, b, wb */
.t476 .bgc,
.ta54 .bgc,
.t023 .bgc {
    background-color: rgb(50,50,50);
}

/*  clemson-tigers,  ncaaf, b, wb   [lady-tigers] */
.t478 .bgc,
.ta56 .bgc,
.tn89 .bgc {
    background-color: rgb(0,0,0);
}

/*  cleveland-state-vikings no ncaaf, b, wb */
.ta57 .bgc,
.tp33 .bgc {
    background-color: rgb(0,87,61);
}

/*  coastal-carolina-chanticleers, no ncaaf, b, wb [lady-chanticleers] */
.ta58 .bgc,
.tp34 .bgc {
    background-color: rgb(0,130,133);
}

/*  colgate-red-raiders men's, women's */ 
.ta59 .bgc,
.tp05 .bgc {
    background-color: rgb(100,100,100);
}     

/*  college-of-charleston-cougars no ncaaf, b, wb */
.ta49 .bgc,
.tp35 .bgc {
    background-color: rgb(100,100,100);
}

/* colorado-state-rams ncaaf, b, wb */
.t481 .bgc,
.ta61 .bgc,
.to25 .bgc {
    background-color: rgb(1,105,82);
}

/*  colorado-buffaloes ncaaf, b, wb */
.t480 .bgc,
.ta60 .bgc,
.tn20 .bgc {
    background-color: rgb(0,0,0);
}

/*  columbia-lions no ncaaf, b, wb */
.ta62 .bgc,
.tp36 .bgc {
    background-color: rgb(0,0,0);
}

/*  coppin-state-eagles, no ncaaf, b, wb [lady-eagles] */
.ta64 .bgc,
.tp37 .bgc {
    background-color: rgb(0,0,0);
}

/*  creighton-bluejays no ncaaf, b, wb */
.ta66 .bgc,
.tn88 .bgc {
    background-color: rgb(0,0,0);
}
/*  dayton-flyers ncaaf, b, wb */
.ta69 .bgc,
.tp42 .bgc {
    background-color: rgb(0,0,0);
}
/*  depaul-blue-demons no ncaaf, b, wb */
/*  duke-blue-devils ncaaf, b, wb */
.ta73 .bgc,
.to39 .bgc,
.t490 .bgc,
.ta77 .bgc,
.tn03 .bgc {
    background-color: rgb(0,0,0);
}

/*  connecticut-huskies ncaaf, b, wb */
.t483 .bgc,
.ta63 .bgc,
.tn01 .bgc {
    background-color: rgb(75,83,101);
}

/*  cornell-big-red no ncaaf, b, wb */
.ta65 .bgc,
.tp38 .bgc {
    background-color: rgb(226,56,63);
}

/*  dartmouth-big-green no ncaaf, b, wb */
.ta67 .bgc,
.tp40 .bgc {
    background-color: rgb(46,118,73);
}

/*  davidson-wildcats no ncaaf, b, wb */
.ta68 .bgc,
.tp41 .bgc {
    background-color: rgb(100,100,100);    
}

/*  delaware-fightin-blue-hens no ncaaf, b, wb */
.ta70 .bgc,
.tp43 .bgc {
    background-color: rgb(0,105,170);
}

/*  delaware-state-hornets, no ncaaf, b, wb [lady-hornets] */
.ta71 .bgc,
.tp44 .bgc {
    background-color: rgb(237,27,46);
}

/*  denver-pioneers no ncaaf, b, wb */
.ta72 .bgc,
.tp45 .bgc {
    background-color: rgb(100,100,100);
}

/*  detroit-titans no ncaaf, b, wb*/
.ta74 .bgc,
.to90 .bgc {
    background-color: rgb(229,25,55);
}

/*  drake-bulldogs no ncaaf, b, wb */
.ta75 .bgc,
.tn59 .bgc {
    background-color: rgb(0,84,159);
}

/*  drexel-dragons no ncaaf, b, wb */
.ta76 .bgc,
.tp46 .bgc {
    background-color: rgb(0,56,118);
}

/*  duquesne-dukes no ncaaf, b, wb */
.ta78 .bgc,
.tp47 .bgc {
    background-color: rgb(0,45,98);
}

/*  east-carolina-pirates ncaaf, b, wb */
.t491 .bgc,
.ta79 .bgc,
.to96 .bgc {
    background-color: rgb(92,56,150);
}

/*  eastern-illinois-panthers no ncaaf, b, wb */
.ta81 .bgc,
.tp49 .bgc {
    background-color: rgb(35,31,32);
}

/*  eastern-kentucky-colonels, no ncaaf, b, wb [lady-colonels] */
.ta82 .bgc,
.to60 .bgc {
    background-color: rgb(131,38,65);
}

/*  eastern-michigan-eagles ncaaf, b, wb */
.t495 .bgc,
.ta83 .bgc,
.tp04 .bgc {
    background-color: rgb(0,112,69);
}

/*  eastern-washington-eagles no ncaaf, b, wb */
.ta84 .bgc,
.tp50 .bgc {
    background-color: rgb(70,70,70);
}

/*  elon-phoenix no ncaaf, b, wb */
.ta85 .bgc,
.tn31 .bgc {
    background-color: rgb(100,100,100);
}

/*  etsu-buccaneers, no ncaaf, b, wb [lady-bucs] */
.ta80 .bgc
.tp48 .bgc {
    background-color: rgb(0,107,183);
}

/*  evansville-purple-aces no ncaaf, b, wb */
.ta86 .bgc,
.tp51 .bgc {
    background-color: rgb(92,56,150);
}

/*  fairfield-stags no ncaaf, b, wb */
.ta87 .bgc,
.tq34 .bgc {
    background-color: rgb(0,0,0);
}

/*  fairleigh-dickinson-knights no ncaaf, b, wb  */
.ta88 .bgc,
.tp52 .bgc {
background-color: rgb(0,90,156);
}

/*  fiu-golden-panthers */
.ta92 .bgc,
.tp54 .bgc {
    background-color: rgb(100,100,100);
}     

/*  Florida-A&M rattlers, no ncaaf, b, wb [rattlerettes] */
.ta90 .bgc,
.tn47 .bgc {
    background-color: rgb(19,155,103);
}

/*  florida-atlantic-owls, lady-owls */
.t820 .bgc,
.ta91 .bgc,
.tp53 .bgc {
    background-color: rgb(100,100,100);
}      

/* USED EYE DROPPER */
/* Florida-gators, ncaaf, b, wb [lady-gators] */
.t496 .bgc,
.ta89 .bgc,
.to22 .bgc {
    background-color: rgb(246,85,15);
}

/*  florida-gulf-coast-eagles no ncaaf, b, wb */
.tf75 .bgc,
.trC7 .bgc {
    background-color: rgb(0,49,105);
}

/*  florida-state-seminoles ncaaf, b, wb */
.t498 .bgc,
.ta93 .bgc,
.tn54 .bgc {
    background-color: rgb(181,152,89);
}

/*  fordham-rams no ncaaf, b, wb */
.ta94 .bgc,
.tn51 .bgc {
    background-color: rgb(134,0,56); 
}

/*  fresno-state-bulldogs ncaaf, b, wb */
.t499 .bgc,
.ta95 .bgc,
.tn85 .bgc {
    background-color: rgb(229,25,55);
}

/*  furman-paladins, no ncaaf, b, wb [lady-paladin]s */
.ta96 .bgc,
.to43 .bgc {
    background-color: rgb(100,100,100);
}

/*  gardner-webb-runnin-bulldogs no ncaaf, b, wb */
.ta97 .bgc,
.tp56 .bgc {
    background-color: rgb(191,44,55);
}

/*  george-mason-patriots no ncaaf, b, wb */
.ta98 .bgc,
.tp57 .bgc {
    background-color: rgb(0,105,64);
}

/*  georgetown-hoyas no  ncaaf, b, wb*/
.tb01 .bgc,
.to56 .bgc {
    background-color: rgb(0,39,93);
}

/*  george-washington-colonials no ncaaf, b, wb */
.ta99 .bgc,
.tn67 .bgc {
    background-color: rgb(0,45,98);
}

/*  georgia-bulldogs,  ncaaf, b, wb [lady-bulldogs] */
.t502 .bgc,
.tb02 .bgc,
.tn11 .bgc {
    background-color: rgb(237,28,36);
}

/*  georgia-southern-eagles, no ncaaf, b, wb [lady-eagles] */
.tb03 .bgc,
.tn58 .bgc {
    background-color: rgb(100,100,100);
}

/*  georgia-state-panthers, no ncaaf, b, wb [lady-panthers] */
/*  georgia-tech-yellow-jackets, ncaaf, b, wb */
.tb04 .bgc,
.tn34 .bgc,
.t504 .bgc,
.tb05 .bgc,
.to58 .bgc {
    background-color: rgb(0,0,0);
}

/*  gonzaga-bulldogs no ncaaf, b, wb */
.tb06 .bgc,
.tn62 .bgc {
    background-color: rgb(100,100,100);
}

/*  grambling-state-tigers, no ncaaf, b, wb[lady-tigers] */
.tb07 .bgc,
.tp58 .bgc {
    background-color: rgb(100,100,100);
} 

/*  green-bay-phoenix no ncaaf, b, wb */
.td23 .bgc,
.to07 .bgc {
    background-color: rgb(0,111,81);
}

/*  hampton-pirates, no ncaaf, b, wb[lady-pirates] */
.tb08 .bgc,
.to40 .bgc {
    background-color: rgb(0,97,170);
}

/*  hartford-hawks no ncaaf, b, wb */
.tb09 .bgc,
.tn92 .bgc {
    background-color: rgb(0,0,0);
}

/*  harvard-crimson no ncaaf, b, wb */
.tb10 .bgc,
.tn43 .bgc {
    background-color: rgb(209,44,78);
}

/*  hawaii-rainbow-warriors ncaaf, b, wb */
.t507 .bgc,
.tb11 .bgc,
.tn94 .bgc {
    background-color: rgb(0,87,55);
}

/*  high-point-panthers no ncaaf, b, wb */
.tb12 .bgc,
.tp59 .bgc{
    background-color: rgb(38,57,151);
}

/*  hofstra-pride no ncaaf, b, wb */
.tb13 .bgc,
.tn46 .bgc {
    background-color: rgb(17,88,156);
}

/*  holy-cross-crusaders, no  ncaaf, b, wb  */
/*  houston-baptist-huskies no ncaaf, b, wb */
.tb14 .bgc,
.tn90 .bgc,
.tg79 .bgc,
.tq25 .bgc {
    background-color: rgb(0,82,156);
}

/*  houston-cougars no ncaaf, b, wb */
.t509 .bgc,
.tb15 .bgc,
.to03 .bgc {
    background-color: rgb(229,25,55);
}

/*  howard-bison, no ncaaf, b, wb [lady-bison] */
/*  idaho-state-bengals no ncaaf, b, wb */
.tb16 .bgc,
.tp60 .bgc,
.tb18 .bgc,
.tn73 .bgc {
    background-color: rgb(0,0,0);
}

/*  idaho-vandals ncaaf, b, wb  */
.t511 .bgc,
.tb17 .bgc,
.tp61 .bgc {
    background-color: rgb(100,100,100);
}       

/*  illinois-fighting-illini ncaaf, b, wb */
.t513 .bgc,
.tb19 .bgc,
.tn52 .bgc {
    background-color: rgb(245,128,38);
}

/*  illinois-state-redbirds no ncaaf, b, wb */
.tb20 .bgc,
.tp63 .bgc {
    background-color: rgb(204,60,77);
}

/*indiana-hoosiers ncaaf, b, wb */
.t515 .bgc,
.tb22 .bgc,
.to84 .bgc {
    background-color: rgb(178,7,55);
}

/*  indiana-state-sycamores, no ncaaf, b, wb */
/*  iowa-hawkeyes  ncaaf, b, wb */
.tb23 .bgc,
.tp64 .bgc,
.t517 .bgc,
.tb27 .bgc,
.to15 .bgc {
    background-color: rgb(0,0,0);
}

/*  iona-gaels no ncaaf, b, wb */
.tb26 .bgc,
.tp65 .bgc {
    background-color: rgb(144,0,40);
}

/*  iowa-state-cyclones */
.t518 .bgc,
.tb28 .bgc,
.to86 .bgc {
    background-color: rgb(132,10,45);
}

/*  ipfw-mastodons no ncaaf, b, wb */
.tb25 .bgc,
.tp66 .bgc {
    background-color: rgb(100,100,100);
}

/*  iupui-jaguars no ncaaf, b, wb */
.tb24 .bgc,
.tn95 .bgc {
    background-color: rgb(100,100,100);
}

/*  jackson-state-tigers, no ncaaf, b, wb [lady-tigers] */
.tb29 .bgc,
.tp67 .bgc {
    background-color: rgb(100,100,100);
}

/*  jacksonville-dolphins no ncaaf, b, wb */
.tb30 .bgc,
.tp68 .bgc {
    background-color: rgb(0,101,83);
}

/*  jacksonville-state-gamecocks no ncaaf, b, wb */
.tb31 .bgc,
.tp69 .bgc {
    background-color: rgb(224,62,64);
}

/*  james-madison-dukes no ncaaf, b, wb */
.tb32 .bgc,
.to46 .bgc {
    background-color: rgb(51,42,134);
}

/*  kansas-jayhawks ncaaf, b, wb */
.t521 .bgc,
.tb33 .bgc,
.tn74 .bgc {
    background-color: rgb(0,48,123);
}

/*  kansas-state-wildcats ncaaf, b, wb */
.t522 .bgc,
.tb34 .bgc,
.tn05 .bgc {
    background-color: rgb(78,38,131);
}

/*  kennesaw-state-owls no ncaaf, b, wb */
.te97 .bgc,
.tr22 .bgc {
    background-color: rgb(0,0,0);
}

/*  kent-state-golden-flashes ncaaf, b, wb */
.t523 .bgc,
.tb35 .bgc,
.to32 .bgc {
    background-color: rgb(4,28,74);
}

/*  kentucky-wildcats */
.t524 .bgc,
.tb36 .bgc,
.tn60 .bgc {
    background-color: rgb(0,97,170);
}

/* USED EYEDROPPER */
/*  lafayette-leopards no ncaaf, b, wb */
.tb38 .bgc,
.tp71 .bgc {
    background-color: rgb(106,1,32);
}

/*  lamar-cardinals, no ncaaf, b, wb [lady-cardinals] */
.tb39 .bgc,
.to64 .bgc {
    background-color: rgb(100,100,100);
}

/*  la-salle-explorers no ncaaf, b, wb */
.tb37 .bgc,
.tp70 .bgc {
    background-color: rgb(0,70,119);
}

/* USED EYEDROPPER */
/*  lehigh-mountain-hawks no ncaaf, b, wb */
.tb40 .bgc,
.tn83 .bgc {
    background-color: rgb(84,45,6);
}

/*  liberty-flames no ncaaf, b, wb */
.tb41 .bgc,
.to79 .bgc {
    background-color: rgb(8,21,40);
}

/*  lipscomb-bisons, no ncaaf, b, wb [lady-bisons] */
.tb42 .bgc,
.tp06 .bgc {
    background-color: rgb(28,18,52);
}

/*  long-beach-state-49ers no ncaaf, b, wb */
/*  long-island-university-blackbirds no ncaaf, b, wb */
/*  longwood-lancers no ncaaf, b, wb */
/*  louisville-cardinals ncaaf, b, wb */
/*  memphis-tigers, ncaaf, b, wb [lady-tigers] */
/*  michigan-state-spartans ncaaf, b, wb */
.tb43 .bgc,
.tp72 .bgc,
.tb44 .bgc,
.tp73 .bgc,
.tg89 .bgc,
.tq37 .bgc,
.t531 .bgc,
.tb49 .bgc,
.to69 .bgc,
.t537 .bgc,
.tb63 .bgc,
.to89 .bgc,
.t541 .bgc,
.tb68 .bgc,
.tn64 .bgc {
    background-color: rgb(0,0,0);
}

/*  louisiana-monroe-warhawks no ncaaf, b, wb */
.tb47 .bgc,
.tn86 .bgc {
    background-color: rgb(100,100,100);
}

/*  louisiana-tech-bulldogs, ncaaf, b, wb [lady-bulldogs] */
.t530 .bgc,
.tb46 .bgc,
.tn12 .bgc {
    background-color: rgb(100,100,100);
}

/*  louisiana-lafayette-ragin-cajuns ncaaf, b, wb */
.t601 .bgc,
.tb47 .bgc,
.tq18 .bgc {
    background-color: rgb(100,100,100);
}

/*  loyola-greyhounds no ncaaf, b, wb */
.tb52 .bgc,
.tp74 .bgc {
    background-color: rgb(9,75,45);
}

/* I EYEDROPPED THIS COLOR BASED ON PHOTO */
/*  loyola-marymount-lions no ncaaf, b, wb */
.tb50 .bgc,
.to70 .bgc {
    background-color: rgb(124,33,38);
}

/*  loyola-ramblers no ncaaf, b, wb */
.tb51 .bgc,
.to68 .bgc {
    background-color: rgb(87,28,31);
}

/*  lsu-tigers,  ncaaf, b, wb [lady-tigers] */
.t529 .bgc,
.tb45 .bgc,
.tn09 .bgc {
    background-color: rgb(52,42,123);
}

/*  maine-black-bears no ncaaf, b, wb */
.tb53 .bgc,
.tp03 .bgc {
    background-color: rgb(0,33,68);
}

/*  manhattan-jaspers, no ncaaf, b, wb [lady-jaspers] */
.tb54 .bgc,
.tp75 .bgc {
    background-color: rgb(174,125,78);
}

/*  marist-red-foxes no ncaaf, b, wb */
.tb55 .bgc,
.to54 .bgc {
    background-color: rgb(229,25,55);
}

/*  marquette-golden-eagles no ncaaf, b, wb */
.tb56 .bgc,
.to97 .bgc {
    background-color: rgb(16,78,132);
}

/*  marshall-thundering-herd ncaaf, b, wb */
.t533 .bgc,
.tb57 .bgc,
.tp76 .bgc {
    background-color: rgb(100,100,100);
}       

/*  maryland-terrapins ncaaf, b, wb */
.t534 .bgc,
.tb58 .bgc,
.to04 .bgc {
    background-color: rgb(229,25,55);
}

/*  massachusetts-minutemen, no ncaaf, b, wb [minutewomen] */
.tb61 .bgc,
.tp77 .bgc {
    background-color: rgb(168,5,50);
}

/*  mcneese-state-cowboys, no ncaaf, b, wb [cowgirls] */
.tb62 .bgc,
.tp78 .bgc {
    background-color: rgb(100,100,100);
}

/*  mercer-bears no ncaaf, b, wb */
.tb64 .bgc,
.tp80 .bgc {
    background-color: rgb(59,27,6);
}

/*  miami-hurricanes ncaaf, b, wb */
.t538 .bgc,
.tb65 .bgc,
.to72 .bgc {
    background-color: rgb(0,88,56);
}

/*  miami-redHawks ncaaf, b, wb */
.t539 .bgc,
.tb66 .bgc,
.tp81 .bgc {
    background-color: rgb(229,25,55);
}

/*  michigan-wolverines ncaaf, b, wb */
.t540 .bgc,
.tb67 .bgc,
.tn30 .bgc {
    background-color: rgb(0,39,93);
}

/*  middle-tennessee-blue-raiders no ncaaf, b, wb */
.t542 .bgc,
.tb69 .bgc,
.to10 .bgc {
    background-color: rgb(100,100,100);
}

/*  wis-milwaukee-panthers no ncaaf, b, wb */
.td24 .bgc,
.tn57 .bgc {
    background-color: rgb(100,100,100);
}

/*  minnesota-golden-gophers ncaaf, b, wb */
.t543 .bgc,
.tb70 .bgc,
.tn13 .bgc {
    background-color: rgb(127,20,45);
}

/*  mississippi-state-bulldogs, ncaaf, b, wb [lady-bulldogs] */
.t545 .bgc,
.tb72 .bgc,
.to44 .bgc {
    background-color: rgb(118,33,35);
}

/*  mississippi-valley-state-delta-devils, devilettes */
.tb73 .bgc,
.tp82 .bgc {
    background-color: rgb(100,100,100);
}

/*  missouri-state-bears, no ncaaf, b, wb [lady-bears] */
/*  montana-grizzlies no ncaaf, b, wb */
/*  new-mexico-lobos ncaaf, b, wb */
.tc70 .bgc,
.to98 .bgc,
.tb77 .bgc,
.tn93 .bgc,
.t557 .bgc,
.tb89 .bgc,
.to74 .bgc {
    background-color: rgb(0,0,0);
}

/*  missouri-tigers ncaaf, b, wb */
.t547 .bgc,
.tb74 .bgc,
.to77 .bgc { 
    background-color: rgb(100,100,100)
}     

/*  monmouth-hawks no ncaaf, b, wb */
.tb76 .bgc,
.tO82 .bgc {
    background-color: rgb(0,69,124);
}

/*  montana-state-bobcats ncaaf, b, wb */
.tb78 .bgc,
.to24 .bgc {
    background-color: rgb(211,175,126);
}

/*  morehead-state-eagles no ncaaf, b, wb */
.tb79 .bgc,
.tO59 .bgc {
    background-color: rgb(9,79,163);
}

/*  morgan-state-bears, no ncaaf, b, wb [lady-bears] */
.tb80 .bgc,
.tq35 .bgc {
    background-color: rgb(0,70,132);
}

/*  mount-saint-marys-mountaineers no ncaaf, b, wb */
.tb82 .bgc,
.tp83 .bgc {
    background-color: rgb(162,144,97);
}

/*  murray-state-racers, no ncaaf, b, wb [lady-racers] */
.tb83 .bgc,
.tp84 .bgc {
    background-color: rgb(253,184,39);
}

/*  navy-midshipmen, ncaaf, b, wb [mids] */
.t552 .bgc,
.tb84 .bgc,
.tn65 .bgc {
    background-color: rgb(100,100,100);
}     

/*  nebraska-lincoln-cornhuskers ncaaf, b, wb   */
.t553 .bgc,
.tb85 .bgc,
.to19 .bgc {
    background-color: rgb(100,100,100);
}

/*  nevada-wolf-pack ncaaf, b, wb   */
.t555 .bgc,
.tB86 .bgc,
.to76 .bgc {
    background-color: rgb(165,172,177);
}

/*  new-hampshire-wildcats no ncaaf, b, wb  */
.tb88 .bgc,
.tp86 .bgc {
    background-color: rgb(0,33,68);
}

/*  new-jersey-tech-highlanders no ncaaf, b, wb */
.ti45 .bgc,
.tr73 .bgc {
    background-color: rgb(2,46,107);
}

/*  new-mexico-state-aggies ncaaf, b, wb   */
.t558 .bgc,
.tb90 .bgc,
.to81 .bgc {
    background-color: rgb(100,100,100);
}

/*  .niagara-purple-eagles no ncaaf, b, wb  */
.tb92 .bgc,
.tp88 .bgc {
    background-color: rgb(106,32,127);
}

/*  nicholls-state-colonels no ncaaf, b, wb [lady-colonels] */
.tb93 .bgc,
.tp89 .bgc {
    background-color: rgb(100,100,100);
}

/*  norfolk-state-spartans no ncaaf, b, wb */
.tb94 .bgc,
.tp90 .bgc {
    background-color: rgb(0,129,100);
}

/*  north-carolina-a-and-t-aggies no ncaaf, b, wb   */
.tb96 .bgc,
.to36 .bgc {
    background-color: rgb(0,70,132);
}

/*  north-carolina-central-eagles no ncaaf, b, wb [lady-eagles] */
.te17 .bgc,
.tr77 .bgc {
    background-color: rgb(152,1,46);
}

/*  north-carolina-state-wolfpack ncaaf, b, wb  */
.t562 .bgc,
.tb99 .bgc,
.tn48 .bgc {
    background-color: rgb(226,56,63);
}

/*  north-carolina-tar-heels ncaaf, b, wb   */
.t560 .bgc,
.tb95 .bgc,
.tn14 .bgc {
    background-color: rgb(14,19,43);
}

/*  north-dakota-fighting-sioux no ncaaf, b, wb */
.tf01 .bgc,
.tq40 .bgc {
    background-color: rgb(0,162,97);
}

/*  north-dakota-state-bison no ncaaf, b, no wb */
.th20 .bgc {
    background-color: rgb(100,100,100);
}

/*  northeastern-huskies no ncaaf, b, wb    */
.tc03 .bgc,
.tp91 .bgc {
    background-color: rgb(0,0,0);
}

/*  northern-arizona-lumberjacks no ncaaf, b, wb    */
.tc04 .bgc,
.tn45 .bgc {
    background-color: rgb(98,144,128);
}

/*  northern-colorado-bears no ncaaf, b, wb */
.te91 .bgc,
.tp92 .bgc {
    background-color: rgb(67,90,124);
}

/*  northern-illinois-huskies ncaaf, b, wb  */
.t567 .bgc,
.tc05 .bgc,
.to11 .bgc {
    background-color: rgb(100,100,100);
}

/*  northern-iowa-panthers no ncaaf, b, wb */
.tc06 .bgc,
.tO99 .bgc {
    background-color: rgb(71,50,130);
}

/*  north-florida-ospreys no ncaaf, b, wb [lady-ospreys]  */
.tg22 .bgc,
.tr23 .bgc {
    background-color: rgb(43,43,44);
}

/*  north-texas-mean-green ncaaf, b, wb */
.t563 .bgc,
.tc02 .bgc,
.tO41 .bgc {
    background-color: rgb(100,100,100)
}

/*  northwestern-state-demons no ncaaf, b, wb [lady-demons]   */
.tc08 .bgc,
.tn98 .bgc {
    background-color: rgb(100,100,100)
}

/*  northwestern-wildcats ncaaf, b, wb  */
.t569 .bgc,
.tc07 .bgc,
.to75 .bgc {
    background-color: rgb(100,100,100)
}  

/*  notre-dame-fighting-irish ncaaf, b, wb  */
.t571 .bgc,
.tc09 .bgc,
.tn15 .bgc {
    background-color: rgb(16,78,132)
}

/*  oakland-golden-grizzlies no ncaaf, b, wb    */
.tc10 .bgc,
.tp93 .bgc {
    background-color: rgb(100,100,100)
}

/*  ohio-bobcats ncaaf, b, wb */
.t573 .bgc,
.tc11 .bgc,
.tn37 .bgc {
    background-color: rgb(0,111,83);
}

/*  ohio-state-buckeyes ncaaf, b, wb */
.t572 .bgc,
.tc12 .bgc,
.tn17 .bgc {
    background-color: rgb(211,16,68);
}

/*  oklahoma-sooners ncaaf, b, wb   */
.t574 .bgc,
.tc13 .bgc,
.tn21 .bgc {
    background-color: rgb(179,8,56);
}

/*  oklahoma-state-cowboys ncaaf, b, wb [cowgirls] */
.t575 .bgc,
.tc14 .bgc,
.to33 .bgc {
    background-color: rgb(0,0,0);
}

/*  old-dominion-monarchs no ncaaf, b, wb [lady-monarchs] */
.tc15 .bgc,
.tn26 .bgc {
    background-color: rgb(0,70,119);
}

/*  ole-miss-rebels ncaaf, b, wb [lady-rebels]  */
.t544 .bgc,
.tb71 .bgc,
.to91 .bgc {
    background-color: rgb(24,42,71);
}

/*  oral-roberts-golden-eagles no ncaaf, b, wb */
.tc16 .bgc,
.tn44 .bgc{
    background-color: rgb(100,100,100);
}      

/*  oregon-ducks ncaaf, b, wb */
.t576 .bgc,
.tc17 .bgc,
.tn41 .bgc {
    background-color: rgb(0,0,0);
}

/*  oregon-state-beavers ncaaf, b, wb */
.t577 .bgc,
.tc18 .bgc,
.to49 .bgc {
    background-color: rgb(174,98,25);
}

/*  pacific-tigers no ncaaf, b, wb  */
.tc19 .bgc,
.to01 .bgc {
    background-color: rgb(244,121,32);
}

/*  penn-quakers no ncaaf, b, wb    */
.tc20 .bgc,
.to67 .bgc {
    background-color: rgb(180,38,67);
}

/*  penn-state-nittany-lions ncaaf, b, wb */
.t579 .bgc,
.tc21 .bgc,
.tn08 .bgc {
    background-color: rgb(0,39,93);
}

/*  pepperdine-waves no ncaaf, b, wb    */
.tc22 .bgc,
.tn32 .bgc {
    background-color: rgb(100,100,100);
}

/*  pittsburgh-panthers ncaaf, b, wb    */
.t581 .bgc,
.tc23 .bgc,
.to42 .bgc {
    background-color: rgb(196,179,99);
}

/*  portland-pilots no ncaaf, b, wb */
.tc24 .bgc,
.to28 .bgc {
    background-color: rgb(100,100,100);    
}

/*  portland-state-vikings no ncaaf, b, wb*/
.tc25 .bgc,
.tp94 .bgc {
    background-color: rgb(0,0,0);
}

/*  prairie-view-a-and-m-panthers, no ncaaf, b, wb [lady-panthers] */
.tc26 .bgc,
.to37 .bgc {
    background-color: rgb(100,100,100);     
}

/*  presbyterian-blue-hose no ncaaf, b, wb */
.ti67 .bgc,
.tr51 .bgc {
    background-color: rgb(0,97,170);
}

/*  princeton-tigers no ncaaf, b, wb    */
.tc27 .bgc,
.tp95 .bgc {
    background-color: rgb(35,32,32);
}

/*  providence-friars no ncaaf, b, wb   */
.tc28 .bgc,
.to80 .bgc {
    background-color: rgb(0,0,0);
}

/*  purdue-boilermakers ncaaf, b, wb */
.t584 .bgc,
.tc29 .bgc,
.tn07 .bgc {
    background-color: rgb(220,204,150);
}

/*  quinnipiac-bobcats no ncaaf, b, wb */
.tc30 .bgc,
.tp96 .bgc {
    background-color: rgb(0,53,98);
}

/*  radford-highlanders no ncaaf, b, wb */
.tc31 .bgc,
.tp97 .bgc {
    background-color: rgb(226,56,63);
}

/*  rhode-island-rams no ncaaf, b, wb */
.tc32 .bgc,
.tp98 .bgc {
    background-color: rgb(0,73,144);
}

/*  rice-owls ncaaf, b, wb [lady-owls] */
.t586 .bgc,
.tc33 .bgc,
.tn81 .bgc {
    background-color: rgb(0,0,0);
}

/*  richmond-spiders no ncaaf, b, wb */
.tc34 .bgc,
.to66 .bgc {
    background-color: rgb(0,0,0);
}

/*  rider-broncs no ncaaf, b, wb */
.tc35 .bgc,
.tp99 .bgc {
    background-color: rgb(168,5,50);
}

/*  robert-morris-colonials no ncaaf, b, wb*/
.tc36 .bgc,
.tq01 .bgc {
    background-color: rgb(20,35,75);
}

/*  rutgers-scarlet-knights ncaaf, b, wb */
/*  sacramento-state-hornets no ncaaf, b, wb */
.t588 .bgc,
.tc37 .bgc,
.tn02 .bgc,
.tc38 .bgc,
.to14 .bgc {
    background-color: rgb(0,0,0);
}

/*  sacred-heart-pioneers no ncaaf, b, wb */
.tc39 .bgc,
.to51 .bgc {
    background-color: rgb(206,17,65);
}

/*  saint-francis-red-flash no ncaaf, b, wb */
.tc42 .bgc,
.tn36 .bgc {
    background-color: rgb(178,8,56);
}

/*  saint-josephs-hawks no ncaaf, b, wb */
.tc44 .bgc,
.to38 .bgc {
    background-color: rgb(139,40,66);
}

/*  saint-louis-billikens no ncaaf, b, wb */
.tc45 .bgc,
.to12 .bgc {
    background-color: rgb(55,100,142);
}

/*  saint-marys-gaels no ncaaf, b, wb */
.tc46 .bgc,
.to27 .bgc {
    background-color: rgb(100,100,100); 
}

/*  saint-peters-peacocks, no ncaaf, b, wb [peahens] */
/*  san-diego-state-aztecs no ncaaf, b, wb */
.tc47 .bgc,
.tn27 .bgc,
.t589 .bgc,
.tc51 .bgc,
.tq03 .bgc {
    background-color: rgb(0,0,0);
}

/*  samford-bulldogs ncaaf, b, wb */
/* no ncaaf */
.tc49 .bgc,
.tq02 .bgc {
    background-color: rgb(100,100,100);
}

/*  sam-houston-state-bearkats ncaaf, b, wb */
/* no ncaaf */
.tc48 .bgc,
.to26 .bgc {
    background-color: rgb(100,100,100); 
}

/*  san-diego-toreros, no ncaaf, b, wb */
.tc50 .bgc,
.to57 .bgc {
    background-color: rgb(100,100,100);
}

/*  .san-francisco-dons, no ncaaf, b, wb [lady-dons] */
.tc52 .bgc,
.tn55 .bgc {
    background-color: rgb(100,100,100);
}

/*  san-jose-state-spartans ncaaf, b, wb */
.t590 .bgc,
.tc53 .bgc,
.to87 .bgc {
    background-color: rgb(100,100,100);
}

/*  santa-clara-broncos, no ncaaf, b, wb */
.tc54 .bgc,
.tn70 .bgc {
    background-color: rgb(100,100,100);
}    

/*  savannah-state-tigers, no ncaaf, b, wb [lady-tigers] */
.tc55 .bgc,
.to85 .bgc {
    background-color: rgb(0,85,165);
}

/*  seattle-redhawks, no ncaaf, b, wb */
.th02 .bgc,
.trh5 .bgc {
    background-color: rgb(100,100,100);
}

/*  seton-hall-pirates, no ncaaf, b, wb */
.tc56 .bgc,
.tn79 .bgc {
    background-color: rgb(0,96,169);
}

/*  siena-saints no ncaaf, b, wb */
.tc57 .bgc,
.tn72 .bgc {
    background-color: rgb(0,111,83);
}

/*  siue-cougars no ncaaf, b, wb   */
.tg01 .bgc,
.tq99 .bgc {
    background-color: rgb(0,0,0);
}

/*  smu-mustangs ncaaf, b, wb   */
.t596 .bgc,
.tc66 .bgc,
.tn53 .bgc {
    background-color: rgb(20,50,92);
}

/* south-alabama-jaguars, no ncaaf, b, wb   */
.tc58 .bgc,
.tq04 .bgc {
    background-color: rgb(100,100,100); 
}

/*  south-carolina-gamecocks, ncaaf, b, wb [lady-gamecocks] */
.t591 .bgc,
.tc59 .bgc,
.to45 .bgc {
    background-color: rgb(35,31,32);
}

/*  south-carolina-state-bulldogs, no ncaaf, b, wb [lady-bulldogs] */
.tc60 .bgc,
.to17 .bgc {
    background-color: rgb(144,0,40);
}

/* south-dakota-coyotes, no ncaaf, b, wb   */
.tjm1 .bgc,
.trh3 .bgc {
    background-color: rgb(100,100,100); 
}

/*  south-dakota-state-jackrabbits, no ncaaf, b, wb */
.th21 .bgc,
.tp85 .bgc {
    background-color: rgb(100,100,100); 
}

/*  southeastern-louisiana-lions, no ncaaf, b, wb [lady-lions]  */
.tc63 .bgc,
.to63 .bgc {
    background-color: rgb(100,100,100);    
}

/*  southeast-missouri-indians, no ncaaf, b, wb [otahkians] */
.tc62 .bgc,
.tn28 .bgc {
    background-color: rgb(229,25,55);
}

/*  southern-illinois-salukis no ncaaf, b, wb */
.tc65 .bgc,
.tq05 .bgc {
    background-color: rgb(133,39,60);
}

/*  southern-jaguars no ncaaf, b, wb */
.tc68 .bgc,
.tn42 .bgc {
    background-color: rgb(100,100,100);
}   

/*  southern-miss-golden-eagles no ncaaf, b, wb */
.t597 .bgc,
.tc67 .bgc {
    background-color: rgb(100,100,100);
}

/*  southern-utah-thunderbirds, ncaaf, b, wb [lady-thunderbirds] */
/* no ncaaf */
.tc69 .bgc,
.tq06 .bgc {
    background-color: rgb(206,23,31);
}

/*  south-florida-bulls, ncaaf, b, wb */
.t709 .bgc,
.tc61 .bgc,
.to78 .bgc {
    background-color: rgb(11,90,66);
}

/*  st-bonaventure-bonnies ncaaf, b, wb */
/* no ncaaf */
.tc40 .bgc,
.tq07 .bgc {
    background-color: rgb(123,45,25);
}

/*  st-francis-terriers ncaaf, b, wb */
/* no ncaaf */
.tc41 .bgc,
.tq08 .bgc {
    background-color: rgb(21,46,85);
}

/*  south-carolina-upstate-spartans no ncaaf, b, wb */
/*  st-johns-red-storm no ncaaf, b, wb */
/*  texas-longhorns ncaaf, b, wb */
/*  texas-tech-red-raiders, ncaaf, b, wb [lady-raiders] */
/*  umbc-retrievers no ncaaf, b, wb */
/*  valparaiso-crusaders no ncaaf, b, wb */
/*  vmi-keydets no ncaaf, b, no wb */
/*  wisconsin-milwaukee no ncaaf, b, wb */
/*  xavier-musketeers no ncaaf, b, wb */
/*  yale-bulldogs no ncaaf, b, wb */
.te45 .bgc,
.trc8 .bgc,
.tc43 .bgc,
.to21 .bgc,
.t609 .bgc,
.tc82 .bgc,
.tn16 .bgc,
.t615 .bgc,
.tc86 .bgc,
.tn10 .bgc,
.tb59 .bgc,
.tn80 .bgc,
.td01 .bgc,
.tn38 .bgc,
.td07 .bgc,
.td24 .bgc,
.tn57 .bgc,
.td28 .bgc,
.tq32 .bgc,
.td29 .bgc,
.tq33 .bgc {
    background-color: rgb(0,0,0);
}

/*  stanford-cardinals ncaaf, b, wb */
.t602 .bgc,
.tc72 .bgc,
.tn06 .bgc {
    background-color: rgb(168,5,50);
}

/*  stephen-f-austin-lumberjacks, no ncaaf, b, wb [ladyjacks] */
.tc73 .bgc,
.tn35 .bgc {
    background-color: rgb(100,100,100);
}     

/*  stetson-hatters no ncaaf, b, wb */
.tc74 .bgc,
.tn40 .bgc {
    background-color: rgb(0,111,81);
}

/*  stony-brook-seawolves no ncaaf, b, wb */
.tc75 .bgc,
.tq09 .bgc {
    background-color: rgb(179,58,78);
}

/*  syracuse-orange ncaaf, b, wb */
.t603 .bgc,
.tc76 .bgc,
.to62 .bgc {
    background-color: rgb(244,124,48);
}

/*  tcu-horned-frogs, ncaaf, b, wb [lady-frogs] */
.t612 .bgc,
.tc84 .bgc,
.tn24 .bgc {
    background-color: rgb(60,44,111);
}

/*  temple-owls ncaaf, b, wb */
.t604 .bgc,
.tc77 .bgc,
.to30 .bgc {
    background-color: rgb(205,16,65);
}

/*  tennessee-martin-skyhawks no ncaaf, b, wb */
.tc79 .bgc,
.to16 .bgc {
    background-color: rgb(248,152,41);
}

/*  tennessee-state-tigers, no ncaaf, b, wb [lady-tigers] */
.tc80 .bgc,
.tq10 .bgc {
    background-color: rgb(65,85,165);
}

/* tennessee-tech-golden-eagles, no ncaaf, b, wb [golden-eaglettes] */
.tc81 .bgc,
.tq11 .bgc {
    background-color: rgb(90,63,153);
}

/*  tennessee-volunteers, ncaaf, b, wb [lady-vols] */
.t605 .bgc,
.tc78 .bgc,
.tn04 .bgc {
    background-color: rgb(35,31,32);
}

/*  texas-a-and-m-corpus-christi-islanders no ncaaf, b, wb */
.tc88 .bgc,
.tq15 .bgc {
    background-color: rgb(100,100,100);
}

/*  texas-a&m-aggies ncaaf, b, wb */
.t610 .bgc,
.tc83 .bgc,
.tn71 .bgc {
    background-color: rgb(100,100,100);
}

/*  texas-southern-tigers, no ncaaf, b, wb [lady-tigers] */
.tc85 .bgc,
.tq12 .bgc {
    background-color: rgb(100,100,100);
}

/*  texas-state-bobcats no ncaaf, b, wb */
.tc71 .bgc,
.tn39 .bgc {
    background-color: rgb(100,100,100);
}    

/*  texas-arlington-mavericks no ncaaf, b, wb */
.tc87 .bgc,
.tn76 .bgc {
    background-color: rgb(100,100,100);
}

/*  the-citadel-bulldogs no ncaaf, b, no wb */
.ta55 .bgc {
    background-color: rgb(100,100,100);
}        

/*  toledo-rockets ncaaf, b, wb */
.t616 .bgc,
.tc92 .bgc,
.to34 .bgc {
    background-color: rgb(27,97,144);
}

/*  towson-tigers no ncaaf, b, wb */
.tc93 .bgc,
.tq13 .bgc {
    background-color: rgb(35,31,32);
}

/*  troy-trojans, lady-trojans ncaaf, b, wb */
.t634 .bgc,
.tc94 .bgc,
.tq14 .bgc {
    background-color: rgb(100,100,100);
}        

/*  tulane-green-wave ncaaf, b, wb */
.t617 .bgc,
.tc95 .bgc,
.to09 .bgc {
    background-color: rgb(0,88,56);
}

/*  tulsa-golden-hurricane ncaaf, b, wb */
.t618 .bgc,
.tc96 .bgc,
.tn97 .bgc {
    background-color: rgb(0,73,144);
}

/*  uab-blazers ncaaf, b, wb [lady-blazers] */
.t703 .bgc,
.ta06 .bgc,
.to88 .bgc {
    background-color: rgb(0,128,97);
}

/*  uc-davis-aggies no ncaaf, b, wb */
.te64 .bgc,
.tq16 .bgc {
    background-color: rgb(188,147,7);
}

/*  ucf-knights ncaaf, b, wb */
.t648 .bgc,
.ta47 .bgc,
.tn68 .bgc {
    background-color: rgb(181,152,89);
}

/*  uc-irvine-anteaters no ncaaf, b, wb */
.ta37 .bgc,
.tq17 .bgc {
    background-color: rgb(8,23,64);
}

/*  ucla-bruins ncaaf, b, wb  */
.t619 .bgc,
.tc97 .bgc,
.tn56 .bgc {
    background-color: rgb(0,97,170);
}

/* uc-riverside-highlanders no ncaaf, b, wb */
.ta38 .bgc,
.tn82 .bgc {
    background-color: rgb(0,45,98);
}

/* uc-santa-barbara-gauchos no ncaaf, b, wb */
.ta39 .bgc,
.tn18 .bgc {
    background-color: rgb(7,77,152);
}

/* uic-flames no ncaaf, b, wb */
.tb21 .bgc,
.tp62 .bgc {
    background-color: rgb(0,62,126);
}

/*  umes-hawks,no ncaaf, b, wb [lady-hawks] */
.tb60 .bgc,
.tp79 .bgc {
    background-color: rgb(150,1,46);
}

/*  umkc-kangaroos no ncaaf, b, wb */
.tb75 .bgc,
.to06 .bgc {
    background-color: rgb(100,100,100);
}

/*  unc-asheville-bulldogs no ncaaf, b, wb */
.tb97 .bgc,
.tq20 .bgc {
    background-color: rgb(20,93,148);
}

/*  unc-greensboro-spartans no ncaaf, b, wb */
.tb98 .bgc,
.to52 .bgc {
    background-color: rgb(100,100,100);
}

/*  unc-wilmington-seahawks, no ncaaf, b, wb [lady-seahawks] */
.tc01 .bgc,
.tn61 .bgc {
    background-color: rgb(0,56,118);
}

/*  unlv-rebels ncaaf, b, wb */
.t554 .bgc,
.tb87 .bgc,
.tq21 .bgc {
    background-color: rgb(205,16,65);
}

/*  usc-trojans ncaaf, b, wb */
.t594 .bgc,
.tc64 .bgc,
.tn78 .bgc {
    background-color: rgb(162,0,48);
}

/*  utah-state-aggies ncaaf, b, wb */
.t621 .bgc,
.tc99 .bgc,
.tq23 .bgc {
    background-color: rgb(100,100,100);
}

/*  utah-utes ncaaf, b, wb */
.t620 .bgc,
.tc98 .bgc,
.tn19 .bgc {
    background-color: rgb(205,16,65);
}

/*.utah-valley-wolverines no ncaaf, b, wb */
.tg35 .bgc,
.tn30 .bgc {
    background-color: rgb(0,72,18);
}

/*  utep-miners ncaaf, b, wb */
.t613 .bgc,
.tc89 .bgc,
.to94 .bgc {
    background-color: rgb(0,39,93);
}

/*  utpa-broncos, no ncaaf, b, wb [lady-broncs] */
.tc90 .bgc,
.to13 .bgc {
    background-color: rgb(100,100,100);
}

/*  utsa-roadrunners no ncaaf, b, wb */
 .tc91 .bgc,
 .tn29 .bgc {
    background-color: rgb(100,100,100);
}

/*  vanderbilt-commodores ncaaf, b, wb */
.t622 .bgc,
.td02 .bgc,
.to71 .bgc {
    background-color: rgb(35,31,32);
}

/*  vermont-catamounts, no ncaaf, b, wb */
.td03 .bgc,
.tq27 .bgc {
    background-color: rgb(0,88,56);
}

/*  villanova-wildcats no ncaaf, b, wb */
.td04 .bgc,
.to83 .bgc {
    background-color: rgb(0,56,118);
}

/*  virginia-cavaliers ncaaf, b, wb */
.t623 .bgc,
.td05 .bgc,
.tn25 .bgc {
    background-color: rgb(0,33,78);
}

/*  virginia-commonwealth-rams no ncaaf, b, wb */
.td06 .bgc,
.tq26 .bgc {
    background-color: rgb(103,67,0);
}

/*  virginia-tech-hokies ncaaf, b, wb */
.t625 .bgc,
.td08 .bgc,
.tn96 .bgc {
    background-color: rgb(139,40,66);
}

/*  wagner-seahawks no ncaaf, b, wb */
.td09 .bgc,
.tq28 .bgc {
    background-color: rgb(0,72,58);
}

/*  wake-forest-demon-deacons, ncaaf, b, wb  */
.t626 .bgc,
.td10 .bgc,
.tn77 .bgc {
    background-color: rgb(156,125,56);
}

/*  washington-huskies ncaaf, b, wb */
.t483 .bgc,
.td11 .bgc,
.tn01 .bgc {
    background-color: rgb(42,47,100);
}

/*  washington-state-cougars, ncaaf, b, wb  */
.t628 .bgc,
.td12 .bgc,
.to47 .bgc {
    background-color: rgb(49,49,49);
}

/*  weber-state-wildcats no ncaaf, b, wb */
.td13 .bgc,
.to48 .bgc {
    background-color: rgb(74,38,130);
}

/*  western-carolina-catamounts no ncaaf, b, wb */
.td15 .bgc,
.tq29 .bgc {
    background-color: rgb(100,100,100);
}

/*  western-illinois-leathernecks no ncaaf, b, wb */
.td16 .bgc,
.tn33 .bgc {
    background-color: rgb(100,100,100);
}

/*  western-kentucky-hilltoppers, no ncaaf, b, wb [lady-toppers] */
.td17 .bgc,
.tn75 .bgc {
    background-color: rgb(100,100,100);   
}      

/*  western-michigan-broncos ncaaf, b, wb */
.t633 .bgc,
.td18 .bgc,
.tn49 .bgc {
    background-color: rgb(207,183,131);
}

/*  west-virginia-mountaineers ncaaf, b, wb */
.t635 .bgc,
.td14 .bgc,
.to73 .bgc {
    background-color: rgb(0,75,133);
}

/*  wichita-state-shockers, no ncaaf, b, wb */
.td19 .bgc,
.to61 .bgc {
    background-color: rgb(153,153,153);
}

/*  william-and-mary-tribe no ncaaf, b, wb */
.td20 .bgc,
.tq30 .bgc {
    background-color: rgb(11,81,48);
}

/*  winthrop-eagles, no ncaaf, b, wb [lady-eagles] */
.td21 .bgc,
.tq31 .bgc {
    background-color: rgb(178,62,72);
}

/*  wisconsin-badgers ncaaf, b, wb */
.t638 .bgc,
.td22 .bgc,
.to65 .bgc {
    background-color: rgb(182,40,46);
}

/*  wofford-terriers no ncaaf, b, wb */
.td25 .bgc,
.to18 .bgc {
    background-color: rgb(100,100,100);
}

/*  wright-state-raiders no ncaaf, b, wb */
.td26 .bgc,
.to20 .bgc {
    background-color: rgb(0,111,83);
}

/*  wyoming-cowboys, cowgirls */
.t639 .bgc,
.td27 .bgc,
.tn99 .bgc {
    background-color: rgb(96,77,59);
}

/*  youngstown-state-penguins no ncaaf, b, wb */
.td30 .bgc,
.tn63 .bgc {
    background-color: rgb(229,25,55);
}