
#section_sports div#team-page h2,
#section_sports div#team-page h3,
#section_sports div#team-page h4,
#section_sports div#team-page h5,
#section_sports div#team-page h6 {
    font-family: 'Futura';
 }

#section_sports header.league-index {

    padding: 0 0 20px 0;
 }

#section_sports header.league-index span.ad {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 728px;
 }

#section_sports header.league-index aside {
    background: rgb(121,16,0);
    display:block;
    min-height:45px;
 }

#section_sports header.league-index aside h2 {
    color: rgb(255,255,255);
    display: block;
    float: left;
    font-size: 1.2em;
    letter-spacing: -.1em;
    margin: 0;
    padding: 10px 0 0 20px;
 }

#section_sports header.league-index aside div.control {
    float: right;
 }

#section_sports header.league-index aside div.control label {
    color: rgb(255,255,255);
    display: inline-block;
    font-size: .8em;
    font-weight: 700;
    padding: 10px;
 }

#section_sports header.league-index aside div.control select {
    background: #333;
    border: none;
    color: rgb(255,255,255);
    font-size: .8em;
 }

#section_sports div.teams h3 {
    float: left;
    margin-left: 20px;
    width: 77.5%;
 }

#section_sports div.teams h5 {
    clear: right;
    float: left;
    text-transform: uppercase;
    width: 17%;
 }

#section_sports div.team-grid {
    border-bottom: 1px solid rgb(204,204,204);
    overflow: hidden;
 }

#section_sports div.team-grid dl {
    border: 1px solid red;
    border-left: 1px solid rgb(204,204,204);
    display: block;
    float: left;
    overflow: hidden;
    padding: 0 11px;
    width: 100%;
 }

#section_sports div.team-grid dl:first-child {
    border: none;
 }

#section_sports div.team-grid dl dt {
    border-left: 2px solid rgb(207,207,207);
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 18%;
 }

#section_sports div.team-grid dl dt:nth-child(1),
#section_sports div.team-grid dl dt:nth-child(6),
#section_sports div.team-grid dl dt:nth-child(11) {
    border: none;
 }

#section_sports div.team-grid dl dt:first-child {
    margin-top: 0;
 }

#section_sports div.team-grid dl dt a {
    background: rgb(252,251,250);
    border: 1px solid rgb(204,204,204);
    color: rgb(51,51,51);
    display: block;
    font-size: .8em;
    font-weight: 700;
    margin: 10px 10px 0px 10px;
    overflow: hidden;
    padding: 15px 10px 15px 20px;
    text-decoration: none;
 }

#section_sports div.team-grid dl dt:nth-child(-n+5) a {
    margin-top: 0px;
 }

#section_sports div.team-grid dl dt a span {
    display: block;
    float: left;
    margin-right: 10px;
 }

#section_sports div.team-grid dl dt a strong {
    display: inline-block;
    line-height: 12px;
    vertical-align: middle;
    width: 50%;
 }

#section_sports div.team-grid dl dt a:hover {
    background: rgb(67,67,67);
    color: rgb(255,255,255);
 }

#section_sports div.teams {
    border-bottom: 1px solid rgb(207,207,207);
    height: 100%;
    overflow: hidden;
    padding:0 10px 0 0;
 }

#section_sports div.teams ul {
    display: block;
    float: left;
    margin: 0 0 10px 0;
    overflow: hidden;
    min-height:280px;
    padding: 0;
    width: 79%;
 }

#section_sports div.standings.division {
    display: block;
    float: left;
    font-size: .8em;
    margin: 0 10px;
    min-height: 140px;
    width: 18%;
 }

#section_sports div.teams ul li {
    color: rgb(51,51,51);
    display: block;
    float: left;
    height: 235px;
    list-style: none;
    margin: 0 0 30px 15px;
/*    overflow: hidden;*/
    width: 175px;
    position:relative;
}

#section_sports div.teams.ncaa ul li {
    height:90px;
    padding:5px;
    box-shadow: 0px 5px 5px 1px rgba(3,3,3,.3);
    -webkit-box-shadow: 0px 5px 5px 1px rgba(3,3,3,.3);
}

#section_sports div.teams.ncaa ul li span {
    display:block;
    overflow:hidden;
    height:90px;
}

#section_sports div.teams.ncaa ul li div a {
    color:#fff;
    text-decoration:none;
    display:block;
    line-height:16px;
    border:none;
}

#section_sports div.teams.ncaa ul li div {
    background-image: url("/static/images/sports/honeycomb-trans.png");
}

/*#section_sports div.teams.ncaa ul li div.over { 
    display:none;
    height:75px;
    padding:15px 0 0 15px;
    
}
*/
/*#section_sports div.teams.ncaa ul li div.over label {
    display:block;
    
}*/
#section_sports div.teams.ncaa ul li div.on span a strong abbr {
    display:none;
}
#section_sports div.teams.ncaa ul li:hover div.on span a strong abbr  {
    background:url('/static/images/sports/btn-next.png') 0 5px no-repeat;
    display:block;
    font-weight:100;
    font-size:12px;
    padding:2px 0 0 15px;
}

/*#section_sports div.teams.ncaa ul li:hover div.over {
    display:block;

}*/
#section_sports div.teams.ncaa ul li span a label, 
#section_sports div.teams.ncaa ul li span a strong {
    float:left;
    margin:15px;
}
#section_sports div.teams.ncaa ul li span a label {
    width:37px;
    border:1px solid #fff;
    float:left;
}
#section_sports div.teams.ncaa ul li span a strong {
    float:left;
    width:100px;
    padding:0;
    margin:20px 0;
}
@media screen and (min-width:1420px) {
    #section_sports div.teams ul {
        width: 80.3%;
     }
    #section_sports .player div.teams ul {
        width: 100%;
     }
    
}

@media screen and (max-width:1024px) {
    #section_sports div.teams ul {
        width: 100%;
     }
    #section_sports div.standings.division {
        display: none;
     }
      #section_sports div.teams ul {
          min-height:500px;
      }
}
#section_sports div.teams.ncaa ul {width:100%}
#section_sports div.teams a {
    color: rgb(51,51,51);
    display: block;
    padding: 5px 0;
 }

#section_sports header.league-index div.control {
    padding: 5px;
}

#section_sports div.teams div.standings.division table caption {
    background-image: linear-gradient(bottom,rgb(250,250,250) 13%,rgb(252,252,252) 57%,rgb(254,254,254) 79%);
    background-image: -moz-linear-gradient(bottom,rgb(250,250,250) 13%,rgb(252,252,252) 57%,rgb(254,254,254) 79%);
    background-image: -ms-linear-gradient(bottom,rgb(250,250,250) 13%,rgb(252,252,252) 57%,rgb(254,254,254) 79%);
    background-image: -o-linear-gradient(bottom,rgb(250,250,250) 13%,rgb(252,252,252) 57%,rgb(254,254,254) 79%);
    background-image: -webkit-linear-gradient(bottom,rgb(250,250,250) 13%,rgb(252,252,252) 57%,rgb(254,254,254) 79%);
    border: 1px solid rgb(229,229,229);
    border-bottom: none;
    color: rgb(51,51,51);
    font-weight: 500;
    padding: 5px;
 }

#section_sports div.teams .flip-container {
    margin: 0 0 20px 0;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    padding: 5px;
    position: relative;
    -webkit-perspective: 1000;
}
 
#section_sports div.teams.ncaa .flip-container {}
#section_sports div.teams .flipcard,
#section_sports div.players .playersCont {
    display: block;
    position: relative;
    width: 100%;
 }

#section_sports div.teams .flipcard {
    -moz-transform-style: preserve-3d;
    -moz-transition: 0.5s;
    -ms-transform-style: preserve-3d;
    -ms-transition: 0.5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0.5s;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}

#section_sports div.players .playersCont {}

#section_sports div.teams div.flipcard div.face.front {
    /*padding: 34px 0 0 0;*/
    text-align: center;
}

#section_sports div.teams.ncaa div.flipcard div.face.front {
    padding:10px 0 0 0;
}

#section_sports div.teams div.flipcard div.face.front label {
    font-size: 13px;
 }

#section_sports div.teams div.flipcard div.face.front strong {
    display: block;
    font-size: 26px;
    line-height: 24px;
    letter-spacing:-1px;
 }

#section_sports div.teams .flip-container:hover .flipcard {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
 }

#section_sports div.teams .face {
    left: 0;
    background-image: url("/static/images/sports/honeycomb-trans.png");
    box-shadow: 0px 5px 5px 1px rgba(3,3,3,.3);
    -webkit-box-shadow: 0px 5px 5px 1px rgba(3,3,3,.3);
    border: 5px solid #fff;
    min-height:240px;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    padding-top:10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
 }

#section_sports div.teams .no-hide .face {
    -moz-backface-visibility: visible;
    -ms-backface-visibility: visible;
    -o-backface-visibility: visible;
    -webkit-backface-visibility: visible;
 }

#section_sports div.teams .front {
    color: rgb(255,255,255);
    z-index: 244;
}

#section_sports div.teams .back {
    color: rgb(255,255,255);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
 }

#section_sports div.teams .back span {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
 }

#section_sports div.teams .back label {
    border: 1px solid rgb(255,255,255);
    display: block;
    float: left;
    height: 38px;
    margin: 0 10px 0 20px;
    width: 38px;
 }
#section_sports div.teams .back a {
    color:#fff;
}
#section_sports div.teams .back strong {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 0 0 0;
    text-align: left;
    text-shadow: rgb(51,51,51) 2px 1px 2px;
    width: 90px;
 }

#section_sports div.teams .back dl {
    background: rgba(51,51,51,.20);
    border: 1px solid rgba(51,51,51,.50);
    border-right: 1px solid rgba(255,255,255,.30);
    clear: both;
    height: 119px;
    margin: 0 auto;
    width: 128px;
 }

#section_sports div.teams .back dl dt {
    border-bottom: 1px solid rgba(255,255,255,.30);
    border-right: 1px solid rgba(51,51,51,.50);
    height: 39px;
    text-align: left;
    width: 100%;
 }

#section_sports div.teams .back dl dt a {
    background: url('/static/images/buttons/btn-next-page.png') 10px 12px no-repeat;
    color: rgb(255,255,255);
    height: 30px;
    padding: 10px 0 0 40px;
 }

#section_sports div.teams .back dl dt a:hover {
    background-color: rgba(51,51,51,.55);
 }

#section_sports div.teams .flip-container:hover .front {
    z-index: 0;
 }

#section_sports .backtotop {
    background: #f1f1f1;
    background: linear-gradient(to bottom, #f1f1f1 0%,#ededec 51%,#f1f1f1 100%);
    background: -moz-linear-gradient(top, #f1f1f1 0%, #ededec 51%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #f1f1f1 0%,#ededec 51%,#f1f1f1 100%);
    background: -o-linear-gradient(top, #f1f1f1 0%,#ededec 51%,#f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(51%,#ededec), color-stop(100%,#f1f1f1));
    background: -webkit-linear-gradient(top, #f1f1f1 0%,#ededec 51%,#f1f1f1 100%);
    border: 1px solid #cccccc;
    border-bottom: 1px solid #aeaeae;
    border-top: 1px solid #dadada;
    clear: both;
    color: #333;
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f1f1f1',GradientType=0 );
    font-size: 12px;
    font-weight: bold;
    padding: 14px;
    text-align: center;
    text-transform: uppercase;
 }

#section_sports .backtotop span {
    color: rgba(3,160,239,1);
    display: inline-block;
    font-weight: normal;
    -moz-transform: scale(2,1);
    -ms-transform: scale(2,1);
    -o-transform: scale(2,1);
    padding-right: 4px;
    position: relative;
    top: 2px;
    -transform: scale(2,1);
    -webkit-transform: scale(2,1);
 }
 
/* headline ribbon for table pages */ 

#section_sports .panel-header {
    background-image: url(/static/images/components/panel-header-bg.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    color: rgb(255,255,255);
    height: 37px;
    line-height: 37px;
    margin: 0 0 0 -10px;
    padding: 0 7px 11px 18px;
    position: relative;
}

#section_sports .panel-header + * {
    margin-top: -10px;  /* Style to make ribon sit on top of the table */
}

#section_sports .panel-header h2
{
    color: rgb(255,255,255);
    font-family: 'Futura', 'helvetica neue', 'arial', sans-serif;
    font-size: 15px;
    line-height:40px;
    margin: 0; 
    padding: 0px 0 0 10px;
    overflow: hidden;
    text-shadow: rgb(65,65,65) 0 1px 1px;
    text-transform:uppercase;
}


/* PAGE TYPE HEADER FORM Stle */
#section_sports  #page_type {
    clear:both;
}

#section_sports .panel-header fieldset label
{

    display: inline-block;
    font-size: 13px;
    padding-right: 4px;
}

#section_sports  #page_type  fieldset {
    float: right;
    margin: 0 50px 0 10px; 
    padding: 1px 30px 1px 20px;
    vertical-align: bottom;
}

#section_sports  #page_type fieldset legend {
    display: none;
}

#section_sports #page_type label {
    /* border: 1px solid rgba(70,10,1,.8);
    border-radius: 3px;*/
    color: rgba(255,255,255,0.5);
    font-size:13px;
    font-weight:300;
    padding: 5px 8px;
    text-shadow: none;
}


/* @begin Sports Chzn */
#section_sports .chzn-container-single .chzn-single {
  background: rgb(120,15,0);
  border-radius        : 1px;
  border: 1px solid rgba(50,50,50,0.5);
  border-top:none;
  border-bottom:none;
  box-shadow        : 0 0 3px rgba(50,50,50,0.5) inset, 0 1px 1px rgba(0,0,0,0.1);
  color: rgb(255,255,255);
  font-weight:normal;
  height: 40px;
  line-height: 40px;
  padding: 0 0 0 10px;
  text-decoration: none;
  -moz-box-shadow   : 0 0 3px rgba(50,50,50,0.5) inset, 0 1px 1px rgba(0,0,0,0.1);
  -moz-border-radius   : 1px;
  -webkit-border-radius: 1px;
  -webkit-box-shadow: 0 0 3px rgba(50,50,50,0.5) inset, 0 1px 1px rgba(0,0,0,0.1);
}

#section_sports .chzn-container .chzn-drop {
  background: rgb(130,15,0);
  border: 1px solid rgba(50,50,50,0.5);
  border-top: 0;
}

#section_sports .chzn-container .chzn-results .highlighted {
  background-color: rgba(50,50,50,0.3);
  background-image: none;
}

#section_sports .chzn-container-single .chzn-single div {
  border-left: 1px solid rgba(150,150,150,0.1);
}

#section_sports .chzn-container-single .chzn-single div b {
  background: url('/static/images/sprites/nav-arrows.png') no-repeat -8px -1px;
  height:10px;
}

#section_sports #conference_selector_chzn .chzn-single > span:before {
    content: "Conference ";
}

#section_sports #division_selector_chzn .chzn-single > span:before {
    content: "Division ";
}  

#section_sports #week_chzn .chzn-single > span:before {
    content: "Week ";
}

#section_sports #year_chzn .chzn-single > span:before {
    content: "Season ";
}

/* @end Sports Chzn */

