/* NHL */
section.sports .nhl-large {
    background-repeat: no-repeat;
    background-image: url('/static/images/sprites/nhl-logo-sprite.png');
    display: inline-block;
    height: 175px;
    width: 160px;
}
section.sports .anaheim-ducks {
    background-color: rgb(36, 30, 32);
}
section.sports .boston-bruins {
    background-color: #241E20;
}
section.sports .buffalo-sabres {
    background-color: rgb(0, 48, 95);
}
section.sports .calgary-flames {
    background-color: rgb(246,0,54);
}
section.sports .carolina-hurricanes {
    background-color: rgb(246, 0, 54);
}
section.sports .chicago-blackhawks {
    background-color: rgb(243, 0, 53);
}
section.sports .colorado-avalanche {
    background-color: rgb(146, 0, 53);
}
section.sports .columbus-blue-jackets {
    background-color: rgb(0, 48, 95);
}
section.sports .dallas-stars {
    background-color: rgb(0,82,50);
}
section.sports .detroit-red-wings {
    background-color: rgb(246, 0, 54);
}
section.sports .edmonton-oilers {
    background-color: rgb(0,48,95);
}
section.sports .florida-panthers {
    background-color: rgb(0, 48, 95);
}
section.sports .los-angeles-kings {
    background-color: rgb(18,37,109);
}
section.sports .minnesota-wild {
    background-color: rgb(0,82,50);
}
section.sports .montreal-canadiens {
    background-color: rgb(212, 0, 47);
}
section.sports .nashville-predators {
    background-color: rgb(0, 48, 95);
}
section.sports .new-jersey-devils {
    background-color: rgb(246,0,54);
}
section.sports .new-york-islanders {
    background-color: rgb(0, 86, 150);
}
section.sports .new-york-rangers {
    background-color: rgb(0%, 38%, 65%);
}
section.sports .ottawa-senators {
    background-color: rgb(246, 0, 54);
}
section.sports .philadelphia-flyers {
    background-color: rgb(255, 111, 63);
}
section.sports .phoenix-coyotes {
    background-color: rgb(165,0,44);
}
section.sports .pittsburgh-penguins {
    background-color: rgb(36, 30, 32);
}
section.sports .san-jose-sharks {
    background-color: rgb(0,123,138);
}
section.sports .st-louis-blues {
    background-color: rgb(0, 86, 150);
}
section.sports .tampa-bay-lightning {
    background-color: rgb(0, 65, 122);
}
section.sports .toronto-maple-leafs {
    background-color: rgb(0%, 25%, 48%);
}
section.sports .vancouver-canucks {
    background-color: rgb(0, 65, 122);
}
section.sports .washington-capitals {
    background-color: rgb(0, 48, 95);
}
section.sports .winnipeg-jets {
    background-color: rgb(0, 48, 95);
}

section.sports .anaheim-ducks .nhl-large {
    background-position: 0px 50px;
}
section.sports .boston-bruins .nhl-large {
    background-position: -165px 50px;
}
section.sports .buffalo-sabres .nhl-large {
    background-position: -330px 50px;
}
section.sports .calgary-flames .nhl-large {
    background-position: -495px 50px;
}
section.sports .carolina-hurricanes .nhl-large {
    background-position: -660px 50px;
}
section.sports .chicago-blackhawks .nhl-large {
    background-position: -825px 50px;
}
section.sports .colorado-avalanche .nhl-large {
    background-position: -990px 50px;
}
section.sports .columbus-blue-jackets .nhl-large {
    background-position: -1155px 50px;
}
section.sports .dallas-stars .nhl-large {
    background-position: -1320px 50px;
}
section.sports .detroit-red-wings .nhl-large {
    background-position: -1485px 50px;
}
section.sports .edmonton-oilers .nhl-large {
    background-position: -1650px 50px;
}
section.sports .florida-panthers .nhl-large {
    background-position: -1815px 50px;
}
section.sports .los-angeles-kings .nhl-large {
    background-position: -1980px 50px;
}
section.sports .minnesota-wild .nhl-large {
    background-position: -2145px 50px;
}
section.sports .montreal-canadiens .nhl-large {
    background-position: -2310px 50px;
}
section.sports .nashville-predators .nhl-large {
    background-position: -2475px 50px;
}
section.sports .new-jersey-devils .nhl-large {
    background-position: -2640px 50px;
}
section.sports .new-york-islanders .nhl-large {
    background-position: -2805px 50px;
}
section.sports .new-york-rangers .nhl-large {
    background-position: -2970px 50px;
}
section.sports .ottawa-senators .nhl-large {
    background-position: -3135px 50px;
}
section.sports .philadelphia-flyers .nhl-large {
    background-position: -3300px 50px;
}
section.sports .phoenix-coyotes .nhl-large {
    background-position: -3465px 50px;
}
section.sports .pittsburgh-penguins .nhl-large {
    background-position: -3630px 50px;
}
section.sports .san-jose-sharks .nhl-large {
    background-position: -3795px 50px;
}
section.sports .st-louis-blues .nhl-large {
    background-position: -3960px 50px;
}
section.sports .tampa-bay-lightning .nhl-large {
    background-position: -4125px 50px;
}
section.sports .toronto-maple-leafs .nhl-large {
    background-position: -4290px 50px;
}
section.sports .vancouver-canucks .nhl-large {
    background-position: -4455px 50px;
}
section.sports .washington-capitals .nhl-large {
    background-position: -4620px 50px;
}
section.sports .winnipeg-jets .nhl-large {
    background-position: -4785px 50px;
}






/*NBA*/
section.sports .nba-large               {display: inline-block;background-repeat: no-repeat;background-image: url('/static/images/sprites/nba-logos-large.png');width:160px;height:175px;}

section.sports .atlanta-hawks         div.face {background-color:#333;}
section.sports .boston-celtics          {background-color:#008751;}
section.sports .brooklyn-nets         div.face {background-color:#333;}
section.sports .charlotte-bobcats     div.face {background-color:#333;}
section.sports .chicago-bulls         div.face {background-color:#333;}
section.sports .cleveland-cavaliers   div.face {background-color:#333;}
section.sports .dallas-mavericks      div.face {background-color:#333;}
section.sports .denver-nuggets        div.face {background-color:#333;}
section.sports .detroit-pistons       div.face {background-color:#333;}
section.sports .golden-state-warriors div.face {background-color:#333;}
section.sports .houston-rockets       div.face {background-color:#333;}
section.sports .indiana-pacers        div.face {background-color:#333;}
section.sports .los-angeles-clippers  div.face {background-color:#333;}
section.sports .los-angeles-lakers    div.face {background-color:#333;}
section.sports .memphis-grizzlies     div.face {background-color:#333;}
section.sports .miami-heat            div.face {background-color:#333;}
section.sports .milwaukee-bucks       div.face {background-color:#333;}
section.sports .minnesota-timberwolve div.face {background-color:#333;}
section.sports .new-orleans-hornets   div.face {background-color:#333;}
section.sports .new-york-knicks       div.face {background-color:#333;}
section.sports .oklahoma-city-thunder div.face {background-color:#333;}
section.sports .orlando-magic         div.face {background-color:#333;}
section.sports .philadelphia-76ers    div.face {background-color:#333;}
section.sports .phoenix-suns          div.face {background-color:#333;}
section.sports .portland-trailblazers div.face {background-color:#333;}
section.sports .sacramento-kings      div.face {background-color:#333;}
section.sports .san-antonio-spurs     div.face {background-color:#333;}
section.sports .toronto-raptors       div.face {background-color:#333;}
section.sports .utah-jazz             div.face {background-color:#333;}
section.sports .washington-wizards    div.face {background-color:#333;}

/**/
section.sports .atlanta-hawks           .nba-large {background-position:0px 50px;}
section.sports .boston-celtics          .nba-large {background-position:-165px 50px;}
section.sports .brooklyn-nets           .nba-large {background-position:-330px 50px;}
section.sports .charlotte-bobcats       .nba-large {background-position:-495px 50px;}
section.sports .chicago-bulls           .nba-large {background-position:-660px 50px;}
section.sports .cleveland-cavaliers     .nba-large {background-position:-825px 50px;}
section.sports .dallas-mavericks        .nba-large {background-position:-990px 50px;}
section.sports .denver-nuggets          .nba-large {background-position:-1155px 50px;}
section.sports .detroit-pistons         .nba-large {background-position:-1320px 50px;}
section.sports .golden-state-warriors   .nba-large {background-position:-1485px 50px;}
section.sports .houston-rockets         .nba-large {background-position:-1650px 50px;}
section.sports .indiana-pacers          .nba-large {background-position:-1815px 50px;}
section.sports .los-angeles-clippers    .nba-large {background-position:-1980px 50px;}
section.sports .los-angeles-lakers      .nba-large {background-position:-2145px 50px;}
section.sports .memphis-grizzlies       .nba-large {background-position:-2310px 50px;}
section.sports .miami-heat              .nba-large {background-position:-2475px 50px;}
section.sports .milwaukee-bucks         .nba-large {background-position:-2640px 50px;}
section.sports .minnesota-timberwolves  .nba-large {background-position:-2805px 50px;}
section.sports .new-orleans-hornets     .nba-large {background-position:-2970px 50px;}
section.sports .new-york-knicks         .nba-large {background-position:-3135px 50px;}
section.sports .oklahoma-city-thunder   .nba-large {background-position:-3300px 50px;}
section.sports .orlando-magic           .nba-large {background-position:-3465px 50px;}
section.sports .philadelphia-76ers      .nba-large {background-position:-3630px 50px;}
section.sports .phoenix-suns            .nba-large {background-position:-3795px 50px;}
section.sports .portland-trailblazers   .nba-large {background-position:-3960px 50px;}
section.sports .sacramento-kings        .nba-large {background-position:-4125px 50px;}
section.sports .san-antonio-spurs       .nba-large {background-position:-4290px 50px;}
section.sports .toronto-raptors         .nba-large {background-position:-4455px 50px;}
section.sports .utah-jazz               .nba-large {background-position:-4620px 50px;}
section.sports .washington-wizards      .nba-large {background-position:-4785px 50px;}



