ul#sports_nav_cont .moresubnav {
	float: right;
	padding-right: 1%;
}


ul#sports_nav_cont {
	background: rgb(184,24,0);
	border: 909090px solid 1px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
	color: rgb(255,255,255);
	float: left;
	font-family: Futura;
	font-size: 11px;
	font-weight: 700;
	line-height: 13px;
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

ul#sports_nav_cont li.navItem {
	width: 70px;
}

ul#sports_nav_cont li#more {
	width: 71px;
	background-image: url('/static/images/sprites/nav-arrows.png');
	background-position: 69px 12px;
	background-repeat: no-repeat;
}

@media only screen and (min-width: 1280px) {
	ul#sports_nav_cont li.navItem {
		width: 92px;
	}
	
	ul#sports_nav_cont li#more {
		width: 111px;
	}

	ul#sports_nav_cont li.navItem > a:first-child  {
		width: 92px;
	}
	
	ul#sports_nav_cont li#more > a:first-child {
		width: 111px;
	}
}

@media only screen and (min-width: 1440px) {
	ul#sports_nav_cont li.navItem {
		width: 106px;
	}
	
	ul#sports_nav_cont li#more {
		width: 104px;
	}

	ul#sports_nav_cont li.navItem > a:first-child  {
		width: 106px;
	}
	
	ul#sports_nav_cont li#more > a:first-child {
		width: 104px;
	}
}

ul#sports_nav_cont li {
	border-left: 1px solid rgba(124,15,0,1);
	display: block;
	float: left;
	padding: 0;
}

ul#sports_nav_cont li.navItem {
	box-shadow: inset 1px 0px 0 rgb(240,30,4);
	-moz-box-shadow: inset 1px 0px 0 rgb(240,30,4);
	-webkit-box-shadow: inset 1px 0px 0 rgb(240,30,4);
	line-height:38px;	
}


ul#sports_nav_cont li.navItem:hover, 
ul#sports_nav_cont li.navItem.selected {
	background: rgb(142,16,1) url('/static/images/noise.png') repeat top left;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

ul#sports_nav_cont li.sectionlabel {
	border-left: none;
	font-size: 13px;
	font-weight: 700;
	line-height:37px;
	width: 120px;
}

ul#sports_nav_cont li.sectionlabel a {
}

ul#sports_nav_cont li ul il {
	list-style: none;
}

ul#sports_nav_cont li a {
	color: rgb(255,255,255);
	height: 40px;
	display: block;	
	text-decoration: none;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

ul#sports_nav_cont li:hover li a:hover {
	background: none;
}

ul#sports_nav_cont li:hover li a {
	background: none;
}

ul#sports_nav_cont .dropdown-subnav li {
	float: left;
}

ul#sports_nav_cont .dropdown-subnav ul {
	display: block;
	float: left;
}

ul#sports_nav_cont .megadropdown {
	background-color: #8E1001;
	border-bottom: medium none;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	/* box-shadow: inset 0 -3px 3px rgba(105,15,3);
		-moz-box-shadow: inset 0 -3px 3px rgba(105,15,3);
		-webkit-box-shadow: inset 0 -3px 3px rgba(105,15,3); */
	display: none;
	height: 161px;
	left: 0;
	max-width: 1200px;
	min-width: 840px;
	position: absolute;
	text-transform: none;
	top: 40px;
	width: 100%;
	z-index: 12;
}

ul#sports_nav_cont .megadropdown a {
	text-shadow: none;
}

ul#sports_nav_cont li:hover .megadropdown {
	opacity: 1;
   	display: block;
   	transition: opacity .1s ease-in-out;
   	-moz-transition: opacity .1s ease-in-out;
   	-webkit-transition: opacity .1s ease-in-out;
}

ul#sports_nav_cont li .megadropdown ul {
	margin: 0;
	padding: 0;
}

ul#sports_nav_cont .megadropdown a {
	background: none;
	background-color: none;
	border: none;
	display: inline;
	font-family: Arial, Verdana;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

ul#sports_nav_cont .megadropdown a:hover {
	text-decoration: underline;
}

ul#sports_nav_cont .megadropdown .left {
	/*  
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 3px; 
		-moz-border-radius: 3px;
	*/
	float: left;
	margin: 0 20px 0 0;
	min-height: 154px;
	width: 540px;
}

ul#sports_nav_cont .megadropdown .right {
	display: none;
	float: right;
	height: 110px;
	width: 200px;
}

@media only screen and (min-width: 1280px) {
	ul#sports_nav_cont .megadropdown .right {
		display: block;
	}
}

ul#sports_nav_cont .megadropdown .middle {
	float: left;
	font-size: 11px;
	height: 100px;
}

ul#sports_nav_cont .main .middle {
	height: 90px;
	width: 32%;
}

@media only screen and (min-width: 1280px) {
	ul#sports_nav_cont .main .middle {
		width: 42%;
	}
}

@media only screen and (min-width: 1440px) {
	ul#sports_nav_cont .main .middle {
		width: 600px;
	}
}

ul#sports_nav_cont .main .right.noTitle {
	height: 70px;
	padding-top: 40px;
}

ul#sports_nav_cont .megadropdown .left li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	padding: 0px;
	height:53px;
}

ul#sports_nav_cont .megadropdown .left li:hover {
	background-color: rgb(150,21,0);
}

ul#sports_nav_cont .megadropdown .left li a {
	border: none;
	float: left;
	padding:0;
	width: 130px;
	height:53px;
	line-height:52px;
}

ul#sports_nav_cont .main .left li a {
}

ul#sports_nav_cont .megadropdown .left li a:hover {
	color: rgb(255,255,255);
	text-decoration: none;
}

ul#sports_nav_cont .megadropdown .right a {
	float: left;
	margin: 10px 10px 0;
	white-space: normal;
	width: 80px;
}

ul#sports_nav_cont .megadropdown .right a span {
	clear: both;
	display: block;
	line-height: 12px;
	padding: 5px 0 0;
}

ul#sports_nav_cont .megadropdown .middle li {
	background-position: 0 6px;
	background-repeat: no-repeat;
	border: none;
	clear: both;
	float: left;
	line-height: 15px;
	margin: 0 !important;
	padding: 0 0 0 13px;
}

ul#sports_nav_cont .megadropdown .middle li a {
	float: left;
	height: 15px;
	line-height: 15px;
}

ul#sports_nav_cont .megadropdown .middle .title {
	display: block;
	text-align: left;
	text-shadow: none;
	text-transform: none;
}

ul#sports_nav_cont .moresubnav .megadropdown .middle {
	margin: 5px 0 0 0;
	text-align: left;
	width: 210px;
}

@media only screen and (min-width: 1280px) {
	ul#sports_nav_cont .moresubnav .megadropdown .middle {
		margin: 20px 0 0 10px;
		width: 300px;
	}
}


@media only screen and (min-width: 1440px) {
	ul#sports_nav_cont .megadropdown a.top:nth-child(2n) {
		display: block;
	}
}

ul#sports_nav_cont .moresubnav .megadropdown .middle li {
	background-image: url('/static/images/sprites/nav-arrows.png');
	background-position: -9px -38px;
	background-repeat: no-repeat;
	height: none;
}

ul#sports_nav_cont .moresubnav .megadropdown .middle li a {
	height: none;
}

ul#sports_nav_cont .moresubnav .megadropdown .right {
	margin: 22px 10px 0 0;
}

ul#sports_nav_cont .megadropdown a.top {
	float: left;
	line-height:16px;
	margin: 0 5px;
	text-align: left;
	white-space: normal;
	width: 225px;
}

@media only screen and (min-width: 1280px) {
	ul#sports_nav_cont .megadropdown a.top {
		margin: 0 20px;
		width: 280px;
	}
}

@media only screen and (min-width: 1440px) {
	ul#sports_nav_cont .megadropdown a.top {
		margin: 0 20px;
		width: 260px;
	}
}

ul#sports_nav_cont .megadropdown a.top h5 {
	color: rgb(196,93,78);
	margin: 0px;
}

ul#sports_nav_cont .megadropdown a:hover {
	text-decoration: none;
}

ul#sports_nav_cont .megadropdown a.top img {
	float: left;
	margin-right: 10px;
}

ul#sports_nav_cont .megadropdown a.top span {
	clear: none;
	display: block;
	padding: 0;
}

ul#sports_nav_cont li .megadropdown a.top span.title-tag {
	font-weight: 700;
}

/* for spacing sports front */
ul#sports_nav_cont .showing {
	display: block !important;
}

ul#sports_nav_cont .spacer {
	display: none;
	float: right;
	height: 160px;
	position: relative;
	width: 500px;
}