/* reset */
header.subHeader ol, 
header.subHeader ul {
	list-style-position: inside;
	padding:0;
	margin: 0;
}

header.subHeader a {
	text-decoration: none;
	cursor: pointer;
}
header.subHeader a:hover {
	text-decoration: underline;
}

/* end reset */
header.subHeader
{
	margin: 0 auto;
	width: 100%;
}

header.subHeader .header {
	background: rgb(142,16,1) url('/static/images/noise.png') repeat top left;
	box-shadow: inset 0 1px 1px rgb(121,15,1);
	clear: both;
	height: 121px;
	-moz-box-shadow: inset 0 1px 1px rgb(121,15,1);
	position: relative;
	-webkit-box-shadow: inset 0 1px 1px rgb(121,15,1);
}

header.subHeader .header .logo {
	color: rgb(255,255,255);
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70px;
	font-weight: bold;
	height: 84px;
	left: 28px;
	position: absolute;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 3px 1px #333;
	top: 12px;
	z-index: 10;
}

header.subHeader .header .logo span { 
	background-color:rgb(255,255,255);
	background-image: url("/static/images/sports/league-logos.png");
	background-repeat: no-repeat;
	border: 2px #333 solid;
	padding: 38px;
	margin: 10px 12px 0 0;
	float: left;
}

header.subHeader .header .nfl { 
	background-position: -14px -308px; 
}

header.subHeader .header .nba { 
	background-position: -14px -415px; 
}

header.subHeader .header .nhl { 
	background-position: -14px 0px; 
}

header.subHeader .header .mlb { 
	background-position: -14px -103px; 
}

header.subHeader .header .wnba { 
	background-position: -14px -521px; 
}

header.subHeader .navigation {
	background: url("/static/images/noise.png") repeat scroll left top rgb(148,18,0);
	border-top: rgba(0, 0, 0, 0.2) 1px solid;
	clear: both;
	height: 40px;
}

header.subHeader .navigation ul li {
	border-left: #7c0f00 1px solid;
	box-shadow: inset 1px 1px 0 rgb(162,30,4);
	float: left;
	list-style: none;
	-moz-box-shadow: inset 1px 1px 0 rgb(162,30,4);
	position: relative;
	-webkit-box-shadow: inset 1px 1px 0 rgb(162,30,4);
}

header.subHeader .navigation ul li a {
	color: rgb(255,255,255);
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 40px;
	letter-spacing: 0.01em;
	line-height: 40px;
	text-align: center;
	width: 80px;
}

@media only screen and (min-width: 1280px) {
	header.subHeader .navigation ul li a {
	width: 100px;
    }
}

@media only screen and (min-width: 1440px) {
	header.subHeader .navigation ul li a{
	width: 110px;
    }
}

header.subHeader .navigation ul li.teams:hover, 
header.subHeader .navigation ul li.teams.over {
	background-image: url("/static/images/sports/navigation-sub-bg.jpg") !important;
	background-position: 0 0;
	background-repeat: repeat;
	box-shadow: 2px 10px 8px rgb(0,0,0), inset 0 1px 0 rgba(251,251,251);
	-moz-box-shadow: 2px 10px 8px rgb(0,0,0), inset 0 1px 0 rgba(251,251,251);
	-webkit-box-shadow: 2px 10px 8px rgb(0,0,0), inset 0 1px 0 rgba(251,251,251);
}

header.subHeader .navigation ul li.teams:hover, 
header.subHeader  .navigation ul li.teams.over { 
	background-image: url("/static/images/sports/seperator.jpg");
	background-position: bottom left;
	background-repeat: repeat-x;
	color: rgb(0,0,0);
	text-decoration: none;
}
header.subHeader .navigation ul li.teams:hover a, 
header.subHeader  .navigation ul li.teams.over a {
		color: rgb(0,0,0);
}
header.subHeader .navigation ul li a:hover, 
header.subHeader .navigation ul li:hover a, 
header.subHeader .navigation ul li.over a {	
	background-image: url("/static/images/sports/seperator.jpg");
	background-position: bottom left;
	background-repeat: repeat-x;
	color: rgb(0,0,0);
	text-decoration: none;
}

header.subHeader .navigation ul ul li a:hover, 
header.subHeader .navigation ul li:hover ul a, 
header.subHeader .navigation ul li.over ul a {
	background: none;
}

header.subHeader .navigation ul li:hover ul, 
header.subHeader .navigation ul li.over ul {
	display: block !important;
}

header.subHeader .navigation ul ul {
	background-image: url("/static/images/sports/navigation-sub-bg.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	box-shadow: 0 10px 10px rgba(153,153,153,0.4), inset 0 1px 0 rgb(251,251,251);
	display: none;
	left: -202px;
	-moz-box-shadow: 0 10px 10px rgba(153,153,153,0.4), inset 0 1px 0 rgb(251,251,251);
	padding: 24px 22px 0 22px;
	position: absolute;
	top: 40px;
	-webkit-box-shadow: 0 10px 10px rgba(153,153,153,0.4), inset 0 1px 0 rgb(251,251,251);
	width: 676px;
	z-index: 100;
}

header.subHeader .navigation ul li:last-child ul {
	left: auto;
	right: 0;
}

header.subHeader .navigation ul ul li, 
header.subHeader .navigation ul ul li:hover {
	background: none !important;
	border-left: none;
	box-shadow: none;
	column-count: 3;
	column-gap: 40px;
	column-width: 140px;
	float: none;
	margin: 0;
	margin-right: -5px;
	-moz-box-shadow: none;
	-moz-column-count: 3;
	-moz-column-gap: 40px;
	-moz-column-width: 140px;
	padding: 0;
	-webkit-box-shadow: none;
	-webkit-column-count: 3;
	-webkit-column-gap: 40px;
	-webkit-column-width: 140px;
}

header.subHeader .navigation ul ul li.nfl {
	column-count: 4;
	-moz-column-count: 4;
	-webkit-column-count: 4;
}

header.subHeader .navigation ul ul ul {
	background: none !important;
	box-shadow: none;
	display: block !important;
	float: none !important;
	height: auto !important;
	left: inherit !important;
	-moz-box-shadow: none;
	padding: 0 !important;
	padding-bottom: 38px !important;
	position: relative !important;
	top: inherit !important;
	-webkit-box-shadow: none;
	width: inherit !important;
}

header.subHeader .navigation ul ul ul li {
	column-count: 0;
	column-gap: 0;
	column-width: 0;
	display: block;
	margin: 0 !important;
	-moz-column-count: 0;
	-moz-column-gap: 0;
	-moz-column-width: 0;
	-webkit-column-count: 0;
	-webkit-column-gap: 0;
	-webkit-column-width: 0;
	width: inherit;
}

header.subHeader .navigation ul ul li:hover, 
header.subHeader .navigation ul ul li.over, 
header.subHeader .navigation ul ul ul li:hover, 
header.subHeader .navigation ul ul ul li.over {
	background: none;
	border-bottom: none;
	box-shadow: none;
	margin-bottom: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

header.subHeader .navigation ul ul li a,
header.subHeader .navigation ul ul ul li a {
	color: rgba(102,102,102);
	font-size: 12px;
	height: auto;
	letter-spacing: normal;
	line-height: 20px !important;
	text-align: left;
	width:auto;
}

header.subHeader .navigation ul li:hover ul ul li a, 
header.subHeader .navigation ul li.over ul ul li a {
	color: rgb(102,102,102) !important;
}

header.subHeader .navigation ul li ul ul li a:hover {
	color: rgb(0,170,255) !important;
}

header.subHeader .navigation ul ul li.title,
header.subHeader .navigation ul ul li:hover.title, 
header.subHeader .navigation ul ul li.over.title {
	background-image: url(/static/images/sports/separator.jpg) !important;
	background-position: 0 11px !important;
	background-repeat: repeat-x !important;
	display: block;
	margin: 0;
	padding-bottom: 10px;
}

header.subHeader .navigation ul ul li.title span,
header.subHeader .navigation ul ul li:hover.title span, 
header.subHeader .navigation ul ul li.over.title span {
	background-image: url(/static/images/sports/navigation-sub-bg.jpg) !important;
	background-position: 0 0 !important;
	background-repeat: repeat !important;
	color: #333;
	display: inline-block !important;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: normal;
	line-height: 16px;
	padding: 0 11px 0 0;
	text-transform: uppercase;
}

header.subHeader .navigation ul li.more ul {
	background: none;
	background-color: rgb(166,27,8);
	box-shadow: 0 10px 10px rgba(153,153,153,0.4), inset 0 1px 0 rgb(180,46,16);
	display: none;
	-moz-box-shadow: 0 10px 10px rgba(153,153,153,0.4), inset 0 1px 0 rgb(180,46,16);
	padding: 0;
	position: absolute;
	-webkit-box-shadow: 0 10px 10px rgba(153,153,153,0.4), inset 0 1px 0 rgb(180,46,16);
	width: 140px;
	z-index: 100;
}

header.subHeader .navigation ul li.more:hover, 
header.subHeader  .navigation ul li.more.over
{
	background: none !important;
	background-color: rgb(166,27,8);
}

header.subHeader .navigation ul li:hover, 
header.subHeader  .navigation ul li.over,
header.subHeader  .navigation ul li.selected
{
	background: none !important;
	background-color: rgba(0, 0, 0, 0.2) !important;
	box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 2px 5px rgba(0, 0, 0, 0.2);
}

header.subHeader .navigation ul li.more:hover a, 
header.subHeader  .navigation ul li.more.over a,
header.subHeader .navigation ul li:hover a, 
header.subHeader  .navigation ul li.over a{
	background: none;
	color: rgb(255,255,255);
}

header.subHeader .navigation ul li.more:hover, 
header.subHeader  .navigation ul li.more.over {	
	box-shadow: 1px 10px 8px rgba(0,0,0,0.4), inset 0 1px 0 rgb(180,46,16), inset 0 -1px 0 rgb(79,13,4);
	-moz-box-shadow: 1px 10px 8px rgba(0,0,0,0.4), inset 0 1px 0 rgb(180,46,16), inset 0 -1px 0 rgb(79,13,4);
	-webkit-box-shadow: 1px 10px 8px rgba(0,0,0,0.4), inset 0 1px 0 rgb(180,46,16), inset 0 -1px 0 rgb(79,13,4);
}

header.subHeader .navigation ul li.more ul li {
	margin: 0;
}

header.subHeader .navigation ul li.more ul li a {
	color: rgb(255,255,255);
	display: block;
	font-size: 11px;
	letter-spacing: 0.01em;
	line-height: 30px !important;
	padding: 0;
	padding-left: 20px;
}

header.subHeader .navigation ul li.more ul li a:hover {
	background-color: rgba(0, 0, 0, 0.2) !important;
}
/* teampages */
header.teamPage .header .logo span {
		border:none;
}

header.teamPage .header { 
	overflow: hidden;
}

header.teamPage .navigation {
	border-top: rgba(0, 0, 0, 0.2) 1px solid;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 -3px 5px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 -3px 5px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 -3px 5px rgba(0, 0, 0, 0.05)
}

header.teamPage .header span {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

header.teamPage .navigation ul li { 
	border-left: rgba(0,0,0,0.05) 1px solid;
	box-shadow: 1px 1px 0 rgba(0,0,0,0.1) inset;
}
 /* endteampages */
 /* page type section */

#section_sports section#page_type { 
 	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
	color: rgb(255,255,255);
 	height:45px;
 	margin-bottom:10px;
}

.sports section.page_type_cont { 
 	background: rgb(110,10,0) url('/static/images/noise.png') repeat top left;
}
.sports section.page_type_cont div {
	background-color: rgba(0, 0, 0, 0.2) !important;	
}

#section_sports section#page_type #team-chooser { 
	background: url('/static/images/sprites/nav-arrows.png') no-repeat 6px -71px;
	padding: 4px 0 4px 40px;
	margin: 0 0 0 30px;
	font-size:11px;
	cursor: pointer;
	line-height:50px;
	border-left:1px solid rgba(250,250,250,0.3);
}

#section_sports section#page_type h3 { 
  	margin: 0px;
  	text-transform:uppercase;
  	padding: 11px 0 0 25px;
  	font-size:17px;
  	font-weight:bold;
  	float: left;
}

#section_sports section#page_type span.fieldset { 
	overflow: auto;
	float: right;
	min-width:500px;
}

#section_sports section#page_type span.fieldset label {
	display: none;
}

