

#section_sports .popup {
	box-shadow: 0 3px 8px #000;
	display: none;
	left: 84px;
	-moz-box-shadow: 0 3px 8px #000;
	position: absolute;
	top: 120px;
	-webkit-box-shadow: 0 3px 8px #000;
	width: 680px;
	z-index: 1000;
}

@media only screen and (min-width: 1280px) {
		#section_sports .popup {
		left: 260px;
	}
}

#section_sports .popup .close {
	background-image: url("/static/images/buttons/button-close.png");
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	position: absolute;
	right: -24px;
	top: -18px;
	width: 50px;
	z-index: 500;
}

#section_sports .popup ul,
#section_sports .popup li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#section_sports .popup .close {
	background-image: url("/static/images/buttons/button-close.png");
	background-repeat: no-repeat;
	display: inline-block;
	height: 44px;
	position: absolute;
	right: -24px;
	top: -18px;
	width: 50px;
	z-index: 500;
}

#section_sports .popup .popup-header {
	background-image: url("/static/images/sports/popup-header.png");
	background-position: 0 0;
	background-repeat: repeat;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-shadow: inset 0 -1px 3px #bfbfbf;
	color: #4c4c4c;
	font-size: 30px;
	font-weight:bold;
	height: 50px;
	line-height: 34px;
	-moz-border-radius-top-left: 4px;
	-moz-border-radius-top-right: 4px;
	-moz-box-shadow: inset 0 -1px 3px #bfbfbf;
	overflow: hidden;
	padding: 21px 20px 5px 19px;
	-webkit-border-radius-top-left: 4px;
	-webkit-border-radius-top-right: 4px;
	-webkit-box-shadow: inset 0 -1px 3px #bfbfbf;
}

#section_sports .popup .popup-content {
	background-image: url("/static/images/paper-noise.png");
	background-position: 0 0;
	background-repeat: repeat;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #333;
	font-size: 13px;
	height: 385px;
	line-height: 16px;
	-moz-border-radius-bottom-left: 4px;
	-moz-border-radius-bottom-right: 4px;
	overflow: auto;
	padding: 17px 20px 0 20px;
	-webkit-border-radius-bottom-left: 4px;
	-webkit-border-radius-bottom-right: 4px;
}

#section_sports .popup .review {
	border-bottom: #e6e6e6 1px solid;
	clear: both;
	display: block;
	margin-bottom: 2px;
	overflow: hidden;
	padding-bottom: 12px;
}

#section_sports .popup .review h4 {
	color: #333;
	font-size: 16px;
	line-height: 1px;
	text-transform: uppercase;
}

#section_sports .popup .review .element {
	color: #333;
	cursor: pointer;
	float: left;
	font-size: 1em;
	font-weight: bold;
	line-height: 17px;
	margin: 0 0 4px;
	width: 150px;
}

#section_sports .popup .nba .review .element,
#section_sports .popup .mlb .review .element  {
	
}

#section_sports .popup .review  a { 
	text-decoration:none;
	color: rgb(51,51,51);
}

#section_sports .popup .review .element .img {
	display: inline-block;
	float: left;
	height: 30px;
	margin-right: 10px;
	width: 30px;
}

#section_sports #popupfilmlayer {
    background-color: rgba(0,0,0,.6);
    opacity: 1;
    -webkit-transition-delay: 0.3s;
       -moz-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: opacity;
       -moz-transition-property: opacity;
         -o-transition-property: opacity;
            transition-property: opacity;
	display: none;
	position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	z-index: 120;
}