
#section_sports_team_front div.module.salaries {
    
}

#section_sports_team_front div.module.salaries table {
    background:#fff;
    border:5px solid #fff;
    margin:20px;
    width:95%;
    -webkit-box-shadow:  0px 3px 3px 1px rgba(,.01);
            box-shadow:  0px 3px 3px 1px rgba(,.01);
}

#section_sports_team_front div.module.salaries table thead tr {
    background:#333;
    color:#fff;
    text-align:left;
    font-weight:100;
}

#section_sports_team_front div.module.salaries table tbody tr:nth-child(odd) {
    background:rgb(238,238,238);
}

#section_sports_team_front div.module.salaries table tbody tr td, #section_sports_team_front div.module.salaries table thead tr th {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    border-left: 1px solid #b7b7b7;
    border-right: 1px solid #fff;
    margin-right:4px;
}

#section_sports_team_front div.module.salaries table tbody tr td:first-child, #section_sports_team_front div.module.salaries table thead tr th:first-child {
    text-align: left;
}

#section_sports_team_front div.module.salaries span {
    display: block;
    clear: both;
    text-align: right;
    width: 98%;
}
#section_sports_team_front div.module.salaries span a {
    color: #333;
    display: block;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
}
