.chronologyContainer .ipadOnly {
    background-image: none;
    background: #4F4D4D;
    height: 704px;
    padding-top: 10px;
}

.chronologyContainer .blankCover {
    position: absolute;
    width: 980px;
    height: 700px;
    left: 0px;
    z-index: 99999999;
    display: none;
}

.chronologyContainer .blankCover.active {
    display: block;
}

.chronologyContainer {
    width: 970px;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}

.chronologyContainer .blackContianer {
    height: 66px;
    margin: 6px 0 12px;
    background-color: #000000;
}

.chronologyContainer .infoContainer {
    position:relative;
}


.chronologyContainer .head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.chronologyContainer .headChatter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    margin-top: 7px;
    width: 835px;
}

.chronologyContainer .bullets {
    width: 970px;
    height: 14px;
    margin: 4px auto 19px auto;
    text-align: center;
    z-index: 99999;
}

.chronologyContainer .bullets ul {
   display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
    background-repeat:repeat-x;
}

.chronologyContainer .bullets li {
    padding: 0 20px;
    list-style: none outside none;
    float:left;
    width:20px;
}

.chronologyContainer .bullets li .blueBullet {
    background-color: #53B4F1;
    cursor: pointer;
    float: left;
    height: 20px;
    list-style: none outside none;
    position: relative;
    width: 15px;
}

.chronologyContainer .bullets li div.hiddenContent {
    display: none;
    position: relative;
    z-index: 1;
}

.chronologyContainer .bullets li.active div.hiddenContent {
    display: block;
}

.chronologyContainer .bullets li div.eventDateDiv {
    color:white;
    position: absolute;
    left: -114px;
    top: 50px;
    width: 250px;
    font-weight: bold;
    z-index: 1000000;
}

.chronologyContainer .eventDateDiv p {
    color:white;
    display:block;
}

.chronologyContainer .bullets li .arrowBox {
    position: absolute;
    bottom: 10px;
}

.chronologyContainer .stage {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    overflow: hidden;
    width: 973px;
    height: 487px;
}

.chronologyContainer .stage #carousel {
    list-style: none;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;

}

.chronologyContainer .stage #carousel li {
    float: left;
    width: 970px;
}

.chronologyContainer .stage #carousel li.slideLI {
    list-style-type:none;
}

.chronologyContainer .carouselContainer{
    display:block;
    position:relative;
}

.chronologyContainer .clipContainer{
    position:relative;
    height: 487px;
    width: 970px;
    overflow:hidden;
}

.chronologyContainer .tlLeftArrow {
    left: 0px;
}

.chronologyContainer .tlRightArrow {
    right: 0px;
}

.chronologyContainer .tlLeftArrow.prev,
.chronologyContainer .tlRightArrow.next {
    cursor: pointer;
    display: block;
    left: auto;
    position: absolute;
    top: 200px;
    width: 31px;
    z-index: 100000;
}

.chronologyContainer .tlLeftArrow.prev {
    left: 0;
}

.chronologyContainer .tlRightArrow.next {
    right: 0;
}

/*
.chronologyContainer .contentItem {
    width: 961px;
    height: 483px;
    
    margin: 0 6px 6px;
}
*/

.chronologyContainer .contentItem .blueBar {
    height: 34px;
    background-color: #53b4f1;
    border: solid 1px #53b4f1;
    border-radius: 0 1px;
    z-index:1;
}

.chronologyContainer .contentItem .contentContainer {
    margin: 15px;
}

.chronologyContainer .contentContainer .contentImage {
    float: left;
    margin-left:40px;
}

.chronologyContainer .contentText {
    float: left;
    width: 285px;
    margin-left: 15px;
    overflow:hidden;
}
.chronologyContainer .contentText .text{
    font-size: 14px;
    text-align:left;
    font-style:normal !important;
    max-height: 310px;
    overflow: auto;
}

.chronologyContainer .contentText .text div{
    text-align:left;
}

.chronologyContainer .contentText a {
    color:rgb(25,144,229);
    text-decoration: none;
}

.chronologyContainer .contentText a:hover {
    text-decoration:underline;
    }

.chronologyContainer .infoContainer h1{
    font-size: 20px;
    margin: 0;
    text-align:left;
    font-weight:bold;
}

.chronologyContainer .headChatter{
    font-size: 13px;
    padding-bottom: 20px;
    text-align:left;
}

.chronologyContainer .contentText h1 {
    font-size: 24px;
    margin-bottom: 10px;
    /* margin-left: -15px; */
    margin-top: -5px;
    text-align:left;
}

.chronologyContainer .tlEventMarker {
    width: 9px;
    height: 16px;
    position: absolute;
    top: 2px;
    background: url("/static/images/interactives/chronology/eventMark.png");
    cursor: pointer;
    z-index: 7;
}

.chronologyContainer .tlEventScrubber {
    width: 46px;
    height: 39px;
    background: url("/static/images/interactives/chronology/eventScrubber.png");
    position: absolute;
    top: -9px;
    left: 8px;
    z-index: 10;
}

.chronologyContainer .tlEventScrubberBox {
    width: 980px;
    height: 39px;
    position: absolute;
    top: -9px;
    left: 0px;
}

.chronologyContainer .tlEventBox {
    height: 18px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    width: 975px;
    z-index: 999999999;
    border-top: 1px solid #c5c3c3;
}

.chronologyContainer .dark .tlEventBox {
    height: 18px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    width: 975px;
    z-index: 9999999;
    border-top: 1px solid white;
}

.chronologyContainer #tlEventScrubberButton{
    background: url("/static/images/interactives/chronology/eventMark.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    position: absolute;
    top: 2px;
    width: 9px;
    z-index: 7;
}

.chronologyContainer .eventArrow{
    background: url("/static/images/interactives/chronology/blueArrow.png") repeat scroll 0 0 transparent;
    height: 17px;
    left: -7px;
    position: absolute;
    top: 26px;
    width: 29px;
    cursor: auto;
    z-index: 90;
}

.chronologyContainer .bullets li p {
   cursor: auto;
}

.chronologyContainer .VideoContainer {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 500;
}

html.touch .chronologyContainer .VideoContainer {
    display: block;
}

.chronologyContainer .currentSlide .VideoContainer {
    display: block;
}

.chronologyContainer .clipContainer .VideoContainer {
    display: block;
}

.chronologyContainer .iPadSlideVideo {
    visibility: hidden;
    /*opacity: 0;
    filter: alpha(opacity=0); */
    z-index: 100;
}

.chronologyContainer .iPadSlideVideo .VideoPosition {
    position: absolute;
    top: 0px;
    left: 0px;
}

.chronologyContainer .iPadSlideVideo.active {
    background-color: black;
    display: block;
    height: 309px;
    left: 62px;
    position: absolute;
    top: 49px;
    visibility: visible;
    width: 550px;
    z-index: 200;
}

.chronologyContainer .mainSource, .mainCredit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #999 !important;
    text-align:left;
    margin-left: 8px;
}

.chronologyContainer .mainSource {
    margin-top: 10px;
    color: #999 !important;
}

.chronologyContainer .boxSource {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #999 !important;;
    margin-top: 15px;
    text-align:left;
}

/* ########### DARK STYLES ####### */
.chronologyContainer .ipadOnly{
    background-color:black;
}

.chronologyContainer.dark {
    background-color:black;
}

.chronologyContainer.dark  .infoContainer h1 {
    color:white;
}

.chronologyContainer.dark  .infoContainer div {
    color:white;
}

.chronologyContainer.dark .contentItem{
    background: none repeat scroll 0 0 #D6D4D4;
}

/*
.chronologyContainer.dark  .stage .tlLeftArrow {
    background-image: url('/static/images/interactives/chronology/leftArrow_dark.png');
    left: 0px;
    visibility:hidden;
}

.chronologyContainer.dark  .stage .tlRightArrow {
    background-image: url('/static/images/interactives/chronology/rightArrow_dark.png');
    right: 0px;
}
*/

.chronologyContainer.dark  .mainSource, .mainCredit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: white;
}

.chronologyContainer.dark  .mainSource {
    margin-top: 5px;
    color: white !important;
}

.chronologyContainer .socialIcons{
    position:absolute;
    right: 0;
    bottom:0;
}

.chronologyContainer #ipadRedirectMessage{
    background-color: #333030;
    color: white;
    font-size: 170%;
    font-weight: bold;
    height: 0;
    margin-bottom: 20px;
    padding: 35px 10px 60px 20px;
    text-align: center;
    width: 958px;
    border-radius: 15px;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.4, rgb(94,92,94)),
        color-stop(0.08, rgb(115,115,115)),
        color-stop(0.86, rgb(28,31,31))
    );
}

.chronologyContainer .loader{
    background:url("/static/images/interactives/chronology/pre-loader.gif") no-repeat;
    z-index: 1000000;
    width: 20px;
    height: 20px;
    position: relative;
    left: 320px;
    top: 350px;
    display:none;

}

.chronologyContainer #ipadRedirectMessage p a{
    color:#e6e1e1;
    letter-spacing:2px;
}





.chronologyContainer .head,
.chronologyContainer .headChatter,
.chronologyContainer .mainSource,
.chronologyContainer .mainCredit {
    margin-left: 10px;
}

.chronologyContainer .head {
    margin-top: 10px;
}

.chronologyContainer .stage {
    margin: 0 auto;
    width: 960px;
}

.chronologyContainer .tlEventBox {
    margin-left: 10px;
    width: 950px;
}

.chronologyContainer .stage #carousel li {
    width: 960px;
}

.chronologyContainer .contentItem {
    width: auto;
    margin: 0;
}

.chronologyContainer .contentContainer .contentImage {
    margin-left: 30px;
}

.chronologyContainer .contentContainer.video .contentImage {
    min-height: 309px;
    min-width: 550px;
}





.chronologyContainer #rotate-overlay {display: none;}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /*body.touch{  height: 1024px;   }*/
    .chronologyContainer #rotate-overlay{ background: rgba(0,0,0,0.75);   width: 1024px; height: 100%; z-index: 10000000;  position:absolute; top: 0; left: 0; display: block;}
    .chronologyContainer .rotate-overlay-modal {   width: 768px; text-align:center;  height: 230px; margin-top: 200px;  padding: 20px; line-height: 1.6em;}
    .chronologyContainer .rotate-overlay-modal h3 {margin: 40px; font-size: 17px; color: #FFF;}
    .chronologyContainer .rotate-overlay-modal p {margin-bottom: 17px;}
}