#sqContainer .sqiPadOnlyBody {
    background-image: none;
    background: #4F4D4D;
    height: 704px;
    padding-top: 10px;
}

#sqContainer {
    position: relative;
    width: 980px;
    margin: 0 auto;
    text-align: left;
}

html.touch #sqContainer .blankCover {
    position: absolute;
    width: 980px;
    height: 700px;
    left: 0px;
    z-index: 900;
    display: none;
}

html.touch #sqContainer .blankCover.active {
    display: block;
}

html.touch #sqContainer .blankCover {
    position: absolute;
    width: 980px;
    height: 700px;
    left: 0px;
    z-index: 900;
    display: none;
}

html.touch #sqContainer .blankCover.active {
    display: block;
}

html.touch #sqContainer {
    /*top: 40px;*/
}

#sqContainer .sqHead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -0.5px;
}

#sqContainer .sqChatter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
    margin-top: 7px;
    width: 835px;
}

#sqContainer .sqBackground {
    background: #d8d7d7;
    padding: 15px;
    margin-top: 7px;
    position: relative;
    overflow: hidden;
    height: 452px;
    width: 950px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#sqContainer.light .sqHead {
    color: #333;
}

#sqContainer.light .sqChatter {
    color: #333;
}

#sqContainer.light .sqBackground {
    background: #d8d7d7;
}

#sqContainer .sqImageContainer {
    border: #fff solid 1px;
    width: 948px;
    height: 450px;
    overflow: hidden;
    position: relative;
}

#sqContainer.light .sqImageContainer {
    border: #cbcbcb solid 1px;
}

#sqContainer .sqImageSliderBox {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 450px;
}

#sqContainer .sqImage {
    width: 948px;
    height: 450px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
}

#sqContainer.slide .sqImageContainer .sqImage {
    position: relative;
    float: left;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#sqContainer .sqButtonPanelContainer {
    position: absolute;
    top: 46px;
    right: 37px;
    width: 198px;
    padding: 0px;
/*  -moz-border-radius: 3px;
    border-radius: 3px;
    
    background-color:rgba(174,174,174,0.36);*/
    border: #e6e6e6 solid 1px;
    display: none;
    z-index: 600;
}

#sqContainer .sqButtonContainer {
    width: 198px;
    padding: 0px;
    background: none;
    margin: 0px;
    border: none;
}

#sqContainer.light .sqButtonContainer {
    background: none;
    border: none;
    padding: 0px;
    background: none;
    margin: 0px;

}

#sqContainer .sqButton {
    width: 198px;
    height: 43px;
    /*padding: 5px;*/
    display: table;
    cursor: pointer;
    background: #f7f7f7;
    margin-bottom: 0px;
    border-bottom: #c6c6c6 dashed 1px;
}

#sqContainer.little .sqButton {
    height: 43px;
    padding: 10px 0 !important;
}

#sqContainer .sqButton.last {
    border-bottom: none;
    padding: 10px 0 !important;
}

html.touch #sqContainer .sqButton {
    width: 208px;
}

#sqContainer.light .sqButton {
    background: #f7f7f7;
    margin-bottom: 0px;
    border-bottom: #c6c6c6 dashed 1px;
}

#sqContainer.big .sqButton {
    height: 89px;
}

#sqContainer .sqButton.active {
    background: #7a7a7a;
    cursor: auto;
}

#sqContainer.light .sqButton.active {
    background: #7a7a7a;
}

#sqContainer .sqButton .sqButtonNumberContainer {
    display: table-cell;
    vertical-align: middle;
    width: 36px;
    float:left;
}

#sqContainer .sqButton .sqButtonTextContainer {
    /*display:table-cell;
    vertical-align: middle;*/
    float: left;
    margin: 25px 0;
    width: 162px;
}

#sqContainer.little .sqButton .sqButtonTextContainer {
    margin: 5px 0;
}

#sqContainer.nonumbers .sqButton .sqButtonTextContainer {
    width: 188px;
    padding-left: 10px;
}

#sqContainer .sqButton .sqButtonNumber {
    width: 36px;
    /*background: #ccc;*/
    color: #4f4d4d;
/*  -moz-border-radius: 11px;
    border-radius: 11px;
    */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    float: left;
    margin-right: 7px;
}

#sqContainer .sqButton .sqNumPadding {
    margin-top: 2px;
}

#sqContainer.light .sqButton .sqButtonNumber {
    /*background: #ccc;*/
    color: #4f4d4d;
    margin: 20px 0;
}

#sqContainer.little .sqButton .sqButtonNumber {
    margin: 0;
}

#sqContainer .sqButton.active .sqButtonNumber {
    /*background: #333;*/
    color: #fff;
}

#sqContainer.light .sqButton.active .sqButtonNumber {
    /*background: #333;*/
    color: #fff;
    float:left;
    display:inline-block;
}

#sqContainer .sqButton .sqButtonText {
    color: #4F4D4D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    display:table-cell;
    vertical-align:middle;
    width: 150px;
    float:left;
}

#sqContainer.light .sqButton .sqButtonText {
    color: #4f4d4d;
    float:left;
    display:inline-block;
}

#sqContainer.light .sqButton.active .sqButtonText {
    color: #fff;
}

#sqContainer .sqButton.active .sqButtonText {
    color: #fff;
}

#sqContainer .sqImageSection {
    position: relative;
}

#sqContainer .sqPanelHide {
    position:absolute;
    top: 25px;
    right: 36px;
    width: 28px;
    height: 22px;
    background: url(/static/images/interactives/sequencer/smallHide.png) 0 0 no-repeat;
    cursor: pointer;
    display: none;
    z-index: 700;
}

#sqContainer .sqPanelHide.show {
    background: url(/static/images/interactives/sequencer/smallShow.png) 0 0 no-repeat;
}

#sqContainer.light .sqPanelHide {
    background: url(/static/images/interactives/sequencer/smallHide.png) 0 0 no-repeat;
}

#sqContainer.light .sqPanelHide.show {
    background: url(/static/images/interactives/sequencer/smallShow.png) 0 0 no-repeat;
}

#sqContainer .sqSource, #sqContainer .sqCredit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #999;
}

#sqContainer .sqSource {
    margin-top: 10px;
}

#sqContainer .sqLeftArrow {
    position: absolute;
    top: 190px;
    left: -22px;
    width: 39px;
    height: 70px;
    background: url(/static/images/interactives/sequencer/leftArrow.png) 0 0 no-repeat;
    z-index: 200;
    display: none;
    cursor: pointer;
    visibility: hidden;
}

#sqContainer .sqRightArrow {
    position: absolute;
    top: 190px;
    right: -22px;
    width: 39px;
    height: 70px;
    background: url(/static/images/interactives/sequencer/rightArrow.png) 0 0 no-repeat;
    z-index: 200;
    display: none;
    cursor: pointer;
}

#sqContainer .sqLeftArrow.show, #sqContainer .sqRightArrow.show {
    display: block;
}

#sqContainer .sqVideoContainer {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 500;
}

html.touch #sqContainer .sqVideoContainer {
    display: block;
}

#sqContainer .sqImage.active .sqVideoContainer {
    display: block;
}

#sqContainer.slide .sqVideoContainer {
    display: block;
}

/*html.touch #sqContainer.slide .sqImage .sqVideoContainer {
    display: none;
}

html.touch #sqContainer.slide .sqImage.active .sqVideoContainer {
    display: none;
}
*/
#sqContainer .sqVideoPosition {
    position: relative;
    top: 56px;
    left: 50px;
    width: 600px;
    height: 338px;
}


#sqContainer .sqVideoPosition img{
    display:none;
}


#sqContainer .sqiPadSlideVideo {
    position: absolute;
    top: 56px;
    left: 50px;
    visibility: hidden;
    /*opacity: 0;
    filter: alpha(opacity=0); */
    z-index: 100;
}

#sqContainer .sqiPadSlideVideo .sqVideoPosition {
    position: relative;
    top: 0px;
    left: 0px;
}

#sqContainer .sqiPadSlideVideo.active {
    visibility: visible;
    z-index: 200;
}

#sqContainer #rotate-overlay {
    display: none;
}

#sqContainer .socialIcons{
    position:absolute;
    right: 0;
}

#sqContainer .addthis_button_facebook{
    margin-right: 15px !important;
    text-decoration:none;
}

#sqContainer #ipadRedirectMessage{
    background-color: #333030;
    color: white;
    font-size: 170%;
    font-weight: bold;
    height: 0;
    margin-bottom: 20px;
    padding: 35px 10px 60px 20px;
    text-align: center;
    width: 958px;
    border-radius: 15px;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.4, rgb(94,92,94)),
        color-stop(0.08, rgb(115,115,115)),
        color-stop(0.86, rgb(28,31,31))
    );
}

#sqContainer #ipadRedirectMessage p a{
    color:#e6e1e1;
    letter-spacing:2px;
}





#sqContainer.slide {
    display: block;
}

#sqContainer .sqHead,
#sqContainer .sqChatter,
#sqContainer .sqSource,
#sqContainer .sqCredit {
    margin-left: 10px;
}

#sqContainer .sqHead {
    margin-top: 10px;
}

.interactive #sqContainer .sqButton.last {
    border-bottom: none;
}





/* webkit hack to fix numbers */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #sqContainer .sqButton .sqNumPadding {
        margin-top: 3px;
    }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /*body.touch{  height: 1024px;   }*/
    #sqContainer #rotate-overlay{ background: rgba(0,0,0,0.75);   width: 1024px; height: 100%; z-index: 10000000;  position:absolute; top: 0; left: 0; display: block;}
    #sqContainer .rotate-overlay-modal {   width: 768px; text-align:center;  height: 230px; margin-top: 200px;  padding: 20px; line-height: 1.6em;}
    #sqContainer .rotate-overlay-modal h3 {margin: 40px; font-size: 17px; color: #FFF;}
    #sqContainer .rotate-overlay-modal p {margin-bottom: 17px;}
}