.tliPadOnlyBody {
    background-image: none;
    background: #000000;
    text-align: center;
    overflow-x: hidden;
    height: 704px;
    padding-top: 10px;
}

#tlContainer {
    width: 980px;
    overflow: visible;
    position: relative; 
}

html.touch #tlContainer .blankCover {
    position: absolute;
    width: 980px;
    height: 700px;
    left: 0px;
    z-index: 900;
    display: none;
}

html.touch #tlContainer .blankCover.active {
    display: block;
}

#tlContainer .tlHead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

#tlContainer .tlChatter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333;
    margin-top: 7px;
    width: 835px;

}

#tlContainer.dark .tlHead {
    color: #fff;
}

#tlContainer.dark .tlChatter {
    color: #fff;
}

#tlContainer .tlLabelBox {
    width: 980px;
    height: 29px;
    margin-top: 12px;
    position: relative;
}

#tlContainer .tlLabel {
    width: 66px;
    height: 21px;
    text-align: center;
    position: absolute;
    color: #53b4f1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    top: 0px;
}

#tlContainer .tlLabel img{
    margin-top: 3px;
}

#tlContainer .tlEventBox {
    width: 980px;
    height: 18px;
    margin-top: 5px;
    position: relative;
    border: #dfdfe0 solid 1px;
    background: url(/static/images/interactives/timeline/hashBoxBack.png) repeat-x;
}

#tlContainer.dark .tlEventBox {
    border: #4f4d4d solid 1px;
    background: url(/static/images/interactives/timeline/hashBoxBack-black.png) repeat-x #3f3f3f;
    border: #3f3f3f solid 1px;
}

#tlContainer .tlContentBox {
    width: 980px;
    height: 495px;
    background: #f3f3f3;
    position: relative;
    margin-top: 14px;
    -moz-box-shadow: 0px 3px 3px #ccc;
    -webkit-box-shadow: 0px 3px 3px #ccc;
    box-shadow: 0px 3px 3px #ccc;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#cccccc')";
}

html.no-touch #tlContainer .tlContentBox {
    height: 455px;
    overflow: hidden;
}

#tlContainer.dark .tlContentBox {
    background: #3f3f3f;
    -moz-box-shadow: 0px 3px 3px #333;
    -webkit-box-shadow: 0px 3px 3px #333;
    box-shadow: 0px 3px 3px #333;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#333333')";
}

#tlContainer .tlContentBack {
    width: 66px;
    text-align: center;
    position: absolute;
    top: 3px;
    z-index: 5;
}

#tlContainer .tlEventMarker {
    width: 9px;
    height: 16px;
    position: absolute;
    top: 2px;
    background: url(/static/images/interactives/timeline/eventMark.png);
    cursor: pointer;
    z-index: 7;
}

#tlContainer .tlEventScrubber {
    width: 46px;
    height: 39px;
    background: url(/static/images/interactives/timeline/eventScrubber.png);
    position: absolute;
    top: -9px;
    /*left: 8px;*/
    z-index: 10;
}

#tlContainer .tlEventScrubberBox {
    width: 980px;
    height: 39px;
    position: absolute;
    top: -9px;
    left: 0px;
}
#tlContainer.dark .tlEventScrubber {
    background: url(/static/images/interactives/timeline/scrubber-dark.png);
}

#tlContainer .tlLeftArrow.prev,
#tlContainer .tlRightArrow.next {
    cursor: pointer;
    display: block;
    left: auto;
    position: absolute;
    top: 191px;
    width: 31px;
    z-index: 500;
}

#tlContainer .tlLeftArrow.prev {
    left: 0;
}

#tlContainer .tlRightArrow.next {
    right: 0;
}

#tlContainer .tlSource, #tlContainer .tlCredit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #999;
}

#tlContainer .tlSource {
    margin-top: 10px;
}

#tlContainer .tlLargePanel {
    width: 763px;
    top: 17px;
    left: 19px;
    position: absolute;
    z-index: 100;
    background: #FFF;
    -moz-box-shadow: 0px 3px 3px #ccc;
    -webkit-box-shadow: 0px 3px 3px #ccc;
    box-shadow: 0px 3px 3px #ccc;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#cccccc')";
}

#tlContainer .tlSmallPanel {
    width: 600px;
    top: 17px;
    left: 19px;
    position: absolute;
    z-index: 100;
    background: #FFF;
    -moz-box-shadow: 0px 3px 3px #ccc;
    -webkit-box-shadow: 0px 3px 3px #ccc;
    box-shadow: 0px 3px 3px #ccc;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#cccccc')";
}

#tlContainer .tlTextPanel {
    width: 396px;
    top: 17px;
    left: 19px;
    position: absolute;
    z-index: 100;
    background: #FFF;
    -moz-box-shadow: 0px 3px 3px #ccc;
    -webkit-box-shadow: 0px 3px 3px #ccc;
    box-shadow: 0px 3px 3px #ccc;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#cccccc')";
}

#tlContainer.dark .tlLargePanel {
    background: #d6d4d4;
    -moz-box-shadow: 0px 3px 3px #333;
    -webkit-box-shadow: 0px 3px 3px #333;
    box-shadow: 0px 3px 3px #333;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#333333')";
}

#tlContainer.dark .tlSmallPanel {
    background: #d6d4d4;
    -moz-box-shadow: 0px 3px 3px #333;
    -webkit-box-shadow: 0px 3px 3px #333;
    box-shadow: 0px 3px 3px #333;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#333333')";
}

#tlContainer.dark .tlTextPanel {
    background: #d6d4d4;
    -moz-box-shadow: 0px 3px 3px #333;
    -webkit-box-shadow: 0px 3px 3px #333;
    box-shadow: 0px 3px 3px #333;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#333333')";
}

#tlContainer .tlTopBar {
    width: 100%;
    position: relative;
    background: #53b4f1;
    height: 26px;
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    padding-top: 9px;
}

#tlContainer .tlBlueArrow {
    position: absolute;
    width: 29px;
    height: 17px;
    background: url(/static/images/interactives/timeline/blueArrow.png);
    top: -12px;
    left: 19px;
    z-index: 90;
}

#tlContainer .tlContentTable {
    width: 100%;
    display: table;
}

#tlContainer .tlPhotoCell {
    padding-right: 15px;
    display: table-cell;
    padding: 15px;
    float:left;
}


#tlContainer .tlPhotoCell img{
    float:left;
}

#tlContainer .tlTextPanel .tlPhotoCell {
    display: none;
}

#tlContainer .tlTextCell {
    display: table-cell;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    vertical-align: top;
}

#tlContainer .tlTextPanel .tlTextCell {
    padding-left: 15px;
}

#tlContainer .tlTextHead {
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #373535;
    float:left;
    clear:right;
}

#tlContainer .tlTextChatter {
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #282828;
    margin-top: 2px;
    float: left;
    min-width:170px;
    padding-right:25px;
    padding-bottom:10px;
}

.tlTextChatter a {
    color:rgb(25,144,229);
    text-decoration: none;
}

.tlTextChatter a:hover {
    text-decoration:underline;
}

#tlContainer .tlTextSource {
    font-size: 11px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #999999;
    margin-top: 10px;
    float:left;
}

#tlContainer .tlVideoContainer {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 500;
}

#tlContainer .tlVideoPosition {
    position: relative;
    top: 56px;
    left: 50px;
    width: 600px;
    height: 338px;
}

#tlContainer .tliPadSlideVideo {
    position: absolute;
    top: 56px;
    left: 50px;
    visibility: hidden;
    z-index: 100;
}

#tlContainer .tliPadSlideVideo .tlVideoPosition {
    position: relative;
    top: 0px;
    left: 0px;
}
.socialIcons{
    position:absolute;
    right: 0;
}
.addthis_button_facebook{
    margin-right: 15px !important;
    text-decoration:none;
}
.socialIcons .addthis_toolbox{
    
}
.socialIcons .addthis_toolbox .custom_images{
    
}

#tlContainer .tliPadSlideVideo.active {
    visibility: visible;
    z-index: 200;
}
#ipadRedirectMessage{
      background-color: #333030;
    color: white;
    font-size: 170%;
    font-weight: bold;
    height: 0;
    margin-bottom: 20px;
    padding: 35px 10px 60px 20px;
    text-align: center;
    width: 958px;
    border-radius: 15px;

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.4, rgb(94,92,94)),
    color-stop(0.08, rgb(115,115,115)),
    color-stop(0.86, rgb(28,31,31))
);
}
#ipadRedirectMessage p a{
    color:#e6e1e1;
    letter-spacing:2px;
}

#rotate-overlay {display: none;}





.interactive.timeline {
    width: 983px;
    margin: auto;
    overflow: hidden;
    text-align: left;
    width: 980px;
}

.tlHead,
.tlChatter,
.tlSource,
.tlCredit {
    margin-left: 10px;
}

.tlHead {
    margin-top: 10px;
}

.tlContentBox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tlContentBox .tlEvent {
    left: 19px;
    position: absolute;
    z-index: 100;
}

/* 
 * Do we want simple fading? Maybe not...I don't know
 *
.tlContentBox .tlEvent {
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
}

.tlContentBox .tlEvent.invisible {
    opacity: 0;
}
*/

#tlContainer .tlEventScrubber {
    left: 19px;
}

#tlContainer .tlFloatingContentBox {
    left: 0;
}





/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body.touch{  height: 1024px;   }
    #rotate-overlay{ background: rgba(0,0,0,0.75);   width: 1024px; height: 100%; z-index: 10000000;  position:absolute; top: 0; left: 0; display: block;}
    .rotate-overlay-modal {   width: 768px; text-align:center;  height: 230px; margin-top: 200px;  padding: 20px; line-height: 1.6em;}
    .rotate-overlay-modal h3 {margin: 40px; font-size: 17px; color: #FFF;}
    .rotate-overlay-modal p {margin-bottom: 17px;}
}

