.parHeading1 /*agl rulekind: base; nickname: "Heading%201"; htmltag: h1;*/ { font-size: 30px; font-family: verdana, geneva, helvetica, arial; font-weight: bold; }
.parHeading2 /*agl rulekind: base; nickname: "Heading%202"; htmltag: h2;*/ { font-size: 22px; font-family: verdana, geneva, helvetica, arial; font-weight: bold; }
.parHeading3 /*agl rulekind: base; nickname: "Heading%203"; htmltag: h3;*/ { font-size: 18px; font-family: verdana, geneva, helvetica, arial; font-weight: bold; }
.parHeading4 /*agl rulekind: base; nickname: "Heading%204"; htmltag: h4;*/ { font-size: 16px; font-family: verdana, geneva, helvetica, arial; font-weight: bold; }
.parHeading5 /*agl rulekind: base; nickname: "Heading%205"; htmltag: h5;*/ { font-size: 14px; font-family: verdana, geneva, helvetica, arial; font-weight: bold; }
.parHeading6 /*agl rulekind: base; nickname: "Heading%206"; htmltag: h6;*/ { font-size: 12px; font-family: verdana, geneva, helvetica, arial; font-weight: bold; }
.parParagraph /*agl rulekind: base; nickname: "Paragraph"; htmltag: p;*/ { font-size: 12px; font-family: verdana, geneva, helvetica, arial; margin-top: 16px; }
.chrNewCharacterStyle1 /*agl rulekind: base; nickname: "NewCharacterStyle_1";*/ { text-decoration: underline; }
.parbody /*agl rulekind: base; nickname: "body"; htmltag: p;*/ { color: #fff; font-size: 12px; font-family: helvetica; margin-bottom: 2px; }
