/**
 * @fileoverview Hero module used at the top of sports fronts.
 */
 
#section_sports .mod.hero.portrait .contents.stack {
	background: rgb(45,45,45);
	background-image: none;
	border: none;
	color: rgb(220,220,220);
	width: 360px;
}

#section_sports .mod.hero.portrait .contents.stack ul {
	list-style: disc inside none;
}

#section_sports .mod.hero.portrait .contents.stack li {
	border: none;
	font-size: 13px;
	height: 22px;
	list-style: disc inside none !important;
	margin-left: 30px;
	min-height:480px;
	padding: 8px 0 8px 2px;
	width: 326px;
}

#section_sports .mod.hero.portrait .contents.stack li a,
#section_sports .mod.hero.sp-threeup ul.stack li a {
	color: rgb(220,220,220);
	font-weight:600;
	text-decoration: none;
}

#section_sports .mod.hero.portrait .contents.stack li a:hover
#section_sports .mod.hero.sp-threeup ul.stack li a:hover {
	color: rgb(255,255,255);
	text-decoration: underline;
}

#section_sports .mod.hero.portrait .contents.stack li:hover {
	background: none;
}

#section_sports .mod.hero.portrait .contents.stack h2 {
	color: rgb(255,255,255);
	font-size: 17px;
	margin: 20px 0 10px 30px;
	text-transform: uppercase;
}

#section_sports .mod.hero.sp-threeup ul.stack li {
	list-style:none;
	padding: 11px 5px 11px 15px;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#section_sports .mod.hero.sp-threeup ul.stack li:first-child {
	border-top:none;
}

#section_sports .mod.hero.sp-threeup ul.stack {
	background: rgb(46,46,46) url('/static/images/noise.png') repeat top left;
	font-size:13px;
	margin:0px;
	padding:0px;
}

#section_sports .mod.hero.sp-threeup ul.stack li:hover {
	background-color:rgba(0, 0, 0, 0.1)
}