#section_sports   #matchupMain {
    width: 660px;
}
#section_sports   .matchupModuleBody {
    /* background-color: rgb(256,256,256); */
    padding: 25px;
}
#section_sports   .matchupMainHeader {
    height: 50px;
    width: 658px;
    /* margin-bottom: 20px; */
    background-color: rgb(204,204,204);
    padding: 5px;
}

#section_sports #matchupContainer  {
    /* margin: 25px; */
    border: thin solid;
    border-color: rgb(204,204,204);
}

#section_sports   .matchupStatsHide {
    /* visibility: hidden; */
	display: none;
}

#section_sports  #matchupOddsLink  {
    text-align: center;
    margin: 10px;
}

#section_sports   #matchupFooterNavLabel{
    font-size: 12px;
    float: left;
    width: 65px;
    margin: 5px;
}

#section_sports   .matchupContainer{
    width: 660;
}

#section_sports   .matchupMainMiddle {
    height: 100px	
}
#section_sports   .matchupMainFooter{
    height: 100px;
    width: 550px;
    margin: 15px 50px;
}
#section_sports   .matchupStrongText{
    font-weight: 700;	
}

#section_sports   .matchupBar{
    height:20px;
}

#section_sports   .matchupLeftBar{
    float: right;
}

#section_sports   .matchupRightBar{
    float: left;
}

#section_sports   .matchupCategoryLabels{
    position: absolute;
    color: #FFF;
    width: 100%;
    text-align: center;
}

#section_sports   .matchupStatContainer{
    position:relative;
    width:100%;
    height:20px;
    margin-bottom:2px;
}

#section_sports   .matchupStatBar{
    width:50%;
    height:20px;
    background-color: #ddd;
    float: left;
}

#section_sports   .matchupSideNav {
    width: 230px;
}

#section_sports   .matchupTopSideNavLeft {
    width 250px;
    float: left;
}

#section_sports   .matchupTopSideNavRight {
    width 250px;
    float: right;
}
#section_sports   .matchupMiddleNav {
    width: 180px;
    float: left;
    text-align: center;
}

#section_sports   .matchupAwayTeamNav {
    float: left;
}

#section_sports   .matchupStatValueAway {
    position: relative;
    float: left;
    width: 10px;
}

#section_sports   .matchupStatValueHome{
    position: relative;
    float: right;
    width: 10px;
}

#section_sports   .matchupHomeTeamNav {
    float: right;
}

#section_sports   .matchupCentRight {
    text-align: right;	
}

#section_sports   .matchupCentLeft {
    text-align: left;	
}

#section_sports   #matchupFooterGraphDiv {
    /*height: 300px;*/
    width: 460px;
    float: left;
}