/*THIS SHOULD PROBABLY BE IN GLOBAL CSS*/

.divisions h2 span,
.divisions h3 span {
    color: inherit;	
}

/*EVERYTHING BELOW SPECIFIC TO NFL STANDINGS UNTIL REFACTORED OUT*/
.divisions,
.standings * { 
    color: #333;
    font-family: 'Helvetica'; 
}

.standings a {
    text-decoration: none;
}
.standings a: after {
    content: ' >';
}

.standings {
    clear: none;
    color: #999;
    float: left;
    overflow: hidden;
}

.standings tbody th {
    font-weight: normal;
    text-align: left;
}

.standings tbody td {
    font-weight: normal;
    text-align: right;
}

.standings table tfoot {
    visibility: hidden;
}

.standings:nth-child(2n+1) table caption, 
.standings:nth-child(2n+1) table thead, 
.standings:nth-child(2n+1) table tbody {
    background-color: #EEE;
}

.standings:last-child,
.standings:last-child table thead th,
.standings:last-child table tbody td,
.standings:last-child table tbody th,
.standings:last-child table tfoot td {
    background-color: transparent;
}

.standings:last-child table tfoot {
    visibility: visible;
}

.standings table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 180px;
}

.standings table th,
.standings table td {
    border: 1px solid #CCC;
    font-size: .9em;
    padding: 10px 5px;
}

.standings table thead th + th,
.standings table tbody td {
    border-left: transparent;
}

.standings table tbody th,
.standings table tbody td {
    border-top: 0 none;
}

.standings table tfoot td {
    background-color: transparent;
    border: 0 none;
}

.standings table tfoot {
    padding: 10px 5px;
}

.standings table thead tr th {
    text-align: right;
}

.standings table thead tr th:first-child {
    text-align: left;
}

.conference {
    background-color: #FFF;
    display: none;
    overflow: hidden;
}

#standings-by-conference ul {
    float: left;
}

#standings-by-conference ul,
#standings-by-conference ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#standings-by-conference ul li {
    border: solid 1px #CCC;
    z-index: 0;
}

#standings-by-conference ul li a {
    color: #333;
    display: block;
    padding: 20px 40px;
    position: relative;
    text-decoration: none;
}

/* to be done at suspender level */
#standings-by-conference h2 { 
    font-size: 1em;
    text-align: center;
}

#standings-by-conference .suspender {
    background-color: #DDD;
    float: left;
    overflow: hidden;	
}

#standings-by-conference[data-show="AFC"] ul li[data-value="AFC"],
#standings-by-conference[data-show="NFC"] ul li[data-value="NFC"] {
    font-weight: bold;
    border: 1px solid #000;
    z-index: 1;
}

#standings-by-conference[data-show="AFC"] ul li[data-value="AFC"] a:after,
#standings-by-conference[data-show="NFC"] ul li[data-value="NFC"] a:after {
    border: solid transparent;
    border-right-color: inherit;
    border-width: 7px;
    content: " ";
    height: 0;
    margin-top: -7px
    pointer-events: none;
    position: absolute;
    right: 0%;
    top: 50%;
    width: 0;
}

#standings-by-conference[data-show="AFC"] #AFC,
#standings-by-conference[data-show="NFC"] #NFC {
    display: block;
}

.conference .standings table caption {
    border: 1px solid #CCC;
    border-bottom: 0 none;
}

.conference .standings table caption,
.conference .standings table tr th:first-child {
    border-left: 0 none;
}

.conference .standings:first-child table caption,
.conference .standings:first-child table tr th:first-child {
    border-left: 1px solid #CCC;
}

.conference .standings tbody tr:last-child > * {
    border-bottom: 2px solid #CCC;
}

.conference {
    overflow: hidden;
    clear: both;
}

.divisions {
    border: 1px solid #AAA;
    border-top: 0 none;
    font-size: 1em;	
    max-width: 1440px;
    min-width: 1024px;
    overflow: hidden;
    padding: 15px;
}

.divisions h2,
.divisions caption {
    font-size: 1em;	
    font-weight: 700;
    margin: 0 5px 10px 5px;
}

.divisions .division {
    border-right: 1px solid #AAA;
    clear: both;
    float: left;
    overflow: hidden;
    padding-right: 15px;
}

.divisions .division .team {
    border-right: solid 1px #AAA;
    float: left;
}

.divisions .division .team:last-child {
    border-right: 0 none;
    float: left;
}

.divisions .division .team div {
    border: solid 1px #CCC;
    background-color: #EEE;
    display: inline-block;
    float: left;
    margin: 0 15px;
    padding-left: 15px;
    width: 160px;
}

.divisions .division h2 + .team div {
    margin-left: 0;
}

.divisions .division .team:last-child div {
    margin-right: 0;
}

.divisions .division .team div:hover {
    background-color: #333;
    background-image: none;
}

.divisions .division .team div:hover h3 {
    font-size: 0.9em;
    color: #999;
}

.divisions .division .team div h3 {
    clear: both;
    color: #999;
    display: block;
    font-size: 1em;
    font-weight: 100;
}

.divisions .division .team div h3 span {
    clear: both;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}

.divisions .division .team div ul {
    display: block;
    left: -9999px;
    margin: 55px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.divisions .division .team div:hover ul {
    left: 0;
    margin: 43px 0;
}

.divisions .division .team div ul li {
    display: block;
    margin: 0;
    padding: 0;
}

.divisions .division .team div ul li a {
    color: #FFF;
    display: block;
    font-size: 0.9em;
    margin: 0;
    text-decoration: none;
    width: 100%;
}

.divisions .division .team div:hover ul li a {
    padding: 5px;
}

.divisions .standings table caption {
    text-align: left;
}

.divisions .standings {
    padding-left: 15px;
}

.divisions .standings table thead,
.divisions .standings table tbody {
    background-color: #EEE;
}

.divisions .standings {
    padding-left: 15px;
}

.divisions .standings a {
    text-decoration: none;
}

.divisions .standings a:after {
    content: ' >';
}

.divisions .standings table caption {
    text-align: left;
}

.standings {
    clear: none;
    color: #999;
    float: left;
    overflow: hidden;
}

.standings tbody th {
    font-weight: normal;
    text-align: left;
}

.standings tbody td {
    font-weight: normal;
    text-align: right;
}

.standings table tfoot {
    visibility: hidden;
}

.standings:nth-child(2n+1), 
.standings:nth-child(2n+1) table thead th, 
.standings:nth-child(2n+1) table tbody td, 
.standings:nth-child(2n+1) table tbody th, 
.standings:nth-child(2n+1) table tfoot td {
    background-color: #CCC;
}

.standings:last-child,
.standings:last-child table thead th,
.standings:last-child table tbody td,
.standings:last-child table tbody th,
.standings:last-child table tfoot td {
    background-color: transparent;
}

.standings:last-child table tfoot {
    visibility: visible;
}

.divisions .standings table {
    border-collapse: separate;
    border-spacing: 0;
}

.divisions .standings table td, 
.divisions .standings table th {
    background-color: #EEE;
    border: 1px solid #CCC;
    font-size: .9em;
    padding: 10px 5px;
}

.divisions .standings table thead th + th,
.divisions .standings table tbody td {
  border-left: transparent;
}

.divisions .standings table tbody th,
.divisions .standings table tbody td {
  border-top: 0 none;
}

.divisions .standings table tfoot td {
  background-color: transparent;
  border: 0 none;
}

.standings table tfoot {
  padding: 10px 5px;
}

.divisions .standings table thead tr th {
  text-align: right;
}

.divisions .standings table thead tr th:first-child {
  text-align: left;
}