/**
* @fileoverview CSS for sports team ranking.
* @author webninjataylor@gmail.com (Taylor Johnson)
*/


#section_sports #team_ranking {
	background:yellow; /*TEMPORARY*/
	height:180px; /*TEMPORARY*/
}

#section_sports #team_ranking div {
	float:left;
	width:100px;
	height:100px;
	padding:5px;
}

#section_sports #team_ranking a {
	clear: left;
	border-top: 1px solid #333;
	display: block;
	padding: 5px;
	text-align: right;
}

#section_sports #power-rankings th span {
    float:left;
    line-height: 30px;
}

#section_sports #power-rankings th span + span {
    margin-left: 10px;
}

div.module.power-rank  {
    overflow:hidden;
}

div.module.power-rank ul {
    display:block;
    margin:0;
    padding:0;
}

div.module.power-rank ul li {
    display:block;
    float:left;
    list-style:none;
    width:25%;
}

div.module.power-rank ul li span {
    display:block;
    font-size:12px;
}
div.module.power-rank ul li label {
    font-size:46px;
    font-weight:700;
    line-height:40px;
    text-align:left;
}