#section_sports article.schedule [data-tags^="WEEK-"] table caption {
    left: -9999px;
    position: absolute;
}

#section_sports article.schedule [data-tags^="WEEK-"] table:first-child caption {
    left: 0px;
    position: relative;
}

#section_sports article.schedule fieldset legend { 
    left: -9999px; 
    position: absolute;
}

#section_sports article.schedule .matchup { 
    display: table; 
    position: relative;
    width: 100%; 
}

#section_sports article.schedule .matchup .at{
    position: absolute;
    top: 35%;
    left: 48%;
}

#section_sports article.teamschedule td.matchup span.location { 
    text-align: center;
    width: 15px;
}

#section_sports  article.teamschedule td.matchup > span { 
    display: inline-block;
    line-height: 10px;
    margin-right: 10px;
    vertical-align: top;
}

#section_sports  article.schedule .matchup > a + span { 
    width: 100%;
}

#section_sports  article.teamschedule td.matchup > span { 
    display: inline-block;
    line-height: 34px; 
    vertical-align: top;
} 

#section_sports  article.schedule .matchup > span { 
    display: table-cell; 
    vertical-align: middle;
} 

#section_sports article.schedule .matchup .away,
#section_sports article.schedule .matchup .home,
#section_sports article.schedule .matchup .away span,
#section_sports article.schedule .matchup .home span {
    display: inline-block;
    vertical-align: middle; 
    text-align: left;
}

#section_sports article.schedule .matchup .home span {
    text-align: right;
}

#section_sports article.schedule .matchup .away span > span, 
#section_sports article.schedule .matchup .home span > span { 
    display: block;
}

#section_sports article.schedule span[title="score"] {
    color: rgb(85,85,85);
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

#section_sports article.schedule div.winning span[title="score"],
#section_sports article.schedule div.won span[title="score"] {
    color: rgb(0,0,0);
    font-weight: bold;
}

#section_sports article.schedule thead th:first-child {
    width: 50%;
}

#section_sports article.schedule [abbr="Starting Time"] {
    width: 15%;
}

#section_sports article.schedule [abbr="TV Broadcaster"] {
    width: 5%;
}

#section_sports article.schedule [abbr="Betting Line"] {
    width: 5%;
}

#section_sports article header label[for="team"] {
    display:none;
}

/* ZEBRA STRIPING */
#section_sports article tbody tr:nth-child(even) td, 
#section_sports article tbody tr:nth-child(even) th{
}

#section_sports  table tbody tr td.matchup,
#section_sports  table tbody tr td.date,
#section_sports  table thead th[abbr="Date"],
#section_sports  table thead th[abbr="Opponent"] {
    text-align: left;
}

    display: inline-block;
    overflow: hidden; 



#section_sports  table thead th[attr="Week"], 
#section_sports  table tbody th.week {
    text-align: center;
    width: 5%;
}