/**
* @fileoverview CSS for sports scores.
* @author webninjataylor@gmail.com (Taylor Johnson)
*/

#section_sports #scores {
	margin-top: 10px;
	text-align: center;
}

#section_sports #scores option {
	text-transform: uppercase;
}

#section_sports #scores select.filter {
	background: rgb(214,28,0) url('/static/images/modules/sports/scores.png') no-repeat 89% -50%;
	border: 1px solid rgb(143,18,0);
	color: rgb(255,255,255);
	font-size: 12px;
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 9px 0 9px 9px;
	text-overflow: ellipsis;
	text-transform: uppercase;
	-webkit-appearance: none;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 9px;
	-webkit-user-select: none;
	-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	-webkit-background-color: rgb(214,28,0);
	white-space: nowrap;
	width: 80%;
}

#section_sports #scores div.filter {
	border: 1px solid rgb(143,18,0);
	border-radius: 2px;
	font-size: 12px;
	margin: 0 auto 10px;
	overflow: hidden;
	height: 30px;
	width: 80%;
}

#section_sports #scores .prev,
#section_sports #scores .next {
	background: rgb(214,28,0) url('/static/images/modules/sports/scores.png') no-repeat 39% 50%;
	cursor: pointer;
	display: block;
	float: left;
	height: 30px;
	width: 15%;
}

#section_sports #scores .next {
	background-position: 39% 140%;
}

#section_sports #scores .next {
	float: right;
}

#section_sports #scores .increment {
	color: rgb(255,255,255);
	float: left;
	font-weight: bold;
	height: 30px;
	padding-top: 7px;
	width: 70%;
}

#section_sports #scores .game {
	background-color: rgb(255,255,255);
	border-radius: 2px;
	height: 125px;
	margin: 3px;
	overflow: hidden;
	width: 114px;
}

#section_sports #scores .nascar .winner, 
#section_sports #scores .nascar .date {
	font-size: 14px;
	font-weight: bold;
}

#section_sports #scores .nascar .winner span {
	font-size: 11px;
	font-style: italic;
	font-weight: normal;
}

#section_sports #scores .nascar .site {
	font-size: 11px;
}

#section_sports #scores .nogames {
	margin-top: 5px;
	position: absolute;
	z-index: -1;
}

#section_sports #scores div#magicscroll {
	height: 400px;
	overflow: hidden;
	width: 120px;
}

#section_sports #scores div#pairings {
	height: 300px;
	overflow: scroll;
	padding-bottom: 20px;
	position: relative;
	/*Make it animateable*/
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	/*Set base location*/
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
	-ms-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	width: 135px;
}

#section_sports #scores .league {
	display: block;
	cursor: pointer;
}

#section_sports #scores .eventstatus {
	border-bottom: 1px solid rgb(51,51,51);
	clear: both;
	font-size: 14px;
	margin: 4px 10px;
	text-transform: capitalize;
}

#section_sports #scores .team {
	float: left;
	font-weight: bold;
	position: relative;
	width: 50px;
}

#section_sports #scores .ncaaf .team,
#section_sports #scores .ncaab .team,
#section_sports #scores .ncaawb .team {
	float: none;
	padding-left: 5px;
	padding-top: 5px;
	text-align: left;
	width: 100%;
}

#section_sports #scores .ncaaf .bgc,
#section_sports #scores .ncaab .bgc,
#section_sports #scores .ncaawb .bgc {
	display: none;
}

#section_sports #scores .ncaaf .team .score,
#section_sports #scores .ncaab .team .score,
#section_sports #scores .ncaawb .team .score {
	background-color: rgb(255,255,255);
	display: block;
	padding: 0 10px;
	position: absolute;
	top: -1px;
	right: 0;
}

#section_sports #scores .away {
	margin-left: 1px;
}

#section_sports #scores .at {
	float: left;
	font-size: 10px;
	margin: 40px 1px 0 1px;
	width: 10px;
}

#section_sports #scores .ncaaf .at,
#section_sports #scores .ncaab .at,
#section_sports #scores .ncaawb .at {
	float: none;
	margin: 5px 0;
	width: 100%;
}

#section_sports #scores .teamlogo {
	width: 40px;
}


#section_sports #scores .score,
#section_sports #scorespage .score {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

#section_sports #scorespage h2 {
	margin-left: 20px;
}

#section_sports #scorespage .game {
	float: left;
	margin: 2%;
	width: 46%;
}

#section_sports #scorespage .game .ingame {
	border:3px solid rgb(214,28,0);
}

#section_sports #scorespage table {
	border: none;
}

#section_sports #scorespage table tr {
	border: 1px solid rgb(204,204,204);
}

#section_sports #scorespage table.teamleaders tr {
	border-bottom: none;
	border-top: none;
}

#section_sports #scorespage table a {
	font-weight: bold;
	text-decoration: none;
}

#section_sports #scorespage table .contextlinks a{
	background: transparent url('/static/images/sports/btn-sprite.png') no-repeat 0 0;
	height: 24px;
	margin-right: 20px;
	padding: 3px 0 5px 27px;
}

#section_sports #scorespage table th {
	background-color: rgb(51,51,51);
	border: 1px solid rgb(51,51,51);
	color: rgb(255,255,255);
	font-weight: bold;
	padding: 9px;
}

#section_sports #scorespage table.teamleaders th {
	background: transparent url('/static/images/sports/btn-sprite.png') no-repeat 19px -34px;
	border: none;
	color: rgb(0,0,0);
	padding: 19px 0 19px 40px;
	text-align: left;
}

#section_sports #scorespage table.postgame th {
	background-color: rgb(190,35,12);
	border: 1px solid rgb(190,35,12);
	text-transform: uppercase;
}

#section_sports #scorespage .date {
	text-align: left;
	text-transform: capitalize;
}

#section_sports #scorespage .time {
	color: rgb(153,153,153);
	text-align: right;
}

#section_sports #scorespage .status {
	text-align: right;
	text-transform: uppercase;
}

#section_sports #scorespage table.postgame .time {
	color: rgb(255,144,128);
	font-weight: normal;
	text-transform: capitalize;
}

#section_sports #scorespage table td {
	background-color: rgb(255,255,255);
	border: none;
	padding: 9px;
	text-align: left;
}

#section_sports #scorespage table.teamleaders td {
	background-color: transparent;
	padding: 0 0 10px 20px;
}

#section_sports #scorespage table.postgame td {
	color: rgb(153,153,153);
	text-transform: capitalize;
}

#section_sports #scorespage .pipe {
	border-left: 1px dotted rgb(217,217,217);
	display: block;
	padding: 5px 0;
	width: 100%;
}

#section_sports #scorespage .logo-54 {
	margin-right: 5px;
}

#section_sports #scorespage .teamname {
	font-size: 18px;
	font-weight: bold;
	position: relative;
	top: 8px;
}

#section_sports #scorespage .record {
	position: relative;
	top: 8px;
}

#section_sports #scorespage .teamlinks {
	color: rgb(3,160,239);
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

#section_sports #scorespage .contextlinks,
#section_sports #scorespage table.teamleaders td.contextlinks {
	background-color: rgb(255,255,255);
	border: 1px solid rgb(204,204,204);
	padding: 9px;
	text-align: left;
}

#section_sports #scorespage .teamleaders {
	background-color: rgb(234,234,234);
}

#section_sports #scorespage .teamleaders .category,
#section_sports #scorespage .teamleaders .player,
#section_sports #scorespage .teamleaders .stats {
	color: rgb(51,51,51);
	font-size: 13px;
	font-weight: bold;
}

#section_sports #scorespage .teamleaders .category {
	color: rgb(102,102,102);
	padding-right: 20px;
	text-align: right;
	text-transform: uppercase;
	vertical-align: top;
}

#section_sports #scorespage .teamleaders .player {
	border-left: 1px dotted rgb(187,187,187);
	border-right: 1px dotted rgb(187,187,187);
}

#section_sports #scorespage .teamleaders .stats {
	color: rgb(102,102,102);
	font-style: italic;
}

#section_sports #scorespage .game.boxscore {
	float: none;
	margin: 2%;
	width: 96%;
}

#section_sports #scores .uparrowwrapper,
#section_sports #scores .downarrowwrapper{
	width: 100%;
	height: 30px;
	overflow: hidden;
}

#section_sports #scores .uparrowwrapper {
	margin-top: 10px;
}

#section_sports #scores .uparrowshadow,
#section_sports #scores .downarrowshadow{
	position: relative;
	width: 200px;
	-webkit-box-shadow: 0px 1px 3px 2px rgba(68,51,51,1);
	box-shadow: 0px 1px 9px 2px rgba(68,51,51,1);
}

#section_sports #scores .uparrowshadow {
	top: 0;
}

#section_sports #scores .downarrowshadow {
	bottom: -30px;
}

#section_sports #scores .uparrowbutton,
#section_sports #scores .downarrowbutton{
	margin: 2px 40px;
	position: relative;
	width: 40px;
	height: 40px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	-webkit-box-shadow: 0px 1px 3px 2px rgba(170,51,51,1);
	box-shadow: 0px 1px 9px 2px rgba(170,51,51,1);
	cursor: pointer;
}
#section_sports #scores .uparrowbutton {
	top: -22px;
}

#section_sports .uparrowbutton:hover {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 50%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 50%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 50%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 50%,rgba(255,255,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 50%,rgba(255,255,255,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#4dffffff',GradientType=0 ); /* IE6-9 */
}

#section_sports .downarrowbutton:hover {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(50%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
#section_sports #scores .downarrowbutton {
	bottom: -10px;
}

#section_sports #scores .uparrow,
#section_sports #scores .downarrow{
	pointer-events: none;
	position: relative;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

#section_sports #scores .uparrow{
	left: 14px;
	top: 25px;
	border-bottom: 5px solid rgba(255,255,255,1);
}
#section_sports #scores .downarrow{
	left: 14px;
	bottom: -13px;
	border-top: 5px solid rgba(255,255,255,1);
}

/*Scores Specific Dropdown */
#section_sports #scores .chzn-container .chzn-results  {
    margin-right: 0;
    text-transform: uppercase;
    width:100px;
}

#section_sports #scores .chzn-container-single .chzn-single span {
    margin-right: 0;
    text-align: left;
    text-transform: uppercase;
}

#section_sports #scores .chzn-container .chzn-results  li {
    padding: 8px;
    text-align: left;
}
/* End Scores Specific Dropdown */
