#section_sports .team-standings > div {
    padding: 19px;
}

#section_sports .standingsWrapper {
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(204,204,204,1);
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px 10px 0 rgba(85, 85, 85, 0.3);
    padding: 9px;
    width: 660px;
    position: relative;
}

/* overriding global top line */
#section_sports .standingsWrapper table,
#section_sports .standingsWrapper table > *,
#section_sports .standingsWrapper table tr,
#section_sports .standingsWrapper table tr > * {
    border-color: inherit;
}

#section_sports .standingsWrapper tbody th a div {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    overflow: hidden;
}

#section_sports .standingsWrapper tbody th a div span {
    position: relative;
    top: -7px;
    left: -7px;
}

#section_sports .standingsWrapper tbody th a:hover {
    color: rgba(0,102,238,1);
}

#section_sports .viewMoreWrapper {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 19px 9px 0 9px;
    width: 660px;
    position: relative;
    text-align: right;
}

#section_sports .viewMoreWrapper a {
    background: url("/static/images/sports/btn-sprite.png") no-repeat scroll 0 0 transparent;
    padding: 5px 0 5px 27px;
}

#section_sports .viewMoreWrapper a:hover {
    color: rgba(0,102,238,1);
}
