#section_sports .standings {
    width: 100%;
}

#section_sports .standings thead th:first-child {
    padding: 5px 10px;
    width: 40%;
}

#section_sports .standings tbody tr th[scope="row"] {
    line-height: 32px;
    overflow: hidden;
}

#section_sports .standings tbody tr th[scope="row"] > div {
    position: relative
}

#section_sports .standings tbody tr th[scope="row"] span[class^="logo-"]{
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    vertical-align: top;
}

#section_sports .standings tbody tr th[scope="row"] span.team {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

/* section for playoffs standing legennd */
#section_sports .standings div.playoff_status_Cont {
    background: rgb(255,255,255) url('/static/images/noise.png') repeat top left; 
    color: rgb(100,100,100);
    font-size: 0.8em;
    font-weight: 600;
    margin-top: -5px;
    text-align: center;
}

#section_sports .standings .streak .loss,
#section_sports .standings .streak .win {
    background-image: url("/static/images/components/standings-icons.png");
    display: inline-block;
    height: 12px;
    margin-right: 4px;
    width: 12px;
}

/* @begin conference logos */
/* this will sprtie will grow when we get other league conference logos*/
.nfl .standings h2 > .american,
.nfl .standings h2 > .national {
    background-image: url("/static/images/components/standings-icons.png");
    display: inline-block;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
} 

.nfl .standings h2 > .american {
    background-position: -30px 0;
} 

.nfl .standings h2 > .national {
    background-position: -62px 0;
} 

/* @end conference logos */

#section_sports .standings .streak .loss{
    background-position: -14px 0;
}

#section_sports .standings .streak .win{
    background-position: 0 0 ;
}

#section_sports .standings #playoff_status {
    clear: both;
    display: inline-block;
    margin: 0 auto;
    padding: 12px 0;
    overflow: hidden;
}

#section_sports .standings #playoff_status dd,
#section_sports .standings #playoff_status dt {
    display: block;
    float: left;
    margin: 0;
}

#section_sports .standings #playoff_status dd {
    line-height: 24px;
    position: relative;
    left: -5px;
}

#section_sports  .standings #playoff_status dt span{
    display:none;
}

.clinched-z,
.clinched-y,
.clinched-x,
.clinched-w
{
    background-image: url('/static/images/sports/playoff-status.png');
    height:20px;
    width:23px;
}

#section_sports .standings .clinched-z {
    background-position: 0 0;
    margin-left: 0;
}

#section_sports .standings .clinched-y {
    background-position: -24px 0;
}

#section_sports .standings .clinched-x {
    background-position: -48px 0;
}

#section_sports .standings .clinched-w {
    background-position: -72px 0;
}
/* endsection for playoffs standing legennd */

#section_sports div.standings.division table {
    width: 100%;
}

#section_sports div.standings.division table tr > td,
#section_sports div.standings.division table tr > th {
    border: 1px solid rgb(207,207,207);
    text-align: center;
}

#section_sports .standings .logo-30 {
    margin: 0;
}

#section_sports div.standings.division thead th:first-child,
#section_sports div.standings.division table tbody td:first-child {
    padding: 0 0 0 5px;
    text-align: left;
    width: 25%;
}

#section_sports .standings .legend_symbol {
    display: inline-block;
    left: -10px;
    position: absolute;
    top: -5px;
    z-index: 2;
}

#section_sports div.standings.division table tfoot tr td a {
    background: rgb(250,250,250);
    border: 1px solid rgb(183,183,183);
    border-radius: 2px;
    margin: 5px 4px;
}
@media only screen and (min-width: 1280px) {

}

@media only screen and (min-width: 1440px) {

}
