#section_sports .team-statistics > div {
    padding: 19px;
}

#section_sports .chart-wrapper {
    font-family: Futura, sans-serif; 
    background: rgb(247,247,247);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
    padding: 19px;
    width: 640px;
    position: relative;
}

#section_sports .stats-avg {
    text-align: center;
}

#section_sports .stats-avg > div {
    padding: 0 10px;
    display: inline-block;
    font-size: 32px;
    line-height: 22px;
}

#section_sports .stats-avg > div span {
    padding: 0 10px;
    float: right;
    text-align: left;
    display: inline;
    font-size: 11px;
    line-height: 11px;
}

#section_sports .stats-avg > div span b {
    font-size: 16px;
    font-weight: normal;
}

#section_sports .stats-data {
    display: none;
}


#section_sports .chart-wrapper .chart-label-xaxis {
    text-align: center;
    width: 640px;
    height: 20px;
}

#section_sports .chart-wrapper .chart-label-yaxis {
    position: relative;
    top: 20px;
    left: -200px;
    width: 200px;
    height: 20px;
    text-align: center;
    -moz-transform:rotate(270deg); 
    -moz-transform-origin: top right;
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: top right;
    -o-transform: rotate(270deg);
    -o-transform-origin: top right;
}

#section_sports .chart-wrapper .chart-graph {
    left: 20px;
    width: 620px;
    height: 200px;
    position: relative;
}

#section_sports .chart-area-legend ul {
    margin: 0;
    padding: 0 5px;
    list-style: none;
    height: 25px;
    border: 0;
}

#section_sports .chart-area-legend ul li {
    float: left;
    left: 50px;
    padding: 0 19px;
    position: relative;
    border: 0;
}

#section_sports .chart-area-legend ul li:before {
    background: url('/static/images/sprites/sports_color_bullets.png') no-repeat;
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 13px;
    height: 14px;
    display: block;
}

#section_sports .chart-area-legend ul li.item-1:before {background-position: -30px -187px;}
#section_sports .chart-area-legend ul li.item-2:before {background-position: -30px -157px}
#section_sports .chart-area-legend ul li.item-3:before {background-position: -30px -127px}
#section_sports .chart-area-legend ul li.item-4:before {background-position: -30px -96px}
#section_sports .chart-area-legend ul li.item-5:before {background-position: -30px -66px}
#section_sports .chart-area-legend ul li.item-6:before {background-position: -30px -36px}
#section_sports .chart-area-legend ul li.item-7:before {background-position: -30px -6px}


#section_sports .chart-hover {
    background: rgb(255,255,255);
    border: 1px solid rgba(204,204,204,1);
    box-shadow: 2px 3px 12px -4px rgb(0,0,0);
    -moz-box-shadow: 2px 3px 12px -4px rgb(0,0,0);
    -webkit-box-shadow: 2px 3px 12px -4px rgb(0,0,0);
    display: none;
    width: 100px;
    z-index: 199;
    opacity: 0;
}

#section_sports .chart-hover.top-hover,
#section_sports .chart-hover.bottom-hover,
#section_sports .chart-hover.middleleft-hover,
#section_sports .chart-hover.middleright-hover {
    position: absolute;
    display: block;
    opacity: 1;
}

#section_sports .chart-hover h3 {
    border-bottom: 1px solid rgb(230,230,230);
    color: rgb(51,51,51);
    font: normal 18px/1 Futura;
    line-height: 30px;
    margin: 0 8px 10px;
    padding: 4px 0 2px 0;
    text-align: center;
    text-transform: uppercase;
}

#section_sports .chart-hover h4 {
    font: bold 26px/1 Futura;
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(232,35,25);
}

#section_sports .chart-hover p {
    color: rgb(102,102,102);
    font: normal 11px/1.5 arial, sans-serif;
    margin: 0 8px;
    padding: 0 0 12px;
}

#section_sports .chart-hover img {
    margin:0 8px 12px;
}

#section_sports .pointer-left {
    position: absolute;
    border-top: 9px solid transparent;
    border-right: 15px solid rgb(183, 183, 183);
    border-bottom: 9px solid transparent;
    border-left: transparent;
    left: -16px;
    top: 40.7%;
    z-index:199;
}

#section_sports .pointer-left:after {
    position: absolute;
    content: '';
    border-top: 10px solid transparent;
    border-right: 16px solid rgba(255,255,255,1);
    border-bottom: 10px solid transparent;
    border-left: transparent;
    left: 1px;
    top: -10px;
}

#section_sports .pointer-right {
    position: absolute;
    border-top: 9px solid transparent;
    border-right: transparent;
    border-bottom: 9px solid transparent;
    border-left: 15px solid rgb(183, 183, 183);
    left: 102px;
    top: 40.7%;
}

#section_sports .pointer-right:after {
    position: absolute;
    content: '';
    border-top: 10px solid transparent;
    border-right: transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid rgba(255,255,255,1);
    left: -17px;
    top: -10px;
    }

#section_sports .pointer-top {
    position: absolute;
    border-top: transparent;
    border-right: 9px solid transparent;
    border-bottom: 15px solid rgb(183, 183, 183);
    border-left: 9px solid transparent;
    left: 42px;
    top: -15px;
}

#section_sports .pointer-top:after {
    position: absolute;
    content: '';
    border-top: transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid rgba(255,255,255,1);
    border-left: 10px solid transparent;
    left: -10px;
    top: 2px;
}

#section_sports .pointer-bottom {
    position: absolute;
    border-top: 15px solid rgb(183, 183, 183);
    border-right: 9px solid transparent;
    border-bottom: transparent;
    border-left: 9px solid transparent;
    top: 100%;
    left: 44px;
}

#section_sports .pointer-bottom:after {
    position: absolute;
    content: '';
    border-top: 16px solid rgba(255,255,255,1);
    border-right: 10px solid transparent;
    border-bottom: transparent;
    border-left: 10px solid transparent;
    left: -10px;
    top: -17px;
}


#section_sports .viewMoreWrapper {
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 19px 9px 0 9px;
    width: 660px;
    position: relative;
    text-align: right;
}

#section_sports .viewMoreWrapper a {
    background: url("/static/images/sports/btn-sprite.png") no-repeat scroll 0 0 transparent;
    padding: 5px 0 5px 27px;
}

#section_sports .viewMoreWrapper a:hover {
    color: rgba(0,102,238,1);
}
