#statistics .leaders-tables {
    background-color: rgb(221,221,221);    
    overflow: hidden;
    margin-top: -10px;  /* Style to make ribon sit on top of the table */
}

#statistics {
    font-size: .9em;
}

#statistics .leaders-tables header h2 {
    border: 1px solid rgb(204,204,204);
    font-size: 1em;
    font-weight: bold;
    margin: 5px 0;
    padding: 0 10px;
}

section.rank_in_league {
    margin: 0 15px;
    overflow: hidden;
}

section.rank_in_league article {
    float: left;
    overflow: hidden;
    width: 25%;
}

section.rank_in_league article dl {
    display: block;
    margin: 0 15px;
    overflow: hidden;
}

section.rank_in_league article dl dt,
section.rank_in_league article dl dd {
    border-bottom: 1px solid transparent;
    display: block;
    margin: 0;
}

section.rank_in_league article dl dt {
    border-bottom: 1px solid rgb(0,0,0);
}

section.rank_in_league article dl dd {
    font-size: 2em;
}
section.rank_in_league article dl dd:first-of-type {
    font-size: 3em;
}

#statistics .leaders-tables header h3 {
	margin: 0 auto 5px;
    width: 100%;
}

#statistics .leaders-tables header h3 span {
    display: block;
    margin: 0 0 0 10px;
}

#statistics .leaders-tables header h3 span.logo-120 {
    height: 120px;
    margin: 0 auto 5px;
    width: 120px;
}

#statistics .leaders-tables table thead th {
    padding: 5px 10px 0;
}

#statistics .leaders-tables table tbody {
    font-size: .9em;
}
#statistics .leaders-tables table tbody th {
    padding: 2px 10px;
}

#statistics .leaders-tables header h3 span.city {
    display:none;
    font-weight: normal;
}

#statistics .leaders-tables header h3 span.tn {
    font-size: .8em;
    line-height: .8em;
}

#statistics .leaders-tables header h3 span.num {
    font-size: 1.5em;
    line-height: 1.2em;
}

#statistics .leaders-tables article {
    display: block;
    float: left;
    position: relative;
    width: 280px;
}

.leaders-tables dl {
    float: left;
    width: 50%;
}

.leaders-tables dl dt {
    float: left;
    width: 50%;
}

.leaders-tables dl dd {
    float: left;
    margin: 0;
    width: 50%;
}

#statistics .leaders-tables section header {
	background-color: rgb(221,221,221);
	float: left;
    padding-bottom:0;
	width: 33%;
}
#statistics .leaders-tables header h2 {
    font-weight: normal;
}

#statistics .leaders-tables table {
	float: left;
	margin: 0;
	width: 67%;
}

#statistics .leaders-tables table caption {
    display: none;
}

#statistics .leaders-tables table tbody tr:first-child{
    background-color: rgb(221,221,221);
}

#statistics .leaders-tables table tbody th {
	font-weight: normal;
}

#statistics .leaders-tables article:nth-child(4n+1){
    clear: both;
}  


#statistics .leaders-tables  .player-shadow {
    border: solid 1px rgb(204,204,204);
    display: block;
    background-image: url("/static/images/sports/player-shadow.png");
    height: 70px;
    width: 70px;
}

/* per mockups only Team is left aligned */
#statistics th[abbr="Rank"],
#statistics th[abbr="Team"],
#statistics tr td:first-child {
    text-align: left;
}


#statistics table thead th:first-child {
    padding: 0 0 0 10px;
}

#statistics .leaders-tables table td,
#statistics .leaders-tables table th {
    padding: 0 5px;
}

#statistics .leaders-tables table tbody th {
    text-transform: none;
}

/* SHOWING ONLY FIRST 8 ROWS */
/* might be replaced with paging */
/* waiting for designs */
#statistics .dataTable tbody tr {
    display: none;
}

#statistics .dataTable tbody tr:nth-child(1),
#statistics .dataTable tbody tr:nth-child(2),
#statistics .dataTable tbody tr:nth-child(3),
#statistics .dataTable tbody tr:nth-child(4),
#statistics .dataTable tbody tr:nth-child(5),
#statistics .dataTable tbody tr:nth-child(6),
#statistics .dataTable tbody tr:nth-child(7),
#statistics .dataTable tbody tr:nth-child(8) {
    display: table-row;
}

#statistics .leaders-tables table tbody tr:first-child th:after,
#statistics .leaders-tables table tbody tr:first-child th:before {
    border-bottom: 11px solid transparent; 
    border-right: 8px solid rgb(170,170,170);
    border-top: 12px solid transparent;
    content: " ";
    display: block;
    height: 0; 
    left: 85px;
    position: absolute;
    top: 26px;
    width: 0; 
    z-index: 2; 
}

#statistics .leaders-tables table tbody tr:first-child th:after {
    border-bottom: 11px solid transparent; 
    border-right: 8px solid rgb(221,221,221);
    border-top: 12px solid transparent;
    left: 86px;
    z-index: 3; 
}

#statistics header input[type="radio"] {
    color: rgb(255,255,255);
    float: left;
    opacity: 0;
    width: 1px;
}

#statistics header input[type="radio"] + label {
    clear: none;
    cursor: pointer;
}

#statistics header input[type="radio"]:checked + label {
    background: none repeat scroll 0 0 rgb(255,40,40);
    box-shadow: 2px 2px 1px rgb(217,5,0) inset;
    font-weight: 900;
    text-shadow: 1px 1px 0 rgb(217,5,0);
}

@media only screen and (min-width: 1280px) {

    #statistics .leaders-tables article {
        width: 360px;
    }

    #statistics .leaders-tables table thead th {
        padding-bottom: 5px;
    }

    #statistics .leaders-tables header {
        float: left;
        width: 40%;
    }

    #statistics .leaders-tables table {
        width: 60%;
    }
    
    #statistics .leaders-tables table td,
    #statistics .leaders-tables table th {
        padding: 5px 10px;
    }

    #statistics .leaders-tables header h3 span {
       margin: 0 auto;
       width: 120px;
    }
    #statistics .leaders-tables header h3 span.city {
        display: block;
        font-size: .9em;
        margin: 0 15px;
    }
    
    #statistics .leaders-tables header h3 span.tn {
        font-size: 1.1em;
        margin: 0 15px;
    }

    #statistics .leaders-tables table tbody tr:first-child th:after,
    #statistics .leaders-tables table tbody tr:first-child th:before {
        border-bottom: 15px solid transparent;
        border-right: 10px solid rgb(170,170,170);
        border-top: 15px solid transparent;
        left: 135px;
        top: 31px;
    }

    #statistics .leaders-tables table tbody tr:first-child th:after {
        border-right: 10px solid rgb(221,221,221);
        left: 136px;
    }
}

@media only screen and (min-width: 1440px) {
    #statistics .leaders-tables table tbody tr:first-child th:after,
    #statistics .leaders-tables table tbody tr:first-child th:before {
        left: 150px;
        top: 31px;
    }

    #statistics .leaders-tables table tbody tr:first-child th:after {
        left: 151px;
    }

    #statistics .leaders-tables article {
        width: 400px;
    }
}