/* helpers for tables*/
#section_sports table .fLeft {
    float: left !important;
    margin-right:7px;
}

#section_sports table .fRight {
    float: right !important;
    margin-left:7px;
}
/* helpers */
#section_sports  table { 
    border-spacing: 0; 
    width: 100%;
    font-size: 12px;
} 

#section_sports table caption { 
    background-color: rgb(204,204,204); 
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px;
} 

#section_sports table,
#section_sports td,
#section_sports th {
    border: 1px solid rgb(204,204,204);
}

#section_sports tbody tr:nth-child(even) {
    background-color:rgb(248,248,248);
}

#section_sports  table,
#section_sports  table > *,
#section_sports  table tr,
#section_sports  table tr > * {
    border-top: 1px solid rgb(150,150,150);
}

#section_sports  table thead {
    background: rgb(247,247,247) url('/static/images/sports/thead-bg.png') repeat-x top left;
    color: rgb(50,50,50);
    font-size: 12px;
    text-transform:uppercase;
}

#section_sports  table tbody td,
#section_sports  table tbody th,
#section_sports  table thead th {
    padding: 5px 10px;
    text-align: center;
}

#section_sports  table tbody td {
    vertical-align: middle;
}

#section_sports  table tbody th {
    font-weight: normal;
}

#section_sports  table caption, 
#section_sports  table thead th:first-child, 
#section_sports  table tbody th[scope="row"] { 
    text-align: left; 
    font-weight:bold;
    font-size:13px;
}

#section_sports  table thead th:first-child { 
    padding: 5px 20px;
}

#section_sports  td ul { 
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#section_sports  td ul li { 
    text-align:left;
}

#section_sports #team-page {
    overflow: hidden;
}

/* table sort */
#section_sports table.sort thead th { 
    background:   url('/static/images/sports/tbl-sort.png') no-repeat right 3px;
    cursor: pointer;
    padding-right:7px !important;
}

#section_sports table.sort thead th.sorting_desc { 
    background-position:right -19px;
}

#section_sports table.sort thead th.sorting_asc { 
    background-position:right -48px;
}

#section_sports table.sort thead th.sorting_asc,
#section_sports table.sort thead th.sorting_desc,
#section_sports table.sort tbody .sorting_1 {
    border-left:rgba(100,100,100,0.4);
    border-right:rgba(100,100,100,0.4);
}

#section_sports table.sort thead th.sorting_asc,
#section_sports table.sort thead th.sorting_desc {
    background-color: rgba(60,60,60,0.1);
}

#section_sports table.sort tbody .sorting_1 {
    background-color: rgba(160,160,160,0.1);
}

#section_sports table a,
#section_sports table a:active,
#section_sports table a:hover,
#section_sports table a:visited {
    color: rgb(102,102,102);
    font-weight: bold;
    text-decoration: none;
}

#section_sports table a:hover {
    color: rgb(68,68,68);
}
