#section_sports .playerImage {
    background-image:url(/static/images/sports/honeycomb.png);
    height:170px;
}

#section_sports .playerInformation {
    border-bottom:1px solid rgb(204,204,204);
    text-align:center;
}

#section_sports .playerStatistics {
    background:#FFF;
    border-top:1px solid rgb(204,204,204);
    bottom:0;
    height:75px;
    position:relative;
    text-align:center;
}

#section_sports .playerStatistics p {
    font-size:20px;
    margin:0;
}

#section_sports .playerWrapper {
    -moz-background-clip:padding;
    -webkit-background-clip:padding-box;
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 3px 10px 0 rgba(85,85,85,0.3);
    background-clip:padding-box;
    border:1px solid rgb(204,204,204);
    border-radius:3px;
    box-shadow:0 3px 10px 0 rgba(85,85,85,0.3);
    float:left;
    font-family:sans-serif;
    height:285px;
    margin:19px;
    padding-top:7px;
    position:relative;
    width:200px;
}

#section_sports .playerWrapper .abbreviation {
    font-size:13px;
    font-weight:400;
}

#section_sports .playerWrapper .insetTextShadow {
    color:rgba(117,117,117,0.8);
    text-shadow:1px 1px 6px rgba(200,200,200,1), 0 0 0 #000, 1px 4px 6px rgba(200,200,200,1);
}

#section_sports .playerWrapper .playerName {
    font-weight:700;
}

#section_sports .playerWrapper .playerNumber {
    font-size:40px;
    font-weight:700;
    line-height:32px;
    padding-top:25px;
}

#section_sports .playerWrapper .position {
    background-color:rgba(200,200,200,1);
    border-radius:50px;
    box-shadow:0 0 0 3px rgba(255,255,255,1), 0 0 0 6px rgba(200,200,200,1);
    color:rgba(117,117,117,.8);
    height:100px;
    margin:auto;
    overflow:hidden;
    text-align:center;
    text-transform:uppercase;
    width:100px;
}

#section_sports .playerWrapper .single_statistic {
    width:100%;
}

#section_sports .playerWrapper .single_statistic,#section_sports .playerWrapper .statistic {
    color:rgb(119,119,119);
    float:left;
    font-size:10px;
    font-weight:700;
    padding-top:15px;
    text-align:center;
}

#section_sports .playerWrapper .statistic {
    width:65px;
}

#section_sports .playerWrapper .statisticName {
    color:rgba(102,102,102,1);
    font-size:11px;
    font-weight:400;
    text-transform:uppercase;
}

#section_sports .playerWrapper .statisticsWrapper {
    display:inline-block;
}

.positionWrapper {
    display:table-cell;
    height:170px;
    vertical-align:middle;
    width:200px;
}