
#teams-list a,
#teams-list a:visited,
#teams-list a:hover {
    color: inherit;
}

#teams-list > ul {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    background: rgb(0,0,0);
    display: none;
    left: 0px;
    list-style-position: inside;
    margin: 0;
    padding: 24px 22px 0;
    position: absolute;    
    top: 200px;
    width: 1200px;
    z-index: 100;
}

#teams-list:hover > ul {
    display: block;
}

#teams-list:hover > ul,
#teams-list:hover > ul > li,
#teams-list:hover > ul > li > ul,
#teams-list:hover > ul > li > ul > li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#teams-list:hover > ul > li > ul > li {
    cursor: pointer;
    padding: 5px 10px;
}

#teams-list:hover > ul li ul li {
    -moz-column-count: 4;
    -moz-column-gap: 40px;
    -moz-columns: 3 140px;
    -webkit-column-count: 4;
    -webkit-column-gap: 40px;
    -webkit-columns: 3 140px;
    background: none repeat scroll 0 0 transparent !important;
    border-left: medium none;
    box-shadow: none;
    float: none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#teams-list:hover > ul > li > ul > li.division_name {
    background-image: url("/static/images/sports/navigation-sub-bg.jpg") !important;
    background-position: 0 0 !important;
    background-repeat: repeat !important;
    color: #333333;
    cursor: default;
    display: inline-block !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 16px;
    padding: 0 11px 0 0;
    text-transform: uppercase;
}
.sports article footer,
.sports article footer ul.divisions,
.sports article footer ul.division {
    overflow:hidden;
    padding: 0;
}

.sports article footer ul.divisions {
    width: 1200px;
}

.sports article footer ul.divisions li,
.sports article footer ul.division li {
    display:none;
    float: left;
    list-style: none;
    margin:0;
    width: 150px;
}


.sports article footer ul.division li {
    width: 300px;
}

.sports .schedule .matchup .home {
    float: right;
}

.sports .schedule .matchup .away {
    float: left;
}

.sports .schedule .matchup .away .logo-54,
.sports .schedule .matchup .away .city,
.sports .schedule .matchup .home .logo-54,
.sports .schedule .matchup .home .city {
    display: inline-block;
}

.sports .schedule .matchup .city {
    margin: 0 10px;
}
