@CHARSET "ISO-8859-1";



.light-shade .form_RR{ 
     padding: 20px 0 10px 0;
     font: 13px sans-serif;
     font-weight: 600;
     color: #333333; 
     display:block;
}

a .OutputLinkEx, .OutputLinkEx, a:link, a:visited, a:hover, a:active, .chat-button
{color:#ffffff}

 h6.form_RR{
    padding:10px 0 0 0;
    width: 320px;
    height: 60px;
    position: relative;
    z-index: 170;
    margin: 0px 0 0;
    text-transform: uppercase;
    color:rgb(255,255,255);
    background:url('/images/dc_resources/story-updates-bg.png') no-repeat;
    font: 12px 'Futura';
    font-weight: 600;
    text-align: center;
    display: block;
             }

.light-shade, .light-shade-products {
    border-right: 1px solid rgb(230,230,230);
    border-left: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
    display: block;
    padding: 0px 0 0;
    margin: -55px 0 20px 1px;
    position: relative;
    text-align: center;
    width: 317px;
    z-index: 160;
    }
.light-shade-products{height:580px}

.light-shade p {
    color: #333333;
    font: 13px/23px 'arial', sans-serif;
    font-weight: 500;
    padding: 10px 0 20px 0;

    width: 265px;
    margin: 0 auto;
    text-align: center;
}
.light-shade p .RR-bold
    {font-weight: 600;}
 p.follow-wrapper{
    height: 1px;
    border-top: 1px dotted rgb(203, 203, 203);
    padding: 0px;
    text-align: center;
}
.chat-button a, .chat-button a:active, .chat-button a:visited{
    border: 1px solid #148ceb;
    padding:13px 1px 10px 1px;
    margin: 0 0 20px 0;  
    display: inline-block;
    font: bold 12px/30px 'arial',sans-serif;
    width: 200px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; 
    background: #1da0ff;
    background: -moz-linear-gradient(top, #21acff 0%, #1b9aff 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21acff), color-stop(100%,#1b9aff));
    background: -webkit-linear-gradient(top, #21acff 0%,#1b9aff 100%);
    background: -o-linear-gradient(top, #21acff 0%,#1b9aff 100%); 
    background: -ms-linear-gradient(top, #21acff 0%,#1b9aff 100%);
    background: linear-gradient(to bottom, #21acff 0%,#1b9aff 100%);  
  -webkit-box-shadow: 0px 1px 1px 0px #333333; 
    box-shadow: 0px 1px 1px 0px #333333; 
    color: #ffffff;
    font: 12px 'Futura','arial',sans-serif;
     font-weight: 600;
     color: #ffffff;
     text-decoration: none; 

}
.chat-button a:hover{
 background: #1da0ff;
    background: -moz-linear-gradient(top, #38b4ff 0%, #2ea4ff 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38b4ff), color-stop(100%,#2ea4ff));
    background: -webkit-linear-gradient(top, #38b4ff 0%,#2ea4ff 100%);
    background: -o-linear-gradient(top, #38b4ff 0%,#2ea4ff 100%); 
    background: -ms-linear-gradient(top, #38b4ff 0%,#2ea4ff 100%);
    background: linear-gradient(to bottom, #38b4ff 0%,#2ea4ff 100%); 
}

     
.alpha40 {
background: rgb(255, 255, 255,);
background: rgba(255, 255, 255, .4);
}


.form_RR_mod{
padding-top: 0px; 
display: block; 
position:relative; 
}

#form-RR-products{
text-align: left;
padding: 50px 15px 0 15px; 
}

.form-RR-products-1, .form-RR-products-2 { 
margin:15px 0px; 
clear:both;  
}
.form-RR-products-1 { 
height:90px 
}
.form-RR-products-2 { 
height:110px 
}

.form-RR-products-1 a, .form-RR-products-2 a, .form-RR-products-1 a:link, .form-RR-products-2 a:link, .form-RR-products-1 a:visited, .form-RR-products-2 a:visited{
text-decoration:none; 
color:#333333 ; 
margin:0px; 
font-family: sans-serif;
font-weight:600 ; 
font-size:12px; 
display: block;
text-align: left;
padding: 5px 0px
}
.form-RR-products-1 a:hover, .form-RR-products-2 a:hover{
color:#1B9BFF}

a .form-RR-buy-button{ 
 background: #f59006;
    background: -moz-linear-gradient(top, #f6a207 0%, #f48305 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6a207), color-stop(100%,#f48305));
    background: -webkit-linear-gradient(top, #f6a207 0%,#f48305 100%);
    background: -o-linear-gradient(top, #f6a207 0%,#f48305 100%); 
    background: -ms-linear-gradient(top, #f6a207 0%,#f48305 100%);
    background: linear-gradient(to bottom, #f6a207 0%,#f48305 100%); 

padding:4px 21px 4px 21px; -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; 
    margin-top: 5px; 
    position:relative;
    display: block-inline;
    float:left;
    color:#ffffff; 
    text-shadow: 1px 1px 1px #e66800;
    padding: 5px 20px ;
    border: solid 1px #f57f01;
 }
 a .form-RR-buy-button:hover{ 
 background: #f59006;
    background: -moz-linear-gradient(top, #ffa606 0%, #ff8904 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6a207), color-stop(100%,#ff8904));
    background: -webkit-linear-gradient(top, #ffa606 0%,#ff8904 100%);
    background: -o-linear-gradient(top, #ffa606 0%,#ff8904 100%); 
    background: -ms-linear-gradient(top, #ffa606 0%,#ff8904 100%);
    background: linear-gradient(to bottom, #ffa606 0%,#ff8904 100%); 

 }
.form-RR-products-1 a img, .form-RR-products-2 a img{ 
display:inline;
padding:0 15px 0 0px;
position:relative; 
float:left; }












#pageContentEEOrderEntryRight {
  display:inline;
  position:absolute;
  right:0;
  top:150px;
}

.form {
} 

article.cards section.card{/*min-height:1700px;*/}

#pageContentEEOrderEntryLeft {
	width: 480px;
	font-size: 12px;
	padding:0 30px 150px 20px;
	position: relative;
	/*Galina*/
    
	font-family: Futura, Arial, sans-serif;
    /*background: url('/images/dc_resources/bg1.jpg'); */
}
a .OutputLinkEx,  
.OutputLinkEx,
a:link, 
a:visited, 
a:hover, 
a:active 
{color:#1B9BFF; text-decoration:none}
body{    background: url('/images/dc_resources/bg1.jpg'); }


#pageContentEEOrderEntryLeft UL {
  color:#999999;
  font-size:14px;
  font-weight:bold;
  line-height:18px;
  list-style-type:none;
}
#pageContentEEOrderEntryLeft ul a{color:#1b9bff; text-decoration: none}
#pageContentEEOrderEntryLeft LI {
	/*BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/red_bullet_6x6.gif);*/
	PADDING-LEFT: 0px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left 3px;
	MARGIN-BOTTOM: 5px;
	width:420px;
}

#headerPromoTextDiv {
	color: #333333;
	font-size: 18px;
	line-height: normal;
	margin-bottom: 10px;
padding: 0 0 0 10px; 
	width: 95%;
	word-wrap:  break-word;
	background-origin: padding-box;
	font-family:sans-serif;
}

#headerPromoTextDiv p {
	color: #00529b;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	word-wrap:  break-word;
}

#checkoutGuaranteeTextDiv {
	width: 85%;
	word-wrap:  break-word;	
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
#checkoutGuaranteeDiv {
	border-radius: 9px;
	border-style: double;
	border-color: #00529B;
	border-width: 8px;
	height: 370px;
	width: 319px;
	background-color: white;
	text-align: center;
	line-height: normal;
	z-index: 150;
	position: fixed;
	top: 30px;
	left: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background: white; 
}

#checkoutGuaranteeDiv UL {
   PADDING: 0px;
}

#checkoutGuaranteeDiv LI {
	LIST-STYLE-TYPE: none;
}

#checkoutGuaranteeDivHeader {
	width: 95%;
	word-wrap: break-word;
}

#orderFormBox {
	padding-top: 10px;
	padding-left: 10px;
	width: 480px;
}
.panelLayout {
	vertical-align: top
}
.panelLayoutOrderForm {
	vertical-align: middle;
	width: 500px;
}

.panelLayoutOrderForm TD {
	vertical-align: middle;
}

.orderFormGridStyles {
	 width: 460px;
}

.orderFormGridStyles TH {
	 text-align: left;
}

.orderFormInsideGridStyles {
	 width: 460px;
}

.renewalOrderFormInsideGridStyles {
	 width: 385px;
}
.panelFormBoxTerms {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
	BACKGROUND-COLOR: transparent;
	border-collapse: collapse; 
	cell-spacing: 1px;
	margin-left: 0px;
}

.panelFormBoxTerms_Label-Cell {
	text-align: right;
	width: 0px;
	nowrap;	
}

.panelFormBoxTerms_Info {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	color: black;
}

.panelFormBoxTerms_Header, .panelFormBoxOrderEntryForm_Header  {
	color: #666666;
	clear: both;
	font-family: Futura, Arial, sans-serif;
	font-size: 19px;
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: -20px;
	margin-right: 0px;
	line-height: normal;
	text-transform:uppercase;
	padding:0 0 10px 0;
		
}
#pageContentEEOrderEntryLeft .dc_FormHeader {color:#1b9bff;font-weight: 600}


.panelFormBoxTerms_Help-Cell {
	color: red;
	font-weight: bold;
	font-size: 12pt;
}

.selectOneRadio {
}

.selectOneRadio TD {
	margin-bottom: 5px;
}

.selectOneRadio_Disabled {
	color: GrayText;
	font-size 12px;
}

.selectOneRadio_Enabled {
	color: #333333;
	font-size: 12px;
}

.selectOneRadio_Error {}
.panelGrid {}
.panelGridColTopRightAlignV2 {
	text-align: right;
	vertical-align: top;
}
.panelGridColTopLeftAlignV2 {
	text-align: left;
	vertical-align: top;
}

.outputText {
line-height: 18px;
}
.outputLinkEx{ margin: 0 0 0px 0}
.panelFormBoxOrderEntryForm {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
font-family:Arial, sans-serif; 
	BACKGROUND-COLOR: transparent;
	border-collapse: collapse; 
	cell-spacing: 1px;
	margin-left: 0px;
	color:#1b9bff;
	line-height:18px
}

.panelFormBoxOrderEntryForm_Header {
/*	color: #999;
	clear: both;
font-family:Arial, sans-serif;
	font-size: 23px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 13px;
	margin-left: -20px;
	margin-right: 0px;
	line-height: normal;*/
		
}
.panelFormBoxOrderEntryForm_Label {
	color:   #333333;
	nowrap:  nowrap;	
}

.panelFormBoxOrderEntryForm_Label-Required {
	color:   #333333;
	nowrap:  nowrap;	
}
.panelFormBoxOrderEntryForm_Info {
	color:   #333333;
	font-size: 11px;
}

.panelFormBoxOrderEntryForm_Error {
	color: red;
	/*font-weight: bold;*/	
	  margin: 0 0 0 5px 
}
.inputTextOrderForm {
  font-size: 12px;
font-family:Arial, sans-serif;
  font-weight: normal;
  padding: 3px;
  color: #777;
  background: url('/theme/themeV3/themeImages/bg-input.png') repeat-x 0px 0px;
 border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  margin: 0 0 0 8px 
}

.inputText_Error {
  border-style: solid;
  border-color: #DE5C5C;
  font-size: 12px;
font-family:Arial, sans-serif;
  font-weight: normal;
  padding: 3px;
}

.inputTextFocusOrderForm {
  font-size: 12px;
  font-family:Arial, sans-serif;
  font-weight: normal;
  padding: 3px;
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  border-color: #999;
  background: url('/theme/themeV3/themeImages/bg-input-focus.png') repeat-x 0px 0px;
}
.requestLink{color: #1b9bff; 
font-size:10px;
  margin:0 0 0 10px;
  cursor:pointer;  
}
.selectOneMenu{margin: 0 0 0 8px}

.selectOneMenu2 {
  font-size: 12px;
  font-family:Arial, sans-serif;
  font-weight: normal;
  padding: 3px;
  color: #777;
  background: url('/theme/themeV3/themeImages/bg-input.png') repeat-x 0px 0px;
  border-top: solid 1px #aaa;
  border-left: solid 1px #aaa;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
}
.selectOneMenu_Error {
color: #00aaff}

.panelFormBoxReversed {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
	BACKGROUND-COLOR: transparent;
	border-collapse: collapse; 
	cell-spacing: 1px;
	margin-left: 140px;
}

.panelFormBoxReversed_Label-Cell {
	text-align: left;
	width: auto;
	line-height:auto;
	white-space:nowrap;
	padding-top:4px;
}

.panelFormBoxReversed_Label {
	color:#333333;
	nowrap:nowrap;	
}
#chatIconRequestDiv img{ width:55px;
}
.graphicImageEx { border:none}

.outputFormat {line-height:18px; color:#666666;
}
.orderpageSubmitbutton {
background: #999; /* for non-css3 browsers */

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21acff', endColorstr='#1b9aff'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#21acff), to(#1b9aff)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #21acff,  #1b9aff); /* for firefox 3.6+ */ 


	border: 1px solid #149cee;
	cursor:pointer;
	padding: 9px;
        width: auto; 
	border-radius: 2px;	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	font-size: 13px;
	font-weight: 500;
	color: #FFF;
	font-family: Futura, Arial, sans-serif; text-transform: uppercase;
}

.footnote {
	color: #999999;
	font-size: 11px;
    font-family: Arial, Helvetica, clean, sans-serif;  
    width: 80%; 
	white-space: normal; 
}

.coppaText {
	color: #999999;
	font-weight: bold;
    font-family: Arial, Helvetica, clean, sans-serif; 
}

#graybar {
	TEXT-ALIGN: left;
	/*BACKGROUND-COLOR: #666;*/
    width: 80%;
	COLOR: #999999;
	MARGIN-LEFT: 5px;
	FONT-SIZE: 11px;
	MARGIN-RIGHT: auto;
	PADDING-TOP: 7px;
	line-height:18px;
	font-family: Arial, Helvatica, sans-serif;
}

#graybar A {
	color:#1B9BFF;
	text-decoration: none;
	FONT-SIZE: 11px;
	font-weight: normal;
	font-family: Arial, Helvatica, sans-serif;
}
#copyright {
	TEXT-ALIGN:  left;
	MARGIN-TOP: 10px;
    width: 95%;
	HEIGHT: 50px;
	COLOR: #999999;
	line-height:18px;
	}

#copyright P {
	TEXT-ALIGN: left;
	line-height:18px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #999999;
	FONT-SIZE: 11px;
	font-family: Arial, Helvatica, sans-serif;
}
.message {
	color: red;
	font-weight: bold;
	font-size: 10pt;
	line-height: normal;
	
} 

.messages {
	color: red;
	/*font-weight: bold;*/
	font-size: 10pt;
	line-height: normal;
	margin: 0 0 0 0;
	font-family: Helvetica, Arial, sans-serif;
	
}

/**********************************************
 *	Compound Component:  DatePicker Dropdown  *
 **********************************************/

.inputText_DatePicker {
	background-color: ButtonFace;
	border: 1px;
	border-style: solid;
	border-color: ButtonShadow;
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: normal;
	color: WindowText;
	padding: 2px;
	margin: 0px;
}

.inputText_DatePicker-Size {
}

.inputText_DatePicker-Header {
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: ButtonShadow;
}

.inputText_DatePicker-Body {
	border-width: 0px;
	border-style: none;
	background-color: window;
}

.inputText_DatePicker-HeaderLine1,
.inputText_DatePicker-HeaderLine2,
.inputText_DatePicker-HeaderWeekday, 
.inputText_DatePicker-HeaderYear,
.inputText_DatePicker-HeaderMonth {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	font-weight: bold;
	vertical-align: middle;
}

.inputText_DatePicker-HeaderLine1 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 1px;
}

.inputText_DatePicker-HeaderYear {
	color: WindowText;
	padding-top:2px;
	padding-bottom:1px; 
}

.inputText_DatePicker-HeaderLine2 {
	width: 12px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
}

.inputText_DatePicker-HeaderMonth {
	color: WindowText;
	padding-bottom: 3px;
}

.inputText_DatePicker-Button {
	border: 0px;
	width:  12px;
	height: 12px;
}

.inputText_DatePicker-HeaderWeekday {
	color: WindowText;
	background-color: ButtonFace;
	padding-top: 1px;
	padding-bottom: 2px;
}

.inputText_DatePicker-OtherMonth,
.inputText_DatePicker-CurrentMonth,
.inputText_DatePicker-CurrentDay, 
.inputText_DatePicker-CurrentOtherDay, 
.inputText_DatePicker-InvalidDay, 
.inputText_DatePicker-Today,
.inputText_DatePicker-CurrentToday {
	font-family: Arial, sans-serif;
	font-size: 9pt;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	padding: 1px;
	padding-left: 2px;
	padding-right: 2px;
}

.inputText_DatePicker-OtherMonth {
	color: GrayText;
	border-color: Window;
}
.inputText_DatePicker-CurrentMonth {
	color: WindowText;
	border-color: Window;
}

.inputText_DatePicker-CurrentDay {
	color: HighlightText;
	background-color: Highlight;
	border-color: Window;
}

.inputText_DatePicker-CurrentOtherDay {
	color: HighlightText;
	background-color: Highlight;
	border-color: Window;
}

.inputText_DatePicker-InvalidDay {
	color: GrayText;
	background-color: buttonface;
	border-color: buttonface;
}

.inputText_DatePicker-Today {
	color: WindowText;
	font-weight: bold;
	background-color: Window;
	border-color: ButtonShadow;
}

.inputText_DatePicker-CurrentToday {
	color: HighlightText;
	font-weight: bold;
	background-color: Highlight;
	border-color: Window;
}
.panelDialog {
	position: absolute;
	background-color: #ffffff;
	border-width: 1px;
	border-color: #B3B3B3;
	border-style: solid; 
	-moz-box-shadow: 0px 0px 5px #999;
-webkit-box-shadow: 0px 0px 5px #999;
box-shadow: 0px 0px 5px #999;
padding:15px 0px 15px 15px;

}

.panelDialog_TitleBar {
	text-align: left;
	font-weight: 500;
	font-size: 14px;
	font-family: Futura, Arial, sans-serif;
	padding-bottom: 10px;
	color:#333333;
	text-transform: uppercase;

}

.panelDialog_TitleBar-CloseButton {
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: default;
	border-style: none;
	border-width: 0px; 
	display: none; 
	opasity:0;

}

.panelDialog_TitleBar-CloseButton-img {
	background-image: url("/theme/img/JSF_title_closebtn.gif");
	background-repeat: no-repeat;
	width: 16px;
	height: 14px;
	border-style: none;
	border-width: 0px;
	padding-left: 0px;
    visibility: none
}

.panelDialog_ContentArea {
	font-family: sans-serif;
	font-size: 12px;
	padding: 0px;
	padding-top: 0px
}

.panelDialog_Footer {
  color:#666666;
  font-size:12px;
  line-height:18px;
  text-align:left;
}

#formSubmittedOverlay {
	background-color: white;
	position:absolute;
	left:0;
	top:0;
	width:125%;
	height:400%;	
	z-index:99999;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
	filter: alpha(opacity=30);
	opacity: 0.30;
}
.H1Class {
  color:#333333;
  font-family:helvatica, Arial, sans-serif;
  font-size:48px;
  font-weight:600;
  padding:30px 0 0 30px;
  
  display: block; float:relative;
}
#orderFormBoxThankYou {
	width: 375px;
	padding-top: 10px;
	padding-left: 0px;
}
.panelGridColNorm {
	white-space: nowrap;
}

.panelGridColRightAlign {
	width: auto; 
	text-align: right;
}

.panelGridColLeftAlign {
	width: 100%; 
	text-align: left;
}
.panelThankYouPage_Header {
	font-family: Futura, Arial, Helvatica;
	font-size: 14pt;
	color: #333333;
	font-weight: 400;	
}
.panelGridThankYouPage {
	margin-left: 5px; 
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	padding: 3px;
	color: #333333;
	width: 430px;
}

.tblEEditionReaderBorder {
	BORDER-LEFT: #4268b4 0px solid; 
	BORDER-RIGHT: #4268b4 0px solid; 
	BORDER-TOP: #4268b4 0px solid; 
	BORDER-BOTTOM: #4268b4 0px solid;
}
#pageContentNoMarginsButton img{
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	float: none;
	width: 116px;
	height: 40px;
}




@font-face {
    font-family: 'Futura';
    src: url('/images/dc_resources/futura_bold-webfont.eot');
    src: url('/images/dc_resources/futura_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/images/dc_resources/futura_bold-webfont.woff') format('woff'),
         url('/images/dc_resources/futura_bold-webfont.ttf') format('truetype'),
         url('/images/dc_resources/futura_bold-webfont.svg#FuturaBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

#headerDelvMethodTextDiv{
margin: 0 0 20px 0; 
font-size:14px}

#headerPromoTextDiv {font-family:sans-serif; }
.panelGroup { font-family: Arial, Helvetica, sans-serif;  }

img{
visibility: none
}
.panelFormBoxTerms_Content{
margin:0 0 0 -15px}

#pageContentEEOrderEntryLeft a {
font-size: 11px; 
color:#1b9bff;
}

.panelFormBoxOrderEntryForm_Help-Cell {margin: 0 0 0 10px}

.dc_FormHeader {color:#1b9bff;font-weight: 500}
#formMainForm{ background: url('/theme/themeV3/themeImages/bg-input.png') repeat-x}










