
* {
	LINE-HEIGHT: normal;
	MARGIN: 0px;
	FONT-SIZE: 1.0em;
}

BODY {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/background_4x700.jpg);
	BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #ffffff;
	MARGIN: 0px;
}

#logo {
	WIDTH: 250px;
	HEIGHT: auto;
}

#header {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/header_253x53.jpg);
	PADDING-LEFT: 2px;
	WIDTH: 100%;
	PADDING-RIGHT: 0px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left top;
	HEIGHT: 50px;
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto;
}

#content {
	BACKGROUND-IMAGE: none;
	BACKGROUND-COLOR: #ffffff;
	BACKGROUND-REPEAT: no-repeat;
	WIDTH: 100%;
	HEIGHT: 100%
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto;
	margin-top: 0px;
}

#wrapper {
	LINE-HEIGHT: normal;
	FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif;
}


#whitebox {
	BACKGROUND-COLOR: #ffffff;
	WIDTH: 95%;
	PADDING: 2px;
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto;
}

#footer {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/footer_4x20.jpg);
	WIDTH: auto;
	BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-POSITION: center center;
	HEIGHT: auto;
}

#nav {
	DISPLAY: none;
}


#pageContent {
	MARGIN-TOP: 5px;
	PADDING-LEFT: 2px;
	WIDTH: 97%;
	PADDING-RIGHT: 0px;
	FLOAT: none;
	BORDER: none;
	BACKGROUND-COLOR: #fff;
}

#pageContent UL {
	LIST-STYLE-TYPE: none;
	PADDING-LEFT: 0px;
	MARGIN-LEFT: 0px;
}

#pageContent LI {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/red_bullet_6x6.gif);
	PADDING-LEFT: 5px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left 3px;
	MARGIN-BOTTOM: 5px;
	font-size: 0.8em;
	text-align: left;
}

#pageContent2 {
	BACKGROUND-COLOR: #e6e6e6;
	WIDTH: 100%;
	HEIGHT: auto;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 5px;
	FLOAT: left;
}

#pageContentFullWidth {
	WIDTH: 97%;
	FLOAT: left;
	BACKGROUND-COLOR: #fff;
	MARGIN-TOP: 5px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
}

#bluebar {
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #11529b;
	MARGIN-TOP: 5px;
	WIDTH: 100%;
	HEIGHT: auto;
	COLOR: #fff;
	MARGIN-LEFT: auto;
	FONT-SIZE: 1.2em;
	FONT-WEIGHT: bold;
	MARGIN-RIGHT: auto;
	PADDING-TOP: 6px;
	PADDING-BOTTOM: 6px;
}

#graybar {
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #666;
	WIDTH: 100%;
	COLOR: #fff;
	MARGIN-LEFT: auto;
	FONT-SIZE: 11px;
	MARGIN-RIGHT: auto;
	PADDING-TOP: 3px;
	PADDING-BOTTOM: 3px;
	HEIGHT: auto;
	FLOAT: left;
}

#copyright {
	TEXT-ALIGN: center;
	MARGIN-TOP: 10px;
	WIDTH: 100%;
	COLOR: #999;
	HEIGHT: auto;
}

#active A {
	PADDING-BOTTOM: 7px;
	BACKGROUND-COLOR: #009Bff;
	TEXT-INDENT: 10px;
	PADDING-LEFT: 0px;
	WIDTH: 95%;
	DISPLAY: block;
	COLOR: #fff;
	BORDER-TOP: #666 1px dotted;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	PADDING-TOP: 7px;
}

/* Maybe the submit button does not have to be so big. */
input[type="submit"] {
    min-height: 44px;
    text-align: center;
    font-size: 1.3em;
    margin: 0 auto;
    margin-bottom: 1em;
}

/* All input must have rounded corners! */
input:not([type="radio, checkbox"]){
    border-radius: 9px;
    font-size: 1.7em;
}

input:not([type="submit"]), ([type="radio"]), textarea {
    width: auto;
    font-size: 1.7em;
    margin-top: 2px;
    margin-bottom: 2px;
}

H1 {
	PADDING-BOTTOM: 5px;
	MARGIN: 5px 0px 10px;
	COLOR: #11529b;
	FONT-SIZE: 1.6em;
	FONT-WEIGHT: bold;
	PADDING-TOP: 0px;
	LETTER-SPACING: -1px;
	LINE-HEIGHT: normal;
}

H2 {
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: normal;
	LETTER-SPACING: -1px;
	COLOR: #11529b;
	FONT-SIZE: 1.3em;
	FONT-WEIGHT: bold;
	PADDING-TOP: 3px;
}

H3 {
	PADDING-BOTTOM: 10px;
	LINE-HEIGHT: 19px;
	LETTER-SPACING: -1px;
	FONT-SIZE: 1em;
	FONT-WEIGHT: bold;
}

H4 {
	PADDING-BOTTOM: 4px;
	LINE-HEIGHT: 19px;
	COLOR: #11529b;
	FONT-SIZE: 1.2em;
	FONT-WEIGHT: bold;
}

#middleLeft {
	TEXT-ALIGN: center;
	WIDTH: 98%;
	HEIGHT: auto;
	BORDER-TOP: #666 1px dotted;
	BORDER-BOTTOM: #666 1px dotted;
}

#middleLeft P {
	TEXT-ALIGN: center;
	MARGIN-TOP: 0px;
	COLOR: #333;
	WIDTH: 95%;
	LINE-HEIGHT: normal;
    padding: 1em;
    font-size: 1.2em;
    margin-bottom: 1em;


}

#middleLeft IMG {
	MARGIN-TOP: 2px;
}

#middleCenter {
	TEXT-ALIGN: center;
	BORDER: none;
	WIDTH: 95%;
	FLOAT: none;
	HEIGHT: auto;
	BORDER-RIGHT: none;
	BORDER-LEFT: none;
	BORDER-BOTTOM: none;
}

#middleCenter IMG {
	MARGIN-TOP: 2px;
}

#middleCenter P {
	TEXT-ALIGN: center;
	MARGIN-TOP: 0px;
	COLOR: #333;
	WIDTH: 95%;
    padding: 1em;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#middleRight {
	BORDER-TOP: #666 1px dotted;
	TEXT-ALIGN: center;
	WIDTH: 95%;
	FLOAT: none;
	HEIGHT: auto;
	BORDER-RIGHT: none;
	BORDER-LEFT: none;
	BORDER-BOTTOM: none;
}

#middleRight P {
	TEXT-ALIGN: center;
	MARGIN-TOP: 0px;
	COLOR: #333;
	WIDTH: 95%;
    padding: 1em;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#middleRight IMG {
	MARGIN-TOP: 2px;
}

#lowerWelcomePromoSpot {
	FLOAT: left;
	MARGIN-TOP: 10px;
	WIDTH: 95%;
}

#lowerWelcomePromoLeft {
	FLOAT: left;
	TEXT-ALIGN: center;
	WIDTH: 33%;
}

#lowerWelcomePromoMiddle {
	FLOAT: left;
	TEXT-ALIGN: center;
	WIDTH: 34%;
}

#lowerWelcomePromoRight {
	FLOAT: left;
	TEXT-ALIGN: center;
	WIDTH: 33%;
}


#helpcenter {
	MARGIN-TOP: 10px;
	PADDING-LEFT: 10px;
	WIDTH: 97%;
	HEIGHT: auto;
	FLOAT: left;
	BORDER-RIGHT: none;
	BORDER-BOTTOM: #999 1px dotted;
}

#helpcenter UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: url(/theme/themeV3/themeImages/bullet_6x6.gif);
	PADDING-TOP: 0px;
}

#helpcenter LI {
	MARGIN-BOTTOM: 5px;
}

#resource {
	MARGIN-TOP: 10px;
	PADDING-LEFT: 10px;
	WIDTH: 97%px;
	FLOAT: left;
	HEIGHT: auto;
	BORDER-TOP: none;
	BORDER-RIGHT: none;
	BORDER-BOTTOM: #999 1px dotted;
}

#resource UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: url(/theme/themeV3/themeImages/bullet_6x6.gif);
	PADDING-TOP: 0px;
}

#resource LI {
	MARGIN-BOTTOM: 5px;
}

#connect {
	MARGIN-TOP: 10px;
	PADDING-LEFT: 10px;
	WIDTH: 97%;
	FLOAT: left;
	HEIGHT: auto;
	BORDER-TOP: none;
	BORDER-RIGHT: none;
}

#connect UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}

#connect LI {
	MARGIN-BOTTOM: 6px;
}

.twitter {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: url(/theme/themeV3/themeImages/twitter_16.png);
	PADDING-TOP: 0px;
}

.facebook {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: url(/theme/themeV3/themeImages/facebook_16.png);
	PADDING-TOP: 0px;
}

.youtube {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: url(/theme/themeV3/themeImages/youtube_16.png);
	PADDING-TOP: 0px;
}

#footerAdSpot {
	display-none;
	MARGIN-TOP: 10px;
	PADDING-LEFT: 10px;
	WIDTH: 97%;
	FLOAT: left;
}


#copyright P {
	TEXT-ALIGN: left;
	LINE-HEIGHT: normal;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #666;
	FONT-SIZE: 1.0em;
}


.panelFormBox {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 1.2em; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
	BACKGROUND-COLOR: transparent;
	border-collapse: collapse; 
	cell-spacing: 1px;
	margin-left: 5px;
}

.panelFormBox_Label {
	width: auto;
	font-size: 0.7em;
	align: left;
	white-space: normal;
}

.panelFormBox_Label-Cell {
	text-align: left;
	width: auto;
	white-space: normal;	
	font-size: 1.0em;
	font-weight: bold;
	line-height: normal;
}

.panelFormBox_Content-Cell {
	text-align: left;
	width: auto;
	padding-left: 4px;
}


.panelFormBox_Label-Required {
	
}

.formItem {
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
	width: 100%;
}

.panelFormBoxOrderEntryForm {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 1.2em; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
	BACKGROUND-COLOR: transparent;
	border-collapse: collapse; 
	cell-spacing: 1px;
	margin-left: 5px;
}

.panelFormBoxOrderEntryForm_Header {
	color: #999;
	clear: both;
	font-family: helvetica, arial, san-serif;
	font-size: 1.4em;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: -5px;
	margin-right: 0px;
	line-height: normal;
		
}

.panelFormBoxTerms {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 1.2em; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
	BACKGROUND-COLOR: transparent;
	border-collapse: collapse; 
	cell-spacing: 1px;
	margin-left: 5px;
}

.panelFormBoxTerms_Label-Cell {
	text-align: left;
	width: 3px;	
}

.panelFormBoxTerms_Content-Cell {
	text-align: left;
	nowrap;
}

.panelFormBoxTerms_Header {
	color: #999;
	clear: both;
	font-family: helvetica, arial, san-serif;
	font-size: 1.4em;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: -5px;
	margin-right: 0px;
	line-height: normal;
}

.panelFormBoxFull {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 1.0em; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
	BACKGROUND-COLOR: transparent;
	border-collapse: collapse; 
	cell-spacing: 1px;
	margin-left: 2px;
}


.panelFormBoxReversed {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 1.0em;
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial; 
	BACKGROUND-COLOR: transparent;
	border-collapse: collapse; 
	cell-spacing: 1px;
	margin-left: 2px;
}

.panelFormBoxReversed_Label-Cell {
	text-align: left;
	width: auto;
	line-height: normal;
	white-space: nowrap;
	FONT-SIZE: 1.0em; 
}

.panelFormBox_Header {
	font-family: Arial;
	font-size: 1.2em;
	/*color: #11529b;*/
	color: #000;
	font-weight: bold;	
}


.panelFormBox_Content {
	
}

.panelFormBox_Content-Error {
}

.panelFormBox_Info {
	font-size: 11px;
}

.panelFormBox_Error {
	color: red;
	font-weight: bold;	
}

.panelFormBox_MessagesArea {
	
}

.panelFormBox_Help-Cell {
	text-align: left;
}

.panelFormBox_Spacer-Cell {
	line-height: 5px; 
}

.selectOneMenu {
    border-radius: 9px;
    font-size: 1.7em;
}

.selectOneMenu2 {
    border-radius: 9px;
    font-size: 1.1em;
}

.selectOneRadio {
    font-size: 1.0em;
    font-weight: bold;
    line-height: normal;
}

.selectOneRadio_Enabled {
    font-size: 1.0em;
    font-weight: bold;
    line-height: normal;
}

.panelGridThankYouPage {
	margin-left: 0px; 
	font-family: Arial; 
	font-size: 0.9em;
	width: 98%;
}

.panelGridColNorm {
	text-align: left;
}

.panelGridColRightAlign {
	width: auto; 
	text-align: right;
}

.panelGridDualPageRight {
	width: 95%;
	cell-spacing: 0px;
	padding: 0px;
}


#headerLeft {
	position: absolute;
	left: 0px; 
	top: 0px;
	z-index: 10;
	WIDTH: 50%; 
	HEIGHT: auto; 
	MARGIN-LEFT: auto; 
	MARGIN-RIGHT: auto;
	cursor: pointer
}

#headerRight {
	display: none;
}

#popunder {
	background-color: white;
	position:absolute;
	left:0;
	top:0;
	width:95%;
	height:95%;	
	z-index:99999;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
	filter: alpha(opacity=30);
	opacity: 0.30;
}
#middleLeftIntl {
	TEXT-ALIGN: center;
	WIDTH: 260px;
	FLOAT: left;
	HEIGHT: 260px
}
#middleRightIntl {
	TEXT-ALIGN: center;
	WIDTH: 280px;
	FLOAT: left;
	HEIGHT: 260px
}

#pageContent70 {
	TEXT-ALIGN: center;
	float: left;
	width: 100%;
	height: auto;
	padding-right: 0px;
}

#pageContent30 {
	float: left;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
	BORDER-TOP: #666 1px dotted;
	BORDER-LEFT: none;
	margin-top: 30px;
}

#pageContent500px {
	float: left;
	width: 100%;
	border-right-width: 0px;
	border-right-style: none;
	border-right-color: white;
	padding-right: 0px;
}

table.headerTableWidthCSS {
	width: 90%;
}

/* order page */
#headerPromoTextDiv {
	color: #009Bff;
	font-size: 1.4em;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	width: 95%;
	word-wrap:  break-word;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-color: rgb(233, 242, 251);
	background-clip: border-box;
	background-size: auto;
	background-origin: padding-box;
}
#headerPromoTextDiv p {
	color: #009Bff;
	font-size: 1.1em;
	font-weight: 500;
	line-height: normal;
	word-wrap:  break-word;
}

#pageContentEEOrderEntryRight {
	display: none;
}

#pageContentEEOrderEntryLeft {
	float: left;
	width: 100%;
	padding-right: 2px;
}


#orderFormBox {
	background-color: #fff;
	padding-top: 5px;
	padding-left: 5px;
	width: 98%;
}

.orderBox {
	background-color: #fff;
	padding-top: 5px;
	padding-left: 5px;
}

.orderBox table {
	background-color: #fff;
}

.orderBox tr {
	background-color: #fff;
}

.orderBox td {
	background-color: #fff;
}

#orderFormBoxThankYou {
	background-color: #fff;
	width: 100%;
	padding-top: 5px;
	padding-left: 5px;
}

table.checkOutPageMainGrid {
	width: 100%;
	background-color: #fff;
}

table.checkOutPageMainGrid td {
	
}

.orderFormGridStyles {
	 width: 97%;
}


.orderFormInsideGridStyles {
	 width: 100%%;
}

.renewalOrderFormInsideGridStyles {
	 width: 100%%;
}

.lowerPromoSpot {
  display: none; 	
}
.lowerPromoLeft {
	TEXT-ALIGN: center;
	WIDTH: 100%;
}

.lowerPromoMiddle {
	TEXT-ALIGN: center;
	WIDTH: 100%;
}

.lowerPromoRight {
	TEXT-ALIGN: center;
	WIDTH: 100%;
}
#pageContent50Left {
	float: left;
	width: 100%;
	padding-right: 0px;
}

#pageContent50Right {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 30px;
}
#mobileAccountNav {
	display: inline;
	WIDTH: 100%;
	text-align: left;
}


#mobileAccountNav select {
    border-radius: 9px;
    font-size: 1.5em;
    BACKGROUND-COLOR: #fff;
    WIDTH: 95%;
    COLOR: #00499a;
    margin-bottom: 1em;

}

#mobileAccountNav option {
    font-size: 1.4em;
    COLOR: #00499a;
}

.usatTermsFontNormal {
	color: black;
	font-family: Arial;
	font-size: 1.5em;
	FONT-WEIGHT: normal;
}

.usatTermsFontSelected {
	color: black;
	font-family: Arial;
        font-size: 1.5em;
        font-weight: bold;
}

.bestDealStyle {
	display: none;
}

.hideForMobile {
	display: none;
}

.usatFormFont {
        font-size: 1.3em;
}


.loginPageInput {
 width: 100%;
}

#chatWindowIconDiv{
 display: none;
}

.inputText {
}

.clsDataArea{
	width: 90%;
}

.footnote {
	color: #999;
	font-size: 0.8em;
        font-family: Arial, Helvetica, clean, sans-serif;  
        width: 95%; 
	white-space: normal; 
}

.columnClassRight {
	width: auto; 
	text-align: right;
	width: 50%;
}

.columnClassLeft {
	width: auto; 
	text-align: left;
}