#headerLeft {
	position: absolute;
	left: 0px;
	top: 10px;
	z-index: 10;
	WIDTH: 500px; 
	HEIGHT: 65px; 
	MARGIN-LEFT: auto; 
	MARGIN-RIGHT: auto;
	cursor: pointer
}

#headerRight {
	position: absolute;
	left: 315px;
	top: -2px;
	z-index: 10;
	position: relative;
	PADDING-LEFT: 9px; 
	WIDTH: 310px; 
	PADDING-RIGHT: 0px; 
	HEIGHT: 60px; 
	MARGIN-LEFT: auto; 
	MARGIN-RIGHT: auto;
	text-align: right;
}

#headerRight A {
	COLOR: #fff; 
	TEXT-DECORATION: none; 
	cursor: pointer;
	font-size: 11px;
	margin-top: 1px;
	margin-bottom: 1px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}

#headerRight A:hover {
	COLOR: #fff; 
	TEXT-DECORATION: none; 
	font-size: 11px;
	margin-top: 1px;
	margin-bottom: 1px;
}

TABLE.loginFormTable {
	width: 100%;
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 1px; 
	PADDING-TOP: 0px; 
	BACKGROUND-COLOR: transparent;
	border-collapse: collapse; 
    	top: -5px;
}

TD.loginFormColumn {
	vertical-align: top;
	text-align: right;
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 2px;
}

.loginfineprint {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: white;
	font-weight: bold;
}

.loginNormalPrint {
	font-family: Verdana, Arial, sans-serif;
	font-size: 9pt;
	margin-top: 1px;
	margin-bottom: 1px;
	color: white;
	font-weight: bold;
	text-align: right;
}

IMG.promoImages {
	border: 0px;
	padding: 0px;
}

DIV.showMeOffset {
	z-index:1;
	position: relative;
	top: -20px;
	left: 230px;
	float: none;
	display:block;
}

DIV.offsetIndent1 {
	z-index:1;
	position: relative;
	top:  -7px;
	left: 10px;
	float: none;
	display:block;
	font-family: Arial;
	font-size: 10pt
}

.hideMe {
	display:none;
}

.showMe {
	display: inline; 
}

#popunder {
	background-color: white;
	position:absolute;
	left:0;
	top:0;
	width:105%;
	height:105%;	
	z-index:99999;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
	filter: alpha(opacity=30);
	opacity: 0.30;
}

#leavingofferdiv {
     z-index: 100000; 
     border: 0px solid #90a0b8; 
     background: white; 
     position: absolute; 
     top: 3000px; 
     left: 200px; 
     background-color: white;
}


#authContent {
	TEXT-ALIGN: left;
	WIDTH: 600px;
	FLOAT: left;
}

#authMiddle {
	TEXT-ALIGN: center;
		 
}


#middleLeftIntl {
	TEXT-ALIGN: center;
	WIDTH: 260px;
	FLOAT: left;
	HEIGHT: 260px
}



#middleRightIntl {
	TEXT-ALIGN: center;
	WIDTH: 280px;
	FLOAT: left;
	HEIGHT: 260px
}

DIV.showMeInline {
	z-index:0;
	float: none;
	display:block;
}
#pageContentFullWidth P {
	LINE-HEIGHT: 13px;
	MARGIN-BOTTOM: 10px;
	COLOR: #333333;
	FONT-SIZE: 12px
}

#pageContentFullWidth A:link {
	COLOR: #009Bff;
	TEXT-DECORATION: none
}

#pageContentFullWidth A:visited {
	COLOR: #009Bff;
	TEXT-DECORATION: none
}

#pageContentFullWidth A:hover {
	COLOR: #333333;
	TEXT-DECORATION: none
}

#pageContentFullWidth UL {
	LIST-STYLE-TYPE: none;
	PADDING-LEFT: 0px;
	MARGIN-LEFT: 0px
}

#pageContentFullWidth LI {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/red_bullet_6x6.gif);
	PADDING-LEFT: 10px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left 3px;
	MARGIN-BOTTOM: 5px
}
#pageContent2 A:link {
	COLOR: #333333;
	TEXT-DECORATION: none
}

#pageContent2 A:visited {
	COLOR: #333333;
	TEXT-DECORATION: none
}

#pageContent2 A:hover {
	COLOR: #333333;
	TEXT-DECORATION: none
}
.H1Class {
	PADDING-BOTTOM: 5px;
	MARGIN: 10px 0px 15px;
	LETTER-SPACING: -1px;
	COLOR: #009bff;
	FONT-SIZE: 24px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 0px
}

.H2Class {
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: 19px;
	LETTER-SPACING: -1px;
	COLOR: #009bff;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px
}

.H3Class {
	PADDING-BOTTOM: 10px;
	LINE-HEIGHT: 19px;
	LETTER-SPACING: -1px;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold
}
#disclaimerAreaID {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	text-align: center;
	color: white;
}

#disclaimerAreaID a {
	background-color: #009Bff;
	color: #FFF;
	text-decoration: none;
	padding-left: 0px;
	font-weight: bold;
	text-indent: 10px;
}

#disclaimerAreaID a:hover{
	background-color: #009Bff;
	color: blue ;
	text-decoration: none;
	padding-left: 0px;
	font-weight: bold;
	text-indent: 10px;
}

#pageContentNoMarginsButton img{
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	float: none;
	width: 116px;
	height: 40px;
}

.panelThankYouPage_Header {
	font-family: Arial;
	font-size: 11pt;
	color: #4268b4;
	font-weight: bold;	
}
.panelDialog {
	position: absolute;
	background-color: #ffffff;
	border-width: 2px;
	border-color: #5F7BC7;
	border-style: solid
}

.panelDialog_TitleBar {
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 11px;
	padding-left: 15px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 2px;
	background-color: #1177cc;
	background-repeat: repeat-x;
	background-image: url("/theme/img/JSF_title_bar.gif");
	cursor: pointer
}

.panelDialog_TitleBar-CloseButton {
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: default;
	border-style: none;
	border-width: 0px
}

.panelDialog_TitleBar-CloseButton-img {
	background-image: url("/theme/img/JSF_title_closebtn.gif");
	background-repeat: no-repeat;
	width: 16px;
	padding-left: 0px;
	height: 14px;
	border-style: none;
	border-width: 0px;
}

.panelDialog_ContentArea {
	font-family: sans-serif;
	font-size: 12px;
	padding: 2px;
	padding-top: 10px
}

.panelDialog_Footer {
	text-align: right;
	display: block;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	font-size: 12px
}

.panelGridColCenterAlign200Wide {
	width: 210px; 
	text-align: center;
}


.panelGridColLeftAlignV2 {
	width: 260px; 
	text-align: left;
	vertical-align: top;
}

.panelGridColTopRightAlignV2 {
	text-align: right;
	vertical-align: top;
}


.panelGridColTopLeftAlignV2 {
	text-align: left;
	vertical-align: top;
}

.panelGridColTopCentertAlign {
	text-align: center;
	vertical-align: top;
	white-space: normal;
	width: auto;
}

#formSubmittedOverlay {
	background-color: white;
	position:absolute;
	left:0;
	top:0;
	width:125%;
	height:400%;	
	z-index:99999;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
	filter: alpha(opacity=30);
	opacity: 0.30;
}


#pageContentLogin {
	float: left;
	width: 400px;
	padding-right: 80px;
}


#pageContent210 {
	float: left;
	width: 320px;
	padding-right: 10px;
}

#pageContent220 {
	float: right;
	width: 385px;
	padding-left: 10px;
	padding-right: 10px;
	
}

#pageContent70 {
	float: left;
	width: 385px;
	padding-right: 10px;
}

#pageContent30 {
	float: right;
	width: 310px;
	padding-left: 10px;
	padding-right: 10px;
	BORDER-LEFT: #666 1px dotted;
}

#pageContent30 A:link {
	COLOR: #009Bff;
	TEXT-DECORATION: none
}

#pageContent30 A:visited {
	COLOR: #009Bff;
	TEXT-DECORATION: none
}

#pageContent30 A:hover {
	COLOR: #333333;
	TEXT-DECORATION: none
}
#pageContent50Left {
	float: left;
	width: 350px;
	padding-right: 15px;
}

#pageContent50Right {
	float: right;
	width: 350px;
	padding-left: 10px;
	padding-right: 10px;
}

#pageContent800w {
	float: right;
	width: 800px;
	padding-right: 10px;
	margin-top: 15px;
}

#pageContent500px {
	float: left;
	width: 500px;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #666666;
	padding-right: 15px;
}

#pageContent300px {
	float: right;
	width: 300px;
	padding-left: 10px;
	padding-right: 10px;
}

#pageContentEEOrderEntryLeft {
	float: left;
	width: 480px;
	padding-right: 10px;
}

#pageContentEEOrderEntryRight {
	float: right;
	width: 240px;
	padding-right: 5px; 
}
#orderFormBox {
	padding-top: 10px;
	padding-left: 10px;
	width: 480px;
}

.orderBox {
	padding-top: 10px;
	padding-left: 10px;
}

.orderBox table {
}

.orderBox tr {
}

.orderBox td {
}

#orderFormBoxThankYou {
	width: 375px;
	padding-top: 10px;
	padding-left: 10px;
}
/* renewal */
#renewOrderFormBox {
	background-color: #ffffff;
	padding-top: 10px;
	padding-left: 10px;
}

.renewOrderBox {
	background-color: #ffffff;
	padding-top: 10px;
	padding-left: 10px;
}

.renewOrderBox table {
	background-color: #ffffff;
}

.renewOrderBox tr {
	background-color: #ffffff;
}

.renewOrderBox td {
	background-color: #ffffff;
}

/* end renewal */
.tblStatusBlk {
	BORDER-RIGHT: #009Bff 1px solid; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #009Bff  1px solid; 
	PADDING-LEFT: 0px; FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	PADDING-BOTTOM: 0px; 
	BORDER-LEFT: #009Bff 1px solid; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM: #009Bff 1px solid; 
	FONT-FAMILY: Arial; 
	BACKGROUND-COLOR: transparent 
}
.tblStatusBlkTH {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 13px; 
	COLOR: white; 
	FONT-FAMILY: Arial; 
	BACKGROUND-COLOR: #009Bff; 
	TEXT-ALIGN: left; 
	PADDING-LEFT: 2px;
	line-height: normal;
}
.USAT_Header {
	font-family: Arial;
	font-size: 16pt;
	color: black;
	font-weight: bold;
}
.USAT_BlueSubHeader {
	font-family: Arial;
	font-size: 11pt;
	color: #009Bff;
	font-weight: bold;
}
.USAT_BlueSubHeaderLeft {
	font-family: Arial;
	font-size: 11pt;
	color: #009Bff;
	TEXT-ALIGN: left;
	font-weight: bold;
}
.SW_Header {
	font-family: Arial;
	font-size: 16pt;
	color: black;
	font-weight: bold;
}
.SW_RedSubHeaderLeft {
	font-family: Arial;
	font-size: 11pt;
	color: #FF0000;
	TEXT-ALIGN: left;
	font-weight: bold;
}

.lowerPromoSpot {
	FLOAT: left;
	MARGIN-TOP: 10px;
	WIDTH: 745px;
}

.lowerPromoLeft {
	TEXT-ALIGN: center;
	WIDTH: 33%;
}

.lowerPromoMiddle {
	TEXT-ALIGN: center;
	WIDTH: 34%;
}

.lowerPromoRight {
	TEXT-ALIGN: center;
	WIDTH: 33%;
}

table.headerTableWidthCSS {
	width: 725px;
}

table.headerTableWidthCSS td{
	border-spacing: 0px;
	padding: 0px;
}

table.checkOutPageMainGrid {
	width: 745px;
}

table.checkOutPageMainGrid td {
	border-spacing: 0px;
}


.orderFormGridStyles {
	 width: 475px;
}

.orderFormGridStyles TH {
	 text-align: left;
}

.orderFormInsideGridStyles {
	 width: 460px;
}

.renewalOrderFormInsideGridStyles {
	 width: 385px;
}

#headerPromoTextDiv {
	color: #009Bff;
	font-size: 22px;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	width: 95%;
	word-wrap:  break-word;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-color: rgb(233, 242, 251);
	background-clip: border-box;
	background-size: auto;
	background-origin: padding-box;
}

#headerPromoTextDiv p {
	color: #009Bff;
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	word-wrap:  break-word;
}

#checkoutGuaranteeTextDiv {
	width: 85%;
	word-wrap:  break-word;	
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.usatTermsFontNormal {
	color: black;
	font-family: Arial;
	font-size: 12px;
	FONT-WEIGHT: normal;
}

.usatTermsFontSelected {
	color: black;
	font-family: Arial;
	font-size: 13px;
	FONT-WEIGHT: bold;
}

TR.termsHighlight {
		BACKGROUND-COLOR: #E1E1F4;
}

TR.termsSelected {
		BACKGROUND-COLOR: #C9C9ED;
}

TR.termsNormal {
		BACKGROUND-COLOR: white;
}
.bestDealStyle {
        color: #d84048; 
        font-family: Arial; 
	font-size: 10pt;
	FONT-WEIGHT: bold;
}

#chatWindowIconDiv{
  float: right;
  top: -6px;
  position: relative;
}

#chatIconRequestDiv {
}

#templateChatWindowGuestDiv {
	border-radius: 9px;
	border-style: double;
	border-color: #009Bff;
	border-width: 8px;
	width: 360px;
	background-color: white;
	text-align: center;
	line-height: normal;
	z-index: 150;
	position: fixed;
	top: 80px;
	left: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background: white; 
}

#templateChatWindowGuestDiv UL {
   PADDING: 0px;
}

#templateChatWindowGuestDiv LI {
	LIST-STYLE-TYPE: none;
}



#templateChatWindowDiv {
	border-radius: 9px;
	border-style: double;
	border-color: #009Bff;
	border-width: 8px;
	width: 360px;
	background-color: white;
	text-align: center;
	line-height: normal;
	z-index: 150;
	position: fixed;
	top: 80px;
	left: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background: white; 
}

#templateChatWindowDiv UL {
   PADDING: 0px;
}

#templateChatWindowDiv LI {
	LIST-STYLE-TYPE: none;
}

#templateChatLinksDiv {
	width: 100%;
	float: left;
	padding-right: 0px;
	margin-top: 10px;
	text-align: center;
	clear: right;
}
#templateChatLinksDiv A:link {
    display: inline-block;
    color: #fff;
    background-color: #009Bff;
    width: 80%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 1em 0.95em;
    TEXT-DECORATION: none;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-bottom: 0.4em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009Bff), to(#007cec), color-stop(.5,#333));
    background-image: -o-gradient(linear, left top, left bottom, from(#009Bff), to(#007cec), color-stop(.5,#333));
    background-image: gradient(linear, left top, left bottom, from(#009Bff), to(#007cec), color-stop(.5,#333));	
}

#templateChatLinksDiv A:visited {
    display: inline-block;
    color: #fff;
    background-color: #009Bff;
    width: 80%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 1em 0.95em;
    TEXT-DECORATION: none;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-bottom: 0.4em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009Bff), to(#007cec), color-stop(.5,#333));
    background-image: -o-gradient(linear, left top, left bottom, from(#009Bff), to(#007cec), color-stop(.5,#333));
    background-image: gradient(linear, left top, left bottom, from(#009Bff), to(#007cec), color-stop(.5,#333));	
}

#templateChatLinksDiv A:hover {
    display: inline-block;
    color: #fff;
    background-color: #007cec;
    width: 80%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 1em 0.95em;
    TEXT-DECORATION: none;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-bottom: 0.4em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#007cec), to(#009Bff), color-stop(.5,#333));
    background-image: -o-gradient(linear, left top, left bottom, from(#007cec), to(#009Bff), color-stop(.5,#333));
    background-image: gradient(linear, left top, left bottom, from(#007cec), to(#009Bff), color-stop(.5,#333));
}

#templateChatTopDiv {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-bottom: 15px;
	padding-top: 10px;
	height: auto;
	text-align: right;
	margin-top: 0px;
	line-height: normal;
	COLOR: #00499a;
	font-weight: bold;
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 4%, rgba(33,90,156,1) 6%, rgba(125,185,232,0.41) 61%, rgba(125,185,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(30,87,153,1)), color-stop(6%,rgba(33,90,156,1)), color-stop(61%,rgba(125,185,232,0.41)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 4%,rgba(33,90,156,1) 6%,rgba(125,185,232,0.41) 61%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(30,87,153,1) 4%,rgba(33,90,156,1) 6%,rgba(125,185,232,0.41) 61%,rgba(125,185,232,0) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(30,87,153,1) 4%,rgba(33,90,156,1) 6%,rgba(125,185,232,0.41) 61%,rgba(125,185,232,0) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(30,87,153,1) 4%,rgba(33,90,156,1) 6%,rgba(125,185,232,0.41) 61%,rgba(125,185,232,0) 100%); /* W3C */
}

#tempateChatImageDiv{
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	height: auto;
	text-align: center;
	color: black;
	font-size:  1.9em;
	font-weight: bold;
	margin-top: 15px;
}

#tempateChatImageDiv img{
	clear: both;
	margin: 10px
}

#templateChatAccountLinksDiv {
	list-style-type: square;
	float: left;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	height: auto;
	text-align: left;
	margin-top: 15px;
}


#templateChatAccountLinksDiv UL {
   PADDING: 10px;
}

#templateChatAccountLinksDiv LI {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/bullet_6x6.gif);
	LIST-STYLE: none;
	PADDING-LEFT: 10px;
	BACKGROUND-REPEAT: no-repeat;
	background-position: left 3px; LINE-HEIGHT : 12px;
	MARGIN-BOTTOM: 5px;
	LINE-HEIGHT: 12px;
	
	
	
}

#templateChatAccountLinksDiv A:link {
	COLOR: #009Bff;
	TEXT-DECORATION: none
}

#templateChatAccountLinksDiv A:visited {
  COLOR: #009Bff;
	TEXT-DECORATION: none
}

#templateChatAccountLinksDiv A:hover {
	COLOR: #007cec;
	TEXT-DECORATION: none
  }


#templateChatBottomDiv {
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	height: auto;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}


#checkoutGuaranteeDiv {
	border-radius: 9px;
	border-style: double;
	border-color: #009Bff;
	border-width: 8px;
	height: 370px;
	width: 319px;
	background-color: white;
	text-align: center;
	line-height: normal;
	z-index: 150;
	position: fixed;
	top: 30px;
	left: 505px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background: white; 
}

#checkoutGuaranteeDiv UL {
   PADDING: 0px;
}

#checkoutGuaranteeDiv LI {
	LIST-STYLE-TYPE: none;
}

#checkoutGuaranteeDivHeader {
	width: 95%;
	word-wrap: break-word;
}

#globalMessageBottomDiv {
	float: left;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	height: auto;
	text-align: left;
	margin-top: 15px;
}


#globalMessageDiv {
	border-radius: 9px;
	border-style: double;
	border-color: #009Bff;
	border-width: 8px;
	height: 210px;
	width: 550px;
	background-color: white;
	text-align: left;
	line-height: normal;
	z-index: 150;
	position: absolute;
	top: 80px;
	left: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	background: white; 
}


#mobileAccountNav {
	display: none;
}

.hideForMobile {
}

.usatFormFont {
	color: black;
	font-family: Arial;
	font-size: 10pt
}

.loginPageInput {
 width: 220px;

}

.clsDataArea{
	width: 190px;
}

.orderpageSubmitbutton {
	background-image: url(/theme/themeV3/themeImages/submitButtonBackground.png);
	border: 1px solid #149cee;
	cursor:pointer;
	padding: 9px;
        width: auto; 
	border-radius: 7px;	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
}

.footnote {
	color: #999;
	font-size: 11px;
    font-family: Arial, Helvetica, clean, sans-serif;  
    width: 95%; 
	white-space: normal; 
}

.coppaText {
	color: 333;
	font-weight: bold;
    font-family: Arial, Helvetica, clean, sans-serif; 
}
