* {
	MARGIN: 0px;
	FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif;
}

BODY_OLD {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/background_4x750.jpg);
	BACKGROUND-COLOR: #e6e6e6;
	MARGIN: 0px;
	BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-POSITION: left top;
}

#wrapper {
	LINE-HEIGHT: 13px;
	FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif;
	FONT-SIZE: 12px;
}

#logo {
	WIDTH: 355px;
	HEIGHT: 110px;
}

#header_1 {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/USATODAY_Header_940x112.jpg);
	PADDING-LEFT: 0px;
	WIDTH: 940px;
	PADDING-RIGHT: 0px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left top;
	HEIGHT: 112px;
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto;
}

#header {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/header_940x90_v2.png);
	PADDING-LEFT: 0px;
	WIDTH: 940px;
	PADDING-RIGHT: 0px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: center top;
	HEIGHT: 90px;
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto;
}

#header IMG {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}

#content {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/shadow.png);
	WIDTH: 960px;
	BACKGROUND-REPEAT: repeat-y;
	BACKGROUND-POSITION: left top;
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto;
}

#whitebox {
	BACKGROUND-COLOR: #ffffff;
	WIDTH: 940px;
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto;
}

#bluebox {
	BACKGROUND-COLOR: #009BFF;
	WIDTH: 940px;
	MARGIN-LEFT: auto;
	MARGIN-RIGHT: auto;
}

#footer {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/footer_4x20.jpg);
	WIDTH: auto;
	BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-POSITION: center center;
	HEIGHT: 20px;
}

#clear {
	CLEAR: both;
}

#nav {
	BACKGROUND-COLOR: #fff;
	MARGIN-TOP: 10px;
	PADDING-LEFT: 10px;
	WIDTH: 160px;
	PADDING-RIGHT: 10px;
	FLOAT: left;
	/*BORDER-RIGHT: #666 1px dotted;*/
}

#navPromo {
	BACKGROUND-COLOR: #fff;
	MARGIN-TOP: 30px;
	MARGIN-BOTTOM: 5px;
}

#leftNavList UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}

#leftNavList LI {
	MARGIN: 0px;
}

#leftNavList A {
	PADDING-BOTTOM: 7px;
	BACKGROUND-COLOR: #fff;
	TEXT-INDENT: 10px;
	PADDING-LEFT: 0px;
	WIDTH: 155px;
	DISPLAY: block;
	COLOR: #009bff;
	BORDER-TOP: #333 1px dotted;
	TEXT-DECORATION: none;
	PADDING-TOP: 7px;
}

#leftNavList A:hover {
	BACKGROUND-COLOR: #009bff;
	WIDTH: 155px;
	COLOR: #fff;
	BORDER-TOP: #000000 1px dotted
}

#active A {
	PADDING-BOTTOM: 7px;
	BACKGROUND-COLOR: #009bff;
	TEXT-INDENT: 10px;
	PADDING-LEFT: 0px;
	WIDTH: 160px;
	DISPLAY: block;
	COLOR: #fff;
	BORDER-TOP: #666 1px dotted;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	PADDING-TOP: 7px;
}

#pageContent {
	MARGIN-TOP: 10px;
	PADDING-LEFT: 4px;
	WIDTH: 745px;
	PADDING-RIGHT: 8px;
	FLOAT: right;
	BORDER-LEFT: #666 1px dotted;
}

#pageContent2 {
	BACKGROUND-COLOR: #e6e6e6;
	WIDTH: 940px;
	HEIGHT: 140px;
}

#pageContentFullWidth {
	WIDTH: 940px;
	FLOAT: left;
	BACKGROUND-COLOR: #fff;
	MARGIN-TOP: 10px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
}

#pageContentFullWidth_1 {
	WIDTH: 940px;
	FLOAT: left;
	BACKGROUND-COLOR: #009BFF;
	MARGIN-TOP: 10px;
/* 	PADDING-LEFT: 10px; */
/* 	PADDING-RIGHT: 10px; */
}

#bottomNav {
	BORDER-BOTTOM: #000 thin dotted;
	TEXT-ALIGN: center;
	BORDER-LEFT: #000 thin;
	BACKGROUND-COLOR: #e6e6e6;
	WIDTH: 940px;
	HEIGHT: 20px;
	BORDER-TOP: #000 thin dotted;
	BORDER-RIGHT: #000 thin;
	PADDING-TOP: 6px;
}

#bottomNav A {
	COLOR: #009bff;
	TEXT-DECORATION: none;
}

#bottomNav A:hover {
	COLOR: #666;
	TEXT-DECORATION: none;
}

#pageContent P {
	LINE-HEIGHT: 13px;
	MARGIN-BOTTOM: 10px;
	COLOR: #333333;
	FONT-SIZE: 12px;
}

#pageContent A:link {
	COLOR: #009bff;
	TEXT-DECORATION: none;
}

#pageContent A:visited {
	COLOR: #009bff;
	TEXT-DECORATION: none;
}

#pageContent A:hover {
	COLOR: #333333;
	TEXT-DECORATION: none;
}

#pageContent UL {
	LIST-STYLE-TYPE: none;
	PADDING-LEFT: 0px;
	MARGIN-LEFT: 0px
}

#pageContent LI {
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/red_bullet_6x6.gif);
	PADDING-LEFT: 10px;
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left 3px;
	MARGIN-BOTTOM: 5px;
}

#pageContentLeftButton IMG {
	PADDING-LEFT: 10px;
	WIDTH: 125px;
	FLOAT: left;
	HEIGHT: 30px;
}

#PageContentTextBox {
	PADDING-BOTTOM: 10px;
	BACKGROUND-COLOR: #fff;
	MARGIN: 0px;
	PADDING-LEFT: 10px;
	WIDTH: 136px;
	PADDING-RIGHT: 10px;
	HEIGHT: auto;
	BORDER-TOP: #666666 1px dotted;
	PADDING-TOP: 10px;
}

#middleLeft {
	TEXT-ALIGN: center;
	WIDTH: 245px;
	FLOAT: left;
	HEIGHT: 260px;
}

#middleLeft P {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 13px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
	COLOR: #333;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px;
}

#middleLeft IMG {
	MARGIN-TOP: 10px
}

#middleCenter {
	TEXT-ALIGN: center;
	BORDER-LEFT: #666 1px dotted;
	WIDTH: 247px;
	FLOAT: left;
	HEIGHT: 260px;
	BORDER-RIGHT: #666 1px dotted;
}

#middleCenter IMG {
	MARGIN-TOP: 10px
}

#middleCenter P {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 13px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
	COLOR: #333;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px;
}

#middleRight {
	TEXT-ALIGN: center;
	WIDTH: 245px;
	FLOAT: left;
	HEIGHT: 260px
}

#middleRight P {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 13px;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;
	COLOR: #333;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px;
}

#middleRight IMG {
	MARGIN-TOP: 10px
}

#lowerWelcomePromoSpot {
	FLOAT: left;
	MARGIN-TOP: 10px;
	WIDTH: 745px;
}

#lowerWelcomePromoLeft {
	FLOAT: left;
	TEXT-ALIGN: center;
	WIDTH: 33%;
}

#lowerWelcomePromoMiddle {
	FLOAT: left;
	TEXT-ALIGN: center;
	WIDTH: 34%;
}

#lowerWelcomePromoRight {
	FLOAT: left;
	TEXT-ALIGN: center;
	WIDTH: 33%;
}

#bluebar {
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #009bff;
	MARGIN-TOP: 10px;
	WIDTH: 940px;
	HEIGHT: 20px;
	COLOR: #fff;
	MARGIN-LEFT: auto;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	MARGIN-RIGHT: auto;
	PADDING-TOP: 6px;
}

#graybar {
	TEXT-ALIGN: center;
	BACKGROUND-COLOR: #666;
	WIDTH: 940px;
	HEIGHT: 31px;
	COLOR: #fff;
	MARGIN-LEFT: auto;
	FONT-SIZE: 11px;
	MARGIN-RIGHT: auto;
	PADDING-TOP: 7px;
}

#graybar_1 {
	TEXT-ALIGN: left;
	BACKGROUND-IMAGE: url(/theme/themeV3/themeImages/USATODAY_Footer_940x57.jpg);
	BACKGROUND-COLOR: #666;
	WIDTH: 940px;
	HEIGHT: 57px;
	COLOR: #fff;
	MARGIN-LEFT: auto;
	FONT-SIZE: 11px;
	MARGIN-RIGHT: auto;
	
}

#graybar_1_text {
	MARGIN-LEFT: 88px;
}

#graybar_1_text A:link {
	COLOR: white;
}

#graybar_1_text A:visited {
	COLOR: white;
}

#graybar A {
	color: white;
	text-decoration: none;
	FONT-SIZE: 11px;
	font-weight: normal;
}

#helpcenter {
	MARGIN-TOP: 10px;
	PADDING-LEFT: 20px;
	WIDTH: 160px;
	FLOAT: left;
	HEIGHT: 120px;
	BORDER-RIGHT: #999 1px dotted;
}

#helpcenter UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: url(/theme/themeV3/themeImages/bullet_6x6.gif);
	PADDING-TOP: 0px;
}

#helpcenter LI {
	LINE-HEIGHT: 12px;
	MARGIN-BOTTOM: 5px
}

#resource {
	MARGIN-TOP: 10px;
	PADDING-LEFT: 30px;
	WIDTH: 222px;
	FLOAT: left;
	HEIGHT: 120px;
	BORDER-RIGHT: #999 1px dotted;
}

#resource UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: url(/theme/themeV3/themeImages/bullet_6x6.gif);
	PADDING-TOP: 0px;
}

#resource LI {
	LINE-HEIGHT: 12px;
	MARGIN-BOTTOM: 5px
}

#connect {
	MARGIN-TOP: 10px;
	PADDING-LEFT: 30px;
	WIDTH: 218px;
	FLOAT: left;
	HEIGHT: 120px;
	BORDER-RIGHT: #999 1px dotted;
}

#connect UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 24px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}

#connect LI {
	LINE-HEIGHT: 18px;
	MARGIN-BOTTOM: 6px;
}

.twitter {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: url(/theme/themeV3/themeImages/twitter_16.png);
	PADDING-TOP: 0px;
}

.facebook {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: url(/theme/themeV3/themeImages/facebook_16.png);
	PADDING-TOP: 0px;
}

.youtube {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: url(/theme/themeV3/themeImages/youtube_16.png);
	PADDING-TOP: 0px;
}

#footerAdSpot {
	MARGIN-TOP: 10px;
	PADDING-LEFT: 30px;
	WIDTH: 218px;
	FLOAT: left;
	HEIGHT: 120px;
}

#copyright {
	TEXT-ALIGN: center;
	MARGIN-TOP: 10px;
	WIDTH: 940px;
	HEIGHT: 70px;
	COLOR: #999;
}

#copyright P {
	TEXT-ALIGN: left;
	LINE-HEIGHT: 12px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	COLOR: #666;
	FONT-SIZE: 11px;
}

H1 {
	PADDING-BOTTOM: 5px;
	MARGIN: 10px 0px 15px;
	LETTER-SPACING: -1px;
	COLOR: #009bff;
	FONT-SIZE: 24px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 0px;
}

H2 {
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 2px;
	LINE-HEIGHT: 19px;
	LETTER-SPACING: -1px;
	COLOR: #009bff;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px;
}

H3 {
	PADDING-BOTTOM: 10px;
	LINE-HEIGHT: 19px;
	LETTER-SPACING: -1px;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
}

H4 {
	PADDING-BOTTOM: 4px;
	LINE-HEIGHT: 19px;
	LETTER-SPACING: -1px;
	COLOR: #009bff;
	FONT-SIZE: 16px;
	FONT-WEIGHT: bold;
}

.nobr {
	WHITE-SPACE: nowrap;
}

#productsUsat {
	BORDER-BOTTOM: #999 1px dotted;
	PADDING-BOTTOM: 20px;
	WIDTH: 745px;
	FLOAT: left;
}

#productsUsat IMG {
	WIDTH: 440px;
	FLOAT: left;
	HEIGHT: 210px;
}

#productsSPW {
	PADDING-BOTTOM: 20px;
	MARGIN-TOP: 14px;
	WIDTH: 372px;
	FLOAT: left;
	BORDER-RIGHT: #999 1px dotted;
}

#productsSPW IMG {
	WIDTH: 215px;
	FLOAT: left;
	HEIGHT: 135px;
}

#productsSE {
	PADDING-BOTTOM: 20px;
	MARGIN-TOP: 14px;
	WIDTH: 372px;
	FLOAT: left;
}

#productsSE IMG {
	WIDTH: 215px;
	FLOAT: left;
	HEIGHT: 135px;
}

#productsText {
	MARGIN-TOP: 30px;
	WIDTH: 150px;
	FLOAT: left;
	HEIGHT: 100px;
}

#productsText UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}

#productsText LI {
	background-image: url(/theme/themeV3/themeImages/bullet_6x6.gif);
	background-repeat: no-repeat;
	background-position: left 3px; LINE-HEIGHT : 12px;
	MARGIN-BOTTOM: 5px;
	LINE-HEIGHT: 12px;
}

#contactUsText {
	FONT-WEIGHT: bold;
	FONT-FAMILY: FuturaTodayScreen;
	FONT-SIZE: 10pt;
	TEXT-ALIGN: right;
}

#contactUsNumber {
	COLOR: #009BFF;
	FONT-WEIGHT: bold;
	FONT-FAMILY: FuturaTodayScreen;
	FONT-SIZE: 10pt;
	TEXT-ALIGN: right;
}

#errorHeader {
	COLOR: white;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Arial;
	FONT-SIZE: 14pt;
	TEXT-ALIGN: left;
}

#errorText {
	COLOR: red;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Arial;
	FONT-SIZE: 12pt;
	TEXT-ALIGN: left;
}