/**
 * @fileoverview Defines the styles for the Elections 2012 Microsite.
 * @supported Test in Chrome and Safari
 */

 /**
  * Nav
  */
.elections-2012 .nav {
	background: rgb(20,20,20);
	color: rgb(255,255,255);
	float: left;
	font-family: 'Futura';
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	width: 960px;
}

.elections-2012 .nav li {
	background: rgb(20,20,20);
	border-right: 1px solid rgb(40,40,40);
	float: left;
	margin: 0;
	padding: 10px;
	text-align: center;
	width: 171px;
}

.elections-2012 .nav li.active,
.elections-2012 .nav li:hover {
	background: rgb(40,40,40);
}

.elections-2012 .nav li a {
	color: rgb(255,255,255);
	height: 100%;
	text-decoration: none;
	width: 100%;
}

/**
 * Candidates module
 */
.elections-2012 .candidates {
 	background: rgb(20,20,20);
 	position: relative;
 }

.elections-2012 .mod.candidates h6 {
	color: rgb(180,180,180);
 	margin-left: 15px;
 	text-align: left;
 	text-shadow: none;
 }

.elections-2012 .candidates ul {
 	float: left;
 	list-style: none;
 	padding: 0 20px;
 	width: 440px;
 }

.elections-2012 .candidates ul.democratic { 
 	border-right: 1px solid rgb(40,40,40);
 	padding-right: 19px;
 }

.elections-2012 .candidates ul li {
	float: left;
	width: 210px;
}

.elections-2012 .candidates ul li:first-child {
	margin-right: 20px;
}

.elections-2012 .candidates ul li p.party {
	color: rgb(255,255,255);
	font-size: 12px; 
	font-weight: bold;
	margin: -21px 0 5px;
}

.elections-2012 .candidates ul li p.candidate {
	color: rgb(255,255,255);
	font-size: 12px;
	margin-top: 5px;
}

.elections-2012 .candidates ul li p.candidate span {
	color: rgb(180,180,180);
	font-size: 10px;
}

/**
 * Overrides
 */
 .elections-2012 .mod.hero { 
 	position: static;
}
