/**
 * @fileoverview Markets module for fronts.
 */

.mod.markets {
	background: rgba(0, 0, 0, .05);
	border-bottom: 1px solid rgba(255, 255, 255, .25);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, .10);
	-webkit-box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, .10);
	cursor: pointer;
    margin: 10px;
}

.lt-ie9 .mod.markets {
	border-bottom: none;
}

.mod.markets:hover {
	background: rgba(0, 0, 0, .10);
}

.mod .mod.markets > h6 {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	padding-bottom: 10px;
}

.lt-ie9 .mod.markets > h6 {
    border: none;
}

.mod.markets > dl {
	margin: 0;
	padding: 5px 10px;
}

.mod.markets > dl.first {
	border-top: 1px solid rgba(255,255,225,0.14);
	padding-top: 10px;
}

.lt-ie9 .mod.markets > dl.first {
	background: transparent url('/static/images/ie-borders/bottom-top-border.png') repeat-x top left;
	border: none;
}

.mod.markets > dl dt {
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.mod.markets > dl dd,
.mod.markets > p.updated {
	color: rgb(255, 255, 255);
	color: rgba(255, 255, 255, .65);
	font-size: 11px;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
}

.mod.markets > p.updated {
	font-size: 10px;
	font-style: oblique;
	margin: 1px 0 5px;
	padding: 0; 
}

.mod.markets > dl dd.last{
	border-bottom: 1px dashed rgb(0, 0, 0);
	border-bottom: 1px dashed rgba(0, 0, 0, .15);
	padding-bottom: 10px;
}

.mod.markets > dl dd.up,
.mod.markets > dl dd.down {
	padding-left: 10px;
}

.mod.markets > dl dd.up:before {
	border-bottom: 5px solid rgb(0, 204, 0);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
	content: '';
	height: 0;
	margin: 5px 0 0 -12px;
	position: absolute;
	width: 0;
}

.mod.markets > dl dd.down:before {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid rgb(255, 0, 0);
	box-shadow: 0 1px -1px rgba(0, 0, 0, .25);
	content: '';
	height: 0;
	margin: 5px 0 0 -12px;
	position: absolute;
	width: 0;
}