article.cards > section,
.sizer,#footer,
.size-stretch,
#masthead,
#nav ul,
#masthead h1 a,
#search-form .text-input,
#search-form .search-clear,
.mod.clst > .drop-down > li,
.mod.clst > .drop-down > li:after,
.mod.galleries > .thumbs > .thumbslist > li > a,
.mod.galleries > .thumbs > .thumbslist > li > a > img,
.mod.headlines .headline .front,
.mod.headlines .headline .back,
.mod.hero.super .media,
.mod.hero .slide:hover .media > img:first-child,
.mod.hero .contents li,
.mod.hero .contents li > .container span,
.mod.hero .contents li img,
.results .inner,
.results li a,
.summary .inner {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

