 
 
.before-after .BAWrapper {
    width: 920px;
    margin: 0 auto;
    overflow: hidden;
 }

 

.before-after  .infoContainer{
	font-family: Arial,Helvetica,sans-serif;
	width:920px;
	display:block;
	clear:both;
	position:relative;
}
.before-after .infoContainer h1 {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	display:inline-block;
	float:left;
    margin-bottom:10px;
    margin-top:10px;
}
.before-after .headChatter{
	width: 800px;
	margin-bottom:10px;
}

.before-after .infoContainer div {
    margin: 12px 0 0;
}
 
.before-after  #BAContainer {
    width:920px;
    height: 467px;
    margin-bottom: 10px;
    padding: 0px;
 
     position: relative;
    -webkit-box-shadow:  0px 3px 4px 2px rgba(144, 144, 144, .25);
    -moz-box-shadow:  0px 3px 4px 2px rgba(144, 144, 144, .25);
    box-shadow:  0px 3px 4px 2px rgba(144, 144, 144, .25);
 }

.before-after #BAContainer .contentBlock {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}

.before-after #BAContainer .contentBlock.active {
	visibility: visible;
}

.before-after #BAContainer .imageContainer {
    width: 920px;
    height: 436px;
    padding: 0px;
}

.before-after #BAContainer .BAImagesContainer {
    width: 920px;
    height: 491px;
    position: relative;
}

.before-after .BAImagesContainer .captionText {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#95000000', EndColorStr='#95000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#95000000, endColorstr=#95000000)";
    border-top: 1px solid white;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-style: italic;
    margin-right: 5px;
     padding: 10px 25px 0 15px;
    position: absolute;
    top: 25px;
    width: 880px;
    z-index: 200;
    text-align:left;
}

.before-after .captionText .closeBtn {
    cursor: pointer;
    padding: 3px;
    position: absolute;
    right: 0px;
    top: 5px;
    width: 18px;
    height:18px;
    background-image: url(/static/images/interactives/before-after/close-button.png);
    background-repeat:no-repeat;
    cursor: pointer;
}
.before-after .socialIcons{
	position:absolute;
	right: 0;
	bottom:0;
}
.before-after .boxSource{
	position: absolute;
	bottom: 1px;
	left: 15px;
	font-size: 11px;
	font-style: italic;
	z-index: 10000;
}
.before-after #BAContainer .balinks {
    visibility: hidden;
}

.before-after #BAContainer .bflinks {
    visibility: hidden;
}

.before-after #BAContainer .topTextContainer {
    width: 712px;
    height: 50px;
}

.before-after #BAContainer .imageCell {
    position: relative;
}

.before-after #BAContainer .handleClass {
    
}

.before-after #BAContainer .BAHead {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    color: white;
    line-height: 30px;
    margin-bottom: 6px;
}

.before-after #BAContainer .BAChatter {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.before-after #BAContainer .BATabs {
    margin-top: 10px;
}

.before-after #BAContainer .BAKey {
    margin-top: 10px;
}

.before-after #BAContainer .BACredit {
    margin-top: 7px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #999;
}

.before-after #BAContainer #containerTwenty {
    margin-top: -20px;
}
.before-after #BAContainer #ba-bar-container{
             height: 30px;
        position: absolute;
        z-index: 1000000;
        left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}
.before-after #BAContainer .BABar {
    /*width: 380px;
    margin-left: -200px;*/

    border: solid 1px #c9c9c9;    
    padding: 10px 12px;
    text-align: left;

    display: table;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0px -5px 7px 3px rgba(144, 144, 144, .15);
    -moz-box-shadow: inset 0px -5px 7px 3px rgba(144, 144, 144, .15);
    box-shadow: inset 0px -5px 7px 3px rgba(144, 144, 144, .15);
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    font-family: Arial;
    font-size: 8px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
    margin: 0 auto ;

}

.before-after #BAContainer .BAControlls {
    float: left;
}

.before-after .BAControlls > div {
    float: left;
    border-right: dotted 1px #cecece;
    margin-right: 12px;
    height: 22px;
}

.before-after .BAControlls > div:first-child {
    padding-left: 0;
}

.before-after .BAControlls .caption {
    width: 70px;
    text-align: center;
    border: solid 1px #999999;
    -webkit-box-shadow: 0px -0px 1px 1px rgba(144, 144, 144, .15);
    -moz-box-shadow: 0px -0px 1px 1px rgba(144, 144, 144, .15);
    box-shadow: 0px -0px 1px 1px rgba(144, 144, 144, .15);
    cursor: pointer;
}

.before-after .BAControlls .caption.on {
    background-color: #525252;
    border-color: #FFFFFF;
    color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(144, 144, 144, .5);
    -moz-box-shadow: 0px 0px 2px 1px rgba(144, 144, 144, .5);
    box-shadow: 0px 0px 2px 1px rgba(144, 144, 144, .5);
}

.before-after .BAControlls #split.inactive {
    background-image: url("/static/images/interactives/before-after/split.gif");
	background-position: 26px center;
	background-repeat: no-repeat;
	cursor: pointer;
	text-align: left;
	width: 76px;
	padding-left: 6px;
}
.before-after .BAControlls #split.active {
    background-image: url("/static/images/interactives/before-after/merge.gif");
    background-position: 26px center;
	background-repeat: no-repeat;
	cursor: pointer;
	text-align: left;
	width: 76px;
	padding-left: 6px;
}
.before-after .BABar {
	visibility: hidden;
}
.before-after .BABar.show {
	visibility: visible;
}

.before-after .BABar .bullets {
    float: left;
}

.before-after .BABar .bullets ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.before-after .BABar .bullets ul li {
    list-style: none;
    width: 10px;
    height: 18px;
    background-image: url('/static/images/interactives/before-after/bullet_sprite.gif');
    background-repeat: no-repeat;
    background-position: right center;
    margin-right: 24px;
    float: left;
    cursor: pointer;
    position: relative;
}

.before-after .BABar .bullets ul li:hover .imageHover {
    display: block;
}

.before-after .imageHover{
    background-color: black;
    border: 10px solid #F3F3F3;
    bottom: 30px;
    box-shadow: 0 3px 4px 2px rgba(144, 144, 144, 0.25);
    display: none;
    height: 60px;
    left: -51px;
    position: absolute;
    width: 90px;
    z-index: 1000000;
}
.before-after .BABar .bullets ul li.active {
    background-position: left center;
}

.before-after .BABar .bullets ul li:last-child {
    margin-right: 0px;
}
.before-after .hiddendrag{
	visibility:hidden;
	position:relative;
	right: 0;

}
.before-after .headChatter{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-top: 7px !important;
	width: 835px;
	text-align:left;
	display:block;
	clear:both;
	margin-bottom:15px !important;
	
}
.before-after .beforeIMG img{
	width: 920px;
	border-top: 25px solid #3c99d4;

}
.before-after .afterIMG img{
	width: 920px;
	border-top: 25px solid #53b4f1;
}

.before-after .blackContianer {
    background-color: #000000;
    height: 66px;
    margin: 6px 0 12px;
}
.before-after .beforeHeader, .afterHeader{
	width: 100%;
	background-color:blue;
	height: 15px;
	float:left;
}
.before-after .label1{
   	color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    left: 8px;
    position: absolute;
    top: 3px;
    z-index: 10000;
    line-height:1.5;
    white-space: nowrap;
}
.before-after .label2{
	position:absolute;
	color:white;
	font-weight:bold;	
	z-index: 1;
	top: 3px;
	right: 10px;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}
.before-after .splitText {
    float: left;
	margin-left: -7px;
	margin-top: -1px;
	text-align: center;
	width: 25px;
}
.before-after .mainSource, .mainCredit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#999;
	float: left;
	text-align: left;
	width:100%
}

.before-after .mainSource {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	text-align: left;
	}
.before-after .boxsource{
	font-size: 80%;
	font-style: italic;
	color:gray;
	position: absolute;
	right: 0;
	bottom: 20px;
}
 
 

