/**
 * @fileoverview Defines the styles for the Fronts Cards.
 * @supported Test in Chrome and Safari
 */

article.cards {
    overflow: hidden;
    position: relative;
    width: 100%;
}

section.fixed, article.fixed {
    position: fixed !important;
    top: 0;
    width: 100%;
}

/**
 * Card positioning
 */
article.cards .card-container {
    left: 0px;
    padding-bottom: 20px; /* for card shadows */
    position: relative;
}

article.cards .card-wrap {
    /* Background is used for ads */
    background: transparent no-repeat top center;
    left: 0;
    margin: 0;
    padding-top: 40px;
    position: relative;
    top: 0;
    z-index: 1;
}

article.cards .card-loading {
    height: 100%;
    width: 100%;
    position: absolute;
}

article.cards .card-loading .loadingText {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Futura;
    font-weight: bold;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 200px;
    width: 100%;
}

article.cards .card-wrap.hidden {
    display: none;
}

/**
 * The Card
 */


article.cards .offscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

article.cards .offscreen section.card {
    height: 100%;
}

article.cards .offscreen section.card .sizer {
    height: 100%;
}

article.cards section.card {
    background: #fff;
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,.08);
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,.08);
    box-shadow: 0 4px 10px rgba(0,0,0,.08);
    margin: 0 auto;
    position: relative;
    min-height: 700px;
    width: 840px;
}

article.cards section.card div.sh_bottom {
    bottom: 0;
    height: 45%;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -2;
}

.lt-ie11 article.cards section.card div.sh_bottom {
    display: none;
}

article.cards section.card div.sh_bottom:after {
    background-color: rgba(0,0,0,0.2);
    bottom: 0;
    -webkit-box-shadow: 20px 30px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 20px 30px 10px rgba(0,0,0,0.2);
    box-shadow: 20px 30px 10px rgba(0,0,0,0.2);
    content: "";
    height: 100px;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-transform: skew(7deg,3deg) translate(-28px,-28px);
    -moz-transform: skewX(7deg) skewY(3deg) translate(-28px,-28px);
    -o-transform: skew(7deg,3deg) translate(-28px,-28px);
    -ms-transform: skew(7deg,3deg) translate(-28px,-28px);
    transform: skew(7deg,3deg) translate(-28px,-28px);
    width: 350px;
}


article.cards section.card div.sh_bottom:before {
    background-color: rgba(0,0,0,0.2);
    bottom: 0;
    -webkit-box-shadow: -20px 30px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: -20px 30px 10px rgba(0,0,0,0.2);
    box-shadow: -20px 30px 10px rgba(0,0,0,0.2);
    content: "";
    height: 100px;
    left: 0;
    position: absolute;
    z-index: -1;
    -webkit-transform: skew(-7deg,-3deg) translate(28px,-28px);
    -moz-transform: skewX(-7deg) skewY(-3deg) translate(28px,-28px);
    -o-transform: skew(-7deg,-3deg) translate(28px,-28px);
    -ms-transform: skew(-7deg,-3deg) translate(28px,-28px);
    transform: skew(-7deg,-3deg) translate(28px,-28px);
    width: 350px;
}


@media only screen and (min-width: 1280px) {
    article.cards section.card {
        width: 1080px;
    }
}

@media only screen and (min-width: 1440px) {
    article.cards section.card {
        width: 1200px;
    }
}

.third-party article.cards section.card {
    width: 840px;
}

/**
 * Card Jump Nav
 */

article.cards nav.quick {
    background: rgb(51,51,51) url('/static/images/noise.png') repeat top left;
    border-radius: 3px 3px 0 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    bottom: 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6), inset 1px 1px 1px 0px rgba(255, 255, 255, 0.22);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6), inset 1px 1px 1px 0px rgba(255, 255, 255, 0.22);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6), inset 1px 1px 1px 0px rgba(255, 255, 255, 0.22);
    height: 41px;
    left: 50%;
    margin-left: -92px;
    position: fixed;
    width: 263px;
    z-index: 98;
}

article.cards nav.quick ul {
    float: left;
    height: 20px;
    padding: 10px 12px;
    width: 180px;
}

article.cards nav.quick ul li {
    float: left;
}

article.cards nav.quick ul li a {
    background-color: transparent;
    display: block;
    font-size: 0;
    height: 16px;
    margin: 2px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}

article.cards nav.quick ul li.home,
article.cards nav.quick ul li.home a {
    background-color: rgb(0,80,161);
}

article.cards nav.quick ul li.news,
article.cards nav.quick ul li.news a {
    background-color: rgb(0,155,255);
}

article.cards nav.quick ul li.sports,
article.cards nav.quick ul li.sports a {
    background-color: rgb(235,30,0);
}

article.cards nav.quick ul li.life,
article.cards nav.quick ul li.life a {
    background-color: rgb(150,0,180);
}

article.cards nav.quick ul li.money,
article.cards nav.quick ul li.money a {
    background-color: rgb(0,165,60);
}

article.cards nav.quick ul li.tech,
article.cards nav.quick ul li.tech a {
    background-color: rgb(250,95,0);
}

article.cards nav.quick ul li.travel,
article.cards nav.quick ul li.travel a {
    background-color: rgb(0,195,195);
}

article.cards nav.quick ul li.weather,
article.cards nav.quick ul li.weather a {
    background-color: rgb(255,192,0);
}

article.cards nav.quick ul li.opinion,
article.cards nav.quick ul li.opinion a {
    background-color: rgb(77,77,77);
}

article.cards nav.quick ul li:hover {
    background-color: transparent;
}

article.cards nav.quick ul li.active {
    background-color: rgb(255,255,255);
}

/**
 * Card Jump Nav section divider
 */

article.cards nav.quick .nav-section {
    border-left: 1px solid rgb(0,0,0);
    float: left;
    height: 41px;
}

article.cards nav.quick .nav-section.cover-view {
    padding: 8px 10px 4px 10px;
    width: 36px;
}

/**
 * Card Jump Nav cover view button
 */

article.cards nav.quick .nav-section > .cover-view {
    background: transparent url('/static/images/buttons/cover-flow.png') no-repeat top left;
    display: block;
    font-size: 0;
    height: 29px;
    overflow: hidden;
    text-decoration: none;
    text-indent: -9999px;
    width: 42px;
}

article.cards nav.quick .cover-view:hover {
    background-position: center left;
}

article.cards nav.quick .cover-view:active {
    background-position: bottom left;
}

/**
 * Card Prev/Next Button
 */
 article.cards nav.nextPrev > a{
    height:100%;
    width:37px;
    position: fixed;
    top:80px;
    z-index: 98;
 }

article.cards nav.nextPrev > a > div {
    /*background: transparent url('/static/images/card-navigation.png') no-repeat top left;*/
    background: transparent url('/static/images/global/sprite.png') 0 0 no-repeat;
    font-size: 0;
    height: 68px;
    margin-top: -80px;
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
    top: 45%;
    width: 37px;

}

#cards #prevSection {
    left: 0;
}

#cards #nextSection {
    right: 0;
}

#cards #nextSection > div {
    background-position: -63px 0;
}

#cards .nextPrev > a:hover > div {
    background-position: 0 -80px;
}

#cards #nextSection:hover > div {
    background-position: -63px -80px;
}

#cards .nextPrev > a:active > div {
    background-position: 0 -160px;
}

#cards #nextSection:active > div {
    background-position: -63px -160px;
}

/**
 * User Auth Card
 */
article.cards.userauth {
    background: url(/static/images/user-auth-noise.gif);
}

article.cards.userauth section.card{
    background:none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin: 120px auto 0 auto;
    width:840px;
    max-width:840px;
}
article.cards.userauth .card-container {
    background: -moz-radial-gradient(top, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.7)));
background: -webkit-radial-gradient(top, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
background: -o-radial-gradient(top, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
background: -ms-radial-gradient(top, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
background: radial-gradient(top, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
}
.userauth h1 {
    color: rgb(255,255,255);
    font: bold 50px/54px 'helvetica neue', 'arial', sans-serif;
    margin: 20px 0 0;
    text-align:center;
}
.userauth h2 {
    color: rgb(255,255,255);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing:1px;
    margin: 30px 0 15px;
    text-align:center;
}
.userauth h1 span{
    color:#7eb6ea;
    font-family: "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing:1px;
}
.userauth ul{
    padding:45px 0;
    margin:0;
    border-bottom: 1px dashed #436080;

}
.userauth li{
    display: inline-block;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    width: 32%;
    text-align:center;
}
.userauth ul img{
    background: rgb(38,83,138);
    background: rgba(255,255,255,0.15);
    padding:5px;
    border: 1px solid;
    border-color: rgb(58,105,161);
    border-color: rgba(255,255,255,0.03);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,.2);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,.2);
    margin-bottom:10px;
}
.userauth p{
    color:#fff;
    font-weight:bold;
    margin: 0 15%;
    font-size:14px;
}
.fb-login-container {
    width:200px;
    margin:auto;
}
.fb-login-button .fb_button{
    margin:0 auto;
    opacity: 0.85;
    -moz-opacity: 0.85;
    filter:alpha(opacity=85);
}
.fb-login-button .fb_button:hover{
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
}
.fb-login-button{
    width:193px;
    margin:0 auto;
}
#facePile{
    width:310px;
    margin: 0 auto;
    text-align:center;
}
.fb-login-button a{
    background: url(/static/images/components/fb-login.png);
    width:193px;
    height:38px;
}
.userauth .fb-login-button a:active{
    background-position: 0 0;
}
.userauth .fb-login-button a span{
    display: none;
}
.userauth .pluginSkinDark{
    text-align:center;
}

/**
 * Sidebar
 */

.size-bar {
    background: rgb(249, 249, 249);
}

 .size-bar .mod.clst h6 {
    border-bottom: none;
    display: block;
    letter-spacing: 0px;
    line-height: 40px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    -webkit-transition: padding 0.25s ease-out, width 0.25s ease-out;
       -moz-transition: padding 0.25s ease-out, width 0.25s ease-out;
        -ms-transition: padding 0.25s ease-out, width 0.25s ease-out;
         -o-transition: padding 0.25s ease-out, width 0.25s ease-out;
            transition: padding 0.25s ease-out, width 0.25s ease-out;
    border-bottom: 1px solid #DEDEDE;
    width: 100%;
    height: 36px;
    text-align: center;
}

.sidebar-button,
.sidebar-button:hover,
.sidebar-button:visited {
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    height: 45px;
    letter-spacing: 1px;
    line-height: 31px;
    position: absolute;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.20);
    text-transform: uppercase;
    z-index: 1000;
}

.open-sidebar {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0px;
    padding-left: 36px;
    right: -13px;
    top: -14px;
    width: 82px;
}

.open-sidebar > .icon {
    background: transparent url(/static/images/modules/live-feed/sprite.png) 0 -96px no-repeat;
    height: 11px;
    position: absolute;
    width: 12px;
    top: 9px;
    left: 15px;
}

.close-sidebar {
    background: transparent url(/static/images/modules/live-feed/sprite.png) 0 -48px no-repeat;
    padding: 0;
    left: -11px;
    top: -14px;
    width: 44px;
}

.close-sidebar > .icon {
    background: transparent url(/static/images/modules/live-feed/sprite.png) -60px -146px no-repeat;
    height: 21px;
    position: absolute;
    width: 20px;
    top: 6px;
    left: 11px;
}

.sidebar-button.hide,
.sidebar-button.hide:visited {
    display: none;
}

/**
 * Stag Card
 */

article.cards.stag {
    background: url(/static/images/modules/topic/stag-noise.gif);
}

article.cards.stag .card-container {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.41) 0, rgba(0,0,0,0) 184px);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(0,0,0,0.41)), color-stop(184px,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.41) 0,rgba(0,0,0,0) 184px);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.41) 0,rgba(0,0,0,0) 184px);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.41) 0,rgba(0,0,0,0) 184px);
    background: linear-gradient(top,  rgba(0,0,0,0.41) 0,rgba(0,0,0,0) 184px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4000000', endColorstr='#00000000',GradientType=0 );
    padding-bottom: 0;
}

article.cards.stag section.card {
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: 0;
    width: 960px;
}

article.cards.stag .content-wrap {
    background: rgb(255,255,255);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.08);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.08);
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    margin-bottom: 40px;
}

.stag-masthead {
    margin-top: -20px;
    padding: 0;
    text-align: center;
}

.blog-masthead {
    padding-top: 20px;
    position: relative;
    text-align: center;
    z-index: 105;
}

.stag-masthead h1,
.blog-masthead h1 {
    color: rgb(255,255,255);
    font: bold 50px/54px 'helvetica neue', 'arial', sans-serif;
    text-shadow: 4px 3px 3px rgba(0,0,0,.4);
    -webkit-text-shadow: 4px 3px 3px rgba(0,0,0,.4);
    -moz-text-shadow: 4px 3px 3px rgba(0,0,0,.4);
    margin: 0 0 25px;
}

.blog-masthead h1,
#blog-card .stag-masthead h1{
    font: bold 42px/48px 'Futura', 'helvetica neue', 'arial', sans-serif;
    margin-bottom: 15px;
    text-transform: uppercase;
    position: relative;
}
.blog-masthead h1::after,
#blog-card .stag-masthead h1::after {
    width:100%;
    text-align:center;
    color: transparent;
    position: absolute;
    z-index: -2;
    bottom: -5px;
    left: 5px;
    /* TODO: Multiple browser support */
    background-image:
        -webkit-gradient(linear, 100% 0%, 0% 100%,
        from(rgba(255,255,255,0.2)),
        color-stop(0.10, rgba(255,255,255,0.2)),
        color-stop(0.10, transparent),
        color-stop(0.50, transparent),
        color-stop(0.50, rgba(255,255,255,0.2)),
        color-stop(0.60, rgba(255,255,255,0.2)),
        color-stop(0.60, transparent),
        to(transparent));
    -webkit-background-size: 3px 3px;
    -webkit-background-clip: text;
    text-shadow: none;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
}

#blog-card.fixed {
    position: fixed;
    width: 100%;
}

.stag.mod.hero.three-up .stage, .mod.hero.three-up .slide {
    height: 400px;
}

.stag.mod.hero.three-up .slide {
    background: rgb(46, 46, 46) url(/static/images/dark-noise.png);
    height: 199px;
}

.stag.mod.hero.three-up .slide-1,
.stag.mod.hero.three-up .slide-1 .media .pixel {
    height: 400px;
    width: 719px;
}

.stag.mod.hero .media {
    height: auto;
    position: relative;
    width: auto;
}

.stag.mod.hero .media img {
    margin: 20px 20px 7px 20px;
    position: relative;
}

.stag.mod.hero .slide-1 .media img {
    margin: 0;
}

.stag.mod.hero.three-up .text {
    background: transparent;
    border-top: none;
    bottom: 10px;
    width: auto;
}

.stag.mod.hero.three-up .media .pixel,
.stag.mod.hero.three-up .slide-3 .media .pixel {
    height: 113px;
    width: 200px;
}

.stag.mod.hero.three-up .slide-2 .text,
.stag.mod.hero.three-up .slide-3 .text {
    position: relative;
}

.stag.mod.hero.three-up .text .story {
    background: transparent;
    padding: 0 20px;
    width: auto;
}

.stag.mod.hero.three-up .text .story h1 {
    padding: 10px 0;
}

.stag.mod.hero .slide-2 .story h1 a,
.stag.mod.hero .slide-3 .story h1 a {
    color: rgb(204, 204, 204);
    font-size: 13px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.stag.mod.hero .slide-2 .story .actions li a,
.stag.mod.hero .slide-3 .story .actions li a {
    color: rgb(204, 204, 204);
}

.stag.mod.hero .slide-2 .story .actions li a:hover,
.stag.mod.hero .slide-3 .story .actions li a:hover {
    color: rgb(0, 170, 255);
}

.stag.mod.hero .slide-2 .story .actions li a.read,
.stag.mod.hero .slide-3 .story .actions li a.read {
    background: transparent url('/static/images/buttons/sprite-hero.png') no-repeat 0 -102px;
}

.stag.mod.hero .slide-2 .story .actions li a.read:hover,
.stag.mod.hero .slide-3 .story .actions li a.read:hover {
    background: transparent url('/static/images/buttons/sprite-hero.png') no-repeat 0 -17px;
}

.stag.mod.hero .story .subhead {
    display: block;
    font-size: 12px;
    padding: 0 0 10px 0;
}

.stag.mod.hero.three-up .text .story .actions {
    padding: 0;
}

.stag.mod.hero.three-up .slide-1 .text .story .actions {
    padding: 0 20px 10px 0;
}

.stag.mod.hero.three-up .slide-1 .text .story h1 {
    padding: 20px 0 10px;
}

.stag.mod.hero.three-up .label {
    left: 20px;
    top: 20px;
}

.stag .mod.headlines {
    background: url(/static/images/light-grey-linen.jpg);
    border-bottom: 1px solid rgb(207,207,207);
}

.stag .mod.headlines .controls {
    background: rgba(0,0,0,.15);
    border-bottom: 1px solid rgb(166,166,166);
    padding: 10px 10px 9px;
    position: relative;
}

.stag .mod.headlines .controls .view-toggle {
    float: right;
}

.stag .mod.headlines .controls .view-toggle .ui-btn {
    margin-left: 5px;
    width: 90px;
}

.stag .mod.headlines .controls:before {
    border-bottom: 1px solid rgb(192,192,192);
    bottom: 0;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.stag .mod.headlines .controls select {
    font-weight: bold;
}

.stag .mod.headlines .controls .search-input {
    border: 1px solid rgb(153,153,153);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-border-radius: 2px;
    -moz-border-radius   : 2px;
    border-radius        : 2px;
    color: rgb(140,140,140);
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    outline: none;
    padding: 3px 10px 3px 32px;
}

.stag .mod.headlines .controls .search-form {
    display: inline-block;
    /* reinstate the left margin after we have the ablity to change how data is presented */
    /*margin: 0 0 0 18px; */ 
    margin: 0;
    position: relative;
}

.stag .mod.headlines .controls .search-form:before {
    background: url(/static/images/sprites/forms-sprite.png) 0 -8px;
    content: '';
    height: 16px;
    left: 8px;
    top: 7px;
    width: 17px;
    position: absolute;
}

.stag .mod.headlines .headline {
    margin: 15px 14px;
}

.stag .galleries {
    background: rgb(247,247,247);
    height: 645px;
}

article.stag .galleries.full > .viewport > .slide img {
    max-height: 520px;
    max-width: 920px;
}

.stag .galleries > .viewport {
    height: 540px;
    padding-top: 10px;
}

.stag .mod.featured-content {
    background: rgb(80, 105, 117) url(/static/images/modules/topic/stag-footer-noise.png);
    overflow: hidden;
    padding: 0 0 10px;
}

.stag .mod.featured-content .paginator {
    margin: 0;
    overflow: hidden;
    padding: 15px 0 0 0;
    width: 960px;
}

.stag .mod.featured-content ul {
    margin: 0 0 5px 0;
}

.stag .mod.featured-content li {
    border: none;
    margin: 0;
    padding: 0;
    width: 192px;
}

.stag .mod.featured-content li a {
    color: rgb(136, 154, 164);
}

.stag .mod.featured-content li a h3 {
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.stag .mod.featured-content li a span {
    display: block;
}

.stag .mod.featured-content li img {
    border: 5px solid rgb(168, 181, 187);
    -webkit-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.2);
}

.stag .mod.featured-content .indicator {
    width: 960px;
}

.stag .mod.featured-content .bottom-bar {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(214, 214, 214);
    -webkit-box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 3px 4px 5px 6px rgba(0, 0, 0, 0.4);
    height: 2px;
    margin: 10px 0 0 0;
}

.stag .mod.galleries > .thumbs {
    left: 0;
    right: 0;
}

.stag .mod.galleries > .thumbs .thumbswrapper .thumbslist > li {
    width: 120px;
}

.mod.headlines .collection.listview {
    margin-bottom: 23px;
}

.mod.headlines .listview .headline {
    background-color: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    border: none;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(245, 245, 245);
    height: 110px;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.stag .mod.headlines .listview .headline{
    min-height:220px;
    padding:20px;
}

.mod.headlines .listview .headline.even {
    background-color: rgba(0, 0, 0, 0.03);
}

.mod.headlines .listview .headline .back,
.mod.headlines .listview .headline .front {
    background: transparent;
    background-color: transparent;
    left: 0;
    opacity: 1;
    overflow: visible;
    top: 0;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
    width: 100%;
}

.mod.headlines .listview .headline b.label {
    float: right;
    margin: 20px 0 0 20px;
    position: relative;
}

.stag .mod.headlines .listview .headline b.label{
    float:left;
}
.stag .mod.headlines .listview .headline h3{
     float:left;
     margin:0;
     width:auto;
    position: relative;
    left:2px0;

}

.stag .mod.headlines .listview .headline.hasImage b.label,
.stag .mod.headlines .listview .headline.hasImage h3{
    float:none;
    position:absolute;
}



.stag .mod.headlines .listview .headline.hasImage b.label{
    float:none;
    margin: 0;
}

.mod.headlines .listview .headline h3 {
    color: rgb(51, 51, 51);
    font-size: 20px;
    left: 25px;
    top: 21px;
    width: 100%;
}

.stag .mod.headlines .listview .headline h3{
    left:18px;
    top:18px;
}

.mod.headlines .listview .headline img ~ h3 {
    background-color: transparent;
    border: none;
    left: 140px;
    line-height: inherit;
}

.stag .mod.headlines .listview .headline.hasImage .front img,
.stag .mod.headlines .listview .headline.hasImage .front b{
    top:20px;
    left:20px;
}

.stag .mod.headlines .listview .headline.hasImage h3{
    float:none;
    margin:0px
}

.stag .mod.headlines .gridview .headline:hover .front {
    opacity: 0;
}

.stag .mod.headlines .gridview .headline:hover .back {
    display: block;
    opacity: 1;
}

.stag .mod.headlines .listview .headline .front,
.stag .mod.headlines .listview .headline .back{
    height:auto;
    float:left;
    clear:both;
}

.stag .mod.headlines .listview .headline.hasImage .front,
.stag .mod.headlines .listview .headline.hasImage .back{
    clear:none;
    float:none;
}

.stag .mod.headlines .listview .headline.hasImage h3,
.stag .mod.headlines .listview .headline.hasImage h3 a,
.stag .mod.headlines .listview .headline.hasImage .byline{
  left:240px;
}

.mod.headlines .listview .headline img ~ h3 a {
    padding: 0;
    width: 100%;
}

.stag .mod.headlines .headline .back,
.stag .mod.headlines .listview .headline:hover .back {
    opacity: 0;
}

.stag .mod.headlines .listview .headline .actions{
    display:block;
    left:20px;
    top:160px;
    position:relative;
    line-height:17px;
    height:17px;
    list-style-type: none;
    padding:0;
    margin:0;
}

.stag .mod.headlines .listview .headline.hasImage .actions{
    left:240px;
}

.stag .mod.headlines .listview .headline .back .actions li a.read {
    background: transparent url('/static/images/buttons/sprite-hero.png') no-repeat 0 -68px ;
    height: 17px;
    padding: 0 0 0 22px;
    font-size:12px;
    display:block;
    color:rgba(0,0,0,0.7);
    text-decoration:none;
}


.stag .mod.headlines .listview .headline .back .actions li a.read:hover {
    background-position: 0 -85px;
}

.stag .mod.headlines .listview .headline .front{

}

.stag .mod.headlines .listview .headline .back p{
    display:block;
    left:0;
    height:auto;
    width:auto;
    top:80px;
    position:relative;
    color:rgba(0,0,0,0.7);
}


.stag .mod.headlines .listview .headline.hasImage .back p{
    left:220px;
}

.stag .mod.headlines .listview .headline .front img{
    display: block;
    height:220px;
    max-width:200px;
}

.mod.headlines .listview .headline .back .byline {
    color: rgb(51, 51, 51);
    left: 25px;
    margin: 0;
    padding: 0;
    top: 46px;
    width: 100%;
}

.mod.headlines .listview .headline.hasImage .byline {
    left: 140px;
}

.mod.headlines .headline .byline span.usat {
    display: none;
}

.mod.headlines .headline .byline img.author {
    background: white;
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
    float: left;
    margin: 6px 10px 0 0;
    padding: 2px;
}

.mod.headlines .listview .headline .byline span.usat {
    display: block;
    font-weight: normal;
    font-size: 10px;
    color: rgb(102, 102, 102);
    text-transform: uppercase;
}

.mod.headlines .headline .list-image {
    background: transparent;
    background-image: transparent;
    display: none;
    margin: 20px 18px;
    position: relative;
}

.mod.headlines .listview .headline .list-image {
    display: block;
}

.mod.headlines .headline .list-image.gallery {
    background: url(/static/images/modules/topic/stag-headlines-gallery.png) no-repeat;
    height: 74px;
    margin: 18px 18px;
    padding: 1px;
    width: 104px;
}

.mod.headlines .headline .list-image.video {
    height: 58px;
    margin: 26px 18px;
    width: 100px;
}

.mod.headlines .headline .list-image.video .play-button {
    background: url(/static/images/modules/topic/stag-headlines-video.png) no-repeat;
    height: 34px;
    left: 33px;
    position: absolute;
    top: 12px;
    width: 34px;
}

#topic-card.fixed {
    position: fixed;
    width: 100%;
}

#topic-card footer {
    position: relative;
}


.previous-bar {
    display: none;
}

.previous-bar.active,
.previous-bar.active:visited {
    background: url(/static/images/components/previous-bar-bg.png) repeat-x;
    color: rgb(178, 178, 178);
    display: block;
    font-size: 12px;
    height: 43px;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.previous-bar.active:hover {
    color: rgb(255, 255, 255);
}

.previous-bar.active .wrapper {
    line-height: 43px;
    margin: 0 auto;
    width: 960px;
}

.previous-bar.active .prefix:before {
    background: url(/static/images/components/previous-bar-arrow.png) no-repeat;
    content: '';
    float: left;
    height: 14px;
    margin: 14px 9px 0 0;
    width: 12px;
}

.previous-bar.active:hover .prefix:before {
    background: 0 -14px url(/static/images/components/previous-bar-arrow.png) no-repeat;
}

.previous-bar.active .prefix {
    font-weight: bold;
}

/**
 * Stag Blogs (footer)
 */
.stag .mod.blogs .stage {
    width: 948px;
}


