/**
 * @fileoverview Generic carousel CSS to control basic display/animation behaviors
 */

.carousel .slide {
    display: none;
    -webkit-backface-visibility: hidden;

}

.carousel .slide.active {
    display: block;
}