/**
 * @fileoverview Defines the grid for the cards
 */

/**
 * Main sizer element.
 */

.sizer {
	position: relative;
	/* TODO discuss */
	transition: width 0.5s;
    -moz-transition: width 0.5s; /* Firefox 4 */
    -webkit-transition: width 0.5s; /* Safari and Chrome */
    -o-transition: width 0.5s; /* Opera */
    z-index: 1;
}

.parent-sizer {
	position: static;
}

.sizer.size-full {
	width: 840px;
}

.sizer.size-well {
	width: 840px;
}

.sizer.size-bucket,
.sizer.size-bridge {
	width: 720px;
}

.sizer.size-suspender {
	bottom: 0;
	position: absolute;
	top: 0;
	width: 120px;
	z-index: -1;
}

.sizer.size-bar {
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 241px;
	z-index: 0;
}

.lt-ie10 .sizer.size-bar {
    z-index: -1;
}

.sizer.size-bar.top,
.lt-ie10 .sizer.size-bar.top {
    z-index: 89;
}

.sizer.size-bridge,
.sizer.size-bucket {
	margin-left: 120px;
}

@media only screen and (min-width: 1280px) {

	.parent-sizer {
		position: relative;
	}

    .sizer.size-full {
    	width: 1080px;
    }

    .sizer.size-bridge {
    	width: 960px;
    }

    .sizer.size-full > .sizer.size-well,
    .sizer.size-bridge > .sizer {
    	/*float: left;*/
    }

    .sidebar-button,
    .sidebar-button:visited {
        visibility: hidden;
    }

}

@media only screen and (min-width: 1440px) {

	.sizer.size-full {
    	width: 1200px;
    }

	.sizer.size-bar {
		width: 361px;
	}

	.sizer.size-bridge {
    	width: 1080px;
    }

}

/**
 * Modules for IE8 and below get a -1 pixel right margin to make it behave like the other browsers
 */

.lt-ie9 .size-bridge .mod,
.lt-ie9 .size-well .mod,
.lt-ie9 .size-bucket .mod {
    margin-right: -1px;
}

/**
 * Any module has a 1 pixel margin mind the border, this only works when there is a single module in the bar. Need to work out something when there is two.
 */

.sizer.size-bar .mod {
	margin: 1px
}

/**
 * Clearfix
 */

.sizer.size-full,
.sizer.size-well {
	zoom: 1;
}

.sizer.size-full:after,
.sizer.size-full:before,
.sizer.size-well:after,
.sizer.size-well:before {
	content: "";
	display: table;
}

.sizer.size-full:after,
.sizer.size-well:after {
	clear: both;
}