/**
 * @fileoverview Defines special fonts
 */

@font-face {
    font-family: 'Futura';
    src: url('/static/fonts/futura_bold-webfont.eot');
    src: url('/static/fonts/futura_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/futura_bold-webfont.woff') format('woff'),
         url('/static/fonts/futura_bold-webfont.ttf') format('truetype'),
         url('/static/fonts/futura_bold-webfont.svg#FuturaBold') format('svg');
    font-weight: 700;
    font-style: normal;
}