/**
 * @fileoverview The master site footer.
 */

/**
 * Fix footer display when page background ad present.
*/
#cards footer {
    /*background: rgb(255,255,255);*/
}

body > #banner[position] {
    display: none;
}
/* End fix footer. */

.footer {
    background: rgb(238,238,238) url('/static/images/noise.png') repeat top left;
    border-width: 1px 1px 0 1px;
    box-shadow: inset 0 0 1px rgba(0,0,0,.05);
    min-height: 44px;
    margin: 0 auto;
    position: relative;
    /* TODO discuss */
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    width: 840px;
}

.footer.fixed-width {
    margin: 0 auto 40px;
    width: 960px;
}

.utility {
    width: 800px;
    height: 149px;
    margin: 40px auto 0;
    padding: 0;
}

.utility li {
    float: left;
    clear: none;
    list-style: none;
    margin-right: 15px;
}

.utility li a {
    width: 84px;
    display: block;
    font: bold 13px arial, sans-serif;
    color: rgb(190, 190, 190);
    text-decoration: none;
    padding: 80px 0 0 0;
    text-align: center;
    position: relative;
}

.utility li a span {
    position: absolute;
    height: 80px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 84px;
    background: url(/static/images/components/utility-btns.png) no-repeat;
    opacity: 0.6;
    -moz-opacity: 0.6;
    filter:alpha(opacity=60);
    transition: opacity .2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition:    opacity 0.2s;
    -o-transition:      opacity 0.2s;
}

.utility li a:hover {
    color: rgb(151, 151, 151);
    transition: color .2s;
    -moz-transition: color .2s;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
}

.utility li a:hover span {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
    background-position-y: 18px -150px;    
}

li a.paper span {
    margin-left: 0;
    background-position: 18px -80px;
}

li a.mobile span {
    background-position: -65px -80px;
}

li a.tablet span {
    background-position: -152px -70px;
}

li a.state{
    width:85px;
}

li a.state span {
    background-position: -233px -74px;
}


li a.timeline span {
    background-position: -321px -72px;
}


li a.media span {
    background-position: -400px -67px;
}


li a.youreport span {
    background-position: -489px -68px;
}


li a.classifieds span {
    background-position: -572px -80px;
}

.lt-ie9 .footer {
    background: rgb(239,239,239);
}

@media only screen and (min-width: 1280px) {
    .footer.var-width {
        width: 1080px;
    }
}

@media only screen and (min-width: 1440px) {
    .footer.var-width {
        width: 1200px;
    }
}

.third-party .footer.var-width {
    width: 840px;
}

.footer > nav {
    clear: both;
    display: none;
    overflow: hidden;
    padding-bottom: 60px;
}

.footer .footer-edge {
    background: url(/static/images/footer-edge.png) repeat-x;
    height: 7px;
    position: absolute;
    top: -7px;
    width: 100%;
}

.footer > p.copyright {
    color: rgb(153,153,153);
    float: left;
    font-size: 11px;
    margin: 0;
    padding: 22px 0 0 20px;
    position: relative;
    text-shadow: 0 1px 0 rgb(256,256,256);
    top: -7px;
}

.footer > p.site-index {
    color: rgb(51,51,51);
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: 700;
    margin: 14px 20px 13px 0;
    padding-right: 30px;
    position: relative;
    text-shadow: 0 1px 0 rgb(256,256,256);
}

.footer > p.site-index:hover {
    color: rgb(0,124,207);
}

.footer > p.site-index .arrow {
    background: url(/static/images/footer.png) no-repeat;
    height: 24px;
    margin: 0 0 0 3px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: -3px;
    width: 24px;
}

.footer > p.site-index:hover .arrow {
    background-position: 0 -25px;
}

.footer > p.site-index:active .arrow {
    background-position: 0 -50px;
}

.footer > p.site-index.open .arrow {
    background-position: 0 -75px;
}

.footer > p.site-index.open:hover .arrow {
    background-position: 0 -100px;
}

.footer > p.site-index.open:active .arrow {
    background-position: 0 -125px;
}

.footer > nav > .fronts {
    border-bottom: 1px solid rgba(200,200,200,.3);
    display: table;
    overflow: hidden;
    padding: 30px 0;
    width: 100%;
}

.lt-ie8 .footer > nav > .fronts {
    display: block;
}

.footer > nav > .fronts > section {
    border-right: 1px dashed rgb(200,200,200);
    display: table-cell;
    padding-bottom: 5px;
    width: 179px;
}

.lt-ie8 .footer > nav > .fronts > section {
    display: block;
    float: left;
    width: 16.6%;
}

.footer > nav > .fronts > section:last-child {
    border-right: none;
}

.footer > nav > .fronts > section h6 {
    border-top: 3px solid;
    margin: -30px -1px 15px 0;
    padding: 25px 0 0 20px;
}

.footer > nav > .fronts > section.news h6 {
    border-color: rgb(0,155,255);
}

.footer > nav > .fronts > section.sports h6 {
    border-color: rgb(255,30,0);
}

.footer > nav > .fronts > section.life h6 {
    border-color: rgb(150,0,180);
}

.footer > nav > .fronts > section.money h6 {
    border-color: rgb(0,165,60);
}

.footer > nav > .fronts > section.tech h6 {
    border-color: rgb(250,95,0);
}

.footer > nav > .fronts > section.travel h6 {
    border-color: rgb(0,195,195);
}

.footer > nav > .fronts > section.opinion h6 {
    border-color: rgb(102,102,102);
}

.footer > nav section h6 {
    margin: 0 0 15px 20px;
}

.footer > nav section h6 a,
.footer > nav section h6 a:visited {
    color: rgb(51,51,51);
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.footer > nav section h6 a:hover {
    color: rgb(0,124,207);
}

.footer > nav section ul {
    margin: 0 0 0 20px;
}

.footer > nav section li {
    margin: 0 0 2px;
}

.footer > nav section li a,
.footer > nav section li a:visited {
    color: rgb(102,102,102);
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.footer > nav section li a:hover {
    color: rgb(0,124,207);
}

.footer > nav > section.usat-meta,
.footer > nav > section.services,
.footer > nav > section.partners {
    border-top: 1px solid rgb(244,244,244);
    padding-top: 30px;
}

.footer > nav > section.usat-meta {
    clear: left;
    float: left;
    width: 50%;
}

.footer > nav > section.usat-meta p {
    color: rgb(102,102,102);
    font-size: 11px;
    margin: 138px 0 0 20px;
    width: 195px;
}

.footer > nav > section.usat-meta h6 {
    /* TODO: Replace image with font icon */
    background: url(/static/images/footer.png) no-repeat -50px 0;
    height: 33px;
    overflow: hidden;
    text-indent: -9999px;
    width: 240px;
}

.footer > nav > section.services {
    float: left;
    width: 33.3%;
}

.footer > nav > section.services ul {
    float: left;
    width: 45%;
}

.footer > nav > section.services ul:last-child {
    margin: 0;
}

.lt-ie9 .footer > nav > section.services ul {
    width: 42%;
}

.footer > nav > section.partners {
    float: left;
    width: 16.6%;
}

/**
 * Overrides for third party cobrand tool
*/
.third-party .footer > nav {
    display: block;
}

.third-party .footer .site-index {
    display: none;
}
