/**
 * @fileoverview Defines the grid structure and placement rules for the entire site.
 * @supported Test in Chrome and Safari
 */

.size-1 {
    width: 120px;
}

.size-2 {
    width: 240px;
}

.size-3 {
    width: 360px;
}

.size-4 {
    width: 480px;
}

.size-5 {
    width: 600px;
}

.size-6 {
    width: 720px;
}

.size-7 {
    width: 840px;
}

.size-8 {
    width: 960px;
}

.size-9 {
    width: 840px;
}

.size-10 {
    width: 840px;
}

.size-7 > .size-1,
.size-7 > .size-2,
.size-7 > .size-3,
.size-7 > .size-4,
.size-7 > .size-5,
.size-7 > .size-6,

.size-8 > .size-1,
.size-8 > .size-2,
.size-8 > .size-3,
.size-8 > .size-4,
.size-8 > .size-5,
.size-8 > .size-6,
.size-8 > .size-7,

.size-9 > .size-1,
.size-9 > .size-2,
.size-9 > .size-3,
.size-9 > .size-4,
.size-9 > .size-5,
.size-9 > .size-6,
.size-9 > .size-7,
.size-9 > .size-8,

.size-10 > .size-1,
.size-10 > .size-2,
.size-10 > .size-3,
.size-10 > .size-4,
.size-10 > .size-5,
.size-10 > .size-6,
.size-10 > .size-7,
.size-10 > .size-8,
.size-10 > .size-9 {
    float: right;
}

article > .size-7:after,
section > .size-7:after,
article > .size-7:before,
section > .size-7:before,

article > .size-8:after,
section > .size-8:after,
article > .size-8:before,
section > .size-8:before,

article > .size-9:after,
section > .size-9:after,
article > .size-9:before,
section > .size-9:before,

article > .size-10:after,
section > .size-10:after,
article > .size-10:before,
section > .size-10:before {
    content: "";
    display: table;
}

article > .size-7:after,
section > .size-7:after,

article > .size-8:after,
section > .size-8:after,

article > .size-9:after,
section > .size-9:after,

article > .size-10:after,
section > .size-10:after {
    clear: both;
}

article > .size-7,
section > .size-7,

article > .size-8,
section > .size-8,

article > .size-9,
section > .size-9,

article > .size-10,
section > .size-10 {
    position: relative;
    z-index: 2;
    zoom: 1;
}

/**
 * Stretch Size for the cards
 */
article .size-stretch {
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
    z-index: 1;

    transition: width 0.5s;
    -ms-transition: width 0.5s; /* IE9 */
    -moz-transition: width 0.5s; /* Firefox 4 */
    -webkit-transition: width 0.5s; /* Safari and Chrome */
    -o-transition: width 0.5s; /* Opera */
}

@media only screen and (min-width: 1280px) {  

    .size-9 {
        width: 1080px;
    }

    .size-10 {
        width: 1080px;
    }

}

@media only screen and (min-width: 1460px) {

    .size-9 {
        width: 1080px;
    }

    .size-10 {
        width: 1200px;
    }

    article .size-stretch {
        width: 360px;
    }

}