/**
 * @fileoverview Style for the Master header and search bar.
 */


/**
 * Header widths.
 */

#masthead,
#navbar {
    margin: 0 auto;
    /* TODO discuss */
    transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    -webkit-backface-visibility: hidden;

    width: 840px;
}

@media only screen and (min-width: 1280px) {
    #masthead,
    #navbar {
        width: 1080px;
    }
}

@media only screen and (min-width: 1440px) {
    #masthead,
    #navbar {
        width: 1200px;
    }
}

.third-party #masthead,
.third-party #navbar {
    width: 840px;
}


/**
 * Header element.
 */

#header {
    min-height: 40px;
    position: relative;
    width: 100%;
}

#header .fixed-wrap {
    background: rgb(20,20,20);
    min-width: 980px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
}


/**
 * Masthead element (title/search).
 */

#masthead {
    background: rgb(20,20,20);
    position: relative;
}

#masthead .logo {
    bottom: -40px;
    color: rgb(255,255,255);
    height: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: auto;
    z-index: 9010;
}

body.show-search #masthead .logo, #masthead .logo.large {
    height: 80px;
    top: 0;
    z-index: 9000;
}

body.show-search #masthead .logo a, #masthead .logo.large a {
    background-position: top left;
    height: 32px;
    margin-top: 24px;
    width: 239px;
}

body.show-search #masthead .logo a:hover, #masthead .logo.large a:hover {
    background-position: 0 -33px;
}

#masthead .logo a {
    background: transparent url('/static/images/sprites/header-sprite.png') no-repeat -243px 0;
    display: block;
    height: 17px;
    margin-top: 11px;
    text-decoration: none;
    text-indent: -10000em;
    width: 109px;
    z-index: 9010;
}

#masthead .logo a:hover {
    background-position: -243px -33px;
}

/**
 * Search form.
 */

body.show-search #search-form {
    height: 80px;
}

#search-form {
    float: right;
    height: 0;
    overflow: hidden;
    position: relative;
    top: 0;
}

#search-form form {
    margin-top: 20px;
}

#search-form.collapsed {
    /*display: none;*/
}

#search-form:before {
    background: transparent url('/static/images/sprites/header-sprite.png') no-repeat -274px -69px;
    content: '';
    display: block;
    height: 40px;
    left: 9px;
    position: absolute;
    top: 28px;
    width: 40px;
}

.lt-ie9 #search-form input[type=text] {
    background-image: url('/static/images/components/search-icon.png');
    background-repeat: no-repeat;
    background-position: 10px 8px;
    padding-top: 8px;
    height: 31px;
}

#search-form input {
    float: left;
}

#search-form .submit {
    background: rgb(59,59,59);
    background: -moz-linear-gradient(top, rgb(59,59,59) 0%, rgb(49,49,49) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(59,59,59)), color-stop(100%,rgb(49,49,49)));
    background: -webkit-linear-gradient(top, rgb(59,59,59) 0%,rgb(49,49,49) 100%);
    background: -o-linear-gradient(top, rgb(59,59,59) 0%,rgb(49,49,49) 100%);
    background: -ms-linear-gradient(top, rgb(59,59,59) 0%,rgb(49,49,49) 100%);
    background: linear-gradient(top, rgb(59,59,59) 0%,rgb(49,49,49) 100%);
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0 1px 0 rgb(83,83,83), 0 2px 2px rgba(0,0,0,.9);
    -moz-box-shadow: inset 0 1px 0 rgb(83,83,83), 0 2px 2px rgba(0,0,0,.9);
    -webkit-box-shadow: inset 0 1px 0 rgb(83,83,83), 0 2px 2px rgba(0,0,0,.9);
    color: rgb(255,255,255);
    font-family: Futura;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    letter-spacing: 1px;
    line-height: 44px;
    padding: 0;
    text-shadow: 0 1px 2px rgb(0,0,0);
    -moz-text-shadow: 0 1px 2px rgb(0,0,0);
    -webkit-text-shadow: 0 1px 2px rgb(0,0,0);
    text-transform: uppercase;
    width: 120px;
}

#search-form .submit:hover {
    background: rgb(84,84,84);
    background: -moz-linear-gradient(top, rgb(84,84,84) 0%, rgb(74,74,74) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(84,84,84)), color-stop(100%,rgb(74,74,74)));
    background: -webkit-linear-gradient(top, rgb(84,84,84) 0%,rgb(74,74,74) 100%);
    background: -o-linear-gradient(top, rgb(84,84,84) 0%,rgb(74,74,74) 100%);
    background: -ms-linear-gradient(top, rgb(84,84,84) 0%,rgb(74,74,74) 100%);
    background: linear-gradient(top, rgb(84,84,84) 0%,rgb(74,74,74) 100%);
    box-shadow: inset 0 1px 0 rgb(104,104,104), 0 2px 2px rgba(0,0,0,.9);
    -moz-box-shadow: inset 0 1px 0 rgb(104,104,104), 0 2px 2px rgba(0,0,0,.9);
    -webkit-box-shadow: inset 0 1px 0 rgb(104,104,104), 0 2px 2px rgba(0,0,0,.9);
}

#search-form .submit:active {
    background: rgb(46,46,46);
    background: -moz-linear-gradient(top, rgb(46,46,46) 0%, rgb(37,37,37) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(46,46,46)), color-stop(100%,rgb(37,37,37)));
    background: -webkit-linear-gradient(top, rgb(46,46,46) 0%,rgb(37,37,37) 100%);
    background: -o-linear-gradient(top, rgb(46,46,46) 0%,rgb(37,37,37) 100%);
    background: -ms-linear-gradient(top, rgb(46,46,46) 0%,rgb(37,37,37) 100%);
    background: linear-gradient(top, rgb(46,46,46) 0%,rgb(37,37,37) 100%);
    box-shadow: inset 0 1px 0 rgb(62,62,62), 0 2px 2px rgba(0,0,0,.9);
    -moz-box-shadow: inset 0 1px 0 rgb(62,62,62), 0 2px 2px rgba(0,0,0,.9);
    -webkit-box-shadow: inset 0 1px 0 rgb(62,62,62), 0 2px 2px rgba(0,0,0,.9);
}

#search-form .text-input {
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.4);
    color: rgb(51,51,51);
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    margin-right: 10px;
    outline: none;
    padding: 0 20px 0 40px;
    /* TODO discuss */
    transition: width 0.5s;
    -ms-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    width: 330px;
}

@media only screen and (min-width: 1280px) {

    #search-form .text-input {
        width: 490px;
    }

}

@media only screen and (min-width: 1440px) {

    #search-form .text-input {
        width: 490px;
    }

}

#navbar > .text > a > span {
    padding: 0 1px;
}


/**
 * Primary nav element.
 */

#nav {
    background: rgb(44,44,44);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjEyMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(44,44,44) 0%, rgb(18,18,18) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(44,44,44)), color-stop(100%,rgb(18,18,18)));
    background: -webkit-linear-gradient(top, rgb(44,44,44) 0%,rgb(18,18,18) 100%);
    background: -o-linear-gradient(top, rgb(44,44,44) 0%,rgb(18,18,18) 100%);
    background: -ms-linear-gradient(top, rgb(44,44,44) 0%,rgb(18,18,18) 100%);
    background: linear-gradient(top, rgb(44,44,44) 0%,rgb(18,18,18) 100%);
    bottom: 0;
    -moz-box-shadow: 0 0 3px rgb(0,0,0);
    -webkit-box-shadow: 0 0 3px rgb(0,0,0);
    box-shadow: 0 0 3px rgb(0,0,0);
    border-top: 1px solid rgb(52,52,52);
    height: 39px;
    position: relative;
    width: 100%;
    z-index: 9005;
}

.show-search #nav .search a span {
    background-color: rgb(20, 20, 20);
}

.show-search #nav {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

}

#navbar {
    height: 40px;
    margin-top: -1px;
}

#navbar > li {
    background: rgb(56,56,56);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(56,56,56) 0%, rgb(33,33,33) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(56,56,56)), color-stop(100%,rgb(33,33,33)));
    background: -webkit-linear-gradient(top, rgb(56,56,56) 0%,rgb(33,33,33) 100%);
    background: -o-linear-gradient(top, rgb(56,56,56) 0%,rgb(33,33,33) 100%);
    background: -ms-linear-gradient(top, rgb(56,56,56) 0%,rgb(33,33,33) 100%);
    background: linear-gradient(top, rgb(56,56,56) 0%,rgb(33,33,33) 100%);
    border-right: 1px solid rgb(20, 20, 20);
    height: 40px;
    line-height: 38px;
    min-width: 36px;
    margin: 0 -1px 0 1px;
    padding: 0 1px;
    position: relative;
    z-index: 10;
    float: left;
}

#navbar li.icon.active {
    background: rgb(51, 51, 51);
}

#navbar li > a {
    background: rgb(44,44,44);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmMyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMjEyMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(44,44,44) 0%, rgb(18,18,18) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(44,44,44)), color-stop(100%,rgb(18,18,18)));
    background: -webkit-linear-gradient(top, rgb(44,44,44) 0%,rgb(18,18,18) 100%);
    background: -o-linear-gradient(top, rgb(44,44,44) 0%,rgb(18,18,18) 100%);
    background: -ms-linear-gradient(top, rgb(44,44,44) 0%,rgb(18,18,18) 100%);
    background: linear-gradient(top, rgb(44,44,44) 0%,rgb(18,18,18) 100%);
    color: rgb(255,255,255);
    display: block;
    font-family: Futura;
    font-size: 11px;
    font-weight: 700;
    height: 39px;
    outline: none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgb(0,0,0);
    -moz-text-shadow: 0 1px 0 rgb(0,0,0);
    -webkit-text-shadow: 0 1px 0 rgb(0,0,0);
    text-transform: uppercase;
    z-index: 9004;
}

#navbar > .icon > a:hover {
    background: rgb(51,51,51);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjE4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.06) 0%, rgba(255,255,255,0) 18%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.06)), color-stop(18%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.06) 0%,rgba(255,255,255,0) 18%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.06) 0%,rgba(255,255,255,0) 18%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.06) 0%,rgba(255,255,255,0) 18%,rgba(255,255,255,0) 100%);
    background: linear-gradient(top, rgba(255,255,255,0.06) 0%,rgba(255,255,255,0) 18%,rgba(255,255,255,0) 100%);
}

#navbar > .icon.active > a {
    background: rgb(49,49,49) url(/static/images/nav-dropdown-noise.gif);
}

#navbar > .text > a > span {
    border-style: solid;
    border-width: 3px 0 0 0;
    display: block;
    margin: 0 -1px 0 -2px;
    height: 37px;
    padding: 0 8px;
}

#navbar > .icon > a > span,
#navbar > .user > a span.user-icon {
    background: transparent url('/static/images/sprites/header-sprite.png') no-repeat bottom right;
    display: block;
    height: 39px;
    margin-top: 1px;
    text-indent: -10000em;
    width: 40px;
}

#navbar > .icon.text > a > span {
    height: 36px;
    margin-top: 0;
}

#navbar > .weather > a > span {
    overflow: hidden;
    width: auto;
    padding: 0 2px;
}

#navbar > .weather > a span.btn-label {
    display: block;
    padding: 0 8px;
    text-indent: 0;
    text-align: center;
}

#navbar > .weather > a span.btn-temp {
    display: block;
    font-style: italic;
    text-indent: 0;
    line-height: 36px;
    margin-top: -37px;
    text-align: center;
    transition: margin 0.75s;
    -moz-transition: margin 0.75s;
    -webkit-transition: margin 0.75s;
    -o-transition: margin 0.75s;
    width: auto;
    white-space: nowrap;
}

#navbar > .weather.has-data > a span.btn-temp {
    margin-top: 0;
}

#navbar .btn-temp:before {
    background-image: url(/static/images/weather/wicon-sprite-med.png);
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 20px;
    margin: 0 5px 0 0;
    position: relative;
    top: 5px;
    width: 30px;
}
.btn-temp.wicon-01:before { background-position: 0 0;} 
.btn-temp.wicon-02:before { background-position: 0 -20px;} 
.btn-temp.wicon-03:before { background-position: 0 -40px;}
.btn-temp.wicon-04:before { background-position: 0 -60px;} 
.btn-temp.wicon-05:before { background-position: 0 -80px;} 
.btn-temp.wicon-06:before { background-position: 0 -100px;} 
.btn-temp.wicon-07:before { background-position: 0 -120px;} 
.btn-temp.wicon-08:before { background-position: 0 -140px;} 
.btn-temp.wicon-11:before { background-position: 0 -160px;} 
.btn-temp.wicon-12:before { background-position: 0 -180px;} 
.btn-temp.wicon-13:before { background-position: 0 -200px;} 
.btn-temp.wicon-14:before { background-position: 0 -220px;} 
.btn-temp.wicon-15:before { background-position: 0 -240px;} 
.btn-temp.wicon-16:before { background-position: 0 -260px;} 
.btn-temp.wicon-17:before { background-position: 0 -280px;} 
.btn-temp.wicon-18:before { background-position: 0 -300px;} 
.btn-temp.wicon-19:before { background-position: 0 -320px;} 
.btn-temp.wicon-20:before { background-position: 0 -340px;} 
.btn-temp.wicon-21:before { background-position: 0 -360px;} 
.btn-temp.wicon-22:before { background-position: 0 -380px;} 
.btn-temp.wicon-23:before { background-position: 0 -400px;} 
.btn-temp.wicon-24:before { background-position: 0 -420px;} 
.btn-temp.wicon-25:before { background-position: 0 -440px;} 
.btn-temp.wicon-26:before { background-position: 0 -460px;} 
.btn-temp.wicon-29:before { background-position: 0 -480px;} 
.btn-temp.wicon-30:before { background-position: 0 -500px;} 
.btn-temp.wicon-31:before { background-position: 0 -520px;} 
.btn-temp.wicon-32:before { background-position: 0 -540px;} 
.btn-temp.wicon-33:before { background-position: 0 -560px;} 
.btn-temp.wicon-34:before { background-position: 0 -580px;}
.btn-temp.wicon-35:before { background-position: 0 -600px;}
.btn-temp.wicon-36:before { background-position: 0 -620px;}
.btn-temp.wicon-37:before { background-position: 0 -640px;}
.btn-temp.wicon-38:before { background-position: 0 -660px;}
.btn-temp.wicon-39:before { background-position: 0 -680px;}
.btn-temp.wicon-40:before { background-position: 0 -700px;}
.btn-temp.wicon-41:before { background-position: 0 -720px;}
.btn-temp.wicon-42:before { background-position: 0 -740px;}
.btn-temp.wicon-43:before { background-position: 0 -760px;}
.btn-temp.wicon-44:before { background-position: 0 -780px;}


@media only screen and (min-width: 1280px) {
    #navbar > .text > a > span {
        padding: 0 20px;
    }

    #navbar > .text.weather > a > span {
        padding: 0 12px;
    }
}


/**
 * Nav section links.
 */
#navbar > li > a > span {
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -ms-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

#navbar > li:first-child {
    margin-left: 120px;
}

#nav .news span {
    border-color: rgb(0,155,255);
}

#nav .sports span {
    border-color: rgb(235,30,0);
}

#nav .life span {
    border-color: rgb(150,0,180);
}

#nav .money span {
    border-color: rgb(0,165,60);
}

#nav .tech span {
    border-color: rgb(250,95,0);
}

#nav .travel span {
    border-color: rgb(0,195,195);
}

#nav .opinion span {
    border-color: rgb(102,102,102);
}

#nav .weather > a > span {
  border-color: rgb(255,192,0);
}

#nav .news a:hover span,
#nav .news.active a span {
    background: rgb(0,155,255);
}

#nav .sports a:hover span,
#nav .sports.active a span {
    background: rgb(235,30,0);
}

#nav .life a:hover span,
#nav .life.active a span {
    background: rgb(150,0,180);
}

#nav .money a:hover span,
#nav .money.active a span {
    background: rgb(0,165,60);
}

#nav .tech a:hover span,
#nav .tech.active a span {
    background: rgb(250,102,0);
}

#nav .travel a:hover span,
#nav .travel.active a span {
    background: rgb(0,195,195);
}

#nav .opinion a:hover span,
#nav .opinion.active a span {
    background: rgb(102,102,102);
}

/*#nav .weather a:hover > span,
#nav .weather.active a > span {
    padding: 0;
    height: 28px;
    margin: 0;
    border-top: 3px solid rgb(255, 192, 0);
}*/

/*#nav .weather .full-forecast a span {
    background: none;
    border: none;
}*/

/**
 * Nav icon links.
 */

#nav .sbs a span {
    background-position: 0 -69px;
}

#nav .sbs a:hover span {
    background-position: 0 -109px;
}

#nav .timeline a span {
    background-position: -41px -69px;
}

#nav .timeline a:hover span {
    background-position: -41px -109px;
}

#nav .media a span {
    background-position: -79px -69px;
}

#nav .media a:hover span,
#nav .media.active a span {
    background-position: -79px -109px;
}

#nav .ugc a span {
    background-position: -121px -69px;
}

#nav .ugc a:hover span {
    background-position: -121px -109px;
}

#nav .search {
    float: right;
}

#nav .search a span {
    background-position: -199px -69px;
}

#nav .search a:hover span,
#nav .search.active a span {
    background-position: -199px -109px;
}

#nav .user {
    float: right;
}

#nav .user .auth {
    cursor: default;
}

#nav .user > a.auth > span {
    background: none;
    overflow: hidden;
}

#nav .user > a > span,
#nav .user > a span.user-icon {
    background-position: -236px -69px;
}

#nav .user > a:hover > span,
#nav .user.active > a > span {
    background-position: -236px -109px;
}

#navbar > .user > a span.user-icon {
    display: block;
}

#navbar > .user > a span.user-avatar {
    display: block;
    text-indent: 0;
    line-height: 36px;
    margin-top: -37px;
    text-align: center;
    transition: margin 0.75s .5s;
    -moz-transition: margin 0.75s .5s;
    -webkit-transition: margin 0.75s .5s;
    -o-transition: margin 0.75s .5s;
}

.fbauth #navbar > .user > a span.user-avatar {
    margin-top: 0;
}

/**
 * Nav extra boders/gradients.
 */

#nav .search a:after,
#nav .news a:after,
#navbar > .media > a:after,
#navbar > .user > a:after,
#navbar > .user > a:before {
    background: rgb(56,56,56);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgb(56,56,56) 0%, rgb(33,33,33) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(56,56,56)), color-stop(100%,rgb(33,33,33)));
    background: -webkit-linear-gradient(top, rgb(56,56,56) 0%,rgb(33,33,33) 100%);
    background: -o-linear-gradient(top, rgb(56,56,56) 0%,rgb(33,33,33) 100%);
    background: -ms-linear-gradient(top, rgb(56,56,56) 0%,rgb(33,33,33) 100%);
    background: linear-gradient(top, rgb(56,56,56) 0%,rgb(33,33,33) 100%);
    content: "";
    display: block;
    height: 100%;
    left: -3px;
    position: absolute;
    top: 0;
    width: 1px;
}

#navbar > .media > a:after,
#navbar > .user > a:after {
    left: auto;
    right: -3px;
}

#nav .news,
#nav .search,
#navbar > .user {
    border-left: 1px solid rgb(20,20,20);
}

#navbar > .user {
    border-left: 0;
}


/**
 * Dropdowns.
 */

#navbar .dropdown {
    background: rgb(49,49,49) url(/static/images/nav-dropdown-noise.gif); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .7);
    line-height: normal;
    position: absolute;
    top: 40px;
    width: 240px;
    display: none;
    right: 0;
}

#navbar .active .dropdown {
    display: block;
}


/**
 * Media dropdown.
 */

#navbar .media .dropdown {
    padding-bottom: 6px;
    color: white;
    text-align: center;      
}

#navbar .media .dropdown a img {
    border: 2px solid rgb(255,255,255);
    margin: 0 19px;
}

#navbar .media .dropdown h3 {
    font: bold 14px arial;      
}

#navbar .media .dropdown p {
    font: bold 12px arial;
    margin: 8px 0;    
}


/**
 * User auth dropdown.
 */

#navbar .user .dropdown {
    width: 100px;
}

#navbar .user .dropdown a {
    color: rgb(255,255,255);
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

#navbar .user .dropdown a:hover {
    background: rgb(77, 77, 77);
}

.fbauth #navbar .user .dropdown .login,
#navbar .user .dropdown .logout {
    display: none;
}

.fbauth #navbar .user .dropdown .logout {
    display: block;
}


/**
 * Weather dropdown.
 */

#navbar .weather .dropdown {
    color: rgb(255,255,255);
    overflow: hidden;    
    font-family: arial, sans-serif;
    cursor: default;      
}

.weather .dropdown .front-side {
    overflow: hidden;
    position: relative;
    left: 0;
    width: 240px;
}

.weather .dropdown .back-side {
    overflow: hidden;
    position: absolute;
    left: 240px;
    top: 0;
    width:240px;
}

.weather .dropdown .heading {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0 15px 20px;
    text-shadow: none;
}

.weather .dropdown li {
    float: left;
    text-align: center;
    text-shadow: none;
    height: 50px;
    width: 70px;
}

.weather .dropdown .now {
    font-size: 12px;
    font-style: italic;
    width: 43px;
    text-align: left;
    margin: 0 0 0 20px;
    position: relative;
    top: 2px;
}

.weather .dropdown .now span {
    display: block;
    font-style: normal;
    font-weight: bold;
    margin: 8px 0 3px 0;
}

.weather .dropdown .temp {
    font-size: 48px;
    font-family: Futura;
    font-weight: bold;
    width: 106px;
}

.weather .dropdown .temp.three-digit {
    font-size: 36px;
    line-height: 55px;
}

.weather .drop-icon {
    background-image: url(/static/images/weather/wicon-sprite-big.png);
    background-repeat: no-repeat;
    text-indent: -10000em;
}
.drop-icon.wicon-01 {    background-position: 0 0;} 
.drop-icon.wicon-02 {    background-position: 0 -50px;} 
.drop-icon.wicon-03 {    background-position: 0 -100px;}
.drop-icon.wicon-04 {    background-position: 0 -150px;} 
.drop-icon.wicon-05 {    background-position: 0 -200px;} 
.drop-icon.wicon-06 {    background-position: 0 -250px;} 
.drop-icon.wicon-07 {    background-position: 0 -300px;} 
.drop-icon.wicon-08 {    background-position: 0 -350px;} 
.drop-icon.wicon-11 {    background-position: 0 -400px;} 
.drop-icon.wicon-12 {    background-position: 0 -450px;} 
.drop-icon.wicon-13 {    background-position: 0 -500px;} 
.drop-icon.wicon-14 {    background-position: 0 -550px;} 
.drop-icon.wicon-15 {    background-position: 0 -600px;} 
.drop-icon.wicon-16 {    background-position: 0 -650px;} 
.drop-icon.wicon-17 {    background-position: 0 -700px;} 
.drop-icon.wicon-18 {    background-position: 0 -750px;} 
.drop-icon.wicon-19 {    background-position: 0 -800px;} 
.drop-icon.wicon-20 {    background-position: 0 -850px;} 
.drop-icon.wicon-21 {    background-position: 0 -900px;} 
.drop-icon.wicon-22 {    background-position: 0 -950px;} 
.drop-icon.wicon-23 {    background-position: 0 -1000px;} 
.drop-icon.wicon-24 {    background-position: 0 -1050px;} 
.drop-icon.wicon-25 {    background-position: 0 -1100px;} 
.drop-icon.wicon-26 {    background-position: 0 -1150px;} 
.drop-icon.wicon-29 {    background-position: 0 -1200px;} 
.drop-icon.wicon-30 {    background-position: 0 -1250px;} 
.drop-icon.wicon-31 {    background-position: 0 -1300px;} 
.drop-icon.wicon-32 {    background-position: 0 -1350px;} 
.drop-icon.wicon-33 {    background-position: 0 -1400px;} 
.drop-icon.wicon-34 {    background-position: 0 -1450px;}
.drop-icon.wicon-35 {    background-position: 0 -1500px;}
.drop-icon.wicon-36 {    background-position: 0 -1550px;}
.drop-icon.wicon-37 {    background-position: 0 -1600px;}
.drop-icon.wicon-38 {    background-position: 0 -1650px;}
.drop-icon.wicon-39 {    background-position: 0 -1700px;}
.drop-icon.wicon-40 {    background-position: 0 -1750px;}
.drop-icon.wicon-41 {    background-position: 0 -1800px;}
.drop-icon.wicon-42 {    background-position: 0 -1850px;}
.drop-icon.wicon-43 {    background-position: 0 -1900px;}
.drop-icon.wicon-44 {    background-position: 0 -1950px;}

.weather .drop-icon.mostly-clear {
    background-position: 0 -1450px;
}

.weather .dropdown .text {
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
    width: 73px;
}

.weather .dropdown .text span {
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 4px;
}

.weather .dropdown .humidity {
    margin-left: 10px;
}

.weather .dropdown .full-forecast {
    clear: both;
    text-align: center; 
    text-shadow: none;
}

#navbar .weather .dropdown .full-forecast a {
    background: rgb(255,189,0);
    background: rgba(0,0,0,.11);
    border-top: 1px solid rgb(64, 64, 64);
    color: rgb(255,255,255);
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 0;
    text-decoration: none;
    transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
}

#navbar .weather .dropdown .full-forecast a {
    padding: 12px 0;
    height: auto;
    width: 100%;
    text-transform: none;
}

.weather .dropdown .full-forecast a:hover {
    background: rgb(0,0,0);
    background: rgba(0,0,0,.3);
}

.weather .dropdown .full-forecast a:active {
    color: rgb(2,154,230);
}

.weather .dropdown .full-forecast a span {
    border-bottom: 1px solid rgb(45,45,45);
    transition: border 0.3s;
    -moz-transition: border 0.3s;
    -webkit-transition: border 0.3s;
    -o-transition: border 0.3s;
}

.weather .dropdown .full-forecast a:hover span {
    border-color: rgb(255,255,255);
}

.weather .dropdown .full-forecast a:active span {
    border-bottom: 1px solid rgb(45,45,45);
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

.weather .dropdown .full-forecast a:before {
    background: url(/static/images/sprites/weather-sprite.png) no-repeat 1px -20px;  
    content: '';
    display: inline-block;
    height: 9px;
    margin: 0 7px 0 0;
    width: 5px;
}

.weather .dropdown .full-forecast a:active:before {
    background-position: -5px -20px;
}

.weather .dropdown .settings-btn {
    background: url(/static/images/sprites/weather-sprite.png) no-repeat -1px 0;    
    cursor: pointer;
    height: 16px;
    opacity: .8;
    position: absolute;
    right: 17px;
    text-indent: -10000em;
    top: 20px;
    transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    width: 16px;
}

.weather .dropdown .settings-btn:hover {
    opacity: 1;
}

.weather .dropdown .settings-btn:active {
    background-position: -31px 0;
}

#weather-dropdown-form {
    padding: 0 20px;
}

.weather .dropdown .label {
    color: rgb(179,179,179);   
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 8px 0;
    text-shadow: none;
}

.weather .dropdown .ui-text-input {
    margin: 0 0 10px;
}
.weather .dropdown .cancel-btn {
    display:inline-block;
}

.weather .dropdown .submit {
    display: inline-block;
    float: right;
}

.weather .dropdown .cancel-x {
   /* background: url(/static/images/sprites/weather-sprite.png) no-repeat 0 -33px; */
    background: url(/static/images/sprites/weather-sprite.png) no-repeat -1px -33px;
    cursor: pointer;
    height: 20px;
    opacity: .8;
    position: absolute;
    right: 20px;
    text-indent: -10000em;
    top: 20px;
    transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    width: 21px;
}

.weather .dropdown .cancel-x:hover {
    opacity: 1;
}

.weather .dropdown .cancel-x:active {
    background-position: -42px -33px;
}


/**
 * Container for search results content
 */

.search-container {
  background: #333 url('/static/images/dark-noise.png') 0 0 repeat;
  overflow: scroll;
  height: 0;
}

/**
 * Breaking news bar
 */

#breaking {
    background-color: rgb(247,0,0);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 9004;
}

#breaking.live,
#breaking.developing {
    background-color: rgb(0,170,255);
}

#breaking-wrap {
    bottom: 0;
    min-height: 58px;
    position: absolute;
    width: 100%;
}

#breaking p {
    color: rgb(255,255,255);
    margin: 0 auto;
    padding: 14px 20px 12px 0;
    position: relative;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    -moz-text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    -webkit-text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    width: 820px;
}

@media only screen and (min-width: 1280px) {
    #breaking p {
        padding: 14px 40px 12px 0;
        width: 1040px;
    }
}

@media only screen and (min-width: 1440px) {
    #breaking p {
        width: 1160px;
    }
}

#breaking p strong {
    background-color: rgba(0, 0, 0, .1);
    bottom: -3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .2);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 1px 1px rgba(255, 255, 255, .2);
    float: left;
    font-family: 'Futura';
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    padding: 4px 6px 2px 6px;
    position: relative;
    text-transform: uppercase;
}

#breaking .headline {
    color: inherit;
    font-size: 13px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 0 15px;
    text-decoration: none;
}

#breaking .button {
    border-left: 0;
    color: rgb(255,255,255);
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    margin-left: 10px;
    padding: 2px 0 2px 30px;
    position: relative;
    text-decoration: none;
    top: 0;
}

#breaking .button span {
    border-bottom: 1px solid transparent;
    transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
}

#breaking .button:hover span {
    border-color: rgb(255,255,255);
}

#breaking .button:active {
    background: rgb(215,0,0);
}

#breaking .button:before {
    background: transparent url(/static/images/sprites/header-sprite.png) no-repeat -52px -159px;
    content: '';
    height: 18px;
    left: 8px;
    position: absolute;
    top: -1px;
    width: 17px;
}

#breaking .close-btn {
    background: url(/static/images/sprites/header-sprite.png) no-repeat -322px -119px;
    cursor: pointer;
    height: 21px;
    margin-top: -9px;
    opacity: .6;
    position: absolute;
    right: 0;
    top: 50%;
    overflow: hidden;
    width: 20px;
    text-indent: -10000em;
    transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}

#breaking .close-btn:hover {
    opacity: 1;
}

@media only screen and (min-width: 1280px) {

    #breaking p strong {
        font-size: 14px;
        padding: 4px 8px 2px 8px;
    }

    #breaking .headline {
        font-size: 16px;
        margin: 0 0 0 20px;
    }

    #breaking .button {
        border-left: 1px solid rgb(255,255,255);
        margin-left: 20px;
        padding: 2px 0 2px 43px;
        top: -1px;
    }

    #breaking .button:before {
        left: 20px;
    }

}

@media only screen and (min-width: 1440px) {

    #breaking .headline {
        font-size: 18px;
        margin: 0 0 0 20px;
    }

}



