/******************************************************************************
 MEDIA VIEW CONTAINER
*******************************************************************************/

#media-view {
    background: #2C2C2C url('/static/images/modules/search/sidebar-bg.png') 0 0 repeat;
    color: rgb(255,255,255);
    min-height:100%;
    min-width: 1024px;
    position: absolute;
    top: 40px;
    width: 100%;
    -moz-transition: top 0.2s ease;
    -ms-transition: top 0.2s ease;
    -o-transition: top 0.2s ease;
    -webkit-transition: top 0.2s ease;
    transition: top 0.2s ease;
    overflow:hidden;
    min-height: -moz-calc(100% - 40px);
    min-height: -webkit-calc(100% - 40px);
    min-height: calc(100% - 40px);
    height:auto;

}

#media-view.no-transition {
    -moz-transition: top 0;
    -ms-transition: top 0;
    -o-transition: top 0;
    -webkit-transition: top 0;
    transition: top 0;
}

#media-view.offset {
    top: 98px;
}

#media-view .wrapper {
    width: 100%;
    height: 100%;
    float: left;
}

#media-view .media-index{
    margin-bottom: -99999px;
    padding-bottom:99999px;
    overflow: hidden;
    position: relative;
    background: rgb(51, 51, 51) url('/static/images/dark-noise.png') 0 0 repeat;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 -4px 9px rgba(0, 0, 0, 0.8);
    box-shadow: 0 -4px 9px rgba(0, 0, 0, 0.8);
}

#media-view.cinematic-view{
    background:rgb(34, 34, 34) url('/static/images/darker-noise.png') 0 0 repeat;
}

#media-view .cinematic-view{
 height: -moz-calc(100% + 139px);
 height: -webkit-calc(100% + 139px);
 height: calc(100% + 139px);
}


#media-view .hidden {
    display: none;
}

/******************************************************************************
 SIDEBAR / SIDENAV
*******************************************************************************/

#media-view .sidebar {
	float: left;
	position: relative;
	width: 120px;
	z-index: 10;
	min-height: 100%;
    height:auto;
    background:rgb(30,30,30);
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#media-view .sidebar nav {
	clear: both;
	height: 100%;
}

#media-view .sidebar nav .sidenav-container {
    bottom: 0;
    left: 0;
    margin-top: 1px;
    overflow: hidden;
    Ωposition: relative;
    top: 0;
    width: 130px;
    height: 100%;
}

#media-view .sidebar a {
	color: rgb(153, 153, 153);
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}

#media-view .sidebar a:hover {
	color: rgb(255, 255, 255);
}

#media-view .sidebar .search-toggle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.08);
	display: block;
	padding: 23px 10px;
	width: 99px;
	white-space: nowrap;
}

#media-view .sidebar .search-toggle span {
	display: block;
	padding: 0 0 0 20px;
	position: relative;
	text-shadow: 0 1px 1px rgb(0, 0, 0);
}

#media-view .sidebar .search-toggle span:before {
	background: transparent url('/static/images/sprites/media-sprite.png') 0 0 no-repeat;
	content: '';
	display: block;
	height: 18px;
	left: 0;
	position: absolute;
	top: -2px;
	width: 20px;
}

#media-view .sidebar .search-toggle.active {
	background: rgb(51, 51, 51) url('/static/images/dark-noise.png') 0 0 repeat;
	color: rgb(255, 255, 255);
}

#media-view .sidebar .search-toggle.active span:before {
	background-position: -40px 0;
}

#media-view .sidenav > li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
    padding: 10px;
    width: 100px;
}

#media-view .sidenav > li.top.active {
    border-bottom: none;
    box-shadow: none;
}

#media-view .sidenav li h3 {
	line-height: 1;
	margin: 0;
    position: relative;
}

#media-view .sidenav li h3 a {
	color: rgb(255, 255, 255);
	display: block;
	font-family: 'Futura', Arial, sans-serif;
	font-size: 11px;
    overflow: hidden;
	margin: -10px;
	padding: 15px;
	text-transform: uppercase;
}

#media-view .sidenav li.sub h3 a:after {
    background: transparent url('/static/images/sprites/media-sprite.png') -80px -20px no-repeat;
    content: '';
    height: 20px;
    position: absolute;
    top: 9px;
    left: 80px;
    width: 20px;
}

#media-view .sidenav li h3.most-popular a {
    padding: 10px 15px;
}

#media-view .sidenav li h3.most-popular a:after,
#media-view .sidenav li.sub.active h3.most-popular span:after,
#media-view .sidenav li.sub h3.most-popular span:after {
    background: none;
}

#media-view .sidenav li h3 a span {
    display: block;
    position: relative;
    width: 70px;
}

#media-view .sidenav li.sub h3 a span:after {
    background: transparent url('/static/images/sprites/media-sprite.png') -160px 0 no-repeat;
    content: '';
    height: 20px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    left: 75px;
    width: 20px;
}

#media-view .sidenav li h3 a:hover {
    background: rgb(204, 204, 204);
	background: rgba(0, 0, 0, 0.2);
}

#media-view .sidenav li.active h3 a {
	background: transparent url('/static/images/sprites/media-sprite.png') 0 -60px no-repeat;
	width: 100px;
}

#media-view .sidenav li.sub.active h3 a:after {
    background-position: -80px 0;
}

#media-view .sidenav li.sub.active h3 a span:after {
    background-position: -120px 0;
    margin-top: -12px;
}

#media-view .sidenav li.sub-active h3 a {
    color: rgb(30, 163, 255);
    background: rgb(204, 204, 204);
    background: rgba(0, 0, 0, 0.2);
}

#media-view .sidenav li.sub-active h3 a:after {
    background-position: -80px 0;
}

#media-view .sidenav li.sub-active h3 a span:after {
    background-position: -120px -20px;
    margin-top: -12px;
}
#media-view .sidenav li div{
    width:100px;
    display:none;
}
#media-view .sidenav li ul {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08);
	border-top: 1px solid rgba(0, 0, 0, 0.8);
	margin: 10px -10px 0;
	padding: 5px 10px 0 25px;

}

#media-view .sidenav li ul a {
    font-weight: normal;
    padding: 3px 0;
    display:block;
}

/*#media-view .sidenav .active div,
#media-view .sidenav .sub-active div {
    display: block;
}*/

#media-view .sidenav .sub-active ul .active {
    color: rgb(255, 255, 255);
}

#media-view .sidenav-container .vertical-scroll {
    border-radius: 2px;
    left: 100%;
    margin: 0 0 0 -16px;
    position: absolute;
    width: 5px;
}

#media-view .sidenav-container .vertical-scroll.hide {
    display: none;
}

#media-view .sidenav-container .vertical-scroll .scrolldragger {
    background: rgb(255, 255, 255);
    border-radius: 2px;
    height: 150px;
    margin: 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-out;
       -moz-transition: opacity 0.35s ease-out;
        -ms-transition: opacity 0.35s ease-out;
         -o-transition: opacity 0.35s ease-out;
            transition: opacity 0.35s ease-out;
    padding: 0;
    position: relative;
    -webkit-transition-delay: 0.6s;
       -moz-transition-delay: 0.6s;
        -ms-transition-delay: 0.6s;
         -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
    width: 5px;
}

#media-view .sidenav-container .vertical-scroll .scrolldragger.hover {
    border-radius: 2px;
    margin: 0;
    width: 5px;
}

#media-view .sidenav-container .vertical-scroll.active .scrolldragger {
    cursor: pointer;
    opacity: 0.25;
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}

/******************************************************************************
 ADS
*******************************************************************************/

#media-view .ad-container {
	float: left;
	width: 320px;
	margin: 20px 0 0 20px;
}

#media-view .ad-container .ad {
    background: rgb(25, 25, 25);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.6);
    padding: 5px 10px 11px;
}

#media-view .ad-container .ad img {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

#media-view .ad-container .ad figcaption {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(85, 85, 85);
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
    margin: 2px 0 6px;
}

/******************************************************************************
 MAIN CONTENT
*******************************************************************************/

#media-view .content {
    background: rgb(51, 51, 51) url('/static/images/dark-noise.png') 0 0 repeat;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
   /* border-right: 1px solid rgba(255, 255, 255, 0.1);

    -webkit-box-shadow: 0 -4px 9px rgba(0, 0, 0, 0.8);
    box-shadow: 0 -4px 9px rgba(0, 0, 0, 0.8);*/
    float: left;
    top: -68px;
    min-height: 100%;
    height: -moz-calc(100% + 68px);
    height: -webkit-calc(100% + 68px);
    height: calc(100% + 68px);
    width: 440px;
    padding: 10px 0 0 0;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    position: relative;
    z-index: 1;
    -webkit-transition: top 0.25s ease;
    -moz-transition: top 0.25s ease;
    -o-transition: top 0.25s ease;
    -ms-transition: top 0.25s ease;
    transition: top 0.25s ease;
}


#media-view .content.search {
    top: 0;
    height:100%;
}

#media-view .search-wrapper {
    margin: 0 10px;
    position: relative;
    margin-right: -99999px;
    padding-right: 99999px;
}

#media-view .search-wrapper:before {
    background: transparent url('/static/images/sprites/header-sprite.png') no-repeat -274px -69px;
    content: '';
    display: block;
    height: 40px;
    left: 9px;
    position: absolute;
    top: 7px;
    width: 40px;
}

#media-view .search-wrapper input {
    float: left;
}

#media-view .search-wrapper .submit {
    background: rgb(59,59,59);
    background: -moz-linear-gradient(rgb(59,59,59), rgb(49, 49, 49));
    background: -ms-linear-gradient(rgb(59,59,59), rgb(49, 49, 49));
    background: -o-linear-gradient(rgb(59,59,59), rgb(49, 49, 49));
    background: -webkit-linear-gradient(rgb(59,59,59), rgb(49, 49, 49));
    background: linear-gradient(rgb(59,59,59), rgb(49, 49, 49));
    border: 1px solid rgb(26, 26, 26);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgb(83,83,83);
    color: rgb(255,255,255);
    font-family: 'Futura', Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 42px;
    letter-spacing: 1px;
    line-height: 44px;
    padding: 0;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
    text-transform: uppercase;
    width: 120px;
}

#media-view .search-wrapper .submit:hover {
    background: rgb(84,84,84);
    background: -moz-linear-gradient(rgb(84,84,84), rgb(74,74,74));
    background: -webkit-linear-gradient(rgb(84,84,84), rgb(74,74,74));
    background: -o-linear-gradient(rgb(84,84,84), rgb(74,74,74));
    background: -ms-linear-gradient(rgb(84,84,84), rgb(74,74,74));
    background: linear-gradient(top, rgb(84,84,84), rgb(74,74,74));
    box-shadow: inset 0 1px 0 rgb(104,104,104);
}

#media-view .search-wrapper .submit:active {
    background: rgb(46,46,46);
    background: -moz-linear-gradient(rgb(46,46,46), rgb(37,37,37));
    background: -webkit-linear-gradient(rgb(46,46,46),rgb(37,37,37));
    background: -o-linear-gradient(rgb(46,46,46),rgb(37,37,37));
    background: -ms-linear-gradient(rgb(46,46,46),rgb(37,37,37));
    background: linear-gradient(rgb(46,46,46),rgb(37,37,37));
    box-shadow: inset 0 1px 0 rgb(62,62,62);
}

#media-view .search-wrapper .text-input {
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4);
    color: rgb(51,51,51);
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    margin-right: 10px;
    outline: none;
    padding: 0 20px 0 40px;
    width: 230px;
}

#media-view .search-wrapper .text-input::-webkit-input-placeholder {
   color: rgb(102, 102, 102);
}

#media-view .search-wrapper .text-input:-moz-placeholder {
   color: rgb(102, 102, 102);
}

#media-view .filter-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), inset 0 1px 0 rgba(255, 255, 255, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    clear: both;
    margin: 10px -1px 0 -1px;
    padding: 21px 20px 14px 40px;
    margin-right: -99999px;
    padding-right: 99999px;
}

#media-view .filter-wrapper .dropdown {
    display: inline-block;
    line-height: 31px;
    height: 32px;

}

#media-view .filter-wrapper .label {
    color: rgb(153,153,153);
    font-size: 12px;
    font-weight: bold;
    margin: 0 10px 0 20px;

    display:inline-block;
}

#media-view .filter-wrapper .ui-dropdown {
    display: inline-block;
}

#media-view .ui-tabgroup .ui-btn.video-icon:before,
#media-view .ui-tabgroup .ui-btn.interactive-icon:before,
#media-view .ui-tabgroup .ui-btn.gallery-icon:before {
    background: transparent url('/static/images/sprites/media-sprite.png') -240px 0 no-repeat;
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    top: 5px;
    width: 20px;
}

#media-view .ui-tabgroup .ui-btn.video-icon {
    padding-left: 24px;
}

#media-view .ui-tabgroup .ui-btn.video-icon:before {
    background-position: -247px 0;
    left: 10px;
    width: 10px;
}

#media-view .ui-tabgroup .ui-btn.gallery-icon {
    padding-left: 34px;
}

#media-view .ui-tabgroup .ui-btn.gallery-icon:before {
    background-position: -282px 0;
    left: 10px;
}

#media-view .ui-tabgroup .ui-btn.interactive-icon {
    padding-left: 34px;
}

#media-view .ui-tabgroup .ui-btn.interactive-icon:before {
    background-position: -203px 0;
    left: 10px;
}

/******************************************************************************
 MEDIA BROWSER CONTENT
*******************************************************************************/

#media-content {
    height: 100%;
    margin: 1px 15px 0 15px;
    position: relative;
    overflow: hidden;
}

#media-content .vertical-scroll {
    background: rgb(30, 30, 30);
    border-radius: 10px;
    margin: 0 0 0 -13px;
    width: 10px;
}

#media-content .vertical-scroll .scrolldragger {
    background: rgb(51, 51, 51);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 11px;
    width: 11px;
}

#media-content .vertical-scroll .scrolldragger.hover {
    margin: 0 0 0 -1px;
}

#media-content .vertical-scroll .scrolldragger .over-icon {
    background: -20px 0px url(/static/images/components/scrollbar-overicon.png);
    height: 14px;
    left: 50%;
    margin: -7px 0 0 -3px;
    position: absolute;
    top: 50%;
    width: 6px;
}

#media-content h1 {
    font-size: 35px;
    margin: 10px 0;
}

#media-content .empty {
    display: block;
    margin: 20px 0;
}

#media-view .grid {
    list-style: none;
    margin: 4px 0 0;
    padding: 0;
}

#media-view .grid > li {
    float: left;
    height: 175px;
    margin-right: 10px;
    width: 170px;
}

#media-view .grid li a {
    display: block;
    text-decoration: none;
}

#media-view .grid li a:hover figure .thumbnail {
    background: rgb(141, 141, 141);
}
#media-view .grid li a:hover figure figcaption {
    color: rgb(255, 255, 255);
}

#media-view .grid li.featured {
    float: left;
    height: 280px;
    width: 350px;
}

#media-view .grid li.featured figure .thumbnail {
    width: 340px;
    height:190px;
}
#media-view .grid .gallery > .bg  {
    background: rgb(100, 100, 100);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: block;
    position: absolute;
    width: 160px;
    height:90px;
    margin-bottom: 5px;
    padding: 4px 5px 5px;
}
#media-view .grid .featured .gallery > .bg {
    width: 340px;
    height:190px;
}



#media-view .grid .gallery > .bg.one {
    left: 4px;
    top: 4px;
}

#media-view .grid .gallery > .bg.two {
    left: 2px;
    top: 2px;
}

#media-view .grid li.featured .meta {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

#media-view .grid li.featured figure figcaption {
    font-size: 14px;
}

#media-view .grid li figure {
    position: relative;
}

#media-view .grid li figure.gallery {
    background: none;
    margin: 0;
    width: auto;
    margin: 0;
    width: auto;
    position: relative;
    z-index: 199;
    top: 0;
    box-shadow:none;
    padding: 0;
}

#media-view .grid li figure img {
    height: 90px;
    overflow: hidden;
    width: 160px;
}

#media-view .grid li.featured figure img {
    height: 190px;
    width: 340px;
}

#media-view .grid li figure .thumbnail {
    background: rgb(100, 100, 100);
    border-top: 1px solid rgb(147, 147, 147);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: block;
    float: left;
    margin-bottom: 5px;
    padding: 4px 5px 5px;
    position: relative;
    width: 160px;
    height:90px;
    -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    transition: background 0.25s linear;
}
#media-view .grid li .gallery > .thumbnail{
    border: 1px solid rgb(0, 0, 0);
    border-top: 1px inset rgb(0, 0, 0);
}

#media-view .grid li figure .label {
    left: 5px;
    top: 5px;
}

#media-view .grid li figure .meta {
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 5px;
    font-style: normal;
    margin: 0;
    -webkit-transform: rotateX(-80deg);
    -moz-transform: rotateX(-80deg);
    -ms-transform: rotateX(-80deg);
    -o-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

#media-view .grid li a:hover figure .meta {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

#media-view .grid li figure .meta .label {
    display: block;
    float: left;
    left: 0;
    position: relative;
    top: 0;
}

#media-view .grid li figure .meta .duration {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 1;
    padding: 4px 6px 5px;
    position: relative;
}

#media-view .grid li figure .play-btn {
    background: url(/static/images/modules/live-feed/video-play.png) no-repeat;
    bottom: 10px;
    height: 34px;
    position: absolute;
    right: 10px;
    width: 34px;
}

#media-view .grid .featured li figure .play-btn {
    background: url('/static/images/buttons/button_video_play_small.png') 0 0 no-repeat;
    height: 45px;
    right: 10px;
    margin: -25px 0 0 -23px;
    position: absolute;
    bottom: 10px;
    width: 45px;
}

#media-view .grid li figure figcaption {
    color: rgb(153, 153, 153);
    clear: both;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin: 6px 5px 5px 5px;
    -moz-transition: color 0.25s linear;
    -ms-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    -webkit-transition: color 0.25s linear;
    transition: color 0.25s linear;
}

#media-view .grid li .meta {
    color: rgb(102, 102, 102);
    font-size: 11px;
    font-style: italic;
    list-style: none;
    margin: 5px;
    padding: 0;
}

#media-view .grid li .meta li {
    border-left: 1px solid rgb(102, 102, 102);
    border-left: 1px solid rgba(102, 102, 102, 0.5);
    float: left;
    line-height: 12px;
    margin-left: 10px;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 64px;
}

#media-view .grid li.featured .meta li {
    width: auto;
}

#media-view .grid li .meta li:first-child {
    border-left: none;
    padding-left: 0;
    margin-left: 0;
}
#media-view .grid li ul.meta li.author {
    padding-left: 20px;
    display:none;
}

#media-view .grid li.featured ul.meta li.author {
    padding-left: 20px;
    display:inline-block;
}


#media-view .grid li .meta li.author:before {
    background: transparent url('/static/images/sprites/media-sprite.png') -320px 0 no-repeat;
    content: '';
    height: 20px;
    left: 2px;
    top: -5px;
    position: absolute;
    width: 20px;
}


/******************************************************************************
 CINEMATIC
*******************************************************************************/

#media-view .social-wrap {
    position: absolute;
    bottom: 0;
    z-index: 200;
    width: 100%;
    -webkit-transform: translateZ(0);
}

#media-view .cinematic-side-nav {
    background-color: rgb(61, 61, 61);
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 199;
}

#media-view .cinematic-side-nav ul li a.back-to-media {
    background: transparent url('/static/images/sprites/gal-nav.png') 6px -144px no-repeat;
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 25px;
    padding: 8px 12px 8px 6px;
    text-decoration: none;
    width: 30px;
    text-indent: -9999px;
    background-clip: content-box;
    margin: 2px 0;
}

#media-view .media-main-view {
    background: rgb(34, 34, 34) url('/static/images/darker-noise.png') 0 0 repeat;
    height: 100%;
    position: absolute;
    overflow: auto;
    top: 0;
    width: 100%;
    position: relative;
}

#media-view .media-playlist.open {
    bottom: 0;
}

#media-view .media-playlist {
    bottom: -139px;
    background: #242424 url('/static/images/noise.png') 0 0 repeat;
    position: fixed;
    width: 100%;
    z-index: 201;
    height: 235px;
    -webkit-transition: bottom 200ms linear;
    -moz-transition: bottom 200ms linear;
    -o-transition: bottom 200ms linear;
    -ms-transition: bottom 200ms linear;
    transition: bottom 200ms linear;
}

#media-view .media-tabs {
    box-shadow: 0px -4px 9px rgba(0, 0, 0, 0.5);
}

#media-view .media-tabs ul {
    background: rgb(13, 13, 13);
    border-top: 1px solid rgb(33, 33, 33);
    height: 36px;
}

#media-view .media-tabs ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.08);
    float: left;
}

#media-view .media-tabs ul li.active,  #media-view .media-tabs ul li a:hover{
    background: rgb(36,36,36) url('/static/images/noise.png') 0 0 repeat;
}

#media-view .media-tabs ul li {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: 'Arial';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
}

#media-view .media-tabs ul li.more-from span {
    text-transform: capitalize;
}

#media-view .media-tabs ul li.expando {
    float: right;
}

#media-view .media-tabs ul li.expando {
    height: 16px;
    text-indent: -9999em;
    overflow: hidden;
    width: 20px;
}

#media-view .media-tabs ul li.expando {
    background: transparent url('/static/images/sprites/cinematic-sprite.png') 0 -89px no-repeat !important;
}

#media-view .media-playlist.open .media-tabs ul li.expando {
    background: transparent url('/static/images/sprites/cinematic-sprite.png') 0 -132px no-repeat !important;
}

#media-view .playlist {
    height: 170px;
    position: absolute;
    top: 36px;
    width: 100%;
}

#media-view .playlist {
    padding: 14px;
}

#media-view .playlist li {
    float: left;
    width: 180px;
    opacity: .5;
}

#media-view .playlist li.active,
#media-view .playlist li:hover
{
    opacity: 1;
}

#media-view .playlist li.active .image,
#media-view .playlist li:hover .image
{
    background-color: rgb(30, 163, 255);
    border-top: 1px solid rgb(30, 163, 255);
}

#media-view .playlist .image.gallery {
    box-shadow: 1px 1px 0 rgb(0, 0, 0), 2px 2px 0 rgb(100, 100, 100),
                3px 3px 0 rgb(0, 0, 0), 4px 4px 0 rgb(100, 100, 100);
    top: 0;
}

#media-view .playlist a {
    display: block;
    text-decoration: none;
}

#media-view .playlist .image {
    background: rgb(100, 100, 100) url('/static/images/noise.png') 0 0 repeat;
    border-top: 1px solid rgb(147, 147, 147);
    display: block;
    height: 90px;
    margin: auto;
    padding: 5px;
    width: 160px;
}

#media-view .playlist .caption {
    color: rgb(255, 255, 255);
    display: block;
    font-family: Arial;
    font-size: 12px;
    font-weight: 600;
    height: 32px;
    margin: 9px auto;
    overflow: hidden;
    text-align: center;
    width: 160px;
}

/******************************************************************************
 CINEMATIC Image View
*******************************************************************************/

#media-view .image-view {
    padding: 10px;
    text-align: center;
}

#media-view .image-view .feature-btns .fullscreen {
    float: right;
}

/******************************************************************************
 CINEMATIC Video View
*******************************************************************************/

#media-view .video-view {
    padding: 10px;
    text-align: center;
}

#media-view .video-view .video {
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 800px;
}

#media-view .video-view .videoStill,
#media-view .video-view .videoStillPlay,
#media-view .video-view .videoObject {
    cursor: pointer;
    position: absolute;
    z-index: 0;
}

#media-view .video-view .videoObject {
    display: none;
    z-index: 10;
}

/******************************************************************************
 CINEMATIC Gallery View
*******************************************************************************/

#media-view .galleries .slide {
    height: 490px;
}

#media-view .galleries .slide.active.endslate {
    width: 100%;
    margin: 0 0 0 -10px;
}

#media-view .galleries .slide > div {
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    width: 820px;
    height: 490px;
    padding: 0;
}

#media-view .galleries .slide > div:first-child {
    padding-left: 20px;
}

#media-view .gallery {
    background-color: rgba(27, 27, 27, .6);
    margin: 6px auto 150px;
    width: 820px;
    position: relative;
    z-index: 199;
    top: 54px;
    box-shadow: 0px 1px 5px rgb(21, 21, 21) inset;
    padding: 10px;
}

#media-view .medialistitems .gallery {
    position: static;
    width:170px;
}

#media-view .galleries {
    height: auto;
}

#media-view .galleries > .viewport {
    line-height: 1.4;
    height: 590px;
}

#media-view .gallery .header {
    color: rgb(110, 110, 110);
    font-family: Arial, sans-serif;
    font-size: 12px;
    height: 30px;
    width: 100%;
    padding: 5px 10px;
    margin-top: -70px;
    position: absolute;
    z-index: 300;
    margin-left: -20px;
}

#media-view .gallery .right {
    color: rgb(102, 102, 102);
    font-family: Arial, sans-serif;
    font-size: 11px;
    float: right;
    position: relative;
    top: -72px;
    left: -21px;
}

#media-view .gallery .video .right {
    top: 10px;
}

#media-view .gallery .right > div{
    padding: 3px 3px 3px 24px;
}

#media-view .gallery .view-story {
    background: transparent url('/static/images/sprites/cinematic-sprite.png') 0 -24px no-repeat;
    color: rgb(200, 200, 200);
    font-weight: 700;
}

#media-view .gallery .views {
    background: transparent url('/static/images/sprites/cinematic-sprite.png') 0 -43px no-repeat;
    font-size: 11px;
}

#media-view .gallery .date {
    background: transparent url('/static/images/sprites/cinematic-sprite.png') 0 -60px no-repeat;
    font-size: 11px;
}

#media-view .gallery .vertical {
    background-color: rgb(0, 0, 0);
    border-top: 0;
    border-left: 1px solid rgb(35, 35, 35);
    border-right: 1px solid rgb(35, 35, 35);
    float: left;
    height: 60px;
    width: 1px;
    margin: 10px 20px;
}

#media-view .gallery .header .meta,
#media-view .gallery .header .subtitle,
#media-view .gallery .header .title {
    clear: none;
    color: rgb(255, 255, 255);
    float: left;
    font-size: 18px;
    font-weight: 700;
    margin-top: 1px;
    width: auto;
}

#media-view .gallery .header .title {
    margin: 3px 8px;
}

#media-view .gallery .header b.label {
    position: inherit;
}

/*
#media-view .gallery .header .left {
    float: left;
    height: 80px;
    overflow: hidden;
    width: 644px;
    position: absolute;
    z-index: 300;
}
*/
#media-view .viewport img.portrait {
    height: 100%;
}
#media-view .viewport img.landscape {
    width: 100%;
}
#media-view .galleries img{
    text-align:center;
}
#media-view .gallery .viewport .meta {
    display: block;
    left: -9px;
    min-height: 35px;
    position: absolute;
    width: 700px;
    opacity: 1 !important;
    bottom: -75px;
    background: none;
    border: none;
    border-right: 1px solid black;
}

#media-view .gallery .viewport .video-view .meta {
    left: 10px;
    bottom: 70px;
}

#media-view .gallery .viewport .meta .caption {
    font: 13px arial;
    color: rgb(102, 102, 102);
    text-align: left;
}

#media-view .galleries > .viewport.hover > .slide .meta {
    opacity: 0;
}

#media-view .galleries > .thumbs {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0px;
    height: 78px;
    left: 10px;
    margin: 0 auto;
    -moz-opacity: 0;
    opacity: 0;
    padding: 10px 0;
    position: absolute;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    width: 800px;
    visibility:hidden;

    /* this fixes a render issue with chrome */
    -webkit-transform: translateZ(0);
}

#media-view .galleries > .thumbs .thumbslist > li > a img {
    opacity: 0.6;
}

#media-view .galleries > .thumbs .thumbslist > li > a:hover img {
    opacity: 1;
}

.lt-ie9 #media-view .galleries > .thumbs{
    bottom: 100px;
}

#media-view .galleries > .thumbs.on {
    background:transparent;
    background: rgba(0, 0, 0, 0.8);
    /*these filters + background:transparent aproximate rgba(0, 0, 0, 0.8) in IE8/9*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000);
    visibility: visible;
    bottom: 100px;
    opacity: 1;
    left: 0;
    width: 100%;
}

#media-view .feature-btns {
    background: rgb(0, 0, 0);
    display: block;
    height: 40px;
    margin: 10px;
    position: absolute;
    width: 800px;
    display: none;
}

#media-view .feature-btns div {
    background: rgb(28, 28, 28);
    border: 1px solid rgb(51, 51, 51);
    border-radius: 3px;
    color: white;
    cursor: pointer;
    clear: none;
    float: left;
    font: bold 11px 'arial', sans-serif;
    height: 8px;
    margin: 6px 30px 0 13px;
    min-width: 66px;
    padding: 6px 27px 11px;
    -moz-border-radius: 3px;
}

#media-view .feature-btns div.ticker {
    min-width: 30px;
    padding-left: 0;
    border: none;
    background: none;
    color: rgb(153, 153, 153);
    font: normal 13px 'arial', sans-serif;
    margin-right: 10px;
}

#media-view .feature-btns div.fullscreen {
    display: block;
    height: 15px;
    min-width: 20px;
    padding: 6px 4px 6px 8px;
}
#media-view .galleries .meta .toolbox {
    display: none;
}

#media-view .feature-btns div.fullscreen span {
    background: url('/static/images/components/ft-share-btns.png') -170px -4px no-repeat;
    height: 20px;
    margin-left: -2px;
    overflow: hidden;
    padding: 0;
    text-indent: -99999px;
    width: 20px;
}

#media-view .feature-btns div.fullscreen:hover span {
    background-position: -212px -4px;
}

#media-view .feature-btns b {
    padding: 0 5px;
    color: white;
    font: bold 15px 'arial', sans-serif;
}

#media-view .feature-btns span {
    background: url('/static/images/sprites/gal-nav.png') no-repeat;
    height: 12px;
    padding-left: 15px;
    float:left;
}

#media-view .galleries > .feature-btns span.pause {
    background-position: 0 -35px;
}

#media-view .galleries > .feature-btns .thumbnails span {
    background-position: 0 -11px;
    padding-left: 20px;
    width: 96px;
}
.lt-ie9 #media-view .galleries > .feature-btns .thumbnails span{
    width: 124px;
}

#media-view .galleries > .feature-btns .captions span {
    background-position: 0 -23px;
    padding-left: 30px;
    width: 82px;
}
/* CSS3 fallbacks for JS handling */
#media-view .search-wrapper .text-input {
    width: 590px;
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    width: calc(100% - 200px);
    }
#media-view .grid .medialistitems:nth-child(-n+1) figure .play-btn{
    background: url('/static/images/buttons/button_video_play_small.png') 0 0 no-repeat;
    height: 45px;
    right: 10px;
    margin: -25px 0 0 -23px;
    position: absolute;
    bottom: 10px;
    width: 45px;
}

.media-index #media-content .medialistitems:nth-child(-n+1) .thumbnail,
.media-index #media-content .medialistitems:nth-child(-n+1) .gallery .bg,
.media-index #media-content .medialistitems:nth-child(-n+1) .thumbnail img{
    width:340px;
    height:190px;
}
#media-view .grid > li.medialistitems:nth-child(-n+1){
    width:350px;
    height:280px;
}
#media-view .grid .medialistitems:nth-child(-n+1) .meta.gallery .author{
    display:inline-block;
}

#media-view .sizer .galleries .slide-nav, #media-view .media-main-view .galleries .slide-nav {
top: -390px;
}

/******************************************************************************
 MEDIA QUERIES
*******************************************************************************/
@media only screen and (min-width: 872px) {
    #media-view .content {
        min-width: 750px;

    }

    #media-view .grid .medialistitems:nth-child(-n+2) figure .play-btn{
        background: url('/static/images/buttons/button_video_play_small.png') 0 0 no-repeat;
        height: 45px;
        right: 10px;
        margin: -25px 0 0 -23px;
        position: absolute;
        bottom: 10px;
        width: 45px;
    }

    .media-index #media-content .medialistitems:nth-child(-n+2) .thumbnail,
    .media-index #media-content .medialistitems:nth-child(-n+2) .gallery .bg,
    .media-index #media-content .medialistitems:nth-child(-n+2) .thumbnail img{
        width:340px;
        height:190px;
    }
    #media-view .grid > li.medialistitems:nth-child(-n+2){
        width:350px;
        height:280px;
    }
    #media-view .grid .medialistitems:nth-child(-n+2) .meta.gallery .author{
        display:inline-block;
    }
}

@media only screen and (min-width: 1232px) {
    #media-view .content {
        min-width: 1110px;
    }
    #media-view .grid .medialistitems:nth-child(-n+3) figure .play-btn{
        background: url('/static/images/buttons/button_video_play_small.png') 0 0 no-repeat;
        height: 45px;
        right: 10px;
        margin: -25px 0 0 -23px;
        position: absolute;
        bottom: 10px;
        width: 45px;
    }
    .media-index #media-content .medialistitems:nth-child(-n+3) .thumbnail,
    .media-index #media-content .medialistitems:nth-child(-n+3) .gallery .bg,
    .media-index #media-content .medialistitems:nth-child(-n+3) .thumbnail img{
        width:340px;
        height:190px;
    }
    #media-view .grid > li.medialistitems:nth-child(-n+3){
        width:350px;
        height:280px;
    }
    #media-view .grid .medialistitems:nth-child(-n+3) ul.gallery .author{
        display:inline-block;
    }
}

@media only screen and (min-width: 1600px) {
    #media-view .content {
        min-width: 1470px;
    }
    #media-view .grid .medialistitems:nth-child(-n+4) figure .play-btn{
        background: url('/static/images/buttons/button_video_play_small.png') 0 0 no-repeat;
        height: 45px;
        right: 10px;
        margin: -25px 0 0 -23px;
        position: absolute;
        bottom: 10px;
        width: 45px;
    }
    .media-index #media-content .medialistitems:nth-child(-n+4) .thumbnail,
    .media-index #media-content .medialistitems:nth-child(-n+4) .gallery .bg,
    .media-index #media-content .medialistitems:nth-child(-n+4) .thumbnail img{
        width:340px;
        height:190px;
    }
    #media-view .grid > .medialistitems:nth-child(-n+4){
        width:350px;
        height:280px;
    }
    #media-view .grid .medialistitems:nth-child(-n+4) ul.gallery .author{
        display:inline-block;
    }
}


