/**
 * @fileoverview Advertising Styles
 */

/**
 * Placeholder 
 */

.partner-bundle,
.partner-placeholder {
    display: none;
}

.partner-placeholder iframe {
    display: none;
}

.partner-placeholder .container {
    height: 100%;
    position: relative;
    width: 100%;
}

/**
 * Leavebehind
 */

.partner-leavebehind {
    cursor: pointer;
    filter:alpha(opacity=0);
    height: 30px;
    opacity: 0;
    -moz-opacity: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    position: absolute;
    top: 5px;
    width: 420px;
}

.partner-leavebehind.show {
    filter:alpha(opacity=1);
    opacity: 1;
    -moz-opacity: 1;
    transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    z-index: 99;
}

/**
 * Close button
 */

.partner-placeholder .container a.close-partner {
    background: transparent url('/static/images/buttons/button-close.png') no-repeat 0 0;
    font-size: 0;
    height: 47px;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
    overflow: hidden;
    position: absolute;
    right: -10px;
    text-decoration: none;
    text-indent: -9999px;
    transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    top: 0;
    width: 45px;
    z-index: 98;
}

.partner-placeholder.hero-flip .container a.close-partner {
    right: -4px;
    top: 5px;
}

.partner-placeholder.elastic .container a.close-partner {
    right: -5px;
    top: 5px;
}

.flip .partner-placeholder .container a.close-partner,
.partner-placeholder.open .container a.close-partner,
.partner-placeholder.elastic .container a.close-partner {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}

.flip .partner-placeholder .container a.close-partner {
    transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    -webkit-transition-delay: 1s;
}

.partner-placeholder .container a.close-partner:hover {
    background-position: 0 -47px;
}

.partner-placeholder .container a.close-partner:active {
    background-position: 0 -94px;
}

/**
 * Advertsing (partner) - Push down
 */

.partner-placeholder.pushdown {
    display: block;
    left: 50%;
    margin-left: -420px;
    position: absolute;
    top: 40px;
    transition-property: width margin-left;
    -moz-transition-property: width margin-left;
    -o-transition-property: width margin-left;
    -webkit-transition-property: width margin-left;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    width: 840px;
}

@media only screen and (min-width: 1280px) {
    .partner-placeholder.pushdown {
        margin-left: -540px;
        width: 1080px;
    }
}

@media only screen and (min-width: 1440px) {
    .partner-placeholder.pushdown {
        margin-left: -600px;
        width: 1200px;
    }
}

/**
 * Advertsing (partner) - Asset Pages
 */

.partner-bundle.high-impact,
.partner-bundle.high-impact iframe,
.partner-placeholder.asset-poster,
.partner-placeholder.asset-poster iframe {
    display: block;
}

/**
 * Slider Advertising
 */

.slider {
    background: transparent url('/static/images/pixels/pixel-black-85percent.png') repeat top left;
    background: rgba(0,0,0,0.85);
    border-left: 1px solid rgb(0,0,0);
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: none;
    padding: 10px 0;
    position: fixed;
    right: 0;
    top: 40px;
    width: 340px;
    z-index: 99;
}

.slider.show {
    display: block;
}

.slider a.close-partner {
    background: transparent url('/static/images/buttons/button-close.png') no-repeat 0 -141px;
    color: rgb(255,255,255);
    display: block;
    filter: dropshadow(color=#000000, offx=0, offy=1);
    font-family: 'Futura';
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    line-height: 24px;
    margin: 0 20px;
    overflow: hidden;
    padding: 0 0 0 27px;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.4);
    text-transform: uppercase;
}

.slider a.close-partner:hover {
    background-position: 0 -166px;
}

.slider a.close-partner:active {
    background-position: 0 -191px;
}

.slider > p {
    border-top: 1px solid rgb(55,55,55);
    border-top: 1px solid rgba(255,255,255,0.08);
    color: rgb(255,255,255);
    font-size: 10px;
    line-height: 10px;
    margin: 10px 0;
    text-align: right;
    text-transform: uppercase;
}

.slider > p:before {
    border-top: 1px solid rgb(0,0,0);
    content: '';
    display: block;
    margin-top: 1px;
}

.slider > div {
    margin: 0 20px;
}

.slider > p span {
    display: block;
    padding: 10px 20px 0 20px;
}

/**
 * Hero Flip
 */

article.cards .theatre {
    perspective: 900px;
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    position: relative;
    z-index: 98;
}

.theatre .mod.hero {
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    -webkit-transform: rotateX(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateX(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 60;
}

.theatre.flip .mod.hero {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    z-index: 55;
}

.theatre .partner-placeholder {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateX(-180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-transform: rotateX(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 720px;
    z-index: 55;
}

.theatre .partner-placeholder.partner-size-small {
    height: 405px;
}

.theatre .partner-placeholder.partner-size-medium {
    height: 480px;
}

.theatre .partner-placeholder.partner-size-large {
    height: 524px;
}

.theatre.flip .partner-placeholder {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    z-index: 60;
}

/**
 * Overylay
 */

#partner-overlay {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8000;
}

#partner-overlay .film {
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=1);
    z-index: 8001;
}

#partner-overlay .partner-placeholder {
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 12px 0 rgba(0,0,0,0.75);
    -o-box-shadow: 0 0 12px 0 rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.75);
    display: block;
    height: 700px;
    left: 50%;
    margin: -328px 0 0 -468px;
    position: absolute;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    top: 50%;
    width: 936px;
    z-index: 8002;
}

#partner-overlay .partner-placeholder.size-s {
    height: 450px;
    margin: -205px 0 0 -300px;
    width: 600px;
}

#partner-overlay .partner-placeholder.size-m {
    height: 576px;
    margin: -268px 0 0 -384px;
    width: 768px;
}

#partner-overlay .partner-placeholder.size-xl {
    height: 810px;
    margin: -385px 0 0 -540px;
    width: 1080px;
}

#partner-overlay .partner-placeholder .container {
    z-index: 8003;
}

/**
 * Asset Sponsorship
 */

.content-wrap.active article.asset .asset-sponsorship-skin {
    position: absolute;
    top: 55px;
}

.content-wrap.active article.asset .asset-sponsorship-skin.asset-sponsorship-skin-left {
    left: -150px;
}

.content-wrap.active article.asset .asset-sponsorship-skin.asset-sponsorship-skin-right {
    right: -150px;
}
