
/* Lets Reset */

* {
  margin: 0;
  padding: 0;
  color: black;
  box-shadow: none;
}

/* The following rule keeps the layout stuff out of print.  Remove at your own risk! */

.layout,
#navbar,
#header,
#nav,
.nav-anchor,
.full,
.footer,
.size-full,
.size-suspender, 
.mod.headlines, 
.more-stories-content, 
.loadingText, 
.cards.fixed, 
.asset-sponsorship-skin, 
.cards.fixed .sizer,
.card-wrap.offscreen,
.overlay-arrows, 
footer, 
.ui-alert.error,
.utility,
.fronts,
.show-more,
.quick,
p.example,
.theatre,
b.label,
.nextPrev,
.open-sidebar.sidebar-button,
.partner-leavebehind,
.partner-placeholder,
.section_home,
.popular,
.videoStillPlay,
.slide,
.hero,
.size-bar,
.live-feed,
.close-sidebar,
.front-gallery,
.size-bucket,
.hero-page-back.popular,
.hero-popular-head,
.hero-popular-page-trigger,
.hero-popular-list,
.hero-right-pane,
.hero-right-pane,
.head,
.head.title,
.head.time,
.controls.toggle,
.sp-nav-wrap,
.sp-nav,
.sp-nav-title,
.sp-nav-item,
.banner-ad,
.partner.slider.show,
.wrapper.media-index,
.sidenav-container,
.search-wrapper,
.filter-wrapper,
#media-content,
/* remove from the article level */
.full.topic-nav.top,
span.share,
div.comments,
.comp.story-highlights,
aside.right,
aside.pull-quote,
.more.more-stories-wrap,
.utility-wrap,
.blog-ribbon,
.blog-tag-cloud,
.viewport,
.breaking,
.stage,
.utility-bar,
.chart-wrapper,
hr * {
	display: none;
}

/*Stuff we can display */
/* for IE Sucks */
@page {margin: 1.0cm;}

body {
    font-family: serif;
 
    /* pt is absolute unit commonly used in print designs */
    font-size: 12pt;
}
 
h1, h2, h3 {
    margin: 4px 0 8px 0;
    border: none;
}
 
h1 {
    font-size: 18pt;
}
 
h2 {
    font-size: 16pt;
}
 
h3 {
    font-size: 14pt;
}

/* Following ':after' sudo selector is used to select element right after the 'a' */
a:after {
    /* Content is used to display (url) after every anchor (a) tag */
    /*
       attr(href) gets the href value of 'a' tag
    */
    content:  " (" attr(href) ")";
}

/* The following rule is necessary to have all slides appear in print! DO NOT REMOVE IT! */

article.asset > .double-wide {width: 100%; float: none;}
article.asset > .double-wide p {width: 100%; margin:20px 0 0 10px;}
article.asset > .credits {border: none;}
article.asset > .credits > span.author {padding-left: 0px; margin-left: 0px; border: none;}
article.asset .single-photo.expandable .image-wrap {padding-right: 15px;}
