/**
 * @fileoverview Global element style defination
 */

body,
html {
    height: 100%;
    width: 100%;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background: rgb(246,246,246) url('/static/images/noise_f6f6f6.png') repeat top left;
    font-family: Arial, sans-serif;
    min-width: 980px;
}

/*broken images in firefox layout fix*/
@-moz-document url-prefix() {
  img {
     display:inline-block;
  }
}

/**
 * NOTE: Articles are never positioned relative or absolutely
 */

/**
 * H1 - Main story in the section or article
 */

/**
 * H2 - Secondary headlines and topics
 */


/**
 * H3 - Blocks of headlines
 */

/**
 * H4 - First Five Headlines
 */

/**
 * H5 - Functional Headlines
 */

/**
 * H6 - Page section heads
 */

article.cards section .mod h6,
article.static-page h6 {
    color: rgb(153,153,153);
    font-family: 'Futura', Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 13px;
    margin: 0;
    padding: 14px 5px 10px 5px;
    text-align: center;
    text-shadow: 0 1px 1px rgb(255,255,255);
    text-transform: uppercase;
}

article.cards section .size-suspender .mod h6 {
    color: rgb(255,255,255);
    /* TODO: IE drop shadow */
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

/**
 * Paragraph tag
 */

p {
    margin: 0;
}

/**
 * Label - For section labels
 * News is the default color
 */

b.label {
    background-color: rgb(0,80,161);
    color: rgb(255,255,255);
    font-family: Futura;
    font-size: 10px;
    left: 20px;
    letter-spacing: 1px;
    line-height: 8px;
    padding: 7px 6px 5px;
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    z-index: 90;
}

b.label.news {
    background-color: rgb(0,155,255);
}

b.label.sports {
    background-color: rgb(235,30,0);
}

b.label.life {
    background-color: rgb(150,0,180);
}

b.label.money {
    background-color: rgb(0,165,60);
}

b.label.tech {
    background-color: rgb(250,95,0);
}

b.label.travel {
    background-color: rgb(0,195,195);
}

b.label.weather {
    background-color: rgb(255,192,0);
}

article.cards b.label {
    background-color: rgb(0,80,161);
    color: rgb(255,255,255);
    font-family: Futura;
    font-size: 10px;
    left: 20px;
    letter-spacing: 1px;
    line-height: 8px;
    padding: 7px 6px 5px;
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    z-index: 90;
}

article.cards b.label.news {
	background-color: rgb(0,155,255);
}

article.cards b.label.sports {
    background-color: rgb(235,30,0);
}

article.cards b.label.life {
    background-color: rgb(150,0,180);
}

article.cards b.label.money {
    background-color: rgb(0,165,60);
}

article.cards b.label.tech {
    background-color: rgb(250,95,0);
}

article.cards b.label.travel {
    background-color: rgb(0,195,195);
}

article.cards b.label.weather {
    background-color: rgb(255,192,0);
}

/**
 * Add Content Button
 */

a.button-add-content {
    background: transparent url('/static/images/buttons/button-add-content-back.png') repeat-x top left;
    color: rgb(102,102,102);
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    padding: 11px 10px;
    position: relative;
    text-decoration: none;
}

a.button-add-content:hover,
a.button-add-content:hover:before {
    background-position: center left;
    color: rgb(0,170,255);
}

a.button-add-content:before {
    background: transparent url('/static/images/buttons/button-add-content-caps.png') no-repeat top left;
    content: url('/static/images/buttons/button-add-content-icon-default.png');
    height: 34px;
    left: -34px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 34px;
}

a.button-add-content:after {
    background: transparent url('/static/images/buttons/button-add-content-caps.png') no-repeat top right;
    content: '';
    height: 34px;
    position: absolute;
    right: -16px;
    top: 0;
    width: 16px;
}

a.button-add-content:hover:after {
    background-position: center right;
}

a.button-add-content:active,
a.button-add-content:active:before {
    background-position: bottom left;
    color: rgb(0,170,255);
}

a.button-add-content:hover:before,
a.button-add-content:active:before {
    content: url('/static/images/buttons/button-add-content-icon-hover.png');
}

a.button-add-content:active:after {
    background-position: bottom right;
}

a.button-add-content.loading,
a.button-add-content.loading:active,
a.button-add-content.loading:hover,
a.button-add-content.loading:active:before,
a.button-add-content.loading:hover:before {
    background-position: top left;
    color: rgb(102,102,102);
}

a.button-add-content.loading:after,
a.button-add-content.loading:active:after,
a.button-add-content.loading:hover:after {
    background-position: top right;
}

a.button-add-content.loading:before {
    content: url('/static/images/indicators/loading.gif');
}

a.button-add-content.inactive,
a.button-add-content.inactive:active,
a.button-add-content.inactive:hover,
a.button-add-content.inactive:before,
a.button-add-content.inactive:active:before,
a.button-add-content.inactive:hover:before {
    background-position: top left;
    color: rgb(204,204,204);
}

a.button-add-content.inactive:active:before,
a.button-add-content.inactive:hover:before {
    content: url('/static/images/buttons/button-add-content-icon-default.png');
}

a.button-add-content.inactive:after,
a.button-add-content.inactive:active:after,
a.button-add-content.inactive:hover:after {
    background-position: top right;
}

/**
 * Avatar Image Style
 */

.avatar {
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.4);
    border: 2px solid rgb(255,255,255);
    float: left;
    margin-right: 10px;
}

/**
 * Thumb Style
 */

.thumb {
    float: left;
    height: 80px;
    position: relative;
    width: 100px;
}

.thumb > img {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    height: 80px;
    width: 80px;
}

/**
 * Avatar & thumb aka avathumb
 */

.avathumb {
    float: left;
    height: 92px;
    position: relative;
    width: 100px;
}

.avathumb > img:first-child {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    height: 80px;
    margin-top: 12px;
    width: 80px;
}

.avathumb > .avatar {
    float: none;
    margin: 0;
    position: absolute;
    right: 8px;
    top: 0;
}

/**
 * Byline style
 */

.byline {
    margin: 15px 0 15px 20px;
}
/*this rule is because firefox doesn't overridde the byline margin in hero correctly*/
.hero .byline-block .byline {
    margin: 0;
}

.byline .author {
    display: block;
    font-size: 11px;
    font-weight: 700;
    white-space: nowrap;
}

.byline .author em {
    cursor: pointer;
    font-style: normal;
}

.byline .author a > em:hover {
    text-decoration: underline;
}

.byline.byline-nopub .author {
    padding-top: 7px;
}

.byline .pub {
    display: block;
    font-size: 10px;
    margin-top: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}

/**
 * Pagination indicator
 */

.indicator {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.indicator > span, .indicator > li {
    background-color: rgba(0,0,0,0.3);
    border-radius: 6px;
    -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.2), inset 0 1px 0 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.2), inset 0 1px 0 1px rgba(0,0,0,0.3);
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.2), inset 0 1px 0 1px rgba(0,0,0,0.3);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin-left: 8px;
    width: 12px;
}

.indicator > span:first-of-type, .indicator > li:first-of-type {
    margin-left: 0;
}

.indicator > span:hover:after, .indicator > li:hover:after {
    background-color: rgba(255,255,255,0.1);
    border-radius: 4px;
    content: '';
    display: block;
    height: 8px;
    margin: 2px;
    width: 8px;
}

.indicator > span.selected .indicator > li.active {
    cursor: default;
}

.indicator > span.selected:after, .indicator > li.active:after {
    background-color: rgb(255,255,255);
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 1px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 0 1px rgba(0,0,0,0.6);
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.6);
    content: '';
    display: block;
    height: 8px;
    margin: 2px;
    width: 8px;
}

/**
 * Split lists
 */

ul.split-two {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.split-two > li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0 20px;
    position: relative;
    margin: 20px 0;
    width: 50%;
}


ul.split-two > li.clearfix:before,
ul.split-two > li:before {
    content: '';
    display: block;
    border-top: 1px dashed rgb(222,222,222);
    border-top: 1px dashed rgba(0,0,0,0.15);
    height: 0;
    left: 20px;
    position: absolute;
    right: 20px;
    top: -20px;
}

.comp ul.split-two > li:before {
    border-top: 1px solid rgb(222,222,222);
    border-top: 1px solid rgba(0,0,0,0.15);
    left: 0;
}

ul.split-two > li.no-border:before {
    display: none;
    visibility: hidden;
    zoom:1;
    border:0;
}
