/**
 * @fileoverview Defines the structure and placement rules for static pages.
 * @supported Test in Chrome and Safari
 */

/**
* Section Header
*/
article.static-page > header > h6 {
	background: rgb(0, 153, 229);
    color: rgb(255, 255, 255);
    margin: 0 -30px;
    padding: 10px 40px 10px 20px;
    text-align: left;
    text-transform: none;
    width: 100%;
}


/**
* Top navigation
*/

article.asset.static-page > header > nav {
	background: rgba(0, 0, 0, .20);
	border-bottom: 2px solid rgba(0, 0, 0, .05);
	height: 37px;
	margin: 0 -30px;
	padding: 0 60px 0 0;
	width: 100%;
}

article.asset.static-page > header > nav ul {}

article.asset.static-page > header > nav ul li {
	display: inline;
	margin: 0; 
	padding: 0;
}

article.asset.static-page > header > nav ul li a {
	color: rgb(102, 102, 102);
	float: left;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgb(255, 255, 255);
}

article.asset.static-page > header > nav ul li a:hover,
article.asset.static-page > header > nav ul li.active a {
	background: rgba(0, 0, 0, .10);
	color: rgb(51, 51, 51);
}

/**
* Page structure
*/

article.static-page .page-content{
	width: 920px;
}

article.static-page .page-content .content-wrap {
	float: left; 
	width: 560px;
}

article.static-page.full-width .page-content .content-wrap {
	width: 920px;
}

article.static-page .right-rail{
	float: right;
	width: 320px;
}

article.static-page.full-width .right-rail {
	display: none;
}

/**
* Footer overrides
*/

article.asset.static-page footer { 
	float: right;
	margin: 0 0 -5px 0;
	padding: 0;
	width: 950px;
}

article.asset.static-page footer nav ul li {
	text-align: left;
}

article.asset.static-page footer .utility {
	display: none;
}

article.asset.static-page .footer {
	width: 980px;
}

article.asset.static-page .footer > nav > .fronts {
	width: 980px;
}

article.asset.static-page .footer > p.site-index {
	margin-bottom: 10px;
}

article.asset.static-page .footer > nav > .fronts {
	width: 860px;
}

article.asset.static-page .footer > nav > .fronts > section {
	width: 140px;
}

/**
* Page content
*/

article.static-page h1,
article.static-page h2,
article.static-page h3,
article.static-page h4,
article.static-page h5,
article.static-page p {
	margin: 15px 0;
}

article.static-page .credits {
	margin-bottom: 20px;
}

article.static-page .credits p{
	border: none;
	margin-top: 10px;
}

article.static-page h1 {
	font-size: 35px;
	margin-top: 0;
	padding: 0;
}

article.static-page h2 {
	font-size: 18px;
	padding: 0;
}

article.static-page p { 
	font-size: 14px;
	line-height: 25px;
}

article.static-page dl {
	background: rgb(255, 255, 255);
	border-radius: 20px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .25);
	padding: 10px 15px 10px 30px;
	position: relative;
}

article.static-page dl:before {
	color: rgb(71, 180, 255);
	content: '+';
	font-size: 35px;
	left: 5px;
	position: absolute;
	top: -4px;
}

article.static-page dl.open:before {
	content: '–';
	top: -8px;
}

article.static-page dl dt {
	cursor: pointer;
	font-size: 13px;
	line-height: 22px;
}

article.static-page dl dd {
	border-top: 2px solid rgb(229, 229, 229);
	display: none;
	margin: 0;
	margin-top: 9px;
}

article.static-page dl.open dd {
	display: block;
}

article.static-page dl dd p {
	font-size: 13px;
	line-height: 22px;
}

article.static-page dd:last-child p {
	margin-bottom: 0;
}

article.static-page .right-rail .ad img{
	border: 10px solid rgba(0, 0, 0, .10);
	border-radius: 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .40);
	margin-bottom: 20px;
}