/* Article ('asset') view. */


/* Byline */

.asset .credits {
    width: 918px;
    margin: 20px 0 10px 0;
    padding: 5px 0 0;
    border: 1px solid rgb(230, 230, 230);
    height: 39px;
}

.asset .credits p,
.asset .credits img {
    font-size: 12px;
    font-weight: bold;
    float: left;
    width: auto;
    clear: none;
    margin-left: 4px;
}

.asset .credits p {
    margin: 5px 0 0;
    padding: 5px 15px 4px;
}

.asset .credits .time_stamp {
    color: rgb(153,153,153);
    border-left: 1px solid rgb(230,230,230);
}

.asset .credits .comments,
.asset .credits .share {
    border: none;
    color: rgb(0,0,0);
    cursor: pointer;
    float: right;
    padding-left: 42px;
    position: relative;
}

.asset .credits .comments {
    padding-left: 44px;
}

.asset .credits .share {
    border-left: 1px solid rgb(230,230,230);
}

.asset .credits .comments:hover,
.asset .credits .share:hover {
    color: #007CCF;
}

.asset .credits .comments:before,
.asset .credits .share:before {
    background: url('/static/images/components/comment-bubble.png') 0 0 no-repeat;
    content: '';
    display: block;
    height: 22px;
    left: 15px;
    position: absolute;
    top: 3px;
    width: 22px;
}

.asset .credits .share:before {
    background: url('/static/images/components/share-icon.png') 0 0 no-repeat;
    top: 2px;
}

.asset .comments .num {
    display: inline-block;
    min-width: 7px;
    margin-right: 5px;
}

/* Next / Previous in series links */

article.asset footer {
    margin: 0 0 10px -30px;
    padding: 0 30px 0;
    position: relative;
    width: 920px;
    z-index: 110;
}

div.comp.article-footer {
    height: auto;
    margin: 10px 0 0;
    width: 925px;
}

div.comp.article-footer p.prev,
div.comp.article-footer p.next {
    float:left;
    width:305px;
    height:24px;
    padding-left:30px;
    font: 11px/4px 'arial', sans-serif;
    color: rgb(153,153,153);
    text-decoration: none;
    background: url('/static/images/components/previous_next_story_arrows.png') no-repeat 0 0;
}

div.comp.article-footer p.next {
    float:right;
    text-align:right;
    padding-left: 0;
    padding-right: 30px;
    background-position: 100% -24px;
}

div.comp.article-footer p span {
    float:left;
    clear:both;
    margin: 10px 0;
    font: bold 12px/4px 'arial', sans-serif;
    color: rgb(102,102,102);
}

div.comp.article-footer p.next span {
    float:right;
}

div.comp.article-footer .this-story {
    clear: none;
    float: left;
    margin: 0 39px;
    width: 176px;
}

div.comp.article-footer .this-story p {
    width: auto;
    font: 11px/4px 'arial', sans-serif;
    color: rgb(153,153,153);
    text-decoration: none;
    text-align: center;
}

div.comp.article-footer .this-story p strong {
    font: 700 13px/35px 'futura',sans-serif;
    color: rgb(51,51,51);
}

/* Utility Bar */

.utility-wrap {
    background: rgb(29,155,243) url('/static/images/components/utility-bg.png') repeat-x 0 0;
    bottom: -40px;
    height: 40px;
    position: fixed;
    -webkit-transition-delay: 0.1s;
       -moz-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-property: bottom;
       -moz-transition-property: bottom;
         -o-transition-property: bottom;
            transition-property: bottom;
    width: 100%;
    z-index: 201;
}

.utility-wrap.show  {
	bottom: 0;
	-webkit-transition-delay: 0.3s;
       -moz-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

.utility-bar {
    width: 980px;
    height: 40px;
    margin: 0 auto;
    position: relative;
}

.utility-wrap.no-transition,
.no-transition .utility-wrap {
	-webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: 0s;
       -moz-transition-duration: 0s;
         -o-transition-duration: 0s;
            transition-duration: 0s;
}

/* Utility Buttons */

.utility-bar > div {
    float: left;
    height: 40px;
    position: relative;
}

.utility-bar .btn {
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    box-shadow: inset -1px 0 0 rgba(255,255,255,.1),
                inset 2px 0 0 rgba(255,255,255,.1);
    clear: none;
    color: rgb(177,223,255);
    cursor: pointer;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 44px;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
}


.utility-bar .btn:hover,
.utility-bar > .print-module > .btn:hover {
    background: url(/static/images/components/utility-bg.png) repeat-x 0 -40px;
    color: rgb(255,255,255);
}

.utility-bar .btn:active,
.utility-bar .btn.open,
.utility-bar > .print-module > .btn:active,
.utility-bar > .print-module > .btn.open {
    background: url(/static/images/components/utility-bg.png) repeat-x 0 -80px;
    box-shadow: inset 1px 0 2px rgba(0,0,0,.1),
                inset -1px 0 2px rgba(0,0,0,.1);
    color: rgb(255,255,255);
}

.utility-bar > .print-module > .btn {
    box-shadow: inset -2px 0 0 rgba(255,255,255,.1),
                inset 2px 0 0 rgba(255,255,255,.1);
}

.utility-bar > .comment-module > .btn {
    margin-left: -1px;
}

.utility-bar .btn:before,
.utility-bar > .print-module > .btn:after {
    background: #0d4973;
    background: -moz-linear-gradient(top,  #0d4973 0%, #146ba7 19%, #146eac 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0d4973), color-stop(19%,#146ba7), color-stop(100%,#146eac));
    background: -webkit-linear-gradient(top,  #0d4973 0%,#146ba7 19%,#146eac 100%);
    background: -o-linear-gradient(top,  #0d4973 0%,#146ba7 19%,#146eac 100%);
    background: -ms-linear-gradient(top,  #0d4973 0%,#146ba7 19%,#146eac 100%);
    background: linear-gradient(to bottom,  #0d4973 0%,#146ba7 19%,#146eac 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d4973', endColorstr='#146eac',GradientType=0 );
    content: '';
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.utility-bar > .print-module > .btn:after {
    left: auto;
    right: 0;
}

.utility-bar > .print-module > .btn {
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.utility-bar > .comment-module > .btn,
.utility-bar > .user > .btn {
    border-left: 1px solid rgba(255, 255, 255, .1);
}

.utility-bar > .share-module > .btn > span {
    background: url(/static/images/components/ft-share-btns.png) no-repeat -48px 0;
    display: inline-block;
    height: 24px;
    margin-left: 3px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 25px;
}

.utility-bar > .print-module > .btn > span {
    background: url(/static/images/components/ft-share-btns.png) no-repeat -121px 0;
    display: inline-block;
    height: 26px;
    margin-left: 3px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 24px;
}

.utility-bar .btn > .count {
    background: rgb(52,167,247);
    border: 1px solid rgb(27,144,226);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    color: rgb(255,255,255);
    display: inline-block;
    height: 12px;
    line-height: 11px;
    margin-left: 35px;
    padding: 5px 6px 4px;
    position: relative;
    top: 10px;
    min-width: 12px;
    vertical-align: top;
}

.utility-bar .btn > .count:before {
    background: url(/static/images/components/ft-share-btns.png) no-repeat -260px 0;
    content: '';
    display: block;
    height: 8px;
    left: -5px;
    position: absolute;
    top: 6px;
    width: 5px;
}

.utility-bar .btn:hover > .count,
.utility-bar .btn.open > .count {
    background: rgb(69,157,219);
    border-color: rgb(21,113,177);
}

.utility-bar .btn:hover > .count:before,
.utility-bar .btn.open > .count:before {
    background: url(/static/images/components/ft-share-btns.png) no-repeat -265px 0;
}

.utility-bar > .comment-module > .btn > .count:after {
    background: url(/static/images/components/ft-share-btns.png) no-repeat 0 0;
    content: '';
    display: block;
    height: 24px;
    left: -32px;
    top: -1px;
    position: absolute;
    width: 24px;
}

/*.utility-bar > .contribute {
    width: 120px;
    height: 17px;
    background: rgb(28,155,242);
    border: 1px solid rgb(16,100,158);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    padding: 7px 1px 1px 26px;
    margin: 8px 15px;
    line-height: 12px;
}

.utility-bar > .contribute:hover {
    background-position: 0 -5px;
}

.utility-bar > .contribute:before {
    background: none;
    border-right: 1px solid rgb(51,165,243);
    box-shadow: inset -1px 0 0 rgba(0,0,0,.2);
    width: 25px;
    height: 25px;
    left: 0;
}

.utility-bar > .contribute:hover:before {
    border-right: none;
}

.utility-bar > .contribute:after {
    background: url('/static/images/components/ft-share-btns.png') no-repeat -77px 1px;
    content: '';
    display: block;
    position: absolute;
    width: 14px;
    height: 25px;
    left: 5px;
    top: 0;
}*/

/* Utility Flyouts */

.utility-flyout {
    background: rgb(255,255,255);
    box-shadow: 0 2px 12px rgba(0,0,0,.4);
    cursor: default;
    position: absolute;
    top: 50px;
}

.utility-flyout.open {
    bottom: 40px;
    top: auto;
}

.utility-flyout:before {
    background: url(/static/images/components/utility-contribute-sprite.png) no-repeat -31px -201px;
    bottom: -7px;
    content: '';
    display: block;
    height: 7px;
    left: 15px;
    position: absolute;
    width: 16px;
}

/* Utility Flyout Ribbon */

.utility-flyout .ribbon {
    background: url(/static/images/components/pop-up-close-ribbon.png) no-repeat;
    color: rgb(255,255,255);
    display: block;
    font: bold 12px 'arial', sans-serif;
    height: 31px;
    padding: 0 0 8px 0;
    position: absolute;
    right: -11px;
    text-decoration: none;
    top: 10px;
    width: 46px;
    z-index: 12;
}

.utility-flyout .ribbon:hover {
    cursor: pointer;
    text-decoration: underline;
}

.utility-flyout .ribbon:before {
    background: transparent url(/static/images/modules/live-feed/sprite.png) -79px -146px no-repeat;
    content: '';
    display: block;
    height: 21px;
    position: absolute;
    width: 20px;
    top: 6px;
    left: 14px;
}

.utility-flyout .ribbon:hover:before {
    background-position: -60px -146px;
}

.utility-flyout .ribbon.ext {
    width: 113px;
    background: url('/static/images/components/pop-up-ribbon-extended.png') no-repeat;
}

.utility-flyout .ribbon.left {
    background-position: 0 -82px;
    float: left;
    left: -31px;
}

.utility-flyout .ribbon.right {
    background-position: 0 0px;
    float: right;
    right: -31px;
}

/* Utility Comments Flyout */

.flyout-comments {
    left: 0;
    width: 630px;
}

.flyout-comments .scroll-wrap {
    overflow: hidden;
    padding: 10px 30px 10px 10px;
    position: relative;
}

.flyout-comments .scroll-wrap:before {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    height: 20px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.flyout-comments .vertical-scroll {
    top: 50px !important;
    left: 632px;
    z-index: 11;
}

/* Utility Favorite Flyout */

/*.utility-flyout h3 {
    font: bold 16px 'arial', sans-serif;
    color: black;
    padding: 20px 0 0;
}

.utility-flyout p {
    font: 13px/18px arial, sans-serif;
    color: rgb(102, 102, 102);
    width: 256px;
    height: 72px;
    margin-left: 15px;
}

.favorite-story .fb-sign-in,
.share-story .fb-sign-in,
.contribute-story .fb-sign-in {
    height: 84px;
    left: 0;
    box-shadow: none;
    background: rgb(240,240,240);
    border-top: 1px solid rgb(194,194,194);
}

.favorite-story .fb-sign-in p,
.share-story .fb-sign-in p,
.contribute-story .fb-sign-in p {
    font-size: 11px;
    height: auto;
}

.fb-sign-in a.btn {
    display: block;
    background: url('/static/images/components/fb-sign-in-button.png') no-repeat;
    width: 175px;
    height: 28px;
    margin: 13px 0 0 60px;
    text-align: center;
    text-indent: -9999px;
}*/

/* Utility Share Flyout */

.flyout-share {
    left: -114px;
    width: 320px;
}

.flyout-share:before {
    background-position: -51px -201px;
    left: 153px;
}

.flyout-share .this-story {
    background: rgb(204,204,204);
    overflow: hidden;
    padding: 15px 15px 10px;
}

.flyout-share .this-story img {
    border: 3px solid rgb(255,255,255);
    box-shadow: 0 2px 3px rgba(0,0,0,.5);
    float: left;
    margin: 0 10px 10px 0;
}

.flyout-share .this-story h4 {
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    font-size: 18px;
    color: rgb(51,51,51);
    line-height: 19px;
    margin: 0 0 2px;
}

/* Used to take up space for the close ribbon and float text around it. */
.flyout-share .this-story h4:before {
    content: '';
    display: block;
    float: right;
    height: 40px;
    width: 25px;
}

.flyout-share .this-story p {
    color: rgb(102,102,102);
    font-size: 11px;
}

.share-tabs {
    height: 28px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.share-tabs li {
    background: rgb(204,204,204);
    border: 1px solid rgb(194,194,194);
    border-bottom-color: rgb(177,177,177);
    border-width: 1px 0;
    color: rgb(51,51,51);
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    float: left;
    line-height: 27px;
    height: 26px;
    text-align: center;
    width: 159px;
}

.share-tabs li:hover {
    background: rgb(230,230,230);
}

.share-tabs li.active,
.share-tabs li.active:hover {
    background: rgb(255,255,255);
    border-color: rgb(177,177,177);
    border-bottom-color: rgb(255,255,255);
}

.flyout-share li.social-tab {
    border-right-width: 1px;
}

.flyout-share li.social-tab.active {
    height: 27px;
}

.flyout-share li.email-tab {
    border-left-width: 1px;
}

.flyout-share textarea,
.flyout-share input {
    width: 272px;
    margin: 0 15px;
    padding: 8px;
    background: rgb(243, 243, 243);
    border: 1px solid rgb(255,255,255);
    border-top-color: rgb(196, 196, 196);
    border-radius: 3px;
    box-shadow: inset 0px 0 1px rgba(0,0,0,.3);
    color: rgb(153,153,153);
    display: block;
    font-size: 11px;
    outline: none;
}

.flyout-share input:focus,
.flyout-share textarea:focus {
    color: rgb(0,0,0);
}

.flyout-share textarea {
    height: 65px;
}

.share-pane {
    display: none;
}

.share-pane.active {
    display: block;
}

.share-pane .social-networks {
    display: inline-block;
    position: relative;
    top: -2px;
}

.share-pane.social-pane .status {
    color: rgb(84,84,84);
    font-size: 11px;
    line-height: 12px;
    vertical-align: top;
    display: inline-block;
    width: 150px;
    margin: 4px 0 0 5px;
}

.social-pane .fb-loading {
    display: none;
    margin: 6px 0 0 3px;
}

.share-pane .svc-btn {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
    border: 1px solid rgb(208,208,208);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    outline: none;
    position: relative;
    text-indent: -10000em;
    width: 28px;
}

.share-pane .svc-btn:hover {
    background: rgb(255,255,255);
}

.share-pane .svc-btn.active,
.share-pane .svc-btn:active {
    background: rgb(52,52,52);
    box-shadow: inset 0 1px 1px rgb(0,0,0);
    border-color: rgb(52,52,52);
}

.share-pane .svc-btn:before {
    background-image: url(/static/images/components/social-icons.png);
    content: '';
    display: block;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.share-pane .svc-btn.fb:before {
    background-position: 3px 0;
}

.share-pane .svc-btn.fb.active:before,
.share-pane .svc-btn.fb:active:before {
    background-position: 3px -30px;
}

.share-pane .svc-btn.tw:before {
    background-position: -30px 0;
}

.share-pane .svc-btn.tw.active:before,
.share-pane .svc-btn.tw:active:before {
    background-position: -30px -30px;
}

.share-pane .svc-btn.gp:before {
    background-position: -63px 0;
}

.share-pane .svc-btn.gp.active:before,
.share-pane .svc-btn.gp:active:before {
    background-position: -63px -30px;
}

.share-pane .svc-btn.li:before {
    background-position: -97px 0;
}

.share-pane .svc-btn.li.active:before,
.share-pane .svc-btn.li:active:before {
    background-position: -97px -30px;
}

.flyout-share .cta {
    background: rgb(242,242,242) url(/static/images/components/utility-contribute-sprite.png) repeat-x 0 -80px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
    padding: 20px 15px;
    text-align: center;
}

.flyout-share .cta .ui-chunky-btn.secondary {
    margin-right: 15px;
}

.social-pane .cta p {
    color: rgb(51,51,51);
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
    vertical-align: baseline;
}

.social-pane textarea {
    background: rgb(255,255,255);
    border: 1px solid rgb(196,196,196);
    border-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 13px;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    height: 125px;
    margin: 12px 10px 0px;
    padding: 6px;
    width: 286px;
}

.social-pane .fb-post-btn {
    float: right;
    margin: 4px 4px 4px 0;
}

.social-pane .post-bar {
    background: rgb(242,242,242);
    border: 1px solid rgb(196,196,196);
    border-top: 1px solid rgb(230,230,230);
    margin: 0 10px 10px;
    overflow: hidden;
}

.email-pane {
    padding-top: 10px;
}

.email-pane textarea {
    margin: 4px 15px 15px;
}

.email-pane input {
    margin: 4px 15px 0;
}

.email-pane .error {
    border: 1px solid red;
}

.success-pane {
    display: none;
    padding: 30px 50px;
    text-align: center;
}

.success-pane h4 {
    font-size: 20px;
    margin: 0;
}

.success-pane h4:before {
    background: url(/static/images/components/utility-contribute-sprite.png) no-repeat 0 0;
    content: '';
    display: block;
    height: 71px;
    margin: 0 auto;
    width: 71px;
}

.success-pane p {
    color: rgb(102,102,102);
    font-size: 14px;
}

.success-pane a {
    color: rgb(30, 163, 255);
}

/*div.contribute-story > div {
    left: 250px;
}
div.banner img {
    float: left;
    clear: left;
    margin-right: 10px;
}


div.contribute-story.message .container,
div.share-story div.container {
    height: 375px;
    left: 280px;
    width: 360px;
}

div.contribute-story.message .container .cta,
div.share-story div.container .cta {
    background: rgba(240, 240, 240, 1) url(/static/images/components/utility-contribute-sprite.png) 0 -100px;
    bottom: 0;
    box-shadow: none;
    height: 80px;
    left: 0;
    margin: -80px 0 0 0;
    position: absolute;
    width: 100%;
}

div.contribute-story.message .container .cta a,
div.share-story .container .cta a {
    background: rgb(31, 167, 255);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(29, 172, 255)), to(rgb(22, 154, 220)));
    background-image:                  -webkit-linear-gradient(top, rgb(29, 172, 255), rgb(22, 154, 220));
    background-image:                     -moz-linear-gradient(top, rgb(29, 172, 255), rgb(22, 154, 220));
    background-image:                      -ms-linear-gradient(top, rgb(29, 172, 255), rgb(22, 154, 220));
    background-image:                       -o-linear-gradient(top, rgb(29, 172, 255), rgb(22, 154, 220));
    border: 1px solid rgba(18, 145, 231, 1);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    height: 40px;
    margin: 20px 0 0 0;
    text-decoration:none;
}

div.contribute-story.message .container .cta a:hover,
div.share-story .container .cta a:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(22, 154, 220)), to(rgb(29, 172, 255)));
    background-image:                  -webkit-linear-gradient(top, rgb(22, 154, 220), rgb(29, 172, 255));
    background-image:                     -moz-linear-gradient(top, rgb(22, 154, 220), rgb(29, 172, 255));
    background-image:                      -ms-linear-gradient(top, rgb(22, 154, 220), rgb(29, 172, 255));
    background-image:                       -o-linear-gradient(top, rgb(22, 154, 220), rgb(29, 172, 255));
}

div.contribute-story.message .container .cta a.white,
div.share-story .container .cta a.white {
    background: rgb(255, 255, 255);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(247, 247, 247)));
    background-image:                  -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(247, 247, 247));
    background-image:                     -moz-linear-gradient(top, rgb(255, 255, 255), rgb(247, 247, 247));
    background-image:                      -ms-linear-gradient(top, rgb(255, 255, 255), rgb(247, 247, 247));
    background-image:                       -o-linear-gradient(top, rgb(255, 255, 255), rgb(247, 247, 247));
    border: 1px solid rgba(212, 212, 212, 1);
    color: rgb(51, 51, 51);
}

div.contribute-story.message .container .cta a.white:hover,
div.share-story .container .cta a.white:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(247, 247, 247)), to(rgb(255, 255, 255)));
    background-image:                  -webkit-linear-gradient(top, rgb(247, 247, 247), rgb(255, 255, 255));
    background-image:                     -moz-linear-gradient(top, rgb(247, 247, 247), rgb(255, 255, 255));
    background-image:                      -ms-linear-gradient(top, rgb(247, 247, 247), rgb(255, 255, 255));
    background-image:                       -o-linear-gradient(top, rgb(247, 247, 247), rgb(255, 255, 255));
}

div.contribute-story.message.success-msg .container .cta a {
    margin-left: 69px;
}

div.contribute-story.message.error-msg .container .cta a {
    margin-left: 98px;
}

div.contribute-story.message.write .container .cta a,
div.share-story .container .cta a {
    margin-left: 16px;
}

div.contribute-story.message .container .cta a .icon,
div.share-story .container .cta a .icon {
    border-right: 1px solid rgb(30, 154, 229);
    float: left;
    height: 40px;
    width: 40px;
    padding-top: 0;
}

div.contribute-story.message .container .cta a .icon,
div.share-story .container .cta a .icon {
    background: url(/static/images/components/utility-contribute-sprite.png) 12px -268px no-repeat;
}

div.share-story .container .cta a .icon {
    background-position: 10px -354px;
}

div.contribute-story.message.error-msg .container .cta a .icon {
    background: url(/static/images/components/utility-contribute-sprite.png) 11px -309px no-repeat;
}

div.contribute-story.message.write .container .cta a.white .icon,
div.share-story .container .cta a.white .icon {
    background: url(/static/images/components/utility-contribute-sprite.png) 12px -228px no-repeat;
    border-right: 1px solid rgb(225, 225, 255);
}

div.contribute-story.message .container .cta a span,
div.share-story .container .cta a span {
    border-left: 1px solid rgba(60, 181, 255, 0.7);
    display: block;
    float: left;
    font-family: 'Futura', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 100%;
    line-height: 44px;
    padding: 0 20px 0 18px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

div.contribute-story.message .container .title,
div.share-story .container .title {
    color: rgb(0, 0, 0);
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 0 40px;
}

div.contribute-story.message .container > .info,
div.share-story .container > .info {
    color: rgb(102, 102, 102);
    display: block;
    font-size: 14px;
    padding: 12px 40px;
}

div.contribute-story.message .container > .icon,
div.share-story .container > .icon {
    background: url(/static/images/components/utility-contribute-sprite.png) 0 25px no-repeat;
    height: 71px;
    margin: 20px auto;
    padding-top: 25px;
    width: 71px;
}

div.contribute-story.message.error-msg .container > .icon {
    background-position: -71px 25px;
}

div.contribute-story.message.write .container .cta a.white span,
div.share-story .container .cta a.white span {
    border-left: none;
    text-shadow: none;
}

div.contribute-story.message.write .container span.title,
div.share-story .container span.title {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 60px;
}

div.contribute-story.message.write .container div.upload-info,
div.share-story .container div.upload-info {
    background: rgb(242, 242, 242);
    -webkit-border-radius: 4px;
     -khtml-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    display: block;
    font-size: 13px;
    height: 210px;
    margin: 0 20px;
    position: relative;
}

div.contribute-story.message.write .container div.upload-info .info,
div.share-story .container div.upload-info .info {
    display: block;
    padding: 14px 12px;
    text-align: left;
}

div.contribute-story.message.write .container div.upload-info .button-container,
div.share-story .container div.upload-info .button-container {
    border-top: 1px solid rgb(204, 204, 204);
    bottom: 0;
    font-weight: bold;
    margin: 0 12px;
    padding: 10px 0;
    position: absolute;
}

div.contribute-story.message.write .container div.upload-info .button-container span,
div.share-story .container div.upload-info .button-container span {
    color: rgb(153, 153, 153);
    display: block;
    float: left;
    font-size: 10px;
    padding: 0 19px;
    text-align: left;
    width: 120px;
}

div.contribute-story.message.write .container div.upload-info .button-container a,
div.share-story .container div.upload-info .button-container a {
    background: rgb(255, 255, 255) url(/static/images/components/utility-contribute-sprite.png) 20px -192px no-repeat;
    border: 1px solid rgb(209, 209, 209);
    -webkit-border-radius: 3px;
     -khtml-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 3px 6px -3px rgb(204, 204, 204);
       -moz-box-shadow: 0 3px 6px -3px rgb(204, 204, 204);
            box-shadow: 0 3px 6px -3px rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    font-size: 12px;
    padding: 7px 19px 7px 40px;
    text-decoration: none;
}*/

/* Styling for User Contributions Story Flyout */
/*div.user-story {
    max-height: 552px;
    bottom: 53px;
}
div.user-story h3 {
    float: left;
    width: 350px;
    font: bold 29px/30px 'helvetica neue', sans-serif;
    color: rgb(51,51,51);
    margin: 0 0 12px;
}
.user-story div.banner {
    background-color: rgb(204, 204, 204);
    padding: 12px 20px;
    height: 40px;
    width: 275px;
    margin: 0 auto;
    left: 333px;
}
.user-story div.comments {
    margin: 0 auto;
    width: 275px;
    padding: 6px 20px;
    background: white;
    overflow-y: auto;
    clear: both;
    left: 333px;
    height: 489px;
}
.user-story a.forum {
    font: bold 12px/20px 'arial', sans-serif;
    color: rgb(51, 51, 51);
    background: url('/static/images/components/right-arrow-black-sm.png') no-repeat;
    padding-left: 24px;
    float: left;
    text-decoration: none;
}
.user-story a.forum:hover {
    text-decoration: underline;
}
.utility-flyout .arrow {
    display: block;
    height: 7px;
    width: 16px;
    padding: 0 438px;
    margin: 0 auto;
    position: relative;
    background: url('/static/images/components/btm-arrow.png') no-repeat;
    bottom: 20px;
}
.utility-flyout .arrow.noise {
    background: url('/static/images/components/btm-arrow-noise.png') no-repeat;
}
.favorite-story .arrow {
    left: 102px;
}
.share-story .arrow {
    left: 200px;
}
.contribute-story .arrow {
    left: 610px;
}
.user-story .arrow {
    left: 762px;
    clear: both;
}*/

/* Over rides on a per pane basis */

/*div.favorite-story {
    left:25px;
}

div.favorite-story div {
    left: -342px;
}*/

/* Close Button Styling */

#overlay .close-wrap {
    position: absolute;
    top: 10px;
}

#overlay .close-wrap.fixed {
    position: fixed;
    top: 50px;
    -webkit-transform: translateZ(0);
}

#overlay a.close {
    background: url('/static/images/buttons/close-button.png') no-repeat;
    height: 50px;
    overflow: hidden;
    position: absolute;
    right: -975px;
    text-indent: -9999px;
    width: 50px;
    z-index: 200;
}

#overlay a.close:hover,
article.gallery.fullscreen a.close:hover {
    background-position: 0 -50px;
}

/* Interactive Share Styling */

article.asset .top div.share {
    float: left;
    clear: none;
    width: 360px;
}

article.asset .top .share a.share,
article.asset .top .share a.email {
    float: left;
    clear: none;
    font: bold 11px 'arial', sans-serif;
    color: rgb(51,51,51);
    height: 12px;
    margin: 20px 0 0 20px;
    padding: 8px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(173,173,173);
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(250,250,250,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(250,250,250,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

article.asset .top .share a.share:hover,
article.asset .top .share a.email:hover {
    cursor: pointer;
    background: rgb(237,237,237); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(219,219,219,1) 50%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(219,219,219,1) 50%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(219,219,219,1) 50%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(219,219,219,1) 50%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(237,237,237,1) 0%,rgba(219,219,219,1) 50%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

article.asset .top .share a.share span,
article.asset .top .share a.email span {
    display: block;
    float: left;
    background: url('/static/images/components/share-icons.png') 0 7px no-repeat;
    text-indent: -9999px;
    width: 15px;
    height: 10px;
    padding-right: 8px;
    border-right: 1px solid rgb(225,225,225);
    margin: -8px 8px 0 0;
    padding-bottom: 18px;
}

article.asset .top .share a.email span {
    background-position: -25px 10px;
    height: 15px;
}

/* Left side pull quote styling */

article.asset aside.pull-quote { width:160px; padding: 0 10px; border-bottom: 1px dotted rgb(153,153,153); }
article.asset aside.pull-quote span { float: left; margin-top: -30px; width:170px; padding:0 15px; font: bold 11px/30px 'arial', sans-serif; text-align:center; color:rgb(153,153,153); }
article.asset aside.pull-quote p { margin: 0; padding:15px 0; font:18px/25px 'arial', sans-serif; text-align:center; color:rgb(153,153,153); border-top: 1px dotted rgb(153,153,153); }
article.asset aside.pull-quote p sup { float:left; height:30px; margin: -9px -39px 0; padding:0 12px; font:60px 'georgia', serif; }
article.asset aside.pull-quote p sup.right { float:right; margin: 55px -39px 0 0; }

/* Story Highlights */

article.asset aside.story-highlights h3,
article.asset aside.blog-tag-cloud h3 {
    font: 700 12px/25px 'Futura', 'arial', sans-serif;
    text-transform: uppercase;
    color: rgb(153,153,153);
    border-bottom: 1px dotted rgb(212,212,212);
    margin: 0 auto;
}

article.asset aside.story-highlights ul,
article.asset aside.blog-tag-cloud ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

article.asset aside.story-highlights ul li {
    font: bold 12px/16px 'arial', sans-serif;
    color: rgb(153,153,153);
    border-bottom: 1px dotted rgb(212,212,212);
    padding: 12px 0 12px 15px;
    background: url('/static/images/components/story_highlights_bullets.png') 0 17px no-repeat;
}

article.asset aside.story-highlights ul li.last {
    border:none;
}

/* Blog Tag Cloud */

article.asset aside.blog-tag-cloud {
    clear: both;
}

article.asset aside.blog-tag-cloud ul li {
    display: inline-block;
    background: rgb(224,223,223);
    padding: 3px 5px;
    margin: 3px 3px 0 0;
    float: left;
    font: bold 12px arial, sans-serif;
}


article.asset aside.blog-tag-cloud ul li a {
    text-decoration: none;
    color: rgb(102,102,102);
}

/* Block Quote Styling */

article.asset blockquote {
    margin: 0 0 25px 220px;
    font: 14px/25px 'arial', sans-serif;
    color:
    rgb(51, 51, 51);
    font: bold 14px/25px 'arial', sans-serif;
    color: rgb(153,153,153);
}

/* More Stories Styling */

article.asset .mod.clist {
    float: left;
    width: 720px;
    margin-bottom: 30px;
}

article.asset .mod.clist ul.split-two > li {
    width: 49%;
}

article.asset h3.more-stories {
    float: left;
    font: 700 16px 'Futura', sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    width: 200px;
}

article.asset .mod.clist ul.split-two li:before {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* Next Previous in Series Styling */

article.asset .topic-nav {
    color: rgb(153,153,153);
    font: 11px/13px 'Arial', sans-serif;
    padding: 15px 0;
    background-image: url('/static/images/components/story-topic-ribbon-bg.png');
    background-repeat: repeat-x;
}

article.asset .topic-nav.top {
    background-image: url('/static/images/components/story-topic-ribbon-bg-top.png');
    background-position: 0 bottom;
    margin-left: -30px;
    width: 980px;
}

article.asset .topic-nav.bottom {
    margin: 0 0 0 -30px;
    width: 980px;
}

.topic-nav .topic-head,
.topic-nav .topic,
.topic-nav .topic li {
    float: left;
}

.topic-nav .topic-head,
.topic-nav .topic li {
    padding: 0 10px;
    text-align: center;
    width: 210px;
}

.topic-nav .topic-head {
    position: relative;
    width: 940px;
    text-align: center;
    height: auto;
    padding-left: 30px;
}

.topic-nav.top .topic-head {
    height: 55px;
}

.lt-ie9 .topic-nav.top .topic-head {
    background-color: rgb(242, 242, 242);
    top:-3px;
}

.topic-nav .topic {
    margin-top: 1px;
    width: 720px;
}

.topic-nav .topic-head h3 {
    font-size: 11px;
    font-weight: normal;
    margin: 0 30px 0;
    float: left;
    width: auto;
}

.topic-nav .topic-head h3 strong {
    color: rgb(51,51,51);
    display: block;
    font: 700 13px/15px 'Futura', 'Arial', sans-serif;
    margin-top: 5px;
    text-transform: uppercase;
}

.topic-nav .topic-head h3 strong a {
    color: inherit;
    text-decoration: none;
}

.topic-nav .topic a {
    color: rgb(102,102,102);
    font: bold 13px/15px 'Arial', sans-serif;
    text-decoration: none;
}

/* 'Sponsored Series' Bar */
article.asset .sponsored-series-bar {
    background: transparent url('/static/images/paper-noise-bar.png') repeat top left;
    color: rgb(153,153,153);
    margin-left: -30px;
    min-height: 49px;
    overflow: hidden;
    padding: 15px 0 0 0;
    position: relative;
    width: 980px;
}

article.asset .sponsored-series-bar .head h3 {
    color: rgb(77,77,77);
    font-family: 'Futura', sans-serif;
    font-size: 22px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 0 0 15px 30px;
    text-transform: uppercase;
}

article.asset .sponsored-series-bar .head > nav {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: inherit;
}

article.asset .sponsored-series-bar .head > nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

article.asset .sponsored-series-bar .head > nav ul li {
    color: rgb(102,102,102);
    border-left: 1px solid rgb(255,255,255);
    border-right: 1px solid rgb(222,222,222);
    display: block;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}

article.asset .sponsored-series-bar .head > nav ul li.sponsor {
    border-left: none;
    color: rgb(153,153,153);
    font-size: 11px;
    font-weight: normal;
    line-height: 11px;
    height: 34px;
    padding: 15px 20px 15px 0;
}

article.asset .sponsored-series-bar .head > nav ul li.sponsor > span {
    float: left;
    margin: 4px 10px 0 0;
    text-align: right;
}

article.asset .sponsored-series-bar .head > nav ul li.sponsor img {
    max-height: 34px;
}

article.asset .sponsored-series-bar .head > nav ul li.last {
    border-right: none;
}

article.asset .sponsored-series-bar .head > nav ul li a {
    color: rgb(102,102,102);
    display: block;
    height: 14px;
    padding: 25px 33px 25px 20px;
    text-decoration: none;
}

article.asset .sponsored-series-bar .head > nav ul li a:after {
    background: transparent url('/static/images/partner/sponsored-series-bar-sprite.png') no-repeat -36px 0;
    content: '';
    display: inline-block;
    height: 8px;
    margin-left: 5px;
    width: 8px;
}

article.asset .sponsored-series-bar .head > nav ul li.last a {
    padding-right: 30px;
}

article.asset .sponsored-series-bar .head > nav ul li a:hover {
    background: white url('/static/images/paper-noise.png') repeat top left;
    color: rgb(51,51,51);
}

article.asset .sponsored-series-bar .head > nav ul li:hover a:after {
    background-position: -36px -22px;
}

article.asset .sponsored-series-bar .head > nav ul li a.open {
    background: transparent url('/static/images/paper-noise-bar.png') repeat top left;
    height: 16px;
    color: rgb(0,0,0);
}

article.asset .sponsored-series-bar .head > nav ul li a.open:after {
    background-position: -18px 0;
}

article.asset .sponsored-series-bar .drawer {
    display: none;
    margin-top: 9px;
}

article.asset .sponsored-series-bar .drawer.open {
    border-top: 1px solid rgb(222,222,222);
    display: block;
    margin-top: 9px;
}

article.asset .sponsored-series-bar .drawer section {
    border-top: 1px solid rgb(255,255,255);
    display: none;
    padding: 10px 30px;
}

article.asset .sponsored-series-bar .drawer section.open {
    display: block;
}

article.asset .sponsored-series-bar .drawer section h4 {
    color: rgb(51,51,51);
    font-family: 'Futura', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin: 15px 0 0 0;
    text-transform: uppercase;
}

article.asset .sponsored-series-bar .drawer section p {
    color: rgb(51,51,51);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    margin-top: 15px;
}

article.asset .sponsored-series-bar .drawer section p.provided {
    color: rgb(153,153,153);
    font-size: 10px;
    font-style: normal;
    line-height: 10px;
    margin-top: 0;
}

article.asset .sponsored-series-bar .drawer .columns {
    margin: 15px -20px 0 -20px;
}

article.asset .sponsored-series-bar .drawer .columns > div {
    float: left;
    margin: 10px 0 0 20px;
}

article.asset .sponsored-series-bar .drawer .columns-2 {
    margin-top: 5px;
}

article.asset .sponsored-series-bar .drawer .columns-2 > div {
    color: rgb(102,102,102);
    width: 450px;
}

article.asset .sponsored-series-bar .drawer .columns-2 > div h5 {
    font-family: 'Futura', Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    margin: 0;
    text-transform: uppercase;
}

article.asset .sponsored-series-bar .drawer .columns-2 > div p {
    color: rgb(102,102,102);
    font-size: 12px;
    font-style: italic;
    line-height: normal;
    margin: 0;
}

article.asset .sponsored-series-bar .drawer .columns-2 > div h5 a {
    color: inherit;
    text-decoration: none;
}

article.asset .sponsored-series-bar .drawer .columns-2 > div h5 a:after {
    background: transparent url('/static/images/partner/sponsored-series-bar-sprite.png') no-repeat top right;
    content: '';
    display: inline-block;
    height: 14px;
    margin-left: 5px;
    width: 14px;
}

article.asset .sponsored-series-bar .drawer .columns-2 > div h5 a:hover {
    color: rgb(0,0,0);
}

article.asset .sponsored-series-bar .drawer .columns-2 > div h5:hover a:after {
    background-position: center right;
}

article.asset .sponsored-series-bar .drawer .columns-3 {
    margin-left: -10px;
    margin-right: -10px;
}

article.asset .sponsored-series-bar .drawer .columns-3 > div {
    margin: 0 0 0 10px;
    position: relative;
    width: 300px;
}

article.asset .sponsored-series-bar .drawer .columns-3 > div > a {
    border: 1px solid rgb(222,222,222);
    background-color: rgb(255,255,255);
    box-shadow: 0px 4px 8px 0px rgb(200, 200, 200);
    -moz-box-shadow: 0px 4px 8px 0px rgb(200, 200, 200);
    -webkit-box-shadow: 0px 4px 8px 0px rgb(200, 200, 200);
    display: block;
    margin-right: 10px;
    padding: 3px;
    position: relative;
    width: 187px;
}

article.asset .sponsored-series-bar .drawer .columns-3 > div > a span {
    background: url('/static/images/modules/live-feed/video-play.png') no-repeat;
    bottom: 10px;
    height: 34px;
    position: absolute;
    right: 10px;
    width: 34px;
}

article.asset .sponsored-series-bar .drawer .columns-3 > div h5 {
    color: rgb(51,51,51);
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 95px;
}

article.asset .sponsored-series-bar .drawer .columns-3 > div h5 a {
    color: inherit;
    display: block;
    text-decoration: none;
}

article.asset .sponsored-series-bar .drawer .columns-3 > div h5 a:after {
    background: transparent url('/static/images/partner/sponsored-series-bar-sprite.png') no-repeat bottom right;
    content: '';
    display: block;
    height: 14px;
    margin-top: 5px;
    width: 14px;
}

article.asset .sponsored-series-bar .drawer .columns-3 > div h5 a:hover {
    color: rgb(0,0,0);
}

article.asset .sponsored-series-bar .drawer .columns-3 > div h5:hover a:after {
    background-position: center right;
}

article.asset .sponsored-series-bar .drawer section p.call-to-action a {
    color: inherit;
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
}

article.asset .sponsored-series-bar .drawer section p.call-to-action a:after {
    background: transparent url('/static/images/partner/sponsored-series-bar-sprite.png') no-repeat top right;
    content: '';
    display: inline-block;
    height: 14px;
    margin: 0 0 0 5px;
    width: 14px;
}

article.asset .sponsored-series-bar .drawer section p.call-to-action a:hover {
    color: rgb(0,0,0);
}

article.asset .sponsored-series-bar .drawer section p.call-to-action:hover a:after {
    background-position: center right;
}

article.asset .sponsored-series-bar .drawer .close-drawer {
    margin-top: 15px;
    text-align: center;
}

article.asset .sponsored-series-bar .drawer .close-drawer a {
    background-color: rgba(204,204,204,0.23);
    border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    color: rgb(153,153,153);
    display: inline-block;
    font-size: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 10px;
    padding: 7px 14px 11px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgb(255,255,255);
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
    text-transform: uppercase;
}

article.asset .sponsored-series-bar .drawer .close-drawer a span {
    display: inline-block;
}

article.asset .sponsored-series-bar .drawer .close-drawer a span:after {
    background: transparent url('/static/images/partner/sponsored-series-bar-sprite.png') no-repeat top left;
    content: '';
    display: inline-block;
    height: 9px;
    margin-left: 5px;
    width: 8px;
}

article.asset .sponsored-series-bar .drawer .close-drawer a:hover {
    background-color: rgba(204,204,204,0.33);
    color: rgb(0,0,0);
}

article.asset .sponsored-series-bar .drawer .close-drawer a:hover span:after {
    background-position: bottom left;
}

article.asset .sponsored-series-bar span.border {
    background: transparent url('/static/images/components/sponsored-story-bottom-border.png') repeat-x bottom left;
    bottom: 0;
    height: 6px;
    left: 0;
    position: absolute;
    width: 980px;
}

/* 'You Were Reading' Bar */

.prev-story {
    background: url('/static/images/components/story-prev-bar-grey-linen.jpg') repeat-x;
    border-bottom: 1px solid rgb(253,253,253);
    display: none;
    height: 40px;
}

.prev-story a {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 13px 30px 11px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
}

.prev-story a:before {
    background: url('/static/images/components/story-sprite.png') no-repeat;
    content: '';
    display: block;
    float: left;
    height: 12px;
    margin: 0 8px 0 0;
    position: relative;
    top: 2px;
    width: 12px;
}

.prev-story a:hover {
    color: rgb(241,241,241);
}

/* Right Author styling */

article.asset aside.right > div.story-author {
    display: block;
    width: 320px;
    min-height: 100px;
    padding: 0;
}

article.asset .comp.story-author h3 {
    font: 700 16px 'Futura', sans-serif;
    color: rgb(30, 163, 255);
    text-transform: uppercase;
    text-align: center;
}

article.asset .comp.story-author .light-shade {
    border-right: 1px solid rgb(230,230,230);
    border-left: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
    float: left;
    padding: 40px 0 0;
    margin-top: -38px;
    position: relative;
    text-align: center;
    width: 318px;
    z-index: 160;
}

article.asset .comp.story-author .light-shade p {
    color: rgb(153, 153, 153);
    font: 12px/16px 'arial', sans-serif;
    padding-bottom: 10px;
    text-align: center;
    width: 265px;
    margin: 0 auto;
}

article.asset .comp.story-author .light-shade .full-bio {
    border: medium none;
    padding: 0;
    height: 20px;
}

article.asset .comp.story-author .light-shade .full-bio-inline {
    background: url('../../../static/images/components/full-bio-arrow.png') no-repeat 0px 6px;
    color: rgb(51,51,51);
    display: inline-block;
    font: bold 12px/30px 'arial', sans-serif;
    height: 30px;
    width: 95px;
    margin-left: 10px;
    text-decoration: none;
}

article.asset .comp.story-author .light-shade .follow-wrapper {
    height: 10px;
    border-top: 1px dotted rgb(203, 203, 203);
}


article.asset .comp.story-author .light-shade .follow-email {
    display: inline-block;
    background: url('../../../static/images/components/article-bio-email.png') no-repeat 0px 4px;
    color: rgb(51,51,51);
    font: bold 12px/30px 'arial', sans-serif;
    height: 30px;
    margin: 10px 0;
    text-decoration: none;
}

article.asset .comp.story-author .light-shade .follow-email span {
   display: inline-block;
   margin-left: 25px;
   max-width: 260px;
}


article.asset .comp.story-author .light-shade .follow-fb,
article.asset .comp.story-author .light-shade .follow-twitter {
    border: 1px solid rgb(209, 209, 209);
    padding: 2px 1px;
    display: inline-block;
    font: bold 12px/30px 'arial',sans-serif;
    width: 125px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

article.asset .comp.story-author .light-shade .follow-fb a,
article.asset .comp.story-author .light-shade .follow-twitter a,
article.asset .comp.story-author .light-shade .follow-email a {
    color: #333333;
    text-decoration: none;
}

article.asset .comp.story-author .light-shade .follow-fb a:hover,
article.asset .comp.story-author .light-shade .follow-twitter a:hover,
article.asset .comp.story-author .light-shade .follow-email a:hover {
    color: #1EA3FF;
    text-decoration: none;
}

article.asset .comp.story-author .light-shade .full-bio a {
    background: url('/static/images/components/full-bio-arrow.png') no-repeat 48px 4px;
    color: rgb(51,51,51);
    display: inline-block;
    font: bold 12px/30px 'arial', sans-serif;
    height: 30px;
    padding-right: 28px;
    margin-right: 10px;
    text-decoration: none;
}

article.asset .comp.story-author h6,
article.asset .series-head > h6 {
    font-family: Futura;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    font-weight: 700;
    float: left;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 170;
    margin: 8px 0 0;
    padding-top: 9px;
    text-align:center;
    text-transform: uppercase;
    color:rgb(255,255,255);
    background:url('/static/images/components/story-updates-bg.png') no-repeat;
}

article.asset .comp.story-author img.author {
    margin: -20px 0 0 0;
    position: relative;
    z-index: 180;
}

/* Right side related stories styling */

article.asset aside.right > div.related-stories {
    display: block;
    width:322px;
    min-height:100px;
    padding: 0;
}

article.asset .comp.related-stories h6 {
    float: left;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 170;
    margin: 25px 0 48px;
    padding-top: 7px;
    text-align:center;
    text-transform: uppercase;
    font: 12px 'Futura', sans-serif;
    color:rgb(255,255,255);
    background:url('/static/images/components/story-updates-bg.png') no-repeat;
}

article.asset .comp.related-stories ul {
    padding:30px 0 0 20px;
    float:left;
    margin-top:-83px;
    position: relative;
    z-index: 160;
    list-style:none;
    border-right: 1px solid rgb(230,230,230);
    border-left: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
}

article.asset .comp.related-stories ul li {
    float:left;
    border-bottom: 1px dotted rgb(230,230,230);
    background: url('/static/images/components/related_story_icon.png') 16px 3px no-repeat;
}
article.asset .comp.related-stories ul li,
article.asset .comp.related-stories ul li a {
    font: bold 13px/18px 'arial', sans-serif;
    color: rgb(51,51,51);
    margin: 10px 0 0 -19px;
    padding: 0 4px 10px 19px;
    padding-left: 19px;
    width:296px;
}

article.asset .comp.related-stories ul li.last {
    border:none;
}

article.asset .comp.related-stories ul li a {
    text-decoration:none;
    border:none;
}

article.asset .comp.related-stories ul li a:hover {
    text-decoration: underline;
}

article.asset .comp.related-stories ul li .time_elapsed {
    float:left;
    margin:10px 0 0 25px;
    width:100%;
    font: italic 11px 'arial', sans-serif;
    color: rgb(187,187,187);
    clear:both;
}

article.asset .comp.related-stories ul li .story_name {
    float: left;
    margin-left: 25px;
}

/* Right side story updates */

article.asset aside.right > div.story-updates {
    display: block;
    width:322px;
    min-height:100px;
    padding: 0;
}

article.asset .comp.story-updates h6 {
    float: left;
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 170;
    margin: 8px 0 48px;
    padding-top: 7px;
    text-align:center;
    text-transform: uppercase;
    font: 12px 'Futura', sans-serif;
    color:rgb(255,255,255);
    background:url('/static/images/components/story-updates-bg.png') no-repeat;
}

article.asset .comp.story-updates ul {
    padding:30px 0 0 20px;
    float:left;
    margin-top:-83px;
    position: relative;
    z-index: 160;
    list-style:none;
    border-right: 1px solid rgb(230,230,230);
    border-left: 1px solid rgb(230,230,230);
    border-bottom: 1px solid rgb(230,230,230);
}

article.asset .comp.story-updates ul li,
article.asset .comp.story-updates ul li a {
    font: bold 13px/18px 'arial', sans-serif;
    color: rgb(51,51,51);
    border-bottom: 1px dotted rgb(230,230,230);
    margin:0 0 0 -20px;
    padding:0 0 10px 20px;
    width:300px;
}

article.asset .comp.story-updates ul li.last {
    border:none;
}

article.asset .comp.story-updates ul li a {
    text-decoration:none;
    border:none;
}

article.asset .comp.story-updates ul li a:hover {
    text-decoration: underline;
}

article.asset .comp.story-updates ul li .time_elapsed {
    float:left;
    margin:10px 0 5px;
    width:100%;
    font: italic 11px 'arial', sans-serif;
    color: rgb(187,187,187);
    clear:both;
}

/* Top Chatter */

article.asset .top p.chatter {
    color: rgb(153,153,153);
    float: left;
    font: bold 12px/18px 'arial', sans-serif;
    width: 560px;
}

/* Top Headline Styling */

article.asset h1 {
    color: rgb(51,51,51);
    font: bold 42px/48px 'helvetica neue', 'arial', sans-serif;
    margin: 0;
    padding: 15px 0 0;
}

article.asset .gallery-title {
    font-size: 30px;
    line-height: 36px;
    margin-top: 5px;
}

article.asset .gallery-desc {
    color: rgb(153,153,153);
    font: bold 12px/18px 'Arial';
    margin-top: 10px;
}

/* Top Next / Previous Styling */

article.asset nav {
    margin: 0 0 10px -30px;
    padding: 0 30px 0;
    position: relative;
    width: 920px;
    z-index: 110;
}

div.comp.article-nav {
    height: auto;
    margin: 10px 0 0;
    width: 925px;
}

div.comp.article-nav p.prev,
div.comp.article-nav p.next {
    float:left;
    width:305px;
    height:24px;
    padding-left:30px;
    font: 11px/4px 'arial', sans-serif;
    color: rgb(153,153,153);
    text-decoration: none;
    background: url('/static/images/components/previous_next_story_arrows.png') no-repeat 0 0;
}

div.comp.article-nav p.next {
    float:right;
    text-align:right;
    padding-left: 0;
    padding-right: 30px;
    background-position: 100% -24px;
}

div.comp.article-nav p span {
    float:left;
    clear:both;
    margin: 10px 0;
    font: bold 12px/4px 'arial', sans-serif;
    color: rgb(102,102,102);
}

div.comp.article-nav p.next span {
    float:right;
}

div.comp.article-nav .this-story {
    clear: none;
    float: left;
    margin: 0 39px;
    width: 176px;
}

div.comp.article-nav .this-story p {
    width: auto;
    font: 11px/4px 'arial', sans-serif;
    color: rgb(153,153,153);
    text-decoration: none;
    text-align: center;
}

div.comp.article-nav .this-story p strong {
    font: 700 13px/35px 'Futura',sans-serif;
    color: rgb(51,51,51);
}

/* Top Previous story breadcrumb */

div.comp.prev-reading {
    height: 30px;
    margin: 0;
    padding: 10px 30px 0;
    margin-left:-30px;
    position: relative;
    width: 920px;
    z-index: 110;
    background: gray;
    border-bottom: 1px solid rgb(163,163,163);
}

div.comp.prev-reading a {
    padding-left:20px;
    font: bold 12px/4px 'arial', sans-serif;
    color: rgb(255,255,255);
    text-decoration: none;
    background: url('/static/images/components/previous_next_story_arrows_sm.png') no-repeat 0 2px;
}

div.comp-prev-reading a.next {
    background-position: 0 -12px;
}

/* Article Video Player Styling */

.asset .video {
    height: 508px;
    margin: 0 0 20px 0;
    overflow: hidden;
    position: relative;
    width: 920px;
}

.asset.video-permalink .video {
    margin-top: 20px;
}

.asset .double-wide .video {
    height: 308px;
    width: 560px;
}

.asset .videoStill,
.asset .videoStillPlay,
.asset .videoObject {
    cursor: pointer;
    position: absolute;
    z-index: 0;
}

.asset .videoObject {
    display: none;
    z-index: 10;
}

/* Padding for videos of embed type.. (youtube) */
.asset .embed {
    max-width: 560px;
    padding: 20px 0;
}

/* Asset View Poster */

article.asset .partner.poster {
    background: rgb(222,222,222) url('/static/images/paper-noise-ad.png') repeat;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/**
 * NOT USED FOR ALPHA
 */
article.asset .partner.poster .close-btn {
    background: url('/static/images/components/ad-close-btn-20x20.png') no-repeat;
    color: rgb(153,153,153);
    font: 700 12px/12px 'Futura';
    display: inline-block;
    height: 20px;
    padding: 5px 5px 3px 28px;
    text-decoration: none;
    text-transform: uppercase;
}

article.asset .partner.poster .close-btn:hover {
    text-decoration: underline;
}

article.asset .partner.poster > span {
    color: rgb(153,153,153);
    display: block;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/* Asset View Extras */

article.asset .gallery-more h2 {
    color: rgb(51,51,51);
    font: 700 16px/20px 'Futura', 'arial', sans-serif;
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
}

article.asset .mod.headlines .headline {
    margin: 0 20px 20px 0;
}

article.asset .mod.headlines .headline.end-item {
    margin-right: 0;
}

/**
 * Article Single Image Embed
 */
article.asset .single-photo p {
    color: rgb(102,102,102);
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    margin: 6px 0 0 0;
    padding:0 30px;
}

article.asset .single-photo .credit {
    font-style: italic;
    font-weight: normal;
}

/* Embedded Tweet */

article.asset .tweet.pulled {
    margin: 20px 0 20px 220px;
    height: 128px;
    float: left;
    padding: 30px 0;
    border-top: 1px dotted
    rgb(153, 153, 153);
    border-bottom: 1px dotted
    rgb(153, 153, 153);
}

/* Embedded MapBox map */

article.asset .map .mapboxWrap {
    height: 150px;
    width: 180px;
}

article.asset .map.wide .mapboxWrap {
    height: 350px;
    width: 560px;
}

/* Series Promo Right Rail */

article.asset .series-promo ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

article.asset .series-nav,
article.asset .series-partner {
    display: none;
}

article.asset .sponsored .series-nav,
article.asset .sponsored .series-partner {
    display: block;
}

article.asset .series-head-wrap {
    background: rgb(0, 165, 60) url('/static/images/noise.png') repeat top left;
}

article.asset .sponsored .series-head {
    padding: 20px;
}

article.asset .series-head a {
    color: #fff;
    text-decoration: none;
}

article.asset .series-head > h6 {
    margin-bottom: -40px;
}

article.asset .sponsored .series-head > h6 {
    background: none;
    float: none;
    font: bold 22px 'Futura';
    height: auto;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}

article.asset .series-head ul {
    margin: 10px 0 0;
    overflow: hidden;
}

article.asset .series-head li {
    border-left: 1px solid rgba(235,235,235,0.4);
    border-right: 1px solid rgba(51,51,51,0.2);
    float: left;
    padding: 0 15px;
}

article.asset .series-head li:first-child {
    border-left: 0;
    padding-left: 0;
}

article.asset .series-head li:last-child {
    border-right: 0;
    padding-right: 0;
}

article.asset .series-head li a {
    background: url('/static/images/buttons/sprite-hero.png') no-repeat top left;
    font-size: 14px;
    font-weight: bold;
    padding: 1px 0 0 22px;
}

article.asset .series-partner hr {
    border-bottom: 1px solid rgba(235,235,235,0.4);
    border-top: 1px solid rgba(51,51,51,0.2);
    height: 0;
    margin: 0;
}

article.asset .series-partner p {
    color: rgb(255,255,255);
    font-size: 11px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 20px;
}

article.asset .series-promo .clst {
    border-bottom: 1px solid rgb(230,230,230);
    border-left: 1px solid rgb(230,230,230);
    border-right: 1px solid rgb(230,230,230);
    border-top: 0;
    clear: both;
}

article.asset .series-promo .clst ul {
    border: 0;
    padding-top: 20px;
}

article.asset .sponsored .clst ul {
    padding-top: 0;
}

article.asset .series-promo .clst li {
    border: 0;
    border-top: 1px dashed rgb(230,230,230);
    min-height: 80px;
    padding: 20px;
}

article.asset .series-promo .clst li:first-child {
    border-top: 0;
}

article.asset .series-promo .clst .headline {
    margin: 0;
}

article.asset .series-promo .clst .headline a {
    color: rgb(51,51,51);
}

article.asset .series-promo .clst .meta a {
    font-weight: bold;
}


/* MapBox (Leaflet) required styles. http://leaflet.cloudmade.com */
/* required styles */

article.asset .leaflet-map-pane,
article.asset .leaflet-tile,
article.asset .leaflet-marker-icon,
article.asset .leaflet-marker-shadow,
article.asset .leaflet-tile-pane,
article.asset .leaflet-overlay-pane,
article.asset .leaflet-shadow-pane,
article.asset .leaflet-marker-pane,
article.asset .leaflet-popup-pane,
article.asset .leaflet-overlay-pane svg,
article.asset .leaflet-zoom-box,
article.asset .leaflet-image-layer { /* TODO optimize classes */
    position: absolute;
}
article.asset .leaflet-container {
    overflow: hidden;
}
.leaflet-tile-pane, .leaflet-container {
    -webkit-transform: translate3d(0,0,0);
}
article.asset .leaflet-tile,
article.asset .leaflet-marker-icon,
article.asset .leaflet-marker-shadow {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.leaflet-marker-icon,
.leaflet-marker-shadow {
    display: block;
}
.leaflet-clickable {
    cursor: pointer;
}
.leaflet-container img {
    max-width: none !important;
}

article.asset .leaflet-tile-pane { z-index: 2; }

article.asset .leaflet-objects-pane { z-index: 3; }
article.asset .leaflet-overlay-pane { z-index: 4; }
article.asset .leaflet-shadow-pane { z-index: 5; }
article.asset .leaflet-marker-pane { z-index: 6; }
article.asset .leaflet-popup-pane { z-index: 7; }

article.asset .leaflet-zoom-box {
    width: 0;
    height: 0;
}

article.asset .leaflet-tile {
    visibility: hidden;
}
article.asset .leaflet-tile-loaded {
    visibility: inherit;
}

article.asset a.leaflet-active {
    outline: 2px solid orange;
}


/* Leaflet controls */

article.asset .leaflet-control {
    position: relative;
    z-index: 7;
}
article.asset .leaflet-top,
article.asset .leaflet-bottom {
    position: absolute;
}
article.asset .leaflet-top {
    top: 0;
}
article.asset .leaflet-right {
    right: 0;
}
article.asset .leaflet-bottom {
    bottom: 0;
}
article.asset .leaflet-left {
    left: 0;
}
article.asset .leaflet-control {
    float: left;
    clear: both;
}
article.asset .leaflet-right .leaflet-control {
    float: right;
}
article.asset .leaflet-top .leaflet-control {
    margin-top: 10px;
}
article.asset .leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
}
article.asset .leaflet-left .leaflet-control {
    margin-left: 10px;
}
article.asset .leaflet-right .leaflet-control {
    margin-right: 10px;
}

article.asset .leaflet-control-zoom, .leaflet-control-layers {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}
article.asset .leaflet-control-zoom {
    padding: 5px;
    background: rgba(0, 0, 0, 0.25);
}
article.asset .leaflet-control-zoom a {
    background-color: rgba(255, 255, 255, 0.75);
}
article.asset .leaflet-control-zoom a, .leaflet-control-layers a {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}
article.asset .leaflet-control-zoom a {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 19px;
    height: 19px;
}
article.asset .leaflet-control-zoom a:hover {
    background-color: #fff;
}
article.asset .leaflet-big-buttons .leaflet-control-zoom a {
    width: 27px;
    height: 27px;
}
article.asset .leaflet-control-zoom-in {
    background-image: url(/static/images/modules/maps/zoom-in.png);
    margin-bottom: 5px;
}
article.asset .leaflet-control-zoom-out {
    background-image: url(/static/images/modules/maps/zoom-out.png);
}

article.asset .leaflet-control-layers {
    -moz-box-shadow: 0 0 7px #999;
    -webkit-box-shadow: 0 0 7px #999;
    box-shadow: 0 0 7px #999;

    background: #f8f8f9;
}
article.asset .leaflet-control-layers a {
    background-image: url(/static/images/modules/maps/layers.png);
    width: 36px;
    height: 36px;
}
article.asset .leaflet-big-buttons .leaflet-control-layers a {
    width: 44px;
    height: 44px;
}
article.asset .leaflet-control-layers .leaflet-control-layers-list,
article.asset .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
}
article.asset .leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;
}
article.asset .leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #333;
    background: #fff;
}
article.asset .leaflet-control-layers input {
    margin-top: 2px;
    position: relative;
    top: 1px;
}
article.asset .leaflet-control-layers label {
    display: block;
}
article.asset .leaflet-control-layers-separator {
    height: 0;
    border-top: 1px solid #ddd;
    margin: 5px -10px 5px -6px;
}

article.asset .leaflet-container .leaflet-control-attribution {
    display: none;
    margin: 0;
    padding: 0 5px;

    font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #333;

    background-color: rgba(255, 255, 255, 0.7);

    -moz-box-shadow: 0 0 7px #ccc;
    -webkit-box-shadow: 0 0 7px #ccc;
    box-shadow: 0 0 7px #ccc;
}


/* Fade animations */

article.asset .leaflet-fade-anim .leaflet-tile {
    opacity: 0;

    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
article.asset .leaflet-fade-anim .leaflet-tile-loaded {
    opacity: 1;
}

article.asset .leaflet-fade-anim .leaflet-popup {
    opacity: 0;

    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
article.asset .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
}

article.asset .leaflet-zoom-anim .leaflet-tile {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

article.asset .leaflet-zoom-anim .leaflet-objects-pane {
    visibility: hidden;
}


/* Popup layout */

article.asset .leaflet-popup {
    position: absolute;
    text-align: center;
    -webkit-transform: translate3d(0,0,0);
}
article.asset .leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
}
article.asset .leaflet-popup-content {
    margin: 19px;
}
article.asset .leaflet-popup-tip-container {
    margin: 0 auto;
    width: 40px;
    height: 16px;
    position: relative;
    overflow: hidden;
}
article.asset .leaflet-popup-tip {
    width: 15px;
    height: 15px;
    padding: 1px;

    margin: -8px auto 0;

    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
article.asset .leaflet-popup-close-button {
    position: absolute;
    top: 9px;
    right: 9px;

    width: 10px;
    height: 10px;

    overflow: hidden;
}
article.asset .leaflet-popup-content p {
    margin: 18px 0;
}


/* Visual appearance */

article.asset .leaflet-container {
    background: #ddd;
}
article.asset .leaflet-container a {
    color: #0078A8;
}
article.asset .leaflet-zoom-box {
    border: 2px dotted #05f;
    background: white;
    opacity: 0.5;
}
article.asset .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: white;

    box-shadow: 0 1px 10px #888;
    -moz-box-shadow: 0 1px 10px #888;
     -webkit-box-shadow: 0 1px 14px #999;
}
article.asset .leaflet-popup-content-wrapper {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
article.asset .leaflet-popup-content {
    font: 12px/1.4 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
article.asset .leaflet-popup-close-button {
    background: white url(/static/images/modules/maps/popup-close.png);
}


/* LT IE MapBox (Leaflet) */

.lt-ie9 .leaflet-tile {
    filter: inherit;
}

.lt-ie9 .leaflet-vml-shape {
    width: 1px;
    height: 1px;
}
.lt-ie9 .lvml {
    behavior: url(#default#VML);
    display: inline-block;
    position: absolute;
}

.lt-ie9 .leaflet-control {
    display: inline;
}

.lt-ie9 .leaflet-popup-tip {
    width: 21px;
    _width: 27px;
    margin: 0 auto;
    _margin-top: -3px;

    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
}
.lt-ie9 .leaflet-popup-tip-container {
    margin-top: -1px;
}
.lt-ie9 .leaflet-popup-content-wrapper, .lt-ie9 .leaflet-popup-tip {
    border: 1px solid #bbb;
}

.lt-ie9 .leaflet-control-zoom {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3F000000',EndColorStr='#3F000000');
}
.lt-ie9 .leaflet-control-zoom a {
    background-color: #eee;
}
.lt-ie9 .leaflet-control-zoom a:hover {
    background-color: #fff;
}
.lt-ie9 .leaflet-control-layers-toggle {
}
.lt-ie9 .leaflet-control-attribution, .lt-ie9 .leaflet-control-layers {
    background: white;
}

