/**
 * @fileoverview Defines the grid structure and placement rules for the story pages.
 * @supported Tested in Chrome and Safari
 */

div.film {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

div.film.fullscreen {
	z-index: 201;
}

#overlay {
	overflow: hidden;
	width: 100%;
    -webkit-backface-visibility: hidden;

}

#overlay > .content {
	margin: 0;
	position: relative;
}

article.asset {
	margin: 0 auto;
	min-height: 1400px; /* default, to be set in js later */
	padding: 0px 30px 40px;
	position: relative;
	top: 0;
	width: 920px;
	z-index: 110;
}

article.asset.fixed {
	left: 50%;
	margin-left: -490px;
	position: fixed;
	width: 100%;
}

.content-wrap {
    position: relative;
    z-index: 110;
}

.content-wrap.staged {
	position: fixed;
	top: 40px;
	width: 100%;
}

.content-wrap.staged.right {
	right: -100%;
}

.content-wrap.staged.left {
	left: -100%;
}

.transition-wrap {
	margin: 0 auto;
	opacity: 0;
	position: relative;
	-webkit-transform-origin: 50% 0;
	   -moz-transform-origin: 50% 0;
	    -ms-transform-origin: 50% 0;
	     -o-transform-origin: 50% 0;
	        transform-origin: 50% 0;
	-webkit-transition-duration: 0.4s;
	   -moz-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
	-webkit-transition-property: -webkit-transform, opacity;
	   -moz-transition-property: -moz-transform,    opacity;
	     -o-transition-property: -o-transform,      opacity;
	        transition-property: transform,         opacity;
	width: 980px;
	z-index: 110;
}

.transition-wrap.zoomed-out {
	-webkit-transform: scale(0.4);
	   -moz-transform: scale(0.4);
	    -ms-transform: scale(0.4);
	     -o-transform: scale(0.4);
	        transform: scale(0.4);
}

.transition-wrap.zoomed-in {
	-webkit-transform: scale(1.0);
	   -moz-transform: scale(1.0);
	    -ms-transform: scale(1.0);
	     -o-transform: scale(1.0);
	        transform: scale(1.0);
}

.transition-wrap.show {
	opacity: 1.0;
	-webkit-transition-delay: 0.35s;
	   -moz-transition-delay: 0.35s;
	     -o-transition-delay: 0.35s;
	        transition-delay: 0.35s;
	-webkit-transition-duration: 0.4s;
	   -moz-transition-duration: 0.4s;
	     -o-transition-duration: 0.4s;
	        transition-duration: 0.4s;
}

.no-transition .transition-wrap {
	-webkit-transition-delay: 0s;
	   -moz-transition-delay: 0s;
	     -o-transition-delay: 0s;
	        transition-delay: 0s;
	-webkit-transition-duration: 0s;
	   -moz-transition-duration: 0s;
	     -o-transition-duration: 0s;
	        transition-duration: 0s;
}

article.asset > .top {
	min-height: 58px;
}

article.asset > .interactive {
	margin: 0 -30px;
	position: relative;
	width: 980px;
	z-index: 0;
}

article.asset > .full {
	margin: 0 -20px 20px;
	min-height: 33px;
	width: 960px;
}

article.asset > .double-wide {
	float: left;
	width: 560px;
}

article.asset > .double-wide p {
	margin: 0 0 20px 220px;
	font: 14px/25px 'arial', sans-serif;
	color: rgb(51,51,51);
}

article.asset > .double-wide p.lead-in {
	margin-left: 0;
	font: 18px/30px 'arial', sans-serif;
	color: rgb(51,51,51);
}

article.asset > .double-wide img,
article.asset > .double-wide object {
     max-width: 100%;
}
.lt-ie8 article.asset > .double-wide img,
.lt-ie8 article.asset > .double-wide object {
    width:100%;
    -ms-interpolation-mode: bicubic;
}


article.asset > aside.right {
	clear: right;
	float: right;
	width: 320px;
}

article.asset > .double-wide aside {
	clear: left;
	float: left;
	width: 180px;
}

article.asset > .double-wide aside.wide {
	float: none;
	width: auto;
}

/**
 * Clearing
 */

article.asset > .top,
article.asset > .bottom,
article.asset > .full {
	clear: both;
}

article.asset > .full {
	margin: auto 0;
}

/**
 * Spacing
 */

article.asset > .top,
article.asset > .interactive,
article.asset > .double-wide,
article.asset > aside.right,
article.asset > .bottom,
article.asset > .double-wide .comp,
article.asset > .double-wide aside {
	margin-bottom: 20px;
}

/**
 * Arrow Buttons (left/right).
 */

.overlay-arrows .next-wrap,
.overlay-arrows .previous-wrap {
    margin-top: -34px;
    position: fixed;
    height: 68px;
    width: 36px;
    top: 50%;
    z-index: 114;
    opacity: 0;
    transition: opacity .4s ease;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
}

.overlay-arrows.show .next-wrap,
.overlay-arrows.show .previous-wrap {
	opacity: 1;
}

.overlay-arrows.show .disabled {
	background-image: url(/static/images/global/sprite.png);
	opacity: .5;
    z-index: 1;
}

.overlay-arrows .next-wrap {
	background-position: -64px 0;
	right: 0;
}

/* using this to overwrite styles in IE8 */
.lt-ie9 .overlay-arrows .next-wrap.disabled {
	background-position: -64px -242px;
}

.lt-ie9 .overlay-arrows .previous-wrap.disabled {
	background-position: 0 -242px;
}

.overlay-arrows.show .next-wrap {
	right: 0;
}

.overlay-arrows .previous-wrap {
	background-position: 0 0;
}

.overlay-arrows a {
    background: transparent url(/static/images/global/sprite.png) no-repeat;
    color: rgb(255,255,255);
    display: block;
    font-size: 12px;
    height: 68px;
    text-decoration: none;
    width: 36px;
    z-index: 115;
}

.overlay-arrows .next {
	background-position: -64px 0;
}

.overlay-arrows .previous {
	background-position: 0 0;
}

.overlay-arrows .disabled a {
	display: none;
}

.overlay-arrows .preview {
	background: rgba(0,0,0,0.9);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,.5);
	overflow: hidden;
	padding: 15px 18px;
	position: absolute;
	top: -17px;
	transition: left .2s ease, right .2s ease;
	-webkit-transition: left .2s ease, right .2s ease;
	-moz-transition: left .2s ease .1s, right .2s ease .1s;
    width: 244px;
}

.overlay-arrows .previous .preview {
    left: -280px;
}

.overlay-arrows .previous:hover .preview {
	left: 0;
}

.overlay-arrows .next .preview {
	right: -280px;
}

.overlay-arrows .next:hover .preview {
	right: 0;
}

.overlay-arrows .preview:before {
	background: url(/static/images/global/sprite.png);
	content: '';
	display: block;
	height: 64px;
	margin-top: -32px;
	position: absolute;
	top: 50%;
	width: 30px;
}

.overlay-arrows .previous .preview:before {
	background-position: -115px 0;
	left: 0;
}

.overlay-arrows .next .preview:before {
	background-position: -163px 0;
	right: 0;
}

.overlay-arrows .preview-content {
	display: table-cell;
	height: 70px;
	vertical-align: middle;
	white-space: nowrap;
}

.overlay-arrows .set {
	color: rgb(153,153,153);
	font-size: 11px;
}

.overlay-arrows .dir {
	text-transform: capitalize;
}

.overlay-arrows .title {
	font-weight: bold;
}

.overlay-arrows a img {
	border: 2px solid rgb(53,53,53);
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
	display: inline-block;
	height: 60px;
	vertical-align: middle;
	width: 60px;
}

.overlay-arrows .previous img,
.overlay-arrows .previous .text {
	margin: 0 0 0 18px;
}

.overlay-arrows .next img,
.overlay-arrows .next .text {
	margin: 0 18px 0 0;
}

.overlay-arrows a .noimage .text {
    max-width: 225px;
}
.overlay-arrows a .text {
	display: inline-block;
	max-width: 140px;
	vertical-align: middle;
	white-space: normal;
}
