/**
* @fileoverview A kit to display global UI elements across the entire site
* @author mdkennedy@gannett.com (Mark Kennedy), erik.kallevig@f-i.com (Erik Kallevig)
*/


/* =============================================================================
   Globals
   ========================================================================== */

.ui-light,
.ui-dark {
    font-size: 12px;
    text-decoration: none;
}

.ui-light a,
.ui-dark a  {
    outline: none;
    text-decoration: none;
}

.ui-light a {
    color: rgb(102,102,102);
}

.ui-dark a {
    color: rgb(255,255,255);
}

.ui-label {
    line-height: normal;
    vertical-align: top;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 12px;
    font-weight: bold;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.ui-light .ui-label {
    color: rgb(73,73,73);
}

.ui-dark .ui-label {

}

.ui-label.ui-label-left {
    text-align: right;
    margin-right: 6px;
}

.ui-label.ui-label-right {
    text-align: left;
    margin-left: 6px;
}

.ui-btn {
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    display: inline-block;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    vertical-align: top;
    text-shadow: 0 1px 0 rgba(0,0,0,.8);
}

.ui-btn.icon:before {
    background: url(/static/images/buttons/button-icons.png) no-repeat;
    content: "";
    display: inline-block;
    height: 9px;
    margin-right: 5px;
    width: 10px;
}

.ui-light .ui-btn,
.ui-light.ui-btn {
    background: rgb(254,254,254);
    background: -moz-linear-gradient(rgb(254,254,254), rgb(232,232,232));
    background: -ms-linear-gradient(rgb(254,254,254), rgb(232,232,232));
    background: -o-linear-gradient(rgb(254,254,254), rgb(232,232,232));
    background: -webkit-linear-gradient(rgb(254,254,254), rgb(232,232,232));
    background: linear-gradient(rgb(254,254,254), rgb(232,232,232));
    border: 1px solid rgb(162,162,162);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 -1px 0 rgba(255,255,255,.2);
    color: rgb(102,102,102);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.4);
}

.ui-dark .ui-btn,
.ui-dark.ui-btn {
    background: rgb(59,59,59);
    background: -moz-linear-gradient(rgb(59,59,59), rgb(49, 49, 49));
    background: -ms-linear-gradient(rgb(59,59,59), rgb(49, 49, 49));
    background: -o-linear-gradient(rgb(59,59,59), rgb(49, 49, 49));
    background: -webkit-linear-gradient(rgb(59,59,59), rgb(49, 49, 49));
    background: linear-gradient(rgb(59,59,59), rgb(49, 49, 49));
    border: 1px solid rgb(25,25,25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.14),
                inset 0 -1px 0 rgba(255,255,255,.04);
    color: rgb(204,204,204);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.24);
}

.ui-btn.on-dark {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.ui-light .ui-btn.on-dark,
.ui-light.ui-btn.on-dark {
    background: rgb(230,230,230);
    border-color: rgb(230,230,230);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    color: rgb(51,51,51);

}

.ui-dark .ui-btn.on-dark,
.ui-dark.ui-btn.on-dark {
    background: rgb(71,71,71);
    background: -moz-linear-gradient(top,  rgb(71,71,71) 0%, rgb(62,62,62) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(71,71,71)), color-stop(100%,rgb(62,62,62)));
    background: -webkit-linear-gradient(top,  rgb(71,71,71) 0%,rgb(62,62,62) 100%);
    background: -o-linear-gradient(top,  rgb(71,71,71) 0%,rgb(62,62,62) 100%);
    background: -ms-linear-gradient(top,  rgb(71,71,71) 0%,rgb(62,62,62) 100%);
    background: linear-gradient(top,  rgb(71,71,71) 0%,rgb(62,62,62) 100%);
    border-color:rgb(71,71,71);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    color: rgb(255,255,255);
}


.ui-light .ui-btn:hover,
.ui-light.ui-btn:hover {
    background: rgb(230,230,230);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),
                inset 0 -1px 0 rgba(255,255,255,.05),
                0px 1px 2px -1px rgba(0, 0, 0, 0.4);
}

.ui-dark .ui-btn:hover,
.ui-dark.ui-btn:hover {
    background: rgb(41,41,41);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.04),
                inset 0 -1px 0 rgba(255,255,255,.02);
}

.ui-light .ui-btn.on-dark:hover,
.ui-light.ui-btn.on-dark:hover {
    background: rgb(255,255,255);
}

.ui-dark .ui-btn.on-dark:hover,
.ui-dark.ui-btn.on-dark:hover {
    background: rgb(87,87,87);
    background: -moz-linear-gradient(top,  rgb(87,87,87) 0%, rgb(75,75,75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(87,87,87)), color-stop(100%,rgb(75,75,75)));
    background: -webkit-linear-gradient(top,  rgb(87,87,87) 0%,rgb(75,75,75) 100%);
    background: -o-linear-gradient(top,  rgb(87,87,87) 0%,rgb(75,75,75) 100%);
    background: -ms-linear-gradient(top,  rgb(87,87,87) 0%,rgb(75,75,75) 100%);
    background: linear-gradient(top,  rgb(87,87,87) 0%,rgb(75,75,75) 100%);
    border-color: rgb(94,94,94);
}

.ui-light .ui-btn.active,
.ui-light.ui-btn.active {
    background: rgb(128,128,128);
    border: none;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    color: rgb(255,255,255);
    cursor: default;
    margin-top: 1px;
}

.ui-dark .ui-btn.active,
.ui-dark.ui-btn.active {
    background: rgb(0,0,0);
    border-bottom: 1px solid rgb(63,63,63);
    cursor: default;
    box-shadow: none;
}

.ui-light .ui-btn.on-dark:active,
.ui-light.ui-btn.on-dark:active {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-dark .ui-btn.on-dark:active,
.ui-dark.ui-btn.on-dark:active {
    background: rgb(37,37,37);
    background: -moz-linear-gradient(top,  rgb(37,37,37) 0%, rgb(40,40,40) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(37,37,37)), color-stop(100%,rgb(40,40,40)));
    background: -webkit-linear-gradient(top,  rgb(37,37,37) 0%,rgb(40,40,40) 100%);
    background: -o-linear-gradient(top,  rgb(37,37,37) 0%,rgb(40,40,40) 100%);
    background: -ms-linear-gradient(top,  rgb(37,37,37) 0%,rgb(40,40,40) 100%);
    background: linear-gradient(top,  rgb(37,37,37) 0%,rgb(40,40,40) 100%);
    border-color: rgb(33,33,33);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}

/* Opaque buttons */

.ui-opaque .ui-btn,
.ui-opaque.ui-btn {
    border-width: 1px;
    border-style: solid;
    background: none;
    box-shadow: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ui-light.ui-opaque .ui-btn,
.ui-light.ui-opaque.ui-btn {
    color: rgb(51,51,51);
    border-color: rgb(209, 209, 209);
}

.ui-dark.ui-opaque .ui-btn,
.ui-dark.ui-opaque.ui-btn {
    color: rgb(255,255,255);
    background: rgb(28, 28, 28);
    border-color: rgb(51, 51, 51);
    
}

/* Chunky button */

.ui-chunky-btn {
    background: rgb(33,172,255);
    background: -moz-linear-gradient(top,  rgba(33,172,255,1) 0%, rgba(27,154,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,172,255,1)), color-stop(100%,rgba(27,154,255,1)));
    background: -webkit-linear-gradient(top,  rgba(33,172,255,1) 0%,rgba(27,154,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(33,172,255,1) 0%,rgba(27,154,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(33,172,255,1) 0%,rgba(27,154,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(33,172,255,1) 0%,rgba(27,154,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21acff', endColorstr='#1b9aff',GradientType=0 );
    border: 1px solid rgb(20,156,238);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    font-family: Futura;
    font-weight: bold;
    font-size: 13px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 43px;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}


.ui-chunky-btn:hover,
.ui-chunky-btn:active {
    background: rgb(56,180,255);
    background: -moz-linear-gradient(top,  rgba(56,180,255,1) 0%, rgba(46,164,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(56,180,255,1)), color-stop(100%,rgba(46,164,255,1)));
    background: -webkit-linear-gradient(top,  rgba(56,180,255,1) 0%,rgba(46,164,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(56,180,255,1) 0%,rgba(46,164,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(56,180,255,1) 0%,rgba(46,164,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(56,180,255,1) 0%,rgba(46,164,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38b4ff', endColorstr='#2ea4ff',GradientType=0 );
}

.ui-chunky-btn:active {
    box-shadow: none;
}

.ui-chunky-btn.secondary {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
    border-color: rgb(212,212,212);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    color: rgb(51,51,51);
}

.ui-chunky-btn.secondary:hover {
    background: rgb(255,255,255);
}

.ui-chunky-btn.secondary:active {
    background: rgb(255,255,255);
    box-shadow: none;
}

.ui-chunky-btn.icon {
    padding-left: 60px;
}

.ui-chunky-btn.icon:before {
    border-right: 1px solid rgba(255,255,255,.1);
    box-shadow: inset -1px 0 0 rgba(0,0,0,.1);
    content: '';
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.ui-chunky-btn.cancel:before {
    background: url(/static/images/components/utility-contribute-sprite.png) no-repeat 12px -228px;
}

.ui-chunky-btn.share:before {
    /*background: url(/static/images/components/utility-contribute-sprite.png) no-repeat 8px -355px;*/
    background: url(/static/images/components/ft-share-btns.png) no-repeat 15px 9px;
}

.ui-chunky-btn.send:before {
    background: url(/static/images/components/utility-contribute-sprite.png) no-repeat 11px -398px;
}

/*.fb-post-btn {
    background: #6f89b8;
    background: -moz-linear-gradient(top,  #6f89b8 0%, #486085 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6f89b8), color-stop(100%,#486085));
    background: -webkit-linear-gradient(top,  #6f89b8 0%,#486085 100%);
    background: -o-linear-gradient(top,  #6f89b8 0%,#486085 100%);
    background: -ms-linear-gradient(top,  #6f89b8 0%,#486085 100%);
    background: linear-gradient(to bottom,  #6f89b8 0%,#486085 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f89b8', endColorstr='#486085',GradientType=0 );
    border: 1px solid rgb(74,98,136);
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    color: rgb(255,255,255);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px 4px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.7);
}*/

.fb-post-btn {
    background: #637bad;
    background: -moz-linear-gradient(top,  #637bad 0%, #5972a7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#637bad), color-stop(100%,#5972a7));
    background: -webkit-linear-gradient(top,  #637bad 0%,#5972a7 100%);
    background: -o-linear-gradient(top,  #637bad 0%,#5972a7 100%);
    background: -ms-linear-gradient(top,  #637bad 0%,#5972a7 100%);
    background: linear-gradient(to bottom,  #637bad 0%,#5972a7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#637bad', endColorstr='#5972a7',GradientType=0 );
    border: 1px solid rgb(41,68,126);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    color: rgb(255,255,255);
    cursor: pointer;
    display: inline-block;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 4px 12px 5px;
}

.fb-post-btn:active {
    background: rgb(79,106,163);
}

/* Button icons */

.ui-light .ui-btn.icon.cancel,
.ui-light.ui-btn.icon.cancel:before {
    background-position: -25px -24px;
}

.ui-dark .ui-btn.icon.cancel:before,
.ui-dark.ui-btn.icon.cancel:before {
    background-position: -25px -12px;
}

.ui-light .ui-btn.icon.set:before,
.ui-light.ui-btn.icon.set:before {
    background-position: -38px -24px;
}

.ui-dark .ui-btn.icon.set:before,
.ui-dark.ui-btn.icon.set:before {
    background-position: -38px -12px;
}

/* TODO: Change this to a :before pseudo-element like the chunky-btn icons above. */
/*.ui-btn .icon {
    background: url(/static/images/buttons/button-icons.png) no-repeat;
    display: inline-block;
    height: 11px;
    width: 12px;
    margin-right: 4px;
}*/

.ui-btn.close {
    width: 18px;
}

.ui-btn.close .icon {
    background-position: -24px 0;
    margin: 9px 0 0 1px;
}

.ui-btn.list .icon {
    background-position: -13px -24px;
}

.ui-light.ui-btn.list .icon,
.ui-light .ui-bt.list .icon {
    background-position: -13px 0;
}

.ui-btn.list.active .icon {
    background-position: -13px -11px;
}

.ui-btn span {
    display: inline-block;
}

.ui-btn.grid.active .icon {
    background-position: 0 -10px;
}

.ui-btn.grid .icon {
    background-position: 0 1px;
}

.ui-light.ui-btn.grid .icon,
.ui-light .ui-bt.grid .icon {
    background-position: 0 1px;
}


/* =============================================================================
   Link Dropdown (not select dropdowns)
   ========================================================================== */

.ui-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.ui-dropdown .collapsed {
    min-width: 80px;
    padding-right: 40px;
    text-align: left;
}

.ui-dropdown .collapsed:after {
    background: url(/static/images/sprites/ui-sprite.png) -39px 1px no-repeat;
    content: '';
    display: block;
    height: 24px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 30px;
}

.ui-dropdown.ui-dark .collapsed:after {
    border-left: 1px solid rgba(0,0,0,.4);
    box-shadow: inset 1px 0 0 rgba(255,255,255,.1);
}

.ui-dropdown .expanded {
    border-radius: 3px;
    display: none;
    list-style: none;
    margin: 0;
    min-width: 130px;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 10;
}

.ui-dropdown.ui-dark .expanded {
    background: rgb(77,77,77);
    border: 1px solid rgb(10,10,10);
    box-shadow: inset 0 1px 0 rgb(95,95,95), 0 2px 3px rgba(0,0,0,.5);
}

.ui-dropdown:hover .expanded {
    display: block;
}

.ui-dropdown .expanded a {
    display: block;
    font-weight: bold;
    padding: 0 10px;
}

.ui-dropdown .expanded li:first-child a {
    border-radius: 3px 3px 0 0;
}

.ui-dropdown .expanded li:last-child a {
    border-radius: 0 0 3px 3px;
}

.ui-dropdown.ui-dark .expanded a:hover {
    background: rgb(128,128,128);
}

/* =============================================================================
   Buttons grouped as tabs
   ========================================================================== */

.ui-tabgroup {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.ui-tabgroup li {
    display: block;
    float: left;
}

.ui-tabgroup .ui-btn,
.ui-tabgroup .ui-btn.active {
    border-right-width: 0;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    display: block;
    float: left;
    white-space: nowrap;
}

.ui-dark.ui-tabgroup .ui-btn {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.14),
                inset 0 -1px 0 rgba(255,255,255,.04),
                inset 1px 0 0 rgba(78,78,78,.5),
                inset -1px 0 0 rgba(78,78,78,.5);
}

.ui-dark.ui-tabgroup .ui-btn:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.04),
                inset 0 -1px 0 rgba(255,255,255,.02),
                inset 1px 0 0 rgba(78,78,78,.2),
                inset -1px 0 0 rgba(78,78,78,.2);
}

.ui-light.ui-tabgroup .ui-btn {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 -1px 0 rgba(255,255,255,.2),
                inset 1px 0 0 rgba(255,255,255,.2),
                inset -1px 0 0 rgba(255,255,255,.2);
}

.ui-light.ui-tabgroup .ui-btn:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),
                inset 0 -1px 0 rgba(255,255,255,.05),
                inset 1px 0 0 rgba(255,255,255,.1),
                inset -1px 0 0 rgba(255,255,255,.1);
}

.ui-tabgroup li:first-child .ui-btn {
    -webkit-border-radius: 5px 0px 0px 5px;
    -khtml-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}

.ui-dark.ui-tabgroup li:first-child .ui-btn {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.14),
                inset 0 -1px 0 rgba(255,255,255,.04),
                inset -1px 0 0 rgba(78,78,78,.5);
}

.ui-dark.ui-tabgroup li:first-child .ui-btn:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.04),
                inset 0 -1px 0 rgba(255,255,255,.02),   
                inset -1px 0 0 rgba(78,78,78,.2);
}

.ui-light.ui-tabgroup li:first-child .ui-btn {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 -1px 0 rgba(255,255,255,.2),
                inset -1px 0 0 rgba(255,255,255,.2);
}

.ui-light.ui-tabgroup li:first-child .ui-btn:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),
                inset 0 -1px 0 rgba(255,255,255,.05),
                inset -1px 0 0 rgba(255,255,255,.1);
}

.ui-tabgroup li:last-child .ui-btn {
    -webkit-border-radius: 0px 5px 5px 0px;
    -khtml-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    border-right-width: 1px;
}

.ui-dark.ui-tabgroup li:last-child .ui-btn {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.14),
                inset 0 -1px 0 rgba(255,255,255,.04),
                inset 1px 0 0 rgba(78,78,78,.5);
}

.ui-dark.ui-tabgroup li:last-child .ui-btn:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.04),
                inset 0 -1px 0 rgba(255,255,255,.02),
                inset 1px 0 0 rgba(78,78,78,.2);
}

.ui-light.ui-tabgroup li:last-child .ui-btn {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 -1px 0 rgba(255,255,255,.2),
                inset 1px 0 0 rgba(255,255,255,.2);
}

.ui-light.ui-tabgroup li:last-child .ui-btn:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),
                inset 0 -1px 0 rgba(255,255,255,.05),
                inset 1px 0 0 rgba(255,255,255,.1);
}

.ui-dark.ui-tabgroup .ui-btn.active,
.ui-dark.ui-tabgroup li:last-child .ui-btn.active,
.ui-dark.ui-tabgroup li:first-child .ui-btn.active {
    box-shadow: none;
}

.ui-light.ui-tabgroup .ui-btn.active,
.ui-light.ui-tabgroup li:first-child .ui-btn.active {
    box-shadow: inset 0 0 11px rgba(0, 0, 0, .2);
    padding-right: 10px;
}

.ui-light.ui-tabgroup li:last-child .ui-btn.active {
    box-shadow: inset 0 0 11px rgba(0, 0, 0, .2);
    padding-right: 11px;
}


/* =============================================================================
   Slider
   ========================================================================== */

.ui-slider {
    width: auto;
    height: 35px;
}

.ui-light.ui-slider .ui-slider-bar {
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    height: 14px;
    margin: 10px 0px;
    position: relative;
    width: 100px;
}

.ui-light.ui-slider .ui-slider-bar {
    background: rgb(128,128,128);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .6), 0 1px 0 rgb(255,255,255);
}

.ui-slider .ui-btn.ui-slider-handle {
    -webkit-border-radius: 24px;
    -khtml-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    display: block;
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    top: -7px;
    margin-left: -15px;
}

.ui-slider .ui-btn.ui-slider-handle:before {
    background: rgb(108,108,108);
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, .4),
                inset 0 1px 0 rgba(0,0,0,.3);
    content: '';
    display: block;
    height: 8px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 8px;
}

.ui-light.ui-slider .ui-btn.ui-slider-handle {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4),
                inset 0 -1px 0 rgba(255,255,255,.2),
                0 2px 4px rgba(0, 0, 0, 0.5);
}

.ui-slider .ui-label-left {
    margin-right: 16px;
}

.ui-slider .ui-label-right {
    text-align: right;
    margin-left: 16px;
}


/* =============================================================================
   Zoom (Plus/Minus) Controls
   ========================================================================== */

.ui-zoom {
    display: inline-block;
    position: relative;
}

.ui-zoom:before {
    background: rgb(128,128,128);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .25);
    content: '';
    display: block;
    height: 26px;
    left: 16px;
    position: absolute;
    top: 3px;
    width: 30px;
}

.ui-zoom .ui-btn {
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    float: left;
    padding: 0;
    position: relative;
    text-indent: -10000em;
    width: 30px;
}

.ui-zoom .ui-btn:before {
    background-image: url(/static/images/sprites/ui-sprite.png);
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 15px;
    left: 10px;
    position: absolute;
    top: 7px;
    width: 15px;
}

.ui-zoom .ui-btn.plus-icon:before {
  background-position: -5px -22px;
}

.ui-zoom .ui-btn.minus-icon:before {
  background-position: -6px -2px;
}


/* =============================================================================
   Toggler
   ========================================================================== */


/* All Togglers */

.ui-light .ui-toggler {
    display: block;
    height: 27px;
    margin-top: 2px;
}

.ui-light .ui-toggler.ui-toggler-outer,
.ui-light .ui-toggler .ui-toggler-outer {
    display: block;
    background: #a2a2a2;
    position: relative;
    -webkit-box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, .2);
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, .2);
    padding: 0;
    overflow: hidden;
}


/* round togglers only */

.ui-light .ui-toggler-round {
    -webkit-border-radius: 28px;
    border-radius: 28px;
    height: 27px;
}

.ui-light .ui-toggler-round .ui-btn {
    -webkit-border-radius: 28px;
    border-radius: 28px;
    float: left;
    width: 26px;
    height: 0px;
    padding: 25px 10px 0px 10px;
    overflow: hidden;
}

.ui-light .ui-toggler-round .ui-btn:first-child {

}

.ui-light .ui-toggler-round .ui-btn:last-child {

}

/*square togglers only */

.ui-light .ui-toggler-boxed {

}

.ui-light .ui-toggler-boxed .ui-btn {

}

.ui-light .ui-toggler-boxed .ui-btn:first-child {

}

.ui-light .ui-toggler-boxed .ui-btn:last-child {

}

/* Toggler buttons */


.ui-light .ui-toggler-plus-minus {
    width: 52px;
}

.ui-light .ui-toggler-plus-minus .ui-btn {
    background-image: url(/static/images/sprites/ui-sprite.png);
    background-repeat: no-repeat;
    -webkit-background-origin: content-box;
    -moz-background-origin: content-box;
    background-origin: content-box;
}

.ui-light .ui-toggler-plus-minus .ui-btn.ui-plus-btn {
  background-position: -8px -42px;
}

.ui-light .ui-toggler-plus-minus .ui-btn.ui-minus-btn {
  background-position: -8px -23px;
}



/* =============================================================================
   Form elements
   ========================================================================== */

/**
 * Form fundamentals
 */

.ui-text-input {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 36px;
    outline: none;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    color: rgb(140,140,140);
    font-size: 13px;
    font-weight: 700;
    padding: 10px;
}

.ui-light .text-input,
.ui-light.text-input {
    border: 1px solid rgb(190,190,190);
}


/**
 * Form buttons
 */


/* =============================================================================
   Time Slider
   ========================================================================== */

.ui-timeslider {
     width: 720px;
     height: 60px;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
     -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
     border-top: 2px solid rgb(0,0,0);
     border-bottom: 2px solid rgb(0,0,0);
     background: rgb(51,51,51) url('/static/images/patterns/diagonal_lines_thin.png') repeat;
     position:relative;
     overflow:auto;
     padding-left: 60px;
     padding-right: 60px;
}

.ui-timeslider .belt {
    position: relative; 
    text-align: left; 
     cursor: pointer;
     width: 100%;
     height: 60px;  
     background-color: rgb(110,110,110);
     background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%);
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(0,0,0,0.1)));
     background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
     background-image: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
     background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
     background-image: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(0,0,0,0.1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1a000000',GradientType=0 );
     -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .3);
     box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .3);
/*    clip:rect(0px, 1000px, 1000px, -10px);*/
    float:left;
    border-left: 1px solid rgba(0,0,0,0.8);
    border-right: 1px solid rgba(0,0,0,0.8);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-timeslider .belt .marker {
    height: 10px;
    width: 1px;
    background: rgba(0,0,0,.5);
    display:block;
    position: absolute;
    left: 0;
    border-left: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.4);
    
}

.ui-timeslider .belt .marker.marker-top {
    top: 0;
}

.ui-timeslider .belt .marker.marker-bottom {
    bottom: 1px;
}

.ui-timeslider .belt .marker:nth-child(even) {
    height: 15px;
}

.ui-timeslider .label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight:bold;
    display:block;
}

.ui-timeslider .label span {
    display:block;
}

.ui-timeslider .label {
    color: rgb(204,204,204);
    display:inline-block;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    margin: 22px 10px 22px -25px;
    position: absolute;
    white-space: nowrap;
    text-align: center;
    height: 16px;
}

.ui-timeslider .label:hover {
    color:rgb(255,255,255);
}

.ui-timeslider .label-2up {
    margin-top: 18px;
    margin-right: 10px;
    margin-bottom: 18px;
    height: 24px;
}

.ui-timeslider .label-2up span {
    display:block;
    line-height: 1.1em;
}

.ui-timeslider .label-2up span:last-child {
    color: rgb(150,150,150);
}

.ui-timeslider .buckle {
    position: absolute; 
    z-index: 7; 
    top: 1px;
    width:auto;
    height: 58px;
    text-decoration: none;
    cursor: pointer;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(205,205,205,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(205,205,205,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(205,205,205,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(205,205,205,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(205,205,205,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(205,205,205,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:  2px 5px 5px 1px rgba(0, 0, 0, .3);
    box-shadow:  2px 5px 5px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline:none;
    display:block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}


.ui-timeslider .buckle .inner {
    background: rgb(51,51,51); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(51,51,51,1) 0%, rgba(70,70,70,1) 33%, rgba(51,51,51,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(33%,rgba(70,70,70,1)), color-stop(99%,rgba(51,51,51,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(70,70,70,1) 33%,rgba(51,51,51,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(70,70,70,1) 33%,rgba(51,51,51,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(51,51,51,1) 0%,rgba(70,70,70,1) 33%,rgba(51,51,51,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(51,51,51,1) 0%,rgba(70,70,70,1) 33%,rgba(51,51,51,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    -webkit-box-shadow: inset 1px 1px 8px 2px rgba(0, 0, 0, 1);
    box-shadow: inset 1px 1px 8px 2px rgba(0, 0, 0, 1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-timeslider .buckle .inner:before,
.ui-timeslider .buckle .inner:after  {
   content: "";
   display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    top: 23px;
}

.ui-timeslider .buckle .inner:before {
    border-right: 5px solid rgb(173,173,173);
    left: 2px;
    -webkit-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);
    clip: rect(0px 6px 10px 0px);
}

.ui-timeslider .buckle .inner:after {
    border-left: 5px solid rgb(173,173,173);
    right: 2px;

}

.ui-timeslider .buckle .inner .label {
    margin: 9px 0px;
    padding: 0;
    color: rgb(255,255,255);
    position:relative;
    text-align:center;
}

.ui-timeslider .buckle .inner .label span {
    line-height: 11px;
    text-shadow: 1px 1px 2px rgb(0,0,0);
}

.ui-timeslider .buckle .inner .label-2up {
    margin: 3px 0;
    width: 50px;
}

.ui-timeslider .cap {
    color: rgb(0,0,0);
    width: 60px;
    height: inherit;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    background-color: rgba(102,102,102,1);
    border: 1px solid rgb(165, 165, 165);
    border-width: 1px 0 0;
    outline:none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor:pointer;
    position:absolute;
    z-index: 2;
}

.ui-timeslider .cap:hover{
    background-color: rgba(120,120,120,1);
}

.ui-timeslider .cap.disabled {
    cursor: default;
    background:white;
}


.ui-timeslider .cap span {
    display:block;
    width: 16px;
    height: 0;
    overflow:hidden;
    padding-top: 26px;
    background-color: transparent;
    background-repeat: no-repeat ;
    background-position: 0 0;
    background-image: url('/static/images/global/sprite.png');
    position:absolute;
    top: 50%;
    margin-top: -13px;
    left: 50%;
    margin-left: -8px;
}

.ui-timeslider .cap.next {
    right: 0px;
}

.ui-timeslider .cap.prev {
    left: 0px;
}

.ui-timeslider .cap.next span {
    background-position:  -170px -20px;
}

.ui-timeslider .cap.prev span {
    background-position:  -120px -20px;
}

.ui-timeslider .cap.play:hover,
.ui-timeslider .cap.pause:hover {
    background-color: rgba(120,120,120,1);
}

.ui-timeslider .cap.play span,
.ui-timeslider .cap.pause span {
    position:absolute;
    top: 20px;
    left: 22px;
    width: 14px;
    background-image: url(/static/images/weather/weather-sprite.png);
}

.ui-timeslider .cap.play span {
    background-position: -56px -20px;
}

.ui-timeslider .cap.pause span {
    background-position:-70px 0 ;
}

.ui-timeslider .cap.pause:hover span {
    background-position:-70px -20px ;
}

.ui-timeslider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; top: 0; height: 100%;  }
.ui-timeslider .ui-slider-range-min { left: 0; }
.ui-timeslider .ui-slider-range-max { right: 0; }



/* =============================================================================
   Autocomplete
   ========================================================================== */

.ui-autocomplete {
    display: block;
    list-style: none;
    background: #fff;
    padding: 0;
    width: 135px;
    border-left: 1px solid rgb(219, 219, 219);
    border-right: 1px solid rgb(219, 219, 219);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .1);
}

.ui-autocomplete .ui-menu-item,
.ui-autocomplete .ui-menu-item a {
    font-size: 12px;
    font-weight: bold;
    color: #666666;
}

.ui-autocomplete .ui-menu-item a {
    display: block;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 6px 10px;
}


.ui-autocomplete .ui-menu-item a:hover {
    color: #333333;
    background: #ebebeb;
    cursor: pointer;
}

/**
 * Specific to Autocompletes used for location lookups.
 */

.ui-autocomplete.location-autocomplete {

}

/* =============================================================================
   Expandable menus:


   Expects the following html markup
   <ul class="ui-expandable ui-expandable-vert ui-light">
    <li class="sub top">
        <h3><a href="#"></a></h3>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </li>
    <li class="sub">
        <h3><a href="#"></a></h3>
        <div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </li>
</ul>
   ========================================================================== */

.ui-expandable li.sub.top a:before {
    content: "";
    width: 20px;
    display:block;
    height: 0px;
    padding-top: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    overflow:hidden;
    position:absolute;
    top:0px;
    right: 20px;
}

.ui-expandable.ui-expandable-vert li.sub.top a:before {
    background-position: 0 0;
}

.ui-expandable.ui-expandable-vert li.sub.top.active a:before {
     background-position: 0 -20px;
}

.ui-expandable.ui-light.ui-expandable-vert li.sub.top a:before {
    background-image: url(/static/images/weather/weather-sprite.png);
}


/*.ui-expandable-horiz { 
}*/

/* =============================================================================
   Global site preloaders
   ========================================================================== */

.ui-loader {
    position:absolute;
    top: 45%;
    left: 45%;
    display:block;
    background: rgba(100, 100, 100, 0.9);
    padding: 5px;
    border-radius: 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 200ms linear;
     -moz-transition: all 200ms linear;
     -webkit-transition: all 200ms linear;
     -o-transition: all 200ms linear;
     opacity: 0;
     visibility: hidden;
    text-align: center;
    z-index: 500;
}


.ui-loader.active {
    opacity: 1;
    visibility: visible;
}

.ui-loader .loading-icon {
    display: none;
    width: 20px;
    background: url(/static/images/indicators/loader.gif) no-repeat 2px 2px;
    height: 20px;
    margin-right: 4px;
    overflow:hidden;
    position: relative;
    vertical-align: middle;
}

.ui-loader.active .loading-icon {
    display: inline-block;
}

.ui-loader .loading-icon .circle {
    position:absolute;
    background-color: rgb(204,204,204);
    width: 4px;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1;
}


.ui-loader span {
    display: inline-block;
    height: auto;
    color: rgb(255,255,255);
    font-family: 'Futura', Arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 13px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

.ui-loader.global-loader {
    width: 100%;
    height: 36px;
    position:fixed;
    border-radius: 0;
    top: -40px;
    left: 0;
    background: rgba(100, 100, 100, 0.9);
    border: none;
    z-index: 1000;
    transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -webkit-transition: all  500ms linear;
    -o-transition: all 500ms linear;
}

.ui-loader.global-loader.active {
    top: 40px;
}


/* =============================================================================
   Global site alerts
   ========================================================================== */


.ui-alert {
    border-radius: 8px;
    font-weight: 700;
    top: -200px;
    position: fixed;
    left: 43%;
    z-index: 10000;
    background: yellow;
    padding: 10px 15px;
    font-size: 12px;
    color: #222;
    -webkit-transition: top 0.25s linear;
    -moz-transition: top 0.25s linear;
    -o-transition: top 0.25s linear;
    -ms-transition: top 0.25s linear;
    transition: top 0.25s linear;
}

.ui-alert .close-btn {
    background: url(/static/images/sprites/header-sprite.png) no-repeat -323px -152px;
    cursor: pointer;
    height: 21px;
    margin-top: -9px;
    position: absolute;
    right: -10px;
    top: 0;
    overflow: hidden;
    width: 20px;
    text-indent: -10000em;
}

.ui-alert.active {
    top: 300px;
}

.ui-alert.error {
    background: red;
    color: #fff;
}

.ui-alert .prompt a {
    cursor: pointer;
    display: inline-block;
    margin-left: 0.5em;
}

/* =============================================================================
   Vertical Scroll
   ========================================================================== */

.ui-light.vertical-scroll {
    border-radius: 4px;
    left: 100%;
    margin: 0 0 0 -10px;
    position: absolute;
    width: 7px;
}

.ui-light.vertical-scroll.hide {
    display: none;
}

.ui-light.vertical-scroll .scrolldragger {
    background: rgb(51, 51, 51);
    border-radius: 4px;
    height: 150px;
    margin: 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-out;
       -moz-transition: opacity 0.35s ease-out;
        -ms-transition: opacity 0.35s ease-out;
         -o-transition: opacity 0.35s ease-out;
            transition: opacity 0.35s ease-out;
    padding: 0;
    position: relative;
    -webkit-transition-delay: 0.6s;
       -moz-transition-delay: 0.6s;
        -ms-transition-delay: 0.6s;
         -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
    width: 7px;
}

.ui-light.vertical-scroll .scrolldragger.hover {
    border-radius: 4px;
    margin: 0;
    width: 7px;
}

.ui-light.vertical-scroll.active .scrolldragger {
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}
