#DivFAQ
{
	width:90%;
	padding-left:10px;
}

#DivFAQ p, #DivFAQ li
{
	font-size:11pt;
	font-family:Calibri;
}

#DivFAQ p.intro
{
	margin:0;
	font-size:12pt;
}

.header
{
	font-weight:bold;
	text-decoration:underline;
}

td.or
{
	font-size:12pt;
	font-family:Calibri;
	padding-left:15px;
}