/**
 * 3rd party inline img/iframe/object/embeded scaling
 */

.video-wrapper{
    width:560px;
    float: left;
}
.content-wrap .asset .double-wide > .portrait{
    float:left;
    max-width:170px;
    padding:15px 10px;
}
.content-wrap .asset .double-wide > .landscape{
    max-width:100%;
    padding:15px 10px;
}

.fluid-width-video-wrapper {
         width: 100%;
         position: relative;
         padding: 15px 10px;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.content-wrap .asset .double-wide > a,
.content-wrap .asset .double-wide p > a {
    color:rgb(25,144,229);
    text-decoration:none;
}

.content-wrap .asset .double-wide > a:hover,
.content-wrap .asset .double-wide p > a:hover {
    text-decoration:underline;
}
