.error {
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    width: 100%;
    float: left;
    clear: both;
    margin-top: 80px;
}

.error .head,.error .info,.error .message {
    max-width: 34em;
    margin: 0 auto;
}

.error .clues {
    font: 400 2em/1 "kremlin-pro-web-semi-exp", arial, serif;
    color: rgb(187,187,187);
}

.error .head {
    font: 700 4.01em/1 'Futura', arial, sans-serif;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -1px;
    color: rgb(208,208,208);
    padding-top: .75em;
}

.error .info {
    font-size: 1.625em;
    line-height: 2;
    color: rgb(255,100,0);
    padding-bottom: .5em;
}

.error .message {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(102,102,102);
}

.error .search {
    background: transparent url('/static/images/404/404-arrow2.png') 50% 0 no-repeat;
    width: 4em;
    height: 120px;
    display: block;
    position: absolute;
    top: 7em;
    right: 4em;
}

.search .clues {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
}

.error .news {
    background: transparent url('/static/images/404/404-arrow1.png') 50% 0 no-repeat;
    width: 7.5em;
    height: 120px;
    display: block;
    position: absolute;
    top: 7em;
    left: 3em;
}

.news .clues {
    display: inline-block;
    right: 0;
    position: absolute;
    bottom: 0;
}

#footer_wrap {
    width: 980px;
    display: inline-block;
    margin-left: 0;
}

.overlay-everything .footer {
    width: 100%;
    margin-left: -30px;
    padding-left: 30px;
}

.overlay-everything .footer nav {
    float: left;
    width: 100%;
}

#overlay .overlay-everything .close-wrap {
    top: 78px;
}
