/*
 * Project: CirclePlayer
 * http://www.jplayer.org
 *
 * Copyright (c) 2011 Happyworm Ltd
 *
 * Author: Silvia Benvenuti
 * Edited by: Mark J Panaghiston
 * Date: 6th May 2011
 * Artwork inspired by: http://forrst.com/posts/Untitled-CJz
 */

.audio-wrapper {
 	border-bottom: 1px dotted rgb(153, 153, 153);
 	border-top: 1px dotted rgb(153, 153, 153);
 	float: left;
 	font-size: 14px;
	font-weight: bold;
 	padding: 18px 0;
 	text-align: center;
	width: 200px;
}

.audio-wrapper .description {
 	display: block;
 	margin: 0 0 14px 0;
}

.cp-container {
	background: url("/static/images/modules/audio-player/bgr.png") 0 0 no-repeat;
	height: 120px;
	margin: 0 auto;
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 120px; /* 200 - (2 * 48) */
}

.cp-container:hover {
	background-position: -121px 0;
}

.cp-container :focus {
	border: none; 
	outline: 0;
}

.cp-buffer-1,
.cp-buffer-2,
.cp-progress-1,
.cp-progress-2 {
	-webkit-border-radius: 52px;
	   -moz-border-radius: 52px;
	        border-radius: 52px;
	clip: rect(0px,60px,120px,0px);
	height: 120px;
	left: 0;
	position: absolute;
	top: 0;
	width: 120px;
}

.cp-buffer-1,
.cp-buffer-2 {
	background: url("/static/images/modules/audio-player/buffer.png") 0 0 no-repeat;
}     


/* FALLBACK for .progress
 * (24 steps starting from 1hr filled progress, Decrease second value by 120px for next step)
 * (It needs the container selector to work. Or use div)
 */ 

.cp-container .cp-fallback {
	background: url("/static/images/modules/audio-player/progress_sprite.png") no-repeat;
	background-position: 0 120px; 
}

.cp-progress-1,
.cp-progress-2 {
	background: url("/static/images/modules/audio-player/progress.png") 0 0 no-repeat;
} 

.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
	height: 120px;
	position: absolute;
	width: 120px;
} 

.cp-circle-control {
	cursor: pointer;
}

.cp-buffer-holder,
.cp-progress-holder {
	clip: rect(0px,120px,120px,60px);
	display: none;
}


/* This is needed when progress is greater than 50% or for fallback */

.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress.cp-fallback{
	clip: rect(auto, auto, auto, auto);
}  

.cp-controls {
	margin: 0;
	padding: 37px 44px;
}

.cp-controls li{
	display: block;
	list-style-type: none;
	/*IE Fix*/  
	position: absolute;
}

.cp-controls li a{
	display: block;
	height: 44px;
	padding: 15px 22px;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	z-index: 1;
}

.cp-controls .cp-pause {
	background: url("/static/images/modules/audio-player/controls.png") 22px 14px no-repeat;
	background-clip: content-box;
	margin: -13px -21px;
}

.cp-controls .cp-pause:hover {
	background: url("/static/images/modules/audio-player/controls.png") 22px -29px no-repeat;
	background-clip: content-box;
}

.cp-controls .cp-play {
	background: url("/static/images/modules/audio-player/controls.png") -19px 15px no-repeat;
	background-clip: content-box;
	margin: -13px -18px;
}

.cp-controls .cp-play:hover {
	background: url("/static/images/modules/audio-player/controls.png") -19px -29px no-repeat;
	background-clip: content-box;
}

.cp-jplayer {
	height: 0;
	width: 0;
}
