/**
 * @fileoverview Blogs module stylin'
 */

.mod.blogs {
	position: relative;
}

.mod.blogs .stage {
	overflow: hidden;
	height: 137px;
	margin: 0 auto;
	position: relative;
	transition-property: margin, width;
	transition-duration: 0.2s, 0.2s;
	transition-delay: 0.2s, 0.2s;
	-moz-transition-property: margin, width;
	-moz-transition-duration: 0.2s, 0.2s;
	-o-transition-property: margin, width;
	-o-transition-duration: 0.2s, 0.2s;
	-webkit-transition-property: margin, width;
	-webkit-transition-duration: 0.2s, 0.2s;
	width: 758px;
}

@media only screen and (min-width: 1280px) {

	.mod.blogs .stage {
		width: 948px;
	}

}

@media only screen and (min-width: 1440px) {

	.mod.blogs .stage {
		width: 1138px;
	}

}

.mod.blogs ul {
	height: 157px;
	list-style-type: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	transition: left 0.2s ease-in;
	-moz-transition: left 0.2s ease-in;
	-o-transition: left 0.2s ease-in;
	-webkit-transition: left 0.2s ease-in;
	top: 20px;
	min-width: 7700px;
}

.mod.blogs ul li {
	border-left: 1px solid rgb(55,55,55);
	border-right: 1px solid rgb(27,27,27);
	cursor: pointer;
	float: left;
	height: 157px;
	margin: 0;
	padding: 0 10px;
	text-align: center;
	width: 168px;
}

.mod.blogs ul li.last {
	border-right: none;
}

/**
 * Image
 */

.mod.blogs ul li img {
	box-shadow: 0 1px 2px rgb(0,0,0);
	box-shadow: 0 1px 2px rgba(0,0,0,0.75);
	margin-bottom: 16px;

}

.mod.blogs ul li:hover img {
	border: 3px solid rgb(0,170,255);
	margin: -3px 0 13px 0;
}

/**
 * Blog Title
 */

.mod.blogs ul li h4 {
	color: rgb(255,255,255);
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 13px 0;
}

.mod.blogs ul li h4 a {
	color: inherit;
	display: inline-block;
	padding-left: 17px;
	position: relative;
	text-decoration: none;
}

.mod.blogs ul li h4 a:before {
	background: transparent url('/static/images/sprites/blogs-sprite.png') no-repeat top left;
	content: '';
	height: 13px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 12px;
}

.mod.blogs ul li:hover h4 a:before {
	background-position: -17px 0;
}

.mod.blogs ul li:hover h4 a {
	color: rgb(0,170,255);
}

/**
 * Date
 */

.mod.blogs ul li .meta {
	color: rgb(153,153,153);
	font-size: 10px;
	line-height: 16px;
	margin: 0 0 6px 0;
}

.mod.blogs ul li:hover .meta {
	color: rgb(255,255,255);
}

.mod.blogs ul li .meta .time {
	border: none;
	color: inherit;
	display: inline-block;
	font-size: inherit;
	margin: 0;
	padding: 0 0 0 14px;
	position: relative;
}

.mod.blogs ul li .meta .time:before {
	background: transparent url('/static/images/sprites/blogs-sprite.png') no-repeat 0 -18px;
	content: '';
	height: 11px;
	left: 0;
	position: absolute;
	top: 2px;
	width: 9px;
}

.mod.blogs ul li:hover .meta .time:before {
	background-position: -18px -18px;
}

/**
 * Headline
 */

.mod.blogs ul li h3 {
	color: rgb(153,153,153);
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 10px;
}

.mod.blogs ul li:hover h3 {
	color: rgb(255,255,255);
}

.mod.blogs ul li h3:hover {
	color: rgb(0,170,255);
}

.mod.blogs ul li h3 a {
	color: inherit;
	text-decoration: none;
}

/**
 * Scrollers
 */

.mod.blogs .scroller {
	background: transparent url('/static/images/sprites/blogs-sprite.png') no-repeat 0 -34px;
	font-size: 0;
	height: 22px;
	margin-top: -11px;
	position: absolute;
	text-decoration: none;
	text-indent: -9999px;
	top: 50%;
    overflow: hidden;
    width: 14px;
}

.mod.blogs .scroller.left {
	left: 10px;
}

.mod.blogs .scroller.left:hover {
	background-position: -17px -34px;
}

.mod.blogs .scroller.left:active {
	background-position: -37px -34px;
}

.mod.blogs .scroller.left.disabled,
.mod.blogs .scroller.left.disabled:hover,
.mod.blogs .scroller.left.disabled:active {
	background-position: -51px -34px;
}

.mod.blogs .scroller.right {
	background-position: -3px -74px;
	right: 10px;
}

.mod.blogs .scroller.right:hover {
	background-position: -20px -74px;
	right: 10px;
}

.mod.blogs .scroller.right:active {
	background-position: -40px -74px;
	right: 10px;
}

.mod.blogs .scroller.right.disabled,
.mod.blogs .scroller.right.disabled:hover,
.mod.blogs .scroller.right.disabled:active {
	background-position: -54px -74px;
	right: 10px;
}
