/**
 * @fileoverview Generic contributing writers CSS for 2, 3, and 4-up section front modules
 */

.contributing-writers {
    padding: 25px 20px;
}

.contributing-writers a {
    color: rgb(53, 53, 53);
    font-size: 12px;
    text-decoration: none;
}

.contributing-writers a:hover {
    color: rgb(0, 125, 207);
}

.contributing-writers .writers {
    padding: 0 0 15px 0;
}

.contributing-writers .writer {
    float: left;
    text-align: center;
}

.contributing-writers .details img {
    max-width: 130px;
}

.contributing-writers .three-up .details img {
    max-width: 200px;
}

.contributing-writers .two-up .writer {
    width: 50%;
}

.contributing-writers .three-up .writer {
    width: 33%;
}

.contributing-writers .four-up .writer {
    width: 25%;
}

.contributing-writers .name {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 15px auto 4px auto;

}

.contributing-writers .three-up .name {
    margin: 10px auto 4px auto;
}

.contributing-writers .blurb {
    color: rgb(153, 153, 153);
    display: block;
    font-size: 12px;
    font-style: italic;
    margin: 0 auto;
    width: 130px;
}

.contributing-writers .three-up .blurb {
    width: 190px;
}

.contributing-writers .updates {
    font-size: 12px;
    padding: 10px 30px 0 0;
    text-align: left;
}

.contributing-writers .updates .update {
    color: rgb(51, 51, 51);
    padding: 0 0 25px 0;
}

.contributing-writers .updates .update.lastitem {
    padding: 0;
}

.contributing-writers .updates .update span {
    color: rgb(153, 153, 153);
    display: block;
    font-size: 11px;
    padding: 0 0 5px 0;
}

.contributing-writers .updates .update a {
    line-height: 20px;
}

.writers.two-up .details {
    float: left;
    /*min-height: 210px;*/
    padding: 0 30px 0 10px;
}

/* Blog Module Styling */

.stag.contributing-writers {
    border-bottom: 1px solid #CFCFCF;
}
.stag.contributing-writers h2{
    font: bold 14px/18px 'Futura', 'helvetica neue', 'arial', sans-serif;
    text-transform:uppercase;
    margin: 0 0 15px 0;
    float: left;
}
.stag.contributing-writers p{
    float:right;
    margin:0;
    font-weight:bold;
    font-size:12px;
}