/**
 * @fileoverview Content List modules. Used for First Five and other Suspender functional areas. Also used in the Social Bar
 * @supported Test in Chrome and Safari
 */

.mod.clst ol,
.mod.clst ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.mod.clst ol > li,
.mod.clst ul > li {
    position: relative;
}

/**
 * Full Borders, when borders are due (following a H6)
 */

.mod.clst ol,
.mod.clst ul {
    border-bottom: 1px solid rgb(255,255,255);
    border-top: 1px solid rgb(215,215,215);
}

.mod.clst ul.split-two {
    border: none;
}

.size-suspender .mod.clst ol,
.size-suspender .mod.clst ul {
    border-bottom: 1px solid rgba(255,255,225,0.14);
    border-top: 1px solid rgba(0,0,0,0.15);
}

.lt-ie9 .mod.clst ol,
.lt-ie9 .mod.clst ul {
    /*background: transparent url('/static/images/ie-borders/bottom-top-border.png') repeat-x bottom left;*/
    border-bottom: 1px solid rgb(219,219,193);
    border-top: 1px solid rgb(216,216,216);
    padding-bottom: 2px;
    display:block;
    height:100%;
    zoom:1;
}

.lt-ie9 .size-suspender .mod.clst ol,
.lt-ie9 .size-suspender .mod.clst ul {
    background: transparent url('/static/images/ie-borders/bottom-top-border.png') repeat-x bottom left;
    border:0;
}

.mod.clst ol > li,
.mod.clst ul > li {
    border-bottom: 1px solid rgb(211,211,211);
    border-top: 1px solid rgb(255,255,255);
}

.mod.clst ul.split-two > li {
    border: none;
    min-height: 64px;
}

.mod.clst.more-usa-today ul.split-two > li {
    border: none;
    height: 80px;
}

.mod.tweets .mod.clst ul.split-two > li {
    width: 30%;
    margin: 10px 6px 8px 21px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    min-height: 135px;
    padding: 0;
}

.mod.tweets h2 {
    font: bold 14px/18px 'Futura', 'helvetica neue', 'arial', sans-serif;
    text-transform: uppercase;
    padding: 0 20px;
}

article.cards .mod.clst h2.twitter {
    display: none;
}

article.cards.stag .mod.clst h2.twitter {
    display: block;
}

.size-suspender .mod.clst ol > li,
.size-suspender .mod.clst ul > li {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    border-top: 1px solid rgba(255,255,225,0.14);
}

.lt-ie9 .mod.clst ol > li,
.lt-ie9 .mod.clst ul > li {
    border: 0;
    display:block;
    zoom:1;
}

.lt-ie9 .size-suspender .mod.clst ol > li,
.lt-ie9 .size-suspender .mod.clst ul > li{
    background: transparent url('/static/images/ie-borders/bottom-top-border.png') repeat-x top left;
}

.mod.clst .drop-down > li,
.size-suspender .mod.clst .drop-down > li {
    border-bottom-width: 0;
    border-top-width: 0;
}

.mod.clst .drop-down > li.active,
.mod.clst .drop-down:hover > li,
.size-suspender .mod.clst .drop-down:hover > li {
    border-bottom-width: 1px;
    border-top-width: 1px;
}

/**
 * Partial Borders (following the drop-down)
 */

.size-suspender .mod.clst .drop-down + ul:before {
    border-top: 1px solid rgba(0,0,0,0.15);
    content: '';
    display: block;
    height: 0;
    margin: 0 20px;
}

.lt-ie9 .size-suspender .mod.clst .drop-down + ul:before {
    background: transparent url('/static/images/ie-borders/bottom-top-border.png') repeat-x top left;
    border: none;
    height: 2px;
}

.size-suspender .mod.clst .drop-down + ul:after {
    border-bottom: 1px solid rgba(255,255,225,0.14);
    content: '';
    display: block;
    height: 0;
    margin: 0 20px;
}
.lt-ie9 .size-suspender .mod.clst .drop-down + ul:after{
    border-bottom: 1px solid rgb(216,216,216);
}

/**
 * @see padding rules
 */

.size-suspender .mod.clst .drop-down + ul > li:before {
    border-top: 1px solid rgba(255,255,225,0.14);
    content: '';
    display: block;
    height: 0;
}

.size-suspender .mod.clst .drop-down + ul > li:after {
    border-bottom: 1px solid rgba(0,0,0,0.15);
    content: '';
    display: block;
    height: 0;
}

.lt-ie9 .size-suspender .mod.clst .drop-down + ul > li:after {
    background: transparent url('/static/images/ie-borders/bottom-top-border.png') repeat-x top left;
    border: none;
    height: 2px;
    margin-top: 20px;
}

/**
 * Hover state
 */

.mod.clst > ol > li[data-href]:hover,
.mod.clst > ul > li[data-href]:hover {
    background-color: rgba(0,0,0,0.05);
    border-bottom-color: rgba(0,0,0,0.05);
    border-top-color: rgba(0,0,0,0.05);
    cursor: pointer;
}

.lt-ie9 .size-suspender .mod.clst > ol > li:hover,
.lt-ie9 .size-suspender .mod.clst > ul > li:hover {
    background: transparent url('/static/images/pixels/pixel-black-5percent.png') repeat top left;
    cursor: pointer;
}

/**
 * Selelected state
 */

.mod.clst > ol > li[data-href].selected,
.mod.clst > ul > li[data-href].selected,
.lt-ie9 .size-suspender .mod.clst > ol > li.selected,
.lt-ie9 .size-suspender .mod.clst > ul > li.selected {
    background-color: rgba(0,0,0,0.2);
    border-bottom: none;
    border-top-color: rgba(0,0,0,0.35);
}

.lt-ie9 .size-suspender .mod.clst > ol > li.selected,
.lt-ie9 .size-suspender .mod.clst > ul > li.selected {
    background: transparent url('/static/images/pixels/pixel-black-20percent.png') repeat top left;
}

.mod.clst.functional > ol > li[data-href].selected:after,
.mod.clst.functional > ul > li[data-href].selected:after {
    background: transparent url('/static/images/notch.png') no-repeat 0 -9px;
    content: '';
    height: 16px;
    margin-top: -8px;
    right: 0;
    position: absolute;
    top: 50%;
    width: 10px;
}

/**
 * Padding rules
 */
.size-suspender .mod.clst ol li,
.size-suspender .mod.clst ul li{
    padding:0;
}
.size-suspender .mod.clst ol li a,
.size-suspender .mod.clst ul li a {
    padding: 20px 10px 20px 10px;
    display:block;
}

.size-suspender .mod.clst.functional ol li,
.size-suspender .mod.clst.functional ul li{
    padding:0;
}

.size-suspender .mod.clst.functional ol li a,
.size-suspender .mod.clst.functional ul li a{
    padding: 20px 10px 20px 18px;
    display: block;
}

.size-bar .mod.clst ol li,
.size-bar .mod.clst ul li {
    padding: 20px 18px;
}

.size-bar .mod.clst.functional ol li,
.size-bar .mod.clst.functional ul li {
    padding: 20px 10px 20px 18px;
}

.size-suspender .mod.clst .drop-down + ul > li {
    padding: 0 18px;
}

.size-suspender .mod.clst.functional .drop-down + ul > li {
    padding: 0 10px 0 18px;
}

.size-suspender .mod.clst .drop-down + ul > li:before {
    padding-bottom: 20px;
}

.lt-ie9 .size-suspender .mod.clst .drop-down + ul > li:before {
    padding-bottom: 0px;
    padding-top: 20px;
}

.size-suspender .mod.clst .drop-down + ul > li:after {
    padding-top: 20px;
}

.lt-ie9 .size-suspender .mod.clst .drop-down + ul > li:after {
    padding-top: 0px;
}

/*.size-suspender .mod.slst ol li,
.size-suspender .mod.slst ul li {
    padding: 0 18px 16px 18px;
}*/

/**
 * Drop-down
 */

.mod.clst .drop-down {
    background: rgb(87,173,229);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
    background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0px 1px 1px 0 rgba(255,255,255,0.25);
    -moz-box-shadow: 0px 1px 1px 0 rgba(255,255,255,0.25);
    -webkit-box-shadow: 0px 1px 1px 0 rgba(255,255,255,0.25);
    margin: 0 20px 20px 20px;
}

.lt-ie9 #home .mod.clst ul.drop-down {
    background: none;
    border: 1px solid rgb(38,117,171);
}

.mod.clst ul.drop-down > li {
    height: 0;
    overflow: hidden;
    padding: 0;
}

.lt-ie9 #home .mod.clst ul.drop-down:hover > li {
    border-top: 1px solid rgb(38,117,171);
}

.lt-ie9 #home .mod.clst ul.drop-down:hover > li:first-child {
    border-top: none;
}

.lt-ie9 #home .mod.clst ul.drop-down > li {
    background: none;
}

.lt-ie9 .mod.clst ul.drop-down > li:hover {
    background: transparent url('/static/images/pixels/pixel-black-5percent.png') repeat top left !important;
}

.mod.clst .drop-down:hover > li,
.mod.clst .drop-down > li.active {
    height: 22px;
}

.mod.clst .drop-down > li:after {
    content: url('/static/images/drop-down.png');
    height: 4px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    right: 5px;
    top: 50%;
    width: 9px;
}

.mod.clst .drop-down > li.active:after {
    opacity: 1;
    display:block;
}

.mod.clst .drop-down:hover > li.active:after {
    opacity: 0;
    display: none;
}

.lt-ie9 .mod.clst .drop-down:hover > li:after {
    display: none;
}

.mod.clst .drop-down > li > a {
    color: rgb(255,255,255);
    display: block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    padding: 3px 5px;
    text-decoration: none;
}

/**
 * Sports Matchup
 */

.size-suspender .mod.clst ol li p,
.size-suspender .mod.clst ul li p {
    color: rgb(255,255,255);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    margin: 0;
    padding: 0 0 3px 0;
    text-align: center;
    text-transform: capitalize;
}

.mod.clst ul li > dl {
    margin: 0;
    min-height: 38px;
    position: relative;
}

.mod.clst ul li > dl:after{
    color: rgba(255,255,255,0.48);
    content: 'vs';
    font-size: 10px;
    font-style: italic;
    line-height: 25px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.mod.clst ul li > dl > dt {
    background: rgba(255,255,255,0.25);
    height: 25px;
    position: absolute;
    right: 0;
    text-indent:-1000px;
    top: 0;
    width: 32px;
}

.mod.clst ul li > dl > dt.home {
    left: 0;
}

.mod.clst ul li > dl > dd {
    color: rgb(255,255,255);
    font-family: Arial, sans-serif;
    font-size: 11px;
    margin: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 28px;
    width: 32px;
}

.mod.clst ul li > dl > dd.home {
    left: 0;
}

/**
 * CSS Animation Rules - Drop-down
 */

.mod.clst > .drop-down > li {
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-property: border-bottom-width, border-top-width, height;
    -moz-transition-property: border-bottom-width, border-top-width, height;
    -o-transition-property: border-bottom-width, border-top-width, height;
    -webkit-transition-property: border-bottom-width, border-top-width, height;
}

.mod.clst > .drop-down > li:after {
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

/**
 * Font styles : anchor tags
 */

.mod.clst a {
    color: inherit;
    text-decoration: none;
}

/**
 * Font styles : Sub-lists Header
 */

.size-suspender .mod.slst > p:first-child {
    margin: 0;
}

.size-suspender .mod.slst > p:first-child > strong {
    color: rgb(255,255,255);
    color: rgba(255,255,255,0.75);
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    margin: 0;
    padding: 20px 18px 15px;
    text-align: left;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.18);
    text-transform: uppercase;
}

/**
 * Font styles : Base Suspender
 */

.size-suspender .mod.clst ol li,
.size-suspender .mod.clst ul li {
    color: rgb(255,255,255);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}

.size-suspender .mod.clst.navigation > ol li,
.size-suspender .mod.clst.navigation > ul li {
    font-size: 13px;
    line-height: 16px;
}

.size-suspender .mod.clst. > ol li,
.size-suspender .mod.clst. > ul li {
    font-size: 13px;
    line-height: 16px;
}


.size-suspender .mod.clst ol li hgroup h5,
.size-suspender .mod.clst ul li hgroup h5 {
    color: rgba(255,255,255,0.48);
    font-size: 11px;
    font-weight: normal;
    line-height: 11px;
    margin: 0;
    padding: 0 0 12px 0;
    text-align: center;
    text-transform: capitalize;
}

.size-suspender .mod.clst ol li hgroup h5 a,
.size-suspender .mod.clst ul li hgroup h5 a {
    font-style: italic;
}

.size-suspender .mod.clst ol li hgroup h4,
.size-suspender .mod.clst ul li hgroup h4 {
    color: rgb(255,255,255);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.20);
}

.size-suspender .mod.slst > ol,
.size-suspender .mod.slst > ul {
    border: none;
}

.size-suspender .mod.slst > ol li,
.size-suspender .mod.slst > ul li {
    border: none;
    font-size: 11px;
    font-weight: normal;
    line-height: 15px;
/*    padding-bottom: 10px;*/
    text-shadow: 0px 1px 1px rgba(0,0,0,0.18);
    /* TODO: IE text-shadow */
}

/**
 * List of content headlines
 */

p.headline > a,
.mod.clst .headline > a {
    color: rgb(0,125,207);
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
}

p.headline > a:hover,
.mod.clst .headline > a:hover {
    color: rgb(0,125,207);
}

p.headline > a > strong,
.mod.clst .headline > a > strong {
    color: rgb(51,51,51);
}

p.headline > a:hover > strong,
.mod.clst .headline > a:hover > strong {
    color: rgb(0,125,207);
}

/**
 * List of content meta data
 */

p.meta,
.mod.clst .meta {
    color: rgb(153,153,153);
    font-size: 12px;
    line-height: 20px;
}

p.meta > span,
.mod.clst .meta > span {
    border-left: 1px solid rgba(0,0,0,0.15);
    display: inline-block;
    font-size: 11px;
    font-style: italic;
    margin-left: 10px;
    padding-left: 10px;
}

p.meta a,
.mod.clst .meta a {
    color: rgb(0,125,207);
}

.mod.clst .meta strong {
    text-transform: capitalize;
}

/**
 * List of content action data
 */

p.action,
.mod.clst p.action {
    color: rgb(153,153,153);
    font-size: 11px;
    line-height: auto;
    margin: 0 0 10px 0;
}

.mod.clst .avatar + p.action,
.mod.clst .avathumb + p.action,
.mod.clst .video + p.action,
.mod.clst .gallery + p.action {
    margin: 10px 0;
}

/**
 * List of content comments
 */

p.content-voice,
.mod.clst p.content-voice {
    color: rgb(153,153,153);
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}

/**
 * Video icon
 */

.mod.clst .video {
    width: 200px;
}

.mod.clst .video a {
    position: relative;
}

.mod.clst .video a:after {
    background: transparent url('/static/images/buttons/button-video-play-small.png') no-repeat top left;
    content: '';
    height: 45px;
    left: 50%;
    margin: -22.5px 0 0 -22.5px;
    position: absolute;
    top: 50%;
    width: 45px;
}

.mod.clst .video:hover a:after {
    background-position: bottom left;
}

/**
 * Gallery display
 */

.mod.clst .gallery {
    background-color: rgb(255,255,255);
    border: 1px solid rgb(192,192,192);
    padding: 4px;
    position: relative;
    width: 190px;
}

.mod.clst .gallery:before {
    background-color: rgb(241,241,241);
    border: 1px solid rgb(192,192,192);
    content: '';
    display: block;
    height: 107px;
    left: 3px;
    padding: 4px;
    position: absolute;
    top: -4px;
    width: 190px;
    z-index: -1;
}


.lt-ie9 .mod.clst .gallery:before{
    content:none;
    box-sizing: border-box;
}

.mod.clst .gallery:after {
    background-color: rgb(241,241,241);
    border: 1px solid rgb(192,192,192);
    content: '';
    display: block;
    height: 107px;
    left: 6px;
    padding: 4px;
    position: absolute;
    top: -6px;
    width: 190px;
    z-index: -2;
}


.lt-ie9 .mod.clst .gallery:after {
     content:none;
    box-sizing: border-box;
}
