/**
 * Arrows
 */

#cover-view .arrow {
    background: url('/static/images/modules/coverview/arrows.png');
    display: block;
    height: 47px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 27px;
    z-index: 100;
}

#cover-view .arrow.prev {
    display: none;
    left: 10px;
}

#cover-view .arrow.next {
    background-position: 0 -47px;
    right: 10px;
}

/**
 * Cover view wraps.
 */

#cover-view {
    height: 100%;
    overflow: hidden;
    position: absolute;
    perspective: 2200px;
    -webkit-perspective: 2200px;
    -moz-perspective: 2200px;
    top: 0;
    width: 100%;
}

#cover-view .page {
    /*box-shadow: 230px 0 1000px rgba(0, 0, 0, .5);*/
    height: 100%;
    position: absolute;
    right: 0;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-origin: left center;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transition: transform .75s;
    -webkit-transition: -webkit-transform .75s;
    -moz-transition: -moz-transform .75s;
    width: 50%;
}

#cover-view .page.flipped,
#cover-view .page.first,
#cover-view .back {
    transform: rotateY(-180deg) translateZ(0);
    -webkit-transform: rotateY(-180deg) translateZ(1px);
    -moz-transform: rotateY(-180deg);
}

#cover-view .back {
    /*-moz-transform: translateZ(-1px);*/
}

#cover-view .front,
#cover-view .back {
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

/*#cover-view .front {
    z-index: 2;
}

#cover-view .back {
    z-index: 1;
}
*/
#cover-view .first .back,
#cover-view .last .front {
    cursor: default;
}

#cover-view .photo {
    background-size: cover;
    background-position: center;
    height: 100%;
    position: absolute;
    width: 200%;
}

#cover-view .front .photo {
    right: 0;
}

#cover-view .back .photo,
#cover-view .page.first .photo {
    left: 0;
}

/**
 * Text wrap (headline, etc)
 */

#cover-view .back .photo:after {
    content: '';
    display: block;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.25) 320px, rgba(0,0,0,0) 400px);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.75)), color-stop(320px,rgba(0,0,0,0.25)), color-stop(400px,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.25) 320px,rgba(0,0,0,0) 400px);
    background: -o-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.25) 320px,rgba(0,0,0,0) 400px);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.25) 320px,rgba(0,0,0,0) 400px);
    background: linear-gradient(to right,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.25) 320px,rgba(0,0,0,0) 400px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

#cover-view .text-wrap {
    bottom: 60px;
    left: 60px;
    position: absolute;
}

#cover-view b.label {
    position: static;
}

#cover-view .text {
    background: none;
    margin-top: 15px;
    width: 300px;
}

#cover-view .text .story {
    position: static;
}

#cover-view .text .story h1 {
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -1px;
    margin: 0;
    width: 100%;
}

#cover-view.mod.hero .text .story .byline-block {
    margin: 0;
}

#cover-view.mod.hero .story .actions {
    border-top: 2px solid #fff;
    margin: 20px 0 0;
    padding: 20px 0 0;
    width: 150px;
}

#cover-view.mod.hero .story .actions li {
    border: none;
    margin: 0;
    padding: 0;
}

#cover-view.mod.hero .story .actions li .byline {
    margin-top: 0;
}

#cover-view.mod.hero .text .actions .readContainer,
#cover-view.mod.hero .text .actions .relatedContainer {
    display: none;
}


