/**
 * @fileoverview Front Featured Content specific styles.
 */

.featured-content{
    background:rgb(222,222,222) url('/static/images/noise_e4e4e4.png') repeat top left;
    padding: 27px 0 10px;
}
.paginator{
    position:relative;
    overflow:hidden;
    width: 720px;
    height: auto;
}
.featured-content ul {
    margin: 0 0 15px;
    padding: 0;
    list-style-type: none;
    width: 20000em;
    position: relative;

    -webkit-transition: left 0.45s ease;
    -moz-transition: left 0.45s ease;
    -o-transition: left 0.45s ease;
    -ms-transition: left 0.45s ease;
    transition: left 0.45s ease;
}


.featured-content li{
    text-align:center;
    float: left;
}
.featured-content li:nth-child(4n){
    border:none;
}
.featured-content li img {
    -webkit-box-shadow: 0 4px 8px 0 rgb(190,190,190);
    box-shadow: 0 4px 8px 0 rgb(190,190,190);
    border: 5px solid white;
}


.featured-content p {
    color: #666;
}

.featured-content h3{
    margin-bottom: 0;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow:hidden;
}
.featured-content a{
    text-decoration:none;
    color: #000;
    display:block;
    width:125px;
    padding: 0 27px 0 27px;
    border-right: 1px solid rgb(195,195,195);
    /*text-align:center;*/
    font-size:11px;
    /*float: left;*/
}
.featured-content a:hover{
    color: #007CCF;
}

