

.card-wrap.offscreen .live-feed-button {
    display: none;
}

.open-sidebar {
    background-image: url(/static/images/modules/live-feed/sprite.png);
    width: 82px;
}

/* for sports section */
#section_sports .open-sidebar {
      top: 50px;
}
/* endfor sports section */

.live-feed {
    background: rgb(249, 249, 249);
}

.live-feed .new-bubble {
    background: rgb(0, 170, 255);
    border-radius: 10px;
    color: white;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    margin: 10px 4px 0 5px;
    padding: 0 4px;
    text-align: center;
    width: auto;
}

.live-feed .live-feed-content {
    bottom: 0;
    left: 0;
    margin-bottom: 1px;
    overflow: hidden;
    position: absolute;
    top: 38px;
    width: 100%;
    z-index: -1;
}

.mod.clst.live-feed .live-feed-content ul {
    background: transparent url(/static/images/modules/live-feed/newcontentbg.png) repeat;
    margin: 0 1px;
}

.mod.clst.live-feed .live-feed-content li > a {
    background-color: rgba(249, 249, 249, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 1);
    display: block;
    padding: 10px 20px;
    -webkit-transition: background-color 0.4s ease-out, border-top-color 0.4s ease-out;
       -moz-transition: background-color 0.4s ease-out, border-top-color 0.4s ease-out;
        -ms-transition: background-color 0.4s ease-out, border-top-color 0.4s ease-out;
         -o-transition: background-color 0.4s ease-out, border-top-color 0.4s ease-out;
            transition: background-color 0.4s ease-out, border-top-color 0.4s ease-out;
}

.mod.clst.live-feed .live-feed-content li > a:hover {
    background: rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.mod.clst.live-feed .live-feed-content li.has-image > a {
    min-height: 50px;
}

.mod.clst.live-feed .live-feed-content ol > li,
.mod.clst.live-feed .live-feed-content ul > li {
    border-bottom: none;
    border-top: none;
    padding: 0;
    text-align: left;
}

.mod.clst.live-feed .live-feed-content li.newcontent > a {
    background-color: rgba(249, 249, 249, 0);
}

.mod.clst.live-feed .live-feed-content li.newcontent > a:hover {
    background-color: rgba(249, 249, 249, 0.6);
}

.mod.clst.live-feed .live-feed-content li.newcontent.top > a {
    border-top-color: rgba(0, 0, 0, 0.05);
}

.live-feed .live-feed-content li .shadow {
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    -webkit-transition: height 0.2s ease-out;
       -moz-transition: height 0.2s ease-out;
        -ms-transition: height 0.2s ease-out;
         -o-transition: height 0.2s ease-out;
            transition: height 0.2s ease-out;
    width: 100;
}

.live-feed .live-feed-content li.newcontent .shadow {
    height: 5px;
}

.live-feed .live-feed-content li.top .shadow {
    background: transparent url(/static/images/modules/live-feed/newcontentbg-shadowsprite.png) 0 -5px repeat-x;
    top: 0;
}

.live-feed .live-feed-content li.bottom .shadow {
    background: transparent url(/static/images/modules/live-feed/newcontentbg-shadowsprite.png) repeat-x;
    bottom: 0;
}

.mod.clst.live-feed .headline {
    color: rgba(51, 51, 51, 1);
    font-size: 12px;
}

.mod.clst.live-feed a:hover .headline {
    color: rgba(0, 125, 207, 1);
}

.mod.clst.live-feed p.action {
    display: block;
    float: left;
    margin: 1px 0 0 0;
}

.mod.clst.live-feed p.timesince {
    color: rgb(172, 172, 172);
    display: none; /* change this to display block for the always on timestamps, insted of just newcontent ones */
    float: left;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 1px 5px 1px 0;
}

.mod.clst.live-feed .newcontent p.timesince {
    display:block;
    color: rgb(0, 155, 255);
}
.mod.clst.live-feed .newcontent{
background-color:rgb(238,238,238);
}

.mod.clst.live-feed p.timesince:after {
    color: rgba(153, 153, 153, 1);
    content: '|';
    display: block;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: -1px 0 0 5px;
}

.live-feed .live-feed-content > ul {
    border-bottom: none;
    border-top: none;
}

.live-feed .live-feed-content .last-item {
    border-bottom: none;
}

.mod.clst.live-feed {
    border-bottom: 1px solid rgb(222,222,222);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    height: 36px;
    text-align: center;
    -webkit-transition: border-bottom-width 0.2s;
       -moz-transition: border-bottom-width 0.2s;
         -o-transition: border-bottom-width 0.2s;
            transition: border-bottom-width 0.2s;
}

.mod.live-feed .loading-icon {
    color: rgb(153, 153, 153);
    font-family: Arial;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 13px;
    margin: 0;
    padding: 14px 5px;
    text-align: center;
    text-shadow: 0 1px 1px white;
}

.mod.live-feed .live-feed-content .shadow {
    background: transparent;
    left: 0;
    position: absolute;
    width: 100%;
}

.mod.live-feed .live-feed-content .top-shadow {
    -webkit-box-shadow: 0px -4px 12px 3px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0px -4px 12px 3px rgba(0, 0, 0, 0.3);
            box-shadow: 0px -4px 12px 3px rgba(0, 0, 0, 0.3);
    top: 0;
}

.mod.live-feed .live-feed-content .bottom-shadow {
    bottom: 0;
    -webkit-box-shadow: 0px 2px 11px 2px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0px 2px 11px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 2px 11px 2px rgba(0, 0, 0, 0.3);
}

.mod.live-feed .video {
    position: relative;
}

.mod.live-feed .video .play-button {
    background: url(/static/images/modules/live-feed/video-play.png) no-repeat;
    bottom: 10px;
    height: 34px;
    position: absolute;
    right: 10px;
    width: 34px;
}

.mod.headlines .video .play-button {
    bottom: 70px;
    right: 10px;    
}

.mod.live-feed .gallery {
    background-color: transparent;
    border: none;
    height: 126px;
    margin-top: 6px;
    margin-left: -3px;
    padding: 0;
    position: relative;
    width: 206px;
}

.mod.live-feed .gallery > .frame {
    background-color: white;
    border: 1px solid silver;
    padding: 4px;
    position: relative;
    width: 190px;
    height: 107px;
}

.mod.live-feed .gallery > .bg {
    background-color: rgb(241,241,241);
    border: 1px solid rgb(192,192,192);
    display: block;
    height: 107px;
    padding: 4px;
    position: absolute;
    width: 190px;
}

.mod.live-feed .gallery > .bg.one {
    left: 6px;
    top: -6px;
}

.mod.live-feed .gallery > .bg.two {
    left: 3px;
    top: -3px;
}

.mod.live-feed .thumb {
    height: 50px;
    width: 60px;
}

.mod.live-feed .thumb > img {
    height: 50px;
    width: 50px;
}

.clearfix-1280 {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    
}

@media only screen and (min-width: 1440px) {

    .mod.live-feed .video {
        float: left;
        margin-right: 15px;
        overflow: hidden;
    }

    .mod.live-feed .gallery {
        float: left;
        height: 107px;
        margin: 6px 30px 12px 0;
        width: 190px;
    }

    .mod.live-feed .gallery > .bg {
        height: 107px;
        width: 190px;
    }

    .mod.live-feed .gallery > .frame,
    .mod.live-feed .gallery > .frame img {
        height: 100%;
        width: 100%;
    }

    .mod.clst.live-feed .headline {
        margin-top: 25px;
    }

    .clearfix-1280 {
        clear: none;
    }

    .clearfix-1440 {
        clear: both;
    }

}
