/**
 * Lottery Module.
 */

.mod.lottery {
    position: relative;
    width: 720px;
    height: 520px;
    background: rgb(239,239,239);
    font-family: Arial;
}

.mod.lottery .lottery-wrapper {
	padding: 20px 10px;
	height:100%;
}

.mod.lottery .lottery-leftrail {
	float: left;
	width: 50%;
	height: 480px;
	padding-left: 10px;
}

.mod.lottery .lottery-rightrail {
	float: left;
	width: 46%;
	height: 480px;
}

.mod.lottery .lottery-rightrailwrapper {
	height: 450px;
	margin: 30px 0 0 0;
	border-left: 1px dashed rgb(191,191,191);
	border-width: 0 0 0 4px;
	-webkit-border-image: url("/static/images/lottery/lotteryborder.png") 0 0 0 4 round round;
	-moz-border-image: url("/static/images/lottery/lotteryborder.png") 0 0 0 4 round round;
	-o-border-image: url("/static/images/lottery/lotteryborder.png") 0 0 0 4 round round;
	border-image: url("/static/images/lottery/lotteryborder.png") 0 0 0 4 round round;
}

.mod.lottery .lottery-rightrail p {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 5px;
}

.mod.lottery .lottery-rightrail ul {
	display: inline;
	padding: 0;
}

.mod.lottery .lottery-rightrail li {
	display: inline;
}

.mod.lottery .lottery-multi {
	margin: 30px 0 0 0;
}

.mod.lottery .no-uppercase {
	text-transform: none;
}

.mod.lottery .lottery-title {
	font-family: Futura;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}

.mod.lottery .lottery-type {
	padding: 0;
	margin: 0;
}

.mod.lottery .lottery-leftrail ul {
	list-style-type: none;
	padding: 0;
}

.mod.lottery .lottery-leftrail li {
	display: inline;
}

.mod.lottery .lottery-types {
	font-size: 13px;
	font-weight: bold;
	padding-right: 10px;
	border-right: 1px solid #cccccc;
	text-transform: uppercase;
	letter-spacing: -0.5px;
}

.mod.lottery .lottery-range {
	font-size: 13px;
	padding: 0 10px;
	border-right: 1px solid #cccccc;
	color: rgb(153,153,153);
}

.mod.lottery .lottery-jackpots {
	font-size: 12px;
	font-weight: bold;
	padding: 0 10px;
	color: rgb(53,53,53);
	text-transform: uppercase;
}

.mod.lottery .lottery-jackpots span {
	display: inline-block;
	height: 12px;
	width: 12px;
	margin: 0px 5px 0 0;
	background: url(/static/images/lottery/lottery-green-arrow.png) no-repeat top right;
	}

.mod.lottery .lottery-total {
	font-size: 43px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(66, 158, 221);
	letter-spacing: -2px;
}

.mod.lottery .lottery-limited {
	float: left;
	width: auto;
	padding: 0;
	margin: 0 0 3px 0;
}

.mod.lottery .lottery-wrap-inline {
	float: left;
	padding: 10px 0 0 15px
}

.mod.lottery .lottery-wrap-inline p{
	padding: 0;
	margin: 0;
	color: rgb(153,153,153);
	font-size: 11px;
}

.mod.lottery .lottery-wrap-inline span {
	font-weight: bold;
	color: rgb(51,51,51);
	text-transform: uppercase;
}

.mod.lottery .lottery-forms, 
.mod.lottery .lottery-forms-top, 
.mod.lottery .lottery-forms-bottom {
	padding:20px 0;
	margin-left: 15px;

}

.mod.lottery .lottery-forms-top {
	border-bottom: 1px solid rgb(191,191,191);
}

.mod.lottery .lottery-forms {
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(191,191,191);
}

.mod.lottery .lottery-forms-bottom {
	border-top: 1px solid rgb(255,255,255);
}

.mod.lottery .lottery-forms-top, 
.mod.lottery .lottery-forms-top p {
	padding-top: 0;
	margin-top: 0;
}

.mod.lottery .lottery-forms-bottom span {
	font-size: 11px;
	color: rgb(153,153,153);
	padding-left: 10px;
	text-transform: none;
}

.mod.lottery .lottery-container {
	clear:both;
	padding-top: 20px;
}

.mod.lottery .controls {
  display: inline;
}

.mod.lottery .btn-right {
  float:right;
}

.mod.lottery .lotteryspacing {
	padding-top: 15px;
}

.mod.lottery .lottery-button {
    -moz-transition: all 0.218s ease 0s;
    -moz-user-select: none;
    background-color: #20a9ff;
    border: 1px solid #149cee;
    border-radius: 2px 2px 2px 2px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    cursor: default;
    display: inline-block;
    font-size: 10px;
    height: 27px;
    line-height: 27px;
    min-width: 46px;
    padding: 0 13px;
    text-align: center;
    -moz-box-shadow: 0px 1px 2px rgba(68,68,68,0.6);
	-webkit-box-shadow: 0px 1px 2px rgba(68,68,68,0.6);
	box-shadow: 0px 1px 2px rgba(68,68,68,0.6);
}