/**
 * @fileoverview Scrollbar specific styles.
 */

/**
 * Vertical scroll styles
 */

.vertical-scroll {
	border-radius: 3px;
	left: 100%;
	margin: 0 0 0 -20px;
 	position: absolute;
 	width: 6px;
}

.vertical-scroll.black {
 	background: rgba(0, 0, 0, 0.4);
 	border-left: solid 1px rgba(0, 0, 0, 0.29);
 	border-right: solid 1px rgba(0, 0, 0, 0.1);
}

.vertical-scroll.white {
 	background: rgb(236, 236, 236);
 	background: rgb(236, 236, 236);
 	border-left: solid 1px rgb(210, 210, 210);
 	-webkit-box-shadow: inset 0px 1px 0px 0px rgb(227, 227, 227);
 	   -moz-box-shadow: inset 0px 1px 0px 0px rgb(227, 227, 227);
 	        box-shadow: inset 0px 1px 0px 0px rgb(227, 227, 227);
 	border-right: solid 1px rgb(255, 255, 255);
}

.vertical-scroll .scrolldragger {
	border-radius: 3px;
	height: 150px;
	margin: 0 0 0 -1px;
	padding: 0;
	position: relative;
	width: 5px;
}

.vertical-scroll .scrolldragger.hover {
 	border-radius: 8px;
 	cursor: pointer;
	margin: 0 0 0 -4px;
	width: 12px;
}

.vertical-scroll .scrolldragger.black {
 	background: rgb(51, 51, 51);
 	border: solid 1px rgb(0, 0, 0);
 	-webkit-box-shadow: inset 0px 1px 0px 0px rgb(72, 72, 72);
 	   -moz-box-shadow: inset 0px 1px 0px 0px rgb(72, 72, 72);
 	        box-shadow: inset 0px 1px 0px 0px rgb(72, 72, 72);
}

.vertical-scroll .scrolldragger.white {
 	background: rgb(247, 247, 247);
 	border: solid 1px rgb(201, 201, 201);
 	-webkit-box-shadow: inset 0px 1px 0px 0px rgb(255, 255, 255);
 	   -moz-box-shadow: inset 0px 1px 0px 0px rgb(255, 255, 255);
 	        box-shadow: inset 0px 1px 0px 0px rgb(255, 255, 255);
}

.vertical-scroll .scrolldragger.hover .over-icon {
 	height: 14px;
 	left: 50%;
 	margin: -7px 0 0 -3px;
 	position: absolute;
 	top: 50%;
 	width: 6px;
}

.vertical-scroll .scrolldragger.hover .over-icon.black {
 	background: -20px 0px url(/static/images/components/scrollbar-overicon.png);
}

.vertical-scroll .scrolldragger.hover .over-icon.white {
 	background: -14px 0px url(/static/images/components/scrollbar-overicon.png);
}

/**
 * Horizonal scroll styles
 */

.horizontal-scroll {
	border-radius: 3px;
	height: 6px;
	margin: -18px 0 0 0;
 	position: absolute;
 	top: 100%;
}

.horizontal-scroll.black {
 	background: rgba(0, 0, 0, 0.4);
 	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
 	border-top: solid 1px rgba(0, 0, 0, 0.29);
 	margin: -20px 0 0;
}

.horizontal-scroll.white {
 	background: rgb(236, 236, 236);
 	background: rgb(236, 236, 236);
 	border-bottom: solid 1px rgb(255, 255, 255);
 	-webkit-box-shadow: inset 0px 1px 0px 0px rgb(227, 227, 227);
 	-moz-box-shadow: inset 0px 1px 0px 0px rgb(227, 227, 227);
 	box-shadow: inset 0px 1px 0px 0px rgb(227, 227, 227);
 	border-top: solid 1px rgb(210, 210, 210);
}

.horizontal-scroll .scrolldragger {
	border-radius: 3px;
	height: 6px;
	margin: -1px 0 0 0;
	padding: 0;
	width: 150px;
}

.horizontal-scroll .scrolldragger.hover {
 	border-radius: 8px;
 	cursor: pointer;
	height: 12px;
	margin: -4px 0 0 0;
}

.horizontal-scroll .scrolldragger.black {
 	background: rgb(51, 51, 51);
 	border: solid 1px rgb(0, 0, 0);
 	-webkit-box-shadow: inset 0px 1px 0px 0px rgb(72, 72, 72);
 	   -moz-box-shadow: inset 0px 1px 0px 0px rgb(72, 72, 72);
 	        box-shadow: inset 0px 1px 0px 0px rgb(72, 72, 72);
}

.horizontal-scroll .scrolldragger.white {
 	background: rgb(247, 247, 247);
 	border: solid 1px rgb(201, 201, 201);
 	-webkit-box-shadow: inset 0px 1px 0px 0px rgb(255, 255, 255);
 	   -moz-box-shadow: inset 0px 1px 0px 0px rgb(255, 255, 255);
 	        box-shadow: inset 0px 1px 0px 0px rgb(255, 255, 255);
}

.horizontal-scroll .scrolldragger.hover .over-icon {
 	height: 6px;
 	margin: 3px auto;
 	width: 14px;
}

.horizontal-scroll .scrolldragger.hover .over-icon.black {
 	background: 0px -6px url(/static/images/components/scrollbar-overicon.png);
}

.horizontal-scroll .scrolldragger.hover .over-icon.white {
 	background: url(/static/images/components/scrollbar-overicon.png);
}