/**
 * @fileoverview Search results specific styles.
 */

body.show-search .ui-loader.global-loader.active,
    body.search-open .ui-loader.global-loader.active{
    top: 120px;
}

.search-results {
    background: rgb(51, 51, 51) url('/static/images/dark-noise.png') 0 0 repeat;
    color: rgb(255, 255, 255);
    padding-top: 80px;
    position: relative;
    overflow: hidden;
    z-index: 100;
}

.search-results a {
    text-decoration: none;
}

.results {
    position: relative;
    -webkit-box-shadow: inset 0px 1px rgb(59,59,59);
    -moz-box-shadow: inset 0px 1px rgb(59,59,59);
    box-shadow: inset 0 1px rgb(59,59,59);
}
.results .inner {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 840px;
    position: relative;
}

.view-grid .inner {
    width: 720px;
}

.view-list .inner {
    width: 720px;
}

.search-results .list-content {
    padding-right: 241px;
}

.search-results .tile {
    border-bottom: 1px solid rgb(10, 10, 10);
    position: relative;
    -webkit-box-shadow: inset 0px 1px rgb(59,59,59);
    -moz-box-shadow: inset 0px 1px rgb(59,59,59);
    box-shadow: inset 0 1px rgb(59,59,59);
    padding: 20px;
}

.search-results .ad figure {
    text-align: center;
}

.search-results .sidebar {
    background: rgb(44, 44, 44) url('/static/images/modules/search/sidebar-bg.png') repeat top left;
    -webkit-box-shadow: inset 0px 1px rgb(59,59,59);
    -moz-box-shadow: inset 0px 1px rgb(59,59,59);
    box-shadow: inset 0 1px rgb(59,59,59);
    border-right: 1px solid rgb(10, 10, 10);
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 240px;
}

.view-list .list-bg {
    border-top: rgba(87, 87, 87, 0.3) 1.5px solid;
    background: rgb(44, 44, 44) url('/static/images/modules/search/sidebar-bg.png') repeat top left;
    position: absolute;
}

.clearleft {
    clear: left;
}

.results .list-content ul {
    border-left: 1px solid rgb(10, 10, 10);
    list-style: none;
    margin: 0;
    padding: 0;
}

.view-grid .list-content li {
    float: left;
    height: 257px;
    margin: 0;
    padding: 1px 0 0;
    width: 238px;
}

.search-results .list-content li {
    border-bottom: 1px solid rgb(10, 10, 10);
    border-right: 1px solid rgb(10,10,10);
    position: relative;
    -webkit-box-shadow: inset 0px 1px rgb(59,59,59);
    -moz-box-shadow: inset 0px 1px rgb(59,59,59);
    box-shadow: inset 0 1px rgb(59,59,59);
}

.results li h3,
.results li p {
    margin: 0;
}

.results li figure {
    padding: 16px 17px 11px 17px;
    position: relative;
}

.view-list li figure {
    float: left;
    padding: 0;
}

.results li img {
    border: 2px solid rgb(46, 46, 46);
    display: block;
    margin: 0 auto;
}

.view-list .article img,
.view-list .text img,
.view-list .video img,
.view-list .gallery img,
.view-list .message img {
    margin: 0 20px 0 0;
    width: 100px;
}

.view-list .topic img {
    float: left;
    margin: 0 20px 0 0;
    width: 200px;
}

.results li a {
    display: block;
}
.search-results .view-list li a .front {
    position: relative;
}

.results li a .front {
    opacity: 1;
    position: absolute;
    -webkit-transition: opacity 150ms linear;
    -moz-transition: opacity 150ms linear;
    -o-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    height: 100%;
    width: 100%;
}
.results li .back{
    display: none;
}
.view-grid li a .back {
    display: block;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 150ms linear;
    -moz-transition: opacity 150ms linear;
    -o-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    height: 100%;
    width: 100%;
}

.view-grid li a:hover .front {
    opacity: 0;
}
.view-grid li a:hover .back {
    opacity: 1;
}

.view-grid .list-content li a {
    height: 257px;
    width: 238px;
}

.view-grid li a:hover {
    background: rgb(77, 77, 77);
}

.view-list li a:hover {
    background: rgb(77, 77, 77);
}

.view-list .none-link-borders,
.view-list li a {

    padding: 10px 0 10px 10px;
}

.results li a {
    color: rgb(204, 204, 204);
}

.results li a h3 {
    font-size: 95%;
    line-height: 135%;
    margin: 0 18px;
    text-shadow: 0 1px 1px rgb(0, 0, 0);
}

.results li a .back h3 {
    font-size: 14px;
    line-height: 110%;
    padding-top: 57px;
}

.results li a:hover h3 {
    color: rgb(255, 255, 255);
}

.view-list li a h3 {
    font-size: 22px;
}

.results li a .label {
    color: rgb(255, 255, 255);
    font-family: Futura, Arial, sans-serif;
    font-size: 10px;
    left: 19px;
    letter-spacing: 1px;
    line-height: 8px;
    padding: 6px;
    position: absolute;
    text-transform: uppercase;
    top: 19px;
}

.results li a .label.news {
    background-color: rgb(0,155,255);
}

.results li a .label.sports {
    background-color: rgb(235,30,0);
}

.results li a .label.life {
    background-color: rgb(150,0,180);
}

.results li a .label.money {
    background-color: rgb(0,165,60);
}

.results li a .label.tech {
    background-color: rgb(250,95,0);
}

.results li a .label.travel {
    background-color: rgb(0,195,195);
}

.results li a .label.weather {
    background-color: rgb(255,192,0);
}

.results li .meta {
    color: rgb(102, 102, 102);
    font-size: 65%;
    font-style: italic;
}

.results li .back .text {
    padding-top: 19px;
    font-size: 12px;
    height: 98px;
    overflow: hidden;
    position: absolute;
    margin: 0 18px;
}

.view-grid li .back .meta {
}

.view-grid li .meta .photo {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

.view-grid li .meta .byLine {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-weight: bold;
    font-style: normal;
    padding-left: 7px;
}

.view-grid li .meta {
    bottom: 16px;
    left: 20px;
    position: absolute;
}

.view-list li .meta {
    margin: 0;
    padding: 0 0 0 18px;
}

.view-list li.message .meta {
    padding: 0;
}

.results li .meta span {
    border-left: none;
    margin: 0;
    padding: 0;
}

.results li .meta .last-update {
    border-right: rgb(68, 68, 68) 1px solid;
    margin-right: 10px;
    padding-right: 10px;
}

.results li .video-icon {
    background: url('/static/images/modules/search/search-icons.png') 0 -219px no-repeat;
    height: 30px;
    left: 50%;
    margin: -13px 0 0 -16px;
    position: absolute;
    top: 50%;
    width: 30px;
}

.view-list li .video-icon {
    left: 50px;
    margin: -16px 0 0 -14px;
}

/* Gallery */
.results .gallery figure {
    background: transparent url('/static/images/modules/search/result-gallery.png') 0 100% no-repeat;
    height: 135px;
    margin: 0 13px 13px 19px;
    padding: 23px 0 0 5px;
}

.view-list .gallery figure {
    background: transparent url('/static/images/modules/search/result-gallery-sm.png') 0 100% no-repeat;
    float: left;
    height: 76px;
    margin: 0;
    padding: 0 20px 0 1px;
}

.view-list .gallery figure img {
    margin: 0;
    padding: 3px 0;
    width: auto;
}

.view-grid .gallery-thumb-list {
    display: none;
}

.view-list .gallery-thumb {
    display: none;
}

.results .gallery figure img {
    border: 0;
    float: left;
    margin: 0 4px 4px 0;
}

/* Result topic */
.search-results .view-grid .list-content .topic,
.search-results .view-grid .list-content .topic a {
    height: 516px;
    width: 477px;
}

.results .topic a h3 {
    font-size: 25px;
    line-height: 120%;
}

.results .topic a .back h3 {
    font-size: 42px;
    line-height: 120%;
    color: rgb(204, 204, 204);
}

.results .topic a .back .text {
    line-height: 200%;
    height: 246px;
    margin: 0 20px;
}

/* Result message */
.view-grid .message h3 {
    font-size: 145%;
    line-height: 110%;
    padding-top: 37px;
}

.view-list .message h3 {
    margin: 0;
    padding: 0;
}

/* Result Google ads */
.results .google-ads p {
    color: rgb(102, 102, 102);
    font-size: 80%;
    padding: 20px 20px 0 20px;
}

.results .google-ads img {
    border: none;
    margin: 0;
    padding: 0;
}

/* Ad */
.results .ad figcaption {
    color: rgb(102, 102, 102);
    display: block;
    font-size: 60%;
    padding: 6px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

.view-list .ad {
}

.results .related-searches h3 {
    color: rgb(204, 204, 204);
    font-size: 20px;
    padding: 10px 0 18px;
    margin: 0;
    text-shadow: 0 1px 1px black;
}

.results .related-searches ul,
.results .related-searches li,
.results .related-searches a {
    border: 0;
    float: none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.results .related-searches ul {
    color: rgb(30, 163, 255);
    list-style: disc;
    padding: 0 0 0 30px;
}

.results .related-searches li {
    line-height: 130%;
}

.results .related-searches a {
    color: rgb(30, 163, 255);
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
}

.results .related-searches a:hover {
    background: none;
    color: rgb(30, 163, 255);
    text-decoration: underline;
}

.results .pager {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 1px rgb(0, 0, 0);
}
.results .pager h3 {
    padding: 14px 0 14px 0;
}
.results .pager strong,
.results .pager span {
    color: rgb(102, 102, 102);
    line-height: 145%;
}
.results .pager strong {
    display: block;
    font-size: 665%;
    margin: 0 0 -30px 0;
    padding: 10px 0 0 0;
}
.results .pager a:hover strong {
    color: rgb(153. 153. 153);
}
.results .pager span {
    display: block;
    font-size: 120%;
}
.results .pager a:hover span {
    color: rgb(153. 153. 153);
}
.results .pager p {
    color: rgb(255, 255, 255);
    font-size: 115%;
}

.view-list .pager a:hover {
    background: rgba(255, 255, 255, 0.06);
}

.view-list .pager-content {
    color: rgb(102, 102, 102);
    display: inline-block;
    margin: 0 auto;
    padding: 32px 0 18px 0;
    text-shadow: 0 1px 1px rgb(0, 0, 0);
}

.view-list .pager strong {
    float: left;
    font-size: 60px;
    margin: -14px 20px 0 -13px;
    padding: 0;
}

.view-list .pager a:hover strong {
    color: rgb(255, 255, 255);
}

.view-list .pager span {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 0 30px 0 0;
}

.view-list .pager a:hover span {
    color: rgb(255, 255, 255);
}

.view-list .pager p {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: -4px 0 0 0;
    white-space: nowrap;
}

/* Searchresults summary */
.summary {
    background: rgb(38, 38, 38);
    background: -moz-linear-gradient(rgb(41,41,41), rgb(27, 27, 27));
    background: -ms-linear-gradient(rgb(41,41,41), rgb(27, 27, 27));
    background: -o-linear-gradient(rgb(41,41,41), rgb(27, 27, 27));
    background: -webkit-linear-gradient(rgb(41,41,41), rgb(27, 27, 27));
    background: linear-gradient(rgb(41,41,41), rgb(27, 27, 27));
    border-bottom: 1px solid rgb(0,0,0);
    border-top: 1px solid rgb(52,52,52);
    -webkit-box-shadow: 0px -1px 0px rgb(0, 0, 0) ;
    -moz-box-shadow: 0px -1px 0px rgb(0, 0, 0);
    box-shadow: 0px -1px 0px rgb(0, 0, 0), inset 0px -1px 3px rgb(24, 24, 24);
    height: 48px;
    position: relative;
}

.summary .inner {
    height: 48px;
    margin: 0 auto;
    -webkit-transition: width 250ms;
    -moz-transition: width 250ms;
    -o-transition: width 250ms;
    transition: width 250ms;
}

.summary.list .inner {
    width: 840px;
}

.summary.grid .inner {
    width: 840px;
}

.summary h2 {
    float: left;
    font-size: 20px;
    margin: 0;
    padding: 9px 0 0;
    text-shadow: 0px 1px 1px rgb(38, 38, 38);
}

.summary .results-count {
    color: rgb(102, 102, 102);
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
    text-shadow: 0 1px 1px rgb(0, 0, 0);
}

.summary .search-term {
    color: rgb(102, 102, 102);
    float: left;
    font-size: 22px;
    padding: 9px 0 0 9px;
    text-shadow: 0 1px 1px rgb(0, 0, 0);
}

.summary .search-term .term {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.summary .btn-bar {
    padding-top: 7px;
    float: right;
}

.summary .ui-btn {
    width: 88px;
}

.summary .ui-btn.close {
    width: 18px;
}

.summary .ui-btn {
    margin-left: 8px;
}

@media only screen and (min-width: 1280px) {

    .results .inner {
        width: 959px;
    }

    .summary.grid .inner {
        width: 1080px;
    }

    .view-list .inner {
        width: 958px;
    }

    .summary.list .inner {
        width: 1080px;
    }

}

@media only screen and (min-width: 1440px) {

    .results .inner {
        width: 1198px;
    }

    .summary.grid .inner {
        width: 1202px;
    }

    .summary .inner,
    .summary.list .inner {
        width: 1202px;
    }

}


