/**
 * @fileoverview Tooltip specific styles.
 */

.add-tooltip {
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 1000;
  display: block;
  visibility: visible;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  pointer-events: none;
  padding-bottom: 5px;
}

.tooltip.active {
  filter: alpha(opacity=90);
}

.tooltip.top .tooltip-indicator {
  bottom: -3px;
  left: 50%;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(0, 0, 0);
}

.tooltip.left .tooltip-indicator {
  top: 50%;
  right: -8px;
  margin-top: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid rgb(0, 0, 0);
}

.tooltip.bottom .tooltip-indicator {
  top: -8px;
  left: 50%;
  margin-left: -8px;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgb(0, 0, 0);
  border-left: 8px solid transparent;
}

.tooltip.right .tooltip-indicator {
  top: 50%;
  left: -8px;
  margin-top: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid rgb(0, 0, 0);
}

.tooltip-inner {
  background-color: rgb(0, 0, 0);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  display: block;
  font-family: Futura, Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  padding: 5px 11px;
  text-align: center;
  text-decoration: none;
  text-indent: 1px;
  white-space: nowrap;
}

.tooltip-indicator {
  height: 0;
  position: absolute;
  width: 0;
}