/**
 * @fileoverview Twitter Module specific styles.
 */
#CList-Local-Module ol {
    text-align: center;
}

#CList-Local-Module ol li {
    padding: 10px;
}

#CList-Local-Module a {
    background: url(/static/images/components/utility-btns.png) 0px 0 no-repeat;
    display: block;
    font: bold 12px arial, sans-serif;
    text-decoration: none;
    line-height: 15px;
    padding: 45px 0 0 0;
}

#CList-Local-Module a.twitter {
    background-position: -730px 10px;
}

#CList-Local-Module li.selected a.twitter {
    background-position: -730px -71px;
}

#CList-Local-Module a.youReport {
    background-position: -814px 10px;
}

#CList-Local-Module li.selected a.youReport {
    background-position: -814px -71px;
}

#CList-Local-Module a.yourArea {
    background-position: -646px 0;
}

#CList-Local-Module li.selected a.yourArea {
    background-position: -646px -81px;
}

/**
 * Globals for Twitter modules
 */

.mod.twitter .tweet-list p.tweet > a {
    color: #007CCF;
    font-weight: 700;
    text-decoration: none;
}

.mod.twitter .tweet-list p.tweet > a:hover {
    color: #000;
}

.mod.twitter .tweet-meta img {
    width: 25px;
    height: 25px;
}

.mod.twitter .tweet-meta {
    font-size: 11px;
}

.mod.twitter .tweet-meta a {
    color: #000;
}

.mod.twitter .tweet-meta a:hover {
    color: #007CCF;
}

.mod.twitter .tweet-meta p {
    color: #666;
}

/**
 * Main Twitter module (not on sidebar)
 */

 .size-well .mod.twitter .tweet-list {
    font-size: 12px;
    line-height: 1.5;
}

.size-well .mod.twitter .tweet-list p.tweet > a {
    line-height: 20px;
}

.size-well .mod.twitter .tweet-list li {
    height:122px;
}

.size-well .mod.twitter .tweet-list .tweet{
    margin:0 .25em;
    font-size:14px;
}

.size-well .mod.twitter .tweet-meta {
    margin:.5em 0 0 0;
    width: 50%;
}

.size-well .mod.twitter .mod.tweets .tweet-meta {
    padding-bottom: 10px;
}

/**
 * Twitter module on Sidebar
 */

.size-bar .mod.twitter {
    position:relative;
    padding-bottom: 35px;
    height:529px;
}

.size-bar .mod.twitter .twitter-scroll-content {
    height: 100%;
    overflow:hidden;
}

.size-bar .mod.twitter .twitter-scroll-content .scrollable-content {
    padding-bottom: 35px;
}

.size-bar .mod.twitter .tweet-list .tweet {
    font-size: 12px;
    margin-bottom:12px;
}

.size-bar .mod.twitter .foot {
    position:absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.size-bar .mod.twitter .twitter-link {
    background: rgb(255,192,0) url('/static/images/noise.png') repeat top left;
    color: #fff;
    font-family: Futura;
    font-size: 11px;
    text-transform: uppercase;
    font-weight:bold;
    padding: 10px 20px;
    width: 100%;
    height:auto;
    display:block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.size-bar .mod.twitter .twitter-link:before {
    content: "";
    display:block;
    position:absolute;
    top: 0;
    left: 5px;
}
