article.asset .topic-nav {
    background: url('../../images/components/story-topic-ribbon-bg.png') repeat-x;
    color: rgb(153,153,153);
    font: 11px/13px 'Arial', sans-serif;
    margin-bottom: 0px;
    padding: 15px 0;
}

article.asset .topic-nav.top {
    background-image: url('../../images/components/story-topic-ribbon-bg-top.png');
    padding-bottom: 5px;
}

.topic-nav .topic-head,
.topic-nav .topic,
.topic-nav .topic li {
    float: left;
}

.topic-nav .topic-head,
.topic-nav .topic li {
    padding: 0 10px;
    text-align: center;
	width: 220px;
}

.topic-nav .topic {
    margin-top: 1px;
    width: 720px;
}

.topic-nav .topic-head h3 {
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}

.topic-nav .topic-head h3 strong {
    color: rgb(51,51,51);
    display: block;
    font: 700 13px/15px 'Futura', 'Arial', sans-serif;
    margin-top: 5px;
    text-transform: uppercase;
}

.topic-nav .topic a {
    color: rgb(102,102,102);
    font: 700 13px/15px 'Arial', sans-serif;
    text-decoration: none;
}