.colby-rasmus article.cards.stag {
	background: url(http://www3.pictures.zimbio.com/gi/Colby+Rasmus+Toronto+Blue+Jays+v+Chicago+White+Jlzx1m9AcOKx.jpg) no-repeat right top fixed;
	background-size: 100% 100%;
}